<div id="wrapper" class="static checkout ">
  <%= render 'layouts/nav'%>
    <div class="checkoutPage passwordPage">
	    <div class="checkoutCont">
		<h2>Forgot your user name?</h2>

		<%= form_for(@client, :url => client_user_name_path) do |f| %>
 		 <%= render_cell :app, :error_msg, msg: [flash[:alert], flash[:notice]], resource: @client %>

		  <div class="field"><%= f.label :email, data: { title: "Email" } %>
		  <%= f.email_field :email %></div>

		  <div class="field"><%= f.label :first_name %>
		  <%= f.text_field :first_name %></div>

		  <div class="field"><%= f.label :last_name %>
		  <%= f.text_field :last_name %></div>

			<div class="field">
				<%= render "clients/shared/links" %>
			</div>
		  <div class="field"><%= f.submit "Send", class: "btn2" %></div>
		<% end %>
		</div>
	</div>
  <%= render 'layouts/footer' %>
</div>
