<%= form_for [:admin, @treatment] do |f| %>
  <%= render_cell :app, :error_msg, resource: @treatment %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<%end%>
