<table>
  <thead>
    <tr>
    <%= sortable Treatment, 'name'%>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @treatments.each do |treatment| %>
      <tr class="<%= cycle('odd', 'even')%>">
    <td><%= treatment.name %></td>
        <td>
          <%= link_to "Show", resource_url(treatment), class: "btn" %>
          <%= link_to "Edit", edit_resource_url(treatment), class: "btn" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @treatments %>

<p><%= link_to "Add New Treatment", new_resource_url %></p>
