<table class="table">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Referral Code</th>
      <th>Dr. Licence</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Commission Rate</th>
      <th>Commission Amount</th>
    </tr>
  </thead>
  <tbody>
  <% reports.each_with_index do |report, index| %>
  <tr class="<%= index%2 == 0 ? 'odd' : 'even' %>">
    <td><%= link_to report.order.id, admin_order_url(report.order_id) %></td>
    <td><%= report.order.referral_code.try(:code) %></td>
    <td><%= report.order.licence %></td>
    <td><%= l report.date, format: :long %></td>
    <td><%= number_to_currency report.amount, locale: I18n.default_locale %></td>
    <td><%= report.rate_and_description %></td>
    <td><%= number_to_currency report.commission_amount, locale: I18n.default_locale %></td>
  </tr>
<% end %>
  </tbody>
</table>
