<h2>Commissions</h2>

<%= form_for @search, url: admin_report_commissions_url, method: :get do |f| %>
<div class="orderDate">
  <label>From:</label> <%= f.date_select :date_gteq, { start_year: 2013, end_year: Time.zone.now.year + 1 }, class: "selectbox" %>
  <label>To:</label> <%= f.date_select :date_lteq, { start_year: 2013, end_year: Time.zone.now.year + 1 }, class: "selectbox" %>
  <% if current_support_user.is_admin? %>
    <label>Support User:</label> <%= f.select :support_user_id_eq, @support_users.map{|u| [u.first_last_name, u.id]}, { prompt: "select support user" }, class: "selectbox" %>
  <% end %>

  <%= submit_tag "filter", class: "btn2" %>
</div>
<% end %>


<% if @commission_reports.any? %>
  <div class="commission">
    <span><label><%= @selected_support_user.try(:first_last_name) %></label></span>
    <span><label>Total Sales</label> <%= number_to_currency @commission_reports.sum(&:amount), locale: I18n.default_locale %></span>
    <span><label>Total Commissions</label> <%= number_to_currency @commission_reports.sum(&:commission_amount), locale: I18n.default_locale %></span>
  </div>

  <% @commission_reports.group_by(&:client).each do |client, reports| %>
      <h3><%= client.full_name %></h3>
      <br />
      <br />
      <%= render "order_list", reports: reports %>
  <% end %>

<% end %>

