<h2>Pre Order</h2>
<% if @pre_orders.any? %>
  <table class="table">
    <thead>
      <tr>
        <td>ID</td>
        <td>Amount</td>
        <td>Created at</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @pre_orders.each do |pre_order| %>
        <tr  class="<%= cycle('odd', 'even')%>">
          <td><%= pre_order.order_id %></td>
          <td><%= number_to_currency pre_order.order.total!, locale: I18n.default_locale %></td>
          <td><%= pre_order.order.created_at %></td>
          <td class="tableLinks">
            <%= link_to "More", myaccount_pre_order_url(pre_order) %> |
            <%= link_to "Delete", myaccount_pre_order_url(pre_order), method: :delete, confirm: 'Are you sure?' %>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>

  <%= paginate @pre_orders %>
<% else %>
  You currently do not have any pre orders.
<% end %>

<%= content_for :title, "Hardy Nutritionals | My Account - Pre Orders" %>
