<% @order = @pre_order.order %>
<div class="orderInfo">
  <p><label>Order ID:</label> <%= @order.id %></p>
  <p><label>Order State:</label> <%= @order.state %></p>
  <p><label>Payment State:</label> <%="#{@order.payment_state_title} #{show_need_total(@order)}" %></p>
</div>

<div class="orderInfo">
  <% if @order.shipment.try(:address) %>
    <h5>Ship Address:</h5>
    <%= render "admin/addresses/detail", address: @order.shipment.address %>
  <% end %>
    <% if @order.shipment.try(:shipping_method) %>
    <h5>ShippingMethod:</h5>
    <p><%= @order.shipment.shipping_method.name! %></p>
    <% end %>
</div>
<div class="orderTable">
  <table class="table">
    <thead>
      <tr>
        <th>Item Description</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |order_item| %>
        <tr class="<%= cycle('odd', 'even')%>">
          <td><%= order_item.product.name %></td>
          <td><%= "#{number_to_currency order_item.price, locale: I18n.default_locale}#{order_item.description_after_price}" %></td>
          <td><%= order_item.quantity %></td>
          <td><%= number_to_currency order_item.total, locale: I18n.default_locale %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="orderTotal summaryTotal">
  <p>Item Total:  <span><%= number_to_currency(@order.subtotal, locale: I18n.default_locale) %></span></p>
  <% if @order.payment? || @order.complete? %>
    <p>Shipping:  <span><%= number_to_currency(@order.shipping_handling_charge, locale: I18n.default_locale) %></span></p>
    <p>Tax: <span><%= number_to_currency(@order.db_tax_charge, locale: I18n.default_locale) %></span></p>
    <p>Other: <span><%= number_to_currency(@order.db_other_charge - @order.db_shipping_adjustment_charge, locale: I18n.default_locale) %></span></p>
    <h3><label>Order Total:</label><span><%= "#{@order.currency.name} #{number_to_currency(@order.total, locale: I18n.default_locale)}" %></span></h3>
  <% end -%>
  </div>
</div>
<%= content_for :title, "Hardy Nutritionals | My Account - Pre Orders##{@order.id}" %>
