<%= address.name %><br/>
<%= address.address1 %><br/>
<%= address.address2 %><br/>
<%= address.city %><br/>
<%= address.state %><br/>
<%= address.postal_code %><br/>
<%= address.country.name %><br/>
<%= address.phone %>


