<%= render_cell :shopping, :progress_bar, state: :cart %>


<%= form_for current_cart, url: shopping_cart_url, method: :put, html: { id: "cart_form" } do |f| %>

  <div class="checkoutCont">
  <div class="cartDetail review">
    <h1>CART REVIEW</h1>
    <p class="line"></p>
    <br />

    <% if current_cart.order_items.any?{|i| i.product.pre_order? } %>
      <p>You have selected <%= current_cart.order_items.select{|i| i.product.pre_order? }.map{|i| i.product.name }.join(", ") %> which is currently in a pre-order state. When this product is available your account will be charged and you will be notified by email that the order has shipped.</p>
    <% end %>
    <br />
    <%= render_cell :app, :error_msg, resource: current_cart, msg: [flash[:notice], flash[:alert]] %>
    <ul class="cartItems">
      <li>
      <ul class="cartHd">
        <li></li>
        <li class="article">Product</li>
        <li>Unit Price</li>
        <li>Quantity</li>
        <li>Extended Price</li>
      </ul>
      </li>
      <li>
      <% current_cart.cart_items.order(:id).each do |cart_item| %>
        <%= f.fields_for :cart_items, cart_item do |f| %>
        <ul class="cartTr" id="<%= "cart-item-#{f.object.id}" %>">
        <li><%= image_tag f.object.cartable.default_image.image_url(:thumb), alt: f.object.cartable.default_image.alt %></li>
        <li class="article">
        <h3><%= f.object.cartable.name %></h3>
        <p><%= f.hidden_field :id %></p>
        <p><%= f.hidden_field :cartable_id %></p>
        <p><%= f.hidden_field :cartable_type %></p>
        </li>
        <li class="unit-price price"><td><%= "#{number_to_currency f.object.price, locale: I18n.default_locale}#{f.object.description_after_price}" %></td></li>
        <li class="quantity">
        <% if f.object.parent %>
          <%= f.object.quantity %>
          <% else %>
        <%= f.text_field :quantity, class: "item-quantity", 'data-item-id' => f.object.id, 'data-quantity' => f.object.quantity, 'autocomplete' => "off" %>
        <% end %>
        </li>
        <li class="total price"><%= number_to_currency f.object.total_for_user(current_or_guest_client), locale: I18n.default_locale %></li>
        <% unless f.object.parent %>
        <li class="remove"><%= link_to "Remove", shopping_cart_cart_item_url(f.object), remote: true, class: "remove-item", 'data-item-id' => f.object.id, method: 'delete' %></li>
        <% end %>
        <p class="line"></p>
      </ul>
    <% end %>
    <% end %>
      </li>
    </ul>

	<%# if Rails.env.development? %>
    <div class="referral">
		If you have a referral code from your health professional or institution, enter it here:
		<%= f.text_field :code, value: f.object.code || f.object.referral_code.try(:code) %>
    <div id="licence_container">
      <% if ReferralCode.where("code ilike ?", f.object.code || f.object.referral_code.try(:code)).first.try(:need_licence?)  %>
        <%= render "licence_field", licence_value: f.object.licence %>
      <% end %>
    </div>
		<%= f.submit "Apply", name: "apply", class: "btn2" %>
    </div>
    <%# end %>
  </div>
  <div class="orderTotal">
    <h3><label>YOUR ORDER TOTAL</label><span class="textHighlighting cart-total"><%= number_to_currency f.object.total, locale: I18n.default_locale %></span></h3>
    <p><a href="/products">Continue Shopping</a></p>
    <%= f.submit "Checkout", class: "btn2" %>
  </div>
  <div id="secureLogo">
  		<a href="http://www.securitymetrics.com/site_certificate?id=1277325&tk=44bc40b9db28c1a50e84da0d2178ad5e" target="_blank"><img src="http://securitymetrics.com/static/img/site_certified_logos/Credit_Card_Safe_light.png" alt="SecurityMetrics Credit Card Safe"></a>
  </div>
</div>
    <% end %>

<%= render 'shopping/shared/ga_checkout_action', items: current_cart.cart_items %>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
//  $('#cart_code').keyup();

//  var delay = (function(){
//    var timer = 0;
//    return function(callback, ms){
//      clearTimeout (timer);
//      timer = setTimeout(callback, ms);
//    };
//  })();

//  var currentItem = null;
//  $('.item-quantity').change(function() {
//    if(currentItem) {
//      updatePrice(currentItem, currentItem.val());
//    }
  //})
  $('.item-quantity').keydown(function(e) {
    currentItem = $(this);

    if(e.which == 13) {
      updatePrice(currentItem, currentItem.val());
      e.preventDefault()
    }

    //    delay(function() {
    //      updatePrice(currentItem, currentItem.val());
    //    }, 800)
  })

  function updatePrice(self, quantity) {
    if(!isNaN(quantity) && parseInt(quantity) >= 1) {
      $.post("/shopping/cart/update_price", {
        cart_item_id: self.data('item-id'),
        quantity: quantity
      });
    } else {
      oldQuantity = self.data('quantity');
      self.val(oldQuantity);
    }
  }
});
</script>
