<div id="wrapper" class="static checkout ">
  <%= render 'layouts/nav'%>

<div class="checkoutPage">
  <%= render 'list' %>
  </div>

  <%= render 'layouts/footer' %>
</div>

<%= content_for :title, "Hardy Nutritionals | Shopping - Cart" %>

<script type="text/javascript" charset="utf-8">
 $(document).ready(function() {
    ga('ec:setAction','checkout', { 'step': 1 });
   ga('send', 'pageview');
 })
</script>
