<%= form_for [:admin, @client] do |f| %>
  <%= render_cell :app, :error_msg, resource: @client %>
  <div class="leftCol">
    <div class="field">
      <%= f.label :first_name, "First name *" %>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name, "Last name *" %>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
        <%= f.label :country_id, "Country *" %>
        <%= f.select :country_id, @countries.map{|c| [c.name, c.id]}, { prompt: "select country" }, class: "selectbox" %>
    </div>
    <div class="field">
      <%= f.label :address_1, "Address 1 *" %>
      <%= f.text_field :address_1 %>
    </div>
    <div class="field">
      <%= f.label :address_2 %>
      <%= f.text_field :address_2 %>
    </div>
    <div class="field">
      <%= f.label :address_3 %>
      <%= f.text_field :address_3 %>
    </div>
    <div class="field">
      <%= f.label :city, "City *" %>
      <%= f.text_field :city %>
    </div>
     <div class="field">
      <%= f.label :province, "State/Province *" %>
      <div id="state-field">
        <% if @provinces.present? %>
          <%= select_tag "client[province]", options_from_collection_for_select(@provinces, :abbr, :name, f.object.province), class: "selectbox", prompt: "select state/province" %>
        <% else %>
          <%= f.text_field :province %>
        <% end -%>
      </div>
    </div>
    <div class="field">
        <%= f.label :postal_code, "Postal code *" %>
        <%= f.text_field :postal_code %>
      </div>
      <div class="field">
        <%= f.label :currency_id %>
        <%= f.select :currency_id, @currencies.map{|c| [c.name, c.id]}, { include_blank: "select currency" }, class: "selectbox" %>
      </div>
      <div class="field">
        <%= f.label :support_center_id, "Support center *" %>
        <%= f.select :support_center_id, @support_centers.map{|s| [s.name, s.id]}, { prompt: "select support center" }, class: "selectbox" %>
      </div>
    <div class="field">
      <%= f.label :support_user_id %>
      <% if current_support_user.is_admin? %>
        <%= f.select :support_user_id, @support_users.map{|s| [s.first_last_name, s.id]}, { include_blank: "select support user" }, class: "selectbox" %>
      <% else %>
          <br />
        <% if @client.new_record? %>
          <br />
          <%= current_support_user.first_last_name %>
        <% else %>
          <%= @client.support_user.try(:first_last_name) %>
        <% end %>
      <% end %>
      </div>
    <div class="field">
      <%= f.label :introduction_type_id, "Introduction type *" %>
      <%= f.select :introduction_type_id, @introduction_types.map{|i| [i.name, i.id]}, { prompt: "select introduction type" }, class: "selectbox" %>
    </div>
    <div class="field">
      <%= f.label :register_method_id %>
      <%= f.select :register_method_id, @register_methods.map{|r| [r.name, r.id]}, { prompt: "select register method" }, class: "selectbox" %>
    </div>
      <div class="field">
      <%= f.label :time_zone %>
      <%= f.select :time_zone, -12..12, { prompt: "select time zone" }, class: "selectbox" %>
    </div>
      <div class="field">
        <%= f.label :language_id%>
        <%= f.select :language_id, @languages.map{|l| [l.name, l.id]}, {}, class: "selectbox" %>
      </div>
    <div class="field">
      <%= f.label :contact_day %>
      <%= f.text_field :contact_day %>
    </div>
    <div class="field">
      <%= f.label :contact_time_id %>
      <%= f.select :contact_time_id, @contact_times.map{|c| [c.description, c.id]}, { prompt: "select contact time" }, class: "selectbox" %>
    </div>
    <div class="field">
      <%= f.label :call_frequency_id %>
      <%= f.select :call_frequency_id, @call_frequency.map{|c| [c.name, c.id]}, { prompt: "select call frequency" }, class: "selectbox" %>
    </div>

    <div class="field">
      <%= f.label :limiting_factor_ids, "Limiting factors" %>
      <p>CTRL + Click to select multiple options.</p>
      <%= f.select :limiting_factor_ids, @limiting_factors.map{|c| [c.name, c.id]}, {}, multiple: true, class: "selectbox2" %>
    </div>

    <div class="field">
      <%= f.label :diagnosis_ids, "Diagnosis" %>
      <p>CTRL + Click to select multiple options.</p>
      <%= f.select :diagnosis_ids, @diagnoses.map{|c| [c.name, c.id]}, {}, multiple: true, class: "selectbox2" %>
    </div>
    <div class="checkboxwrap">
      <div class="leftCol">
        <div class="field">
          <%= f.check_box :active %>
          <%= f.label :active %>
        </div>

        <div class="field">
          <%= f.check_box :deleted %>
          <%= f.label :deleted %>
        </div>
      </div>
      <div class="rightCol">
        <div class="field">
          <%= f.check_box :main_participant %>
          <%= f.label :main_participant %>
        </div>

        <div class="field">
          <%= f.check_box :receive_update %>
          <%= f.label :receive_update, "Opt-in to receive the NutraTalk e-newsletter" %>
        </div>
      </div>
    </div>
  </div>
  <div class="rightCol">
    <div class="field">
      <%= f.label :home_phone, "Home phone *" %>
      <%= f.text_field :home_phone %>
    </div>
    <div class="field">
      <%= f.label :work_phone %>
      <%= f.text_field :work_phone %>
    </div>
    <div class="field">
      <%= f.label :cell_phone %>
      <%= f.text_field :cell_phone %>
    </div>
    <div class="field">
      <%= f.label :email, "E-mail", data: { title: "E-mail" } %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :work_email, "E-mail 2", data: { title: "E-mail 2"} %>
      <%= f.text_field :work_email %>
    </div>
    <div class="field">
      <%= f.label :fax %>
      <%= f.text_field :fax %>
    </div>
      <div class="field">
        <%= f.label :ta_level_id %>
        <%= f.select :ta_level_id, @ta_levels.map{|t| [t.name, t.id]}, { prompt: "select ta level" }, class: "selectbox" %>
      </div>
      <div class="field">
        <%= f.label :ta_comments %>
        <%= f.text_field :ta_comments %>
      </div>
    <div class="field">
      <%= f.label :pricing_type_id %>
      <%= f.select :pricing_type_id, @pricing_types.map{|p| [p.name, p.id]}, {}, class: "selectbox" %>
    </div>
    <div class="field">
      <%= f.label :user_name, "User name *" %>
      <%= f.text_field :user_name %>
    </div>
    <div class="field">
      <%= f.label :password, "Password *" %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Password Confirmation *" %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.label :date_of_birth %>
      <%= f.date_select :date_of_birth, { start_year: Time.zone.now.year, end_year: 1900, prompt: { year: "select year", month: "select month", day: "select day" } }, class: "selectbox" %>
    </div>
    <div class="field">
      <%= f.label :gender %>
      <%= f.select :gender, ["F", "M"], { prompt: "select gender" }, class: "selectbox" %>
    </div>
    <div class="field">
      <%= f.label :guardian %>
      <%= f.text_field :guardian %>
    </div>
    <div class="field">
      <%= f.label :contact_date %>
      <%= f.date_select :contact_date, { start_year: 1900, end_year: Time.zone.now.year, prompt: { year: "select year", month: "select month", day: "select day" } }, class: "selectbox" %>
    </div>

    <div class="field">
      <%= f.label :next_contact_date %>
      <%= f.date_select :next_contact_date, { start_year: Time.zone.now.year, end_year: Time.zone.now.year + 1, prompt: { year: "select year", month: "select month", day: "select day" } }, class: "selectbox" %>
    </div>


<!--Mirrur comment out-->
   <!-- <div class="field">
      <%#= f.label :email %>
      <%#= f.text_field :email %>
    </div>
    <div class="field">
      <%#= f.label :middle_name %>
      <%#= f.text_field :middle_name %>
    </div>
    <div class="field">
      <%#= f.label :pager %>
      <%#= f.text_field :pager %>
    </div>
    <div class="field">
      <%#= f.label :work_email %>
      <%#= f.text_field :work_email %>
    </div>-->


   <!-- <div class="field">
      <%#= f.label :general_comments %>
      <%#= f.text_area :general_comments %>
    </div>-->


    <!--<div class="field">
      <%#= f.check_box :mental_wellness %>
      <%#= f.label :mental_wellness %>
    </div>-->
    <!--<div class="field">
      <%#= f.label :mental_wellness_details %>
      <%#= f.text_area :mental_wellness_details %>
    </div>-->




      <!--<div class="field">
        <%#= f.label :quit_reason_id%>
        <%#= f.select :quit_reason_id, @quit_reasons.map{|q| [q.name, q.id]}, { prompt: "select quit reason" }, class: "selectbox" %>
      </div>
      <div class="field">
        <%#= f.label :age_category_id %>
        <%#= f.select :age_category_id, @age_categories.map{|a| [a.name, a.id]}, { prompt: "select age category" }, class: "selectbox" %>
      </div>-->


    </div>
    <div class="field textarea">
      <%= f.label :general_comments %>
      <%= f.text_area :general_comments %>
    </div>
    <div class="field">
      <%= f.label :mental_wellness_details %>
      <%= f.text_area :mental_wellness_details %>
    </div>
    <div>
      <%= f.submit class: "btn2 flBtn" %>
    </div>
    <div style="float:left;padding-left:30px;">
    </div>
  <%end%>
