<%#= link_to '[active]', collection_url(q: {active_true: "true", deleted_false: "true"}) %>
<%#= link_to '[non-active]', collection_url(q: {active_false: "true"}) %>
<%#= link_to '[deleted]', collection_url(q: {deleted_true: "true"}) %>

<div class="filterClient">
  <%= form_tag admin_clients_url, method: :get do %>
  <div class="col">
    <div class="field">
      <%= label_tag "q[email_or_first_name_or_last_name_or_user_name_cont]", "Keyword" %>
      <%= text_field_tag "q[email_or_first_name_or_last_name_or_user_name_cont]", params[:q].try(:[], :email_or_first_name_or_last_name_or_user_name_cont) %>
    </div>
  </div>
  <div class="col">
    <%= submit_tag "Search", class: "btn2" %>
  </div>
  <% end %>
</div>

<%= form_tag admin_clients_url, method: :get do %>
  <div class="col">
      <div class="field">
        <%= label_tag "q[first_name_start]", "First Name" %>
      <%= text_field_tag "q[first_name_start]", params[:q].try(:[], :first_name_start) %>
      </div>
      <div class="field">
        <%= label_tag "q[last_name_start]", "Last Name" %>
      <%= text_field_tag "q[last_name_start]", params[:q].try(:[], :last_name_start) %>
      </div>
  </div>
  <div class="col">
      <div class="field">
          <%= label_tag "q[email_start]", "Email" %>
        <%= text_field_tag "q[email_start]", params[:q].try(:[], :email_start) %>
      </div>
      <div class="field">
          <%= label_tag "q[work_phone_or_home_phone_start]", "Phone" %>
        <%= text_field_tag "q[work_phone_or_home_phone_start]", params[:q].try(:[], :work_phone_or_home_phone_start) %>
      </div>
  </div>
  <div class="col">
      <div class="field">
      <%= check_box_tag "q[active_true]", "true", params[:q].nil? || params[:q][:active_true].present?  %>
        Exclude inactive
      </div>
      <div class="field">
      <%= check_box_tag "q[deleted_false]", "true", params[:q].nil? || params[:q][:deleted_false].present? %>
        Exclude deleted
      </div>
      <%= submit_tag "Search", class: "btn2" %>
  </div>
<% end %>

<p class="btnwrap"><%= link_to "Add New client", new_resource_url, class: "btn2 addNew " %></p>

<% if params[:q] %>
  <%= link_to '[active]', collection_url(active_search_condition) %>
  <%= link_to '[deleted]', collection_url(deleted_search_condition) %>

<table class="table">
  <thead>
    <tr>
      <%= sortable Client, 'email' %>
      <%= sortable Client, 'first_name', "Name" %>
      <th>Credit</th>
      <th>Balance</th>
      <%= sortable Client, 'active' %>
      <%= sortable Client, 'deleted' %>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @clients.each do |client| %>
    <tr class="<%= cycle('odd', 'even')%>">
    <td><%= client.email %></td>
    <td><%= client.full_name %></td>
    <td><%= number_to_currency client.credit_amount, locale: I18n.default_locale %></td>
    <td><%= number_to_currency client.orders.sum(&:balance_amount), locale: I18n.default_locale %></td>
    <td><%= client.active? ? "Yes" : "No" %></td>
    <td><%= client.deleted? ? "Yes" : "No" %></td>
    <td class="tableLinks">
      <% if current_client == client %>
        <%= link_to "Deselect", cancel_select_admin_client_url(client), method: :delete, class: "btn fr" %>
      <% elsif client.active? && !client.deleted %>
        <%= link_to "Select", select_admin_client_url(client), method: :post, class: "btn fr" %>
      <% end %>
      <%# if Rails.env.development? %>
      <%#= link_to "Auto Shipping", admin_client_auto_shippings_url(client), class: "btn btn1" %>
      <%# end %>
      <%= link_to "Edit", edit_resource_url(client), class: "btn btn1 editLink" %>
      <%= link_to "Login as Client", impersonate_admin_client_path(client), class: "btn btn1 editLink", method: :post, target: "_blank" %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

<%= paginate @clients %>
<% else %>
  Recent
<table class="table">
  <thead>
    <tr>
      <th>Client ID</th>
      <th>Name</th>
      <th>Viewed</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @view_client_reports.each_with_index do |report, index| %>
  <tr class="<%= index%2 == 0 ? 'odd' : 'even' %>">
    <td><%= report.client_id %></td>
    <td><%= report.client.full_name %></td>
    <td><%= "#{report.datetime.strftime("%A")}, #{report.datetime.strftime("%B %d, %Y")}" %></td>
    <td><%= "#{report.datetime.strftime("%H:%M:%S")}" %></td>
    <td class="tableLinks">
      <% if current_client == report.client %>
        <%= link_to "Deselect", cancel_select_admin_client_url(report.client), method: :delete, class: "btn fr" %>
    <% elsif report.client.active? && !report.client.deleted %>
        <%= link_to "Select", select_admin_client_url(report.client), method: :post, class: "btn fr" %>
    <% end %>
      <%= link_to "Edit", edit_resource_url(report.client), class: "btn btn1 editLink" %>
      <%= link_to "Login as Client", impersonate_admin_client_path(report.client), class: "btn btn1 editLink", method: :post, target: "_blank" %>
  </td>
  </tr>
<% end %>
  </tbody>
</table>

<%= paginate @view_client_reports %>
<% end %>

