Email: <%= resource.email %>
<br />
First Name: <%= resource.first_name %>
<br />
Middle Name: <%= resource.middle_name %>
<br />
Last Name: <%= resource.last_name %>
<br />
Date of Birth <%= resource.date_of_birth %>
<br />
Gender <%= resource.gender %>
<br />
Guardian <%= resource.guardian %>
<br />
Address 1 <%= resource.address_1 %>
<br />
Address 2 <%= resource.address_2 %>
<br />
Address 3 <%= resource.address_3 %>
<br />
City <%= resource.city %>
<br />
Province <%= resource.province %>
<br />
Country <%= resource.country.name %>
<br />
Postal Code <%= resource.postal_code %>
<br />
Home Phone <%= resource.home_phone %>
<br />
Work Phone <%= resource.work_phone %>
<br />
Cell Phone <%= resource.cell_phone %>
<br />
Pager <%= resource.pager %>
<br />
Fax <%= resource.fax %>
<br />
Work Email <%= resource.work_email %>
<br />
Contact Day <%= resource.contact_day %>
<br />
Contact Time <%= resource.contact_time.try(:description) %>
<br />
Time Zone <%= resource.time_zone %>
<br />
Introduction Type <%= resource.introduction_type.try(:name) %>
<br />
Register Method <%= resource.registration_method.try(:name) %>
<br />
Call Frequency <%= resource.call_frequency.try(:name) %>
<br />
Pricing Type <%= resource.pricing_type.try(:name) %>
<br />
Language <%= resource.language.try(:name) %>
<br />
Currency <%= resource.currency.try(:name) %>
<br />
Support Center <%= resource.support_center.name %>
<br />
Quit Reason <%= resource.quit_reason.try(:name) %>
<br />
Age Category <%= resource.age_category.try(:name) %>
<br />
Mental Wellness <%= resource.mental_wellness %>
<br />
Mental Wellness Detail <%= resource.mental_wellness_details %>
<br />
Main Participant <%= resource.main_participant %>
<br />
General Comment <%= resource.general_comments %>
<br />
Actice <%= resource.active %>
<br />
