<p>Hello <%= @resource.first_name %>,</p>

<p>You or someone has requested a link to set or change your password. You can do this through the link below.</p>

<p><%= link_to 'Set or change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>If you have questions, call Toll Free: 1-855-955-1114 (Outside USA or Canada: 1-587-271-1114).</p>
