<%= link_to "Back to Flexible Autoship Details", auto_shipping_detail_link, class: "backLink" %>
<br /><br />
<%= render 'shared/shipping_address', client: client, address: @address, addresses: @addresses, url: detail_link, order: current_auto_ship.order, scene: 4 %>

