<div id="images">
  <h3>Product Images</h3>
  <div class="adminBtn">
    <span class="fileinput-button btn2 flBtn"> 
      <span class="">Add Images</span>
      <%= file_field_tag :image, class: "product_image_upload", multiple: true %>
    </span>
  </div>

  <ul id="product_images_image_list" class="sort prodImages">
    <%= f.fields_for :product_images do |f|%>
      <li class="file_container <%= cycle('odd', 'even')%>" style=<%= f.object._destroy ? "display:none" : ""%>>
        <div>
          <%= image_tag f.object.image_url, class:"upload_image" %>
          <%= f.hidden_field :image_cache %>
          <%= f.text_field :index, placeholder: "index", style: "width: 100%;" %>
          <%= f.text_field :alt, placeholder: "alt", style: "width: 100%;" %>
        </div>
        <div></div>
        <div>
          <%= link_to 'Delete', "javascript:void(0)", class: 'delete_file btn2 flBtn' %>
          <%= f.hidden_field :_destroy, class: "delete_value" %>
        </div>
      </li>
    <% end %>
  </ul>
  <br />
  <br />
  <script id="product_images_image_upload_template" type="text/x-tmpl">
    <li class="file_container">
      <div class="file_name"><img src="/assets/fallback/thumb_default.jpg" class="upload_image" /></div>
      <div><div class="progress"><div class="bar"></div></div></div>
      <div class="operate_buttons"><a href="javascript:void(0)" class="cancel_file btn2 flBtn">Cancel</a></div>
    </li>
  </script>
</div>
