<%= form_for [:admin, @support_center] do |f| %>
  <%= render_cell :app, :error_msg, resource: @support_center %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :support_center_type_id %>
    <%= f.select :support_center_type_id, @support_center_types.map{|c| [c.name, c.id]}, {}, class: "selectbox" %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :province %>
    <%= f.text_field :province %>
  </div>
  <div class="field">
    <%= f.label :country_id%>
    <%= f.select :country_id, @countries.map{|c| [c.name, c.id]}, {}, class: "selectbox" %>
  </div>
  <div class="field">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code %>
  </div>
  <div class="field">
    <%= f.label :fax %>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :support_email %>
    <%= f.text_field :support_email %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :support_phone %>
    <%= f.text_field :support_phone %>
  </div>

  <div class="field">
    <%= f.check_box :default %>
    <%= f.label :default %>
  </div>
  <div class="field">
    <%= f.check_box :deleted %>
    <%= f.label :deleted %>
  </div>
  <div>
    <%= f.submit class: "btn2 flBtn" %>
  </div>
<%end%>
