Support Centers:
<%= link_to '[active]', collection_url %>
<%= link_to '[deleted]', collection_url(q: {deleted_eq: true}) %>
<br />
<table class="table">
  <thead>
    <tr>
      <th>Type</th>
      <%= sortable SupportCenter, 'name' %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @support_centers.each do |center| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= center.support_center_type.name %></td>
          <td><%= center.name %></td>
          <td class="tableLinks">
            <%= link_to "show", [:admin, center], class: "btn" %>
            <%= link_to "edit", edit_resource_url(center), class: "btn1 editLink" %>
          </td>
        </tr>
    <% end -%>
  </tbody>
</table>

<%= paginate @support_centers %>

  <p><%= link_to "Add New Support Center", new_resource_url, class: "btn2 addNew " %></p>
