<ul>
  <li>Support Center Type: <%= @support_center.support_center_type.name %></li>
  <li>name               : <%= @support_center.name                     %></li>
  <li>address            : <%= @support_center.address                  %></li>
  <li>city               : <%= @support_center.city                     %></li>
  <li>province           : <%= @support_center.province                 %></li>
  <li>country            : <%= @support_center.country.name             %></li>
  <li>postal_code        : <%= @support_center.postal_code              %></li>
  <li>phone              : <%= @support_center.phone                    %></li>
  <li>fax                : <%= @support_center.fax                      %></li>
  <li>email              : <%= @support_center.email                    %></li>
  <li>support_email      : <%= @support_center.support_email            %></li>
  <li>support_phone      : <%= @support_center.support_phone            %></li>
</ul>


<% if @support_center.support_users.present? %>
  <br />
  Support Users:
  <% @support_center.support_users.each do |user| %>
    <br />
    <%= user.user_name %>
    <%= user.email %>
  <% end -%>
  <br />
<% end -%>

<% if @support_center.clients.present? %>
  <br />
  Clients:
  <% @support_center.clients.each do |client| %>
    <br />
    <%= client.user_name %>
    <%= client.email %>
  <% end -%>
  <br />
<% end -%>

<p><%= link_to "Back", :back %></p>
