<%= form_tag select_admin_order_shipping_methods_path(order), method: :put do -%>
  <ul>
  <% shipping_methods.each do |shipping_method| %>
    <li><%= radio_button_tag 'shipping_method_id', shipping_method.id %> <%= shipping_method.name %></li>
<% end %>
</ul>
<div>
  <%= submit_tag 'Continue', class: "btn2 flBtn" %>
</div>

<% end %>
