<div id="wrapper" class="static">
  <%= render 'layouts/nav'%>
  <div class="topNavFilters">
  </div>
  <div class="staticPage">
    <aside>
    <h2>Frequently Asked Questions</h2>

    <div class="relatedLinks">
      <p>RELATED LINKS</p>
      <a href="/products/1-daily-essential-nutrients">Daily Essential Nutrients Product Info</a>
      <a href="/faqs?type_id=8r">Things to Discuss With Your Doctor</a>
      <a href="/studies">Gallery of Studies</a>
    </div>
    </aside>

    <div class="aboutCont">
    	<img src="/assets/hardy_faq.jpg" alt="Hardy Nutritionals Frequently Asked Questions Doctors Patients"/>
      <% faq_types.select {|t| t.faqs.present? }.each do |faq_type| %>
        <dl class="faqSection" id="faq-type-<%= faq_type.id %>">
          <dt><%= faq_type.name %><span></span></dt>
          <dd>
          <% faq_type.faqs.default_sort.each do |faq| %>
            <%= render 'faqs/block', faq: faq %>
          <% end -%>
          </dd>
        </dl>
      <% end -%>
    </div>
  </div>
   <%= render 'layouts/footer' %>
</div>

<script type="text/javascript">
$(document).ready(function(){
	dynamicFaq();
  <% if params[:type_id].present? %>
    $("dl#faq-type-<%= params[:type_id] %> dd").show();
    var top = $("dl#faq-type-<%= params[:type_id] %>").offset().top;
    window.scrollTo(100, top);
  <% end -%>
});

function dynamicFaq(){
	$('dd').hide();
	$('dt').bind('click', function(){
		$(this).toggleClass('open').next().slideToggle();
	});
}
</script>

<%= content_for :title, @seo.title %>
<%= content_for :keywords, @seo.keywords %>
<%= content_for :description, @seo.description %>

<%= render 'index_ga' %>
