Disorder
<%= link_to '[active]', collection_url %>
<%= link_to '[deleted]', collection_url(q: {deleted_eq: true}) %>
<br />
<table class="table">
  <thead>
    <tr>
    <%= sortable Disorder, 'name'%>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |obj| %>
      <tr class="<%= cycle('odd', 'even')%>">
    <td><%= obj.name %></td>
        <td class="tableLinks">
          <%= link_to "Edit", edit_resource_url(obj), class: "btn  btn1 editLink" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate collection %>

<% if current_support_user.can_create? resource_class %>
<p><%= link_to "Add New Disorder", new_resource_url, class: "btn2" %></p>
<% end %>
