<%= form_for [:admin, order, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>
  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.check_box :deleted %>
    <%= f.label :deleted %>
  </div>
  <div>
    <%= f.submit class: "btn2 flBtn" %>
  </div>
<%end%>
