<%= render "admin/orders/nav" %>
<%= render 'form' %>
<p class="pLink">
<% if can_delete? %>
  <%= link_to "Delete", [:admin, order, resource], confirm: 'Are you sure?', method: :delete %>
<% end %>
  <%= link_to "View All", admin_order_order_notes_url(order) %>
</p>
