<%= render "admin/orders/nav" %>
<p>
Order Note
<%= link_to '[active]', admin_order_order_notes_url(order) %>
<%= link_to '[deleted]', admin_order_order_notes_url(order, q: {deleted_eq: true}) %>
</p>
<table class="table table-striped">
  <thead>
    <tr>
    <%= sortable OrderNote, 'note' %>
    <%= sortable OrderNote, 'create_support_user_id', "Support User" %>
    <%= sortable OrderNote, 'updated_at' %>
    <th></th>
    </tr>
  </thead>
  <tbody>
  <% collection.each do |obj| %>
    <tr class="<%= cycle('odd', 'even')%>">
    <td><%= obj.note.truncate(200, separator: ' ') %></td>
    <td><%= obj.create_support_user.try(:user_name) %></td>
    <td><%= obj.updated_at.try(:strftime, "%Y-%m-%d %H:%M:%S") %></td>
    <td class="tableLinks">
      <%= link_to "Show", [:admin, order, obj], class: "btn fr" %>
      <%= link_to "Edit", edit_admin_order_order_note_url(order, obj), class: "btn1 editLink" %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
<%= link_to "New", new_admin_order_order_note_url, class: "btn2 addNew" %>

<%= paginate collection %>
