<%= render "admin/orders/nav" %>
<p><label>Client:</label><%= resource.client.user_name %></p>
<p><label>Create Support User:</label><%= resource.create_support_user.try(:first_last_name) %></p>
<div>
	<p><label>Note:</label></p>
	<%= resource.note %>
</div>

