<h2>Auto Ship Orders</h2>

<%= form_for @search, url: admin_report_auto_ship_reports_url, method: :get do |f| %>
<div class="orderDate">
  <label>To:</label> <%= f.date_select :date_of_shipment_gteq, { start_year: 2015, end_year: Time.zone.now.year + 1 }, class: "selectbox" %>
  <label>From:</label> <%= f.date_select :date_of_shipment_lteq, { start_year: 2015, end_year: Time.zone.now.year + 1 }, class: "selectbox" %>
  <%= submit_tag "filter", class: "btn2" %>
</div>
  <% end %>
<table class="table salesAndOrders">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Client Name</th>
      <th>Country</th>
      <th>E-mail</th>
      <th>Date of Shipment</th>
      <th>Order Interval</th>
      <th>Next Order Date</th>
      <th>State</th>
      <th>Order Total</th>
      <th><%= number_to_currency @auto_ship_reports.where("state != ?", AutoShipReport::FAILED).sum(&:total), locale: I18n.default_locale  %></th>
    </tr>
  </thead>
  <tbody>
    <% @auto_ship_reports.each do |c| %>
      <tr class="<%= cycle('odd', 'even') %>">
      <td>
        <% if c.order %>
          <%= link_to c.order_id, admin_order_url(c.order) %>
        <% end %>
      </td>
      <td><%= link_to c.client.full_name, edit_admin_client_url(c.client) %></td>
      <td><%= c.country.name %></td>
      <td><%= c.email %></td>
      <td><%= c.date_of_shipment %></td>
      <td><%= c.interval %></td>
      <td><%= c.interval.days.from_now(c.date_of_shipment) %></td>
      <td><%= c.state %></td>
      <td><%= number_to_currency c.total, locale: I18n.default_locale %></td>
      <td>
        <% if c.auto_shipping %>
          <%= link_to "View", admin_client_auto_ship_url(c.client, c.auto_shipping) %>
        <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%#= paginate @auto_ship_reports %>
