<%= link_to "Back to Flexible Autoship Details", auto_shipping_detail_link, class: "backLink" %>
<br /><br />
<%= form_tag detail_link do %>
  <% @shipping_methods.each do |shipping_method| %>
    <div>
      <%= radio_button_tag 'shipping_method_id', shipping_method.id, shipping_method.id == current_auto_ship.shipping_method_id %>
      <%#= shipping_method.name %>
      <%= "#{shipping_method.name!} #{shipping_method_amount_message(current_auto_ship.shipment, shipping_method)} #{shipping_method.subtitle}" %>
      <%#= "(#{number_to_currency shipping_method.price, locale: I18n.default_locale})" %>
    </div>
  <% end -%>
  <%= submit_tag 'Submit', class: "button success btn2" %>
<% end -%>
