<%= form_for [:admin, :configuration, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>
  <div class="field">
    <%= f.label :min %>
    <%= f.text_field :min %>
  </div>

  <div class="field">
    <%= f.label :max %>
    <%= f.text_field :max %>
  </div>

  <div class="field">
    <%= f.label :rate %>
    <%= f.text_field :rate %>
  </div>

  <div class="field">
    <%= f.label :commission_type %>
    <%= f.select :commission_type, CommissionRate.commission_type.values, { prompt: "select commission type" }, class: "selectbox"%>
  </div>
  <div>
    <%= f.submit class: "btn2 flBtn" %>
  </div>
<%end%>
