Commission Rate
<br />
<table class="table">
  <thead>
    <tr>
      <%= sortable resource_class, 'min' %>
      <%= sortable resource_class, 'max' %>
      <%= sortable resource_class, 'rate' %>
      <%= sortable resource_class, 'commission_type' %>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% collection.each do |obj| %>
    <tr class="<%= cycle('odd', 'even')%>">
    <td><%= obj.min %></td>
    <td><%= obj.max %></td>
    <td><%= "#{obj.rate}%" %></td>
    <td><%= obj.commission_type.name %></td>
    <td class="tableLinks">
      <%= link_to "Edit", edit_resource_url(obj), class: "btn  btn1 editLink" %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

<%= paginate collection %>

<p><%= link_to "Add New Commission Rate", new_resource_url, class: "btn2" %></p>
