<%= form_for [:admin, order, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>
  <div>
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<%end%>
