<%= form_for [:admin, order] do |f| %>
  <table class="table">
    <thead>
      <tr>
        <th>Item Description</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Caselot Count</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <%= f.fields_for :order_items, f.object.order_items.order(:id) do |s| %>
      <tr class="<%= cycle('odd', 'even')%>">
        <td><%= s.object.product.name %></td>
        <td><%= "#{number_to_currency s.object.price, locale: I18n.default_locale}#{s.object.description_after_price}" %></td>
        <td><%= s.object.quantity %></td>
        <% if can_update_order_item? %>
          <td><%= s.select :caselot_count, s.object.product.product_caselots.for_pricing_type(f.object.pricing_type).order("count").map{|pc| ["#{pc.description}(#{number_to_currency pc.price_for(user: order.client, currency: order.currency, pricing_type: f.object.pricing_type), locale: I18n.default_locale})", pc.count]},
            include_blank: "none(#{number_to_currency s.object.product.price_for(user: order.client, currency: order.currency, pricing_type: f.object.pricing_type), locale: I18n.default_locale})" %></td>
        <% else %>
          <td><%= s.object.caselot_count %></td>
        <% end %>
        <td><%= number_to_currency s.object.total, locale: I18n.default_locale %></td>
        <td class="tableLinks">
          <% if can_destroy_order_item?(s.object) %>
            <%= link_to 'DELETE', [:admin, order, s.object], remote: true, method: :delete, class: "btn delete_item" %>
          <% end %>
          <% if current_support_user.can_return?(s.object) %>
            <%= link_to 'RETURN', new_return_admin_order_order_item_url(order, s.object), class: "btn delete_item" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% if can_create_order_item? %>
  <div>
    <%= f.label :code, "Referral Code" %>
    <%= f.text_field :code, value: f.object.code || f.object.referral_code.try(:code), data: { source: @referral_codes.map(&:code) } %>
  </div>

  <div id="licence_container" data-need-licence="<%= @referral_codes.select(&:need_licence?).map(&:code) %>">
    <%= f.label :licence, "Licence" %>
    <%= f.text_field :licence %>
  </div>
  <% end %>

  <% if can_update_order_item? %>
    <%= f.submit 'Update & Continue', name: "update_and_continue", class: "btn2" %>
    <%= f.submit "Update", class: "btn2" %>
  <% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
var needLicenceArray = $('#licence_container').data("need-licence");
var source = $("#order_code").data("source");

function showOrHideLicence(){
  if($.inArray($("#order_code").val(), needLicenceArray) != -1){
    $('#licence_container').show();
  }else{
    $('#licence_container').hide();
  }
}
$(function(){
  showOrHideLicence();

  $("#order_code").autocomplete({
    source: source,
    close: function( event, ui ) { showOrHideLicence() }
  });

  $('#order_code').keyup(function(){
    showOrHideLicence();
  })
})
</script>
