<%= render "admin/orders/nav" %>

<% if can_create_order_item? %>
  <div class="searchProduct">
    <%= form_for [:admin, order, resource], remote: true, html: { id: "add_item_form", class: "orderDate" } do |f| %>
      <label>Name:</label><%= text_field_tag :product_name, nil, id: "search_name", autocomplete: "off", data: { url: "/admin/products/search.json" } %>
      <%= hidden_field_tag :client_id, order.client_id, id: "client_id" %>
      <%= f.hidden_field :product_id, id: "search_id" %>
      <label>Quantity:</label><%= f.text_field :quantity, id: "search_quantity" %>
      <%= f.submit "ADD", class: "search_submit btn2" %>
    <% end %>
  </div>
<% end %>

<div class="order_items_list">
  <%= render 'list' %>
</div>
