<%= render "admin/orders/nav" %>
<br>
<br>
<%= form_for @return_form, url: return_admin_order_order_item_url(order, @return_form.order_item) do |f| %>
  <h1>Return</h1>
  <%= render_cell :app, :error_msg, resource: @return_form %>
  <%= "Can return #{@return_form.order_item.can_return_quantity} bottles" %>
  <div class="field">
	  <%= f.label :quantity %>
	  <%= f.text_field :quantity %>
	</div>

  <%= f.submit "Return", class: "btn2 flBtn" %>
<% end %>
