<%= form_for [:admin, @article] do |f| %>
  <%= render_cell :app, :error_msg, resource: @article %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :article_category_id %>
    <%= f.select :article_category_id, @article_categories.map{|r| [r.name, r.id]}, {}, class: "selectbox" %>
  </div>
  <%= render "admin/share/upload_image", f: f, column: "author_image", table: "articles" %>
  <br />
  <br />
  <br />
  <br />

  <%= render "admin/share/upload_image", f: f, column: "image", table: "articles" %>
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="field">
    <%= f.label :content %>
		<%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :publish_date %>
    <%= f.date_select :publish_date, {}, class: "selectbox" %>
  </div>

  <div class="field">
    <%= f.label :column_number %>
    <%= f.select :column_number, [1,2,3], {}, class: "selectbox" %>
  </div>

  <div class="field">
    <%= f.label :index %>
    <%= f.text_field :index %>
  </div>

    <div class="field">
    <%= f.label :seo_title %>
    <%= f.text_field :seo_title %>
  </div>

  <div class="field textarea">
    <%= f.label :seo_keywords %>
    <%= f.text_area :seo_keywords, rows: 4 %>
  </div>

  <div class="field textarea">
    <%= f.label :seo_description %>
    <%= f.text_area :seo_description, rows: 4 %>
  </div>

  <%= hidden_field_tag "article[disorder_ids][]", "" %>
    <% @disorders.each do |l| %>
      <%= check_box_tag "article[disorder_ids][]", l.id, f.object.disorders.include?(l), id: "disorder_ids_#{l.id}" %>
       <%= label_tag "disorder_ids_#{l.id}", class: "symptomsLabels" do %>
        <%= l.name %>
       <% end %>
    <% end %>

  <br />
  <div>
    <%= f.submit class: "btn2 flBtn" %>
    <%= hidden_field_tag :preview_url, preview_url(resource)  %>
    <a href="#modal-show" class="btn2 flBtn">Preview</a>
  </div>
  <%= render "admin/share/modal" %>
<%end%>
