<%= render 'articles/detail', article: resource %>
<div>
  Title
  <br />
  <%= resource.title %>
</div>
<br />

<div>
  Content
  <br />
  <%= raw resource.content %>
</div>
<br />

<div>
  SEO Title
  <br />
  <%= resource.seo_title %>
</div>
<br />

<div>
  SEO Keywords
  <br />
  <%= resource.seo_keywords %>
</div>
