<table class="table">
  <thead>
    <tr>
    <%= sortable Article, 'title' %>
    <%= sortable Article, 'author' %>
    <th></th>
    </tr>
  </thead>
  <tbody>
  <% collection.each do |article| %>
    <tr class="<%= cycle('odd', 'even')%>">
      <td><%= article.title %></td>
      <td><%= article.author %></td>
      <td class="tableLinks"><%= link_to "Edit", edit_resource_url(article), class: " btn1 editLink" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if current_support_user.can_create? Article %>
  <%= link_to "New", new_admin_article_url, class: "btn2 addNew" %>
<% end %>

<%= paginate collection %>
