<div class="productGallery">
  <div id="article-list" class="products">
    <% @articles.each do |article| %>
      <% if article.column_number == 1 %>
      <%= render 'one_col_detail', article: article %>
  <% elsif article.column_number == 2 %>
      <%= render 'two_col_detail', article: article %>
  <% else %>
      <%= render 'three_col_detail', article: article %>
  <% end %>

  <% end %>
  </div>
</div>
<%= paginate @articles %>
