<div class="staticPage">
		<aside>

			<h2><%= article.title %></h2>
			<div class="author">
				<span class="authorImg"><%= image_tag(article.author_image_url, alt: article.author_image_alt) unless article.author_image.blank?%></span>

			</div>
			<div class="relatedLinks"> 
				<% if show_article_message?(article) %>
					<p>CLINICAL REFERENCE CONTENTS</p>
					
					<% else %>
					<p>LEARN ABOUT OUR VISION</p>
				<% end %>
					<ul>
					  <% article.article_category.articles.order("index").each do |article| %>
              <%= link_to article.title, article_url(article.article_category.name.parameterize, "#{article.id}-#{article.title_parameterize}"), class: article == article ? "active" : "" %>
					  <% end -%>
					</ul>

          <% article.article_category.documents.each do |document| %>
            <%= link_to document.file_url, class: "pdfDoc", id: "pdfDoc", target: "_blank", data: { event_label: document.name } do %>
              <img src="/assets/pdfIcon.jpg"/>
              <span class="pdfText"><%= document.name %></span>
            <% end %>
          <% end %>
					<%# if show_article_message?(article) %>
						<%#<a href="/documents/Clinical_Reference_for_Healthcare_Professionals.pdf" class="pdfDoc" id="pdfDoc" target="_blank">%>
							<%#<img src="/assets/pdfIcon.jpg"/>%>
							<%#<span class="pdfText">Download a printable PDF of the Clinical Reference</span>%>
						<%#</a>%>
						
					<%# else %>
						<%#<a href="/documents/Daily_Essential_Nutrients_a_comparison_to_EMPowerplus.pdf" class="pdfDoc" target="_blank">%>
							<%#<img src="/assets/pdfIcon.jpg"/>%>
							<%#<span class="pdfText">Comparison of <em>Daily Essential Nutrients</em> to its Predecessor Formulation</span>%>
						<%#</a>%>
						
						<%#<a href="/documents/Important_Truehope_Announcement.pdf" class="pdfDoc" id="pdfDoc" target="_blank">%>
							<%#<img src="/assets/pdfIcon.jpg"/>%>
							<%#<span class="pdfText">Important Truehope Announcement</span>%>
						<%#</a>%>
					<%# end %>
				<!--<p>RELATED LINKS</p>
				<%# related_articles.each do |article| %>
					<%#= link_to article.title, article_url(article.article_category.name.parameterize, "#{article.id}-#{article.title_parameterize}") %>
        <%# end %>
        -->
			</div>
		</aside>
		<div class="aboutCont">
      
      <br />
      <%= image_tag(article.image_url, alt: article.image_alt) unless article.image_url.blank?%>
			<section>
				<article>
					<div class="textBlock">
            <%= article.content.html_safe %>
					</div>
					<!--<aside>
						<div class="references">
							<p><span class="quotation">"</span>I want to help people recover.
								Many of the problems people face today can be combatted by Vitamins.</p>
						</div>
						<div class="references">
							<p><span class="quotation">"</span>We need to make changes to the way people perceive mental illness. These conditions are debilitating and they take over a person’s life completely.</p>
						</div>
					</aside>-->
				</article>
			</section>
		</div>
	</div>

