<div class="product">
  <div class="col1 non-hoverBox" tips-data="SECTION DETAILS">
    <!--<div class="hover">
      <div class="toolTip"><span class="arrow"></span>SECTION DETAILS</div>
      <%#= link_to article_url(article.article_category.name.parameterize, "#{article.id}-#{article.title.parameterize}") do %>
    <%# end -%>
    </div>-->

    <%= link_to article_url(article.article_category.name.parameterize, "#{article.id}-#{article.title_parameterize}"), data: { event_label: article.title } do %>
      <%= image_tag article.image_url(:gallery), alt: article.image_alt %>
    <% end -%>

    <div>
      <h2><%= link_to article.title, article_url(article.article_category.name.parameterize, "#{article.id}-#{article.title_parameterize}"), data: { event_label: article.title } %></h2>
      <p><%#= truncate strip_tags(article.content), length: 135, separator: ' ' %></p>
      <p><%#= truncate_content(article.content) %></p>
    </div>
  </div>
</div>
