<script type="text/javascript" charset="utf-8">
$(function(){
  $("a.left").click(function(){
    ga('send', 'event', "Article Detail Page", "click", "<%= @article.title %> - previous");
  });

  $("a.right").click(function(){
    ga('send', 'event', "Article Detail Page", "click", "<%= @article.title%> - next");
  });

  $('.breadcrumb').click(function(){
    ga('send', 'event', "Article Detail Page", "click", "<%= @article.title%> - " + $(this).text());
  });

  $('.relatedLinks a').click(function(){
    ga('send', 'event', "Article Detail Page", "click", "<%= @article.title%> - " + $(this).text());
  });

  $('.pdfDoc').click(function(){
    ga('send', 'event', "Article Detail Page", "click", "<%= @article.title%> - " + $(this).data("event-label"));
  });

  $('.aboutCont .textBlock a').click(function(){
    ga('send', 'event', "Article Detail Page", "click", "<%= @article.title%> - Content - " + $(this).text());
  });
})
</script>
