<div class="product col3">
  <div class="col1 non-hoverBox">
    <div class="hover">
      <div class="toolTip"><span class="arrow"></span>SECTION DETAILS</div>
    </div>
      <%= link_to article_url(article.article_category.name.parameterize, "#{article.id}-#{article.title_parameterize}") do %>
        <%= image_tag article.image_url(:gallery), class: "imgWrap" %>
      <% end %>
  </div>
  <div class="col2 productInfor"><p><%= truncate_content(article.content, 1000) %></p></div>
</div>
