<div class="product col2">
  <div class="col1 non-hoverBox">
    <div class="hover">
      <div class="toolTip"><span class="arrow"></span>SECTION DETAILS</div>
      <!--<%= link_to article_url(article.permalink) do %>
        <%= image_tag article.image_url(:hover) %>
      <% end -%>
      <div>
				<h2><%= link_to article.title, article %></h2>
        <p><%#= truncate strip_tags(article.content), length: 135, separator: ' ' %></p>
        <p><%= truncate_content(article.content) %></p>
      </div>-->
      <%= link_to article_url(article.article_category.name.parameterize, "#{article.id}-#{article.title_parameterize}") do %>
      <% end -%>
    </div>
    <%= image_tag article.image_url(:gallery) %>
  </div>
  <div class="col1 productInfor"><p><%= truncate_content(article.content, 470) %></p></div>
</div>
