<div id="wrapper" class="static">
<%= render 'layouts/nav'%>
	<div class="topNavFilters">
    <% if show_article_message? %>
      	<div id="articleHeading">
			<h1>Clinical Reference for Healthcare Professionals</h1>
			<a target="_blank" id="pdfDoc" class="pdfDoc" href="/documents/Clinical_Reference_for_Healthcare_Professionals.pdf">
              <img src="/assets/pdfIcon.jpg">
              <span class="pdfText">Download a printable PDF of the Clinical Reference</span>
			</a>
		</div>
	<% else %>
		<div id="articleHeading">
			<h1>Our Vision</h1>
		</div>
    <% end %>
		
  </div>
  <%= render partial: "article_list" %>
  <%= render 'layouts/footer' %>
</div>

<script type="text/javascript">
$('.grid').click({})
</script>

<%= content_for :title, @seo.title %>
<%= content_for :keywords, @seo.keywords %>
<%= content_for :description, @seo.description %>

<%= render 'index_ga' %>
