<div id="wrapper" class="static">
  <%= render 'layouts/nav'%>
  <div class="topNavFilters">
    <div class="pageTurning">
      <%= link_to '<span></span>previous'.html_safe, article_url(@article.article_category.permalink, "#{@article.prev.id}-#{@article.prev.title_parameterize}"), class: "left" %>
      <%= link_to 'next<span></span>'.html_safe, article_url(@article.article_category.permalink, "#{@article.next.id}-#{@article.next.title_parameterize}"), class: "right" %>
    </div>
    <div class="iconCon">
      <div class="iconBg"><%= link_to '', articles_url(q: { article_category_name_eq: @article.article_category.name }), class: "grid" %></div>
      <div class="iconBg active"><a href="#" class="Vector"></a></div>
    </div>
    <p><%= link_to @article.article_category.name, articles_url(q: { article_category_name_eq: @article.article_category.name }), class: "breadcrumb" %> // <span class="textHighlighting"><%= @article.title %></span></p>
  </div>
  <%= render 'articles/detail', article: @article %>
	<%= render 'layouts/footer' %>
</div>

<!-- REMOVE THIS SCRIPT. SHOULD ONLY BE ON THE HOME PAGE. WILL NEED TO ADJUST NAV POSITION -->

<%= content_for :title, @article.seo_title %>
<%= content_for :keywords, ("#{@article.seo_keywords}, " || "") + @article.disorders.map(&:name).join(", ") %>
<%= content_for :description, @article.seo_description %>

<%= render 'show_ga' %>
