<%= form_for [:admin, :configuration, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>
  <div class="field">
    <%= f.label :min %>
    <%= f.text_field :min %>
  </div>
  <div class="field">
    <%= f.label :max %>
    <%= f.text_field :max %>
  </div>
  <div class="field">
    <%= f.label :handling_charge %>
    <%= f.text_field :handling_charge %>
  </div>
  <div class="field">
    <%= f.label :handling_charge_method %>
    <%= f.select :handling_charge_method_id, HandlingChargeMethod.where(active: true).collect {|l| [l.name, l.id]}, {}, :class => 'selectbox' %>
  </div>
  <div class="field">
    <%= f.check_box :deleted %>
    <%= f.label :deleted %>
  </div>
  <div>
    <%= f.submit class: "btn2 flBtn" %>
  </div>
<%end%>
