Handling Charge
<%= link_to '[active]', collection_url %>
<%= link_to '[deleted]', collection_url(q: {deleted_eq: true}) %>
<br />
<table class="table">
  <thead>
    <tr>
      <%= sortable HandlingCharge, 'min'%>
      <%= sortable HandlingCharge, 'max'%>
      <%= sortable HandlingCharge, 'handling_charge'%>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% collection.select{|hc| hc.handling_charge_method.active}.each do |obj| %>
      <tr class="<%= cycle('odd', 'even')%>">
        <td><%= obj.min %></td>
        <td><%= obj.max %></td>
        <td><%= obj.handling_charge %></td>
        <td class="tableLinks">
          <%= link_to "Edit", edit_resource_url(obj), class: "btn  btn1 editLink" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate collection %>

<p><%= link_to "Add New Handing Charge", new_resource_url, class: "btn2" %></p>
