<%= form_for [:admin, :configuration, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>
	  <div class="field">
	  	<%= f.label :title %><br />
	    <%= f.text_field :title %>
	  </div>
	  
	  <div class="field">
	    <%= f.label :description %>
	    <%= f.text_area :description %>
	  </div>
	  <div class="field">
	  	<%= f.label :age_group_id, "Select Age Group" %>
		  <% for age_group in AgeGroup.find(:all) %>
		    <div>
		      <%= check_box_tag :age_group_ids, age_group.id, @question.age_groups.include?(age_group), :name => 
		      'question[age_group_ids][]' %>
		      <%= age_group.name_of_group %>
		    </div>
			<% end %>
	  </div>
	  <div class="field">
	    <%= f.label :gender_id, "Select Gender" %>
	    <% for gender in Gender.find(:all) %>
		    <div>
		      <%= check_box_tag :gender_ids, gender.id, @question.genders.include?(gender), :name => 
		      'question[age_group_ids][]' %>
		      <%= gender.gender_type %>
		    </div>
			<% end %>
	  </div>	  	  
	  <div>
	    <%= f.submit class: "btn2 flBtn" %>
	  </div>
<% end %>
