
<p id="notice"><%= notice %></p>

<h2>Listing Questions</h2>
<table class="table">

  <thead>
    <tr>
   	  <th>Title</th>
     	<th>Description</th>
      <th>Gender </th>
      <th>Age Groups</th>
      <th></th>
   	</tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.description %></td>
        <td><%= question.genders.map(&:gender_type).join(",") %></td>
        <td><%= question.age_groups.map(&:name_of_group).join(",") %></td>
        <td><%= link_to "Edit", edit_admin_configuration_question_url(question), class: "btn btn1 editLink" %> 
          <%= link_to "Delete", admin_configuration_question_url(question), method: :delete, class: "btn btn1 editLink", data: {confirm: "Are you sure?"}  %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New", new_admin_configuration_question_path %>