<%= form_for [:admin, order, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :adjustment_type_id %>
    <%= f.select :adjustment_type_id, @adjustment_types.map{|a| [a.name, a.id]} %>
  </div>
  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>
  <div>
    <%= f.submit class: "btn2 flBtn"%>
  </div>
<%end%>
