<%= render "admin/orders/nav" %>
<br />
<table class="table">
<thead>
  <th>Adjustment Type</th>
  <th>Amount</th>
  <th>Note</th>
  <th></th>
</thead>
<tbody>
<% order.order_adjustments.each do |adjustment| %>
<tr class="<%= cycle('odd', 'even')%>">
  <td><%= adjustment.adjustment_type.name %></td>
  <td><%= show_amount adjustment.amount %></td>
  <td><%= adjustment.note %></td>
  <td class="tableLinks">
    <% if order.can_change_order_adjustment? && !order.canceled? %>
      <%= link_to 'EDIT', edit_admin_order_order_adjustment_url(order, adjustment), class: "btn btn1 editLink" %>
      <%= link_to 'DELETE', [:admin, order, adjustment], method: :delete, confirm: 'Are you sure?', class: "btn" %>
    <% end %>
  </td>
</tr>
<% end %>
</tbody>
</table>
    <% if order.can_change_order_adjustment? && !order.canceled? %>
<%= link_to "New", new_admin_order_order_adjustment_url(order), class: "btn2 addNew" %>
    <% end %>
