<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => user_registration_path, :html => { :method => :put }) do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>

  <div class="field"><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>
  <div class="field"><%= f.label :user_name %><br />
    <%= f.text_field :user_name %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div class="field"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="field"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div class="field"><%= f.label :first_name %><br />
    <%= f.text_field :first_name %></div>
  <div class="field"><%= f.label :last_name %><br />
    <%= f.text_field :last_name %></div>
  <div class="field"><%= f.label :time_zone %><br />
    <%= f.select :time_zone, -12..12, { prompt: "select time zone" }, class: "selectbox" %></div>
  <div><%= f.submit "Update", class: "btn2 flBtn" %></div>
<% end %>
