<%= form_for [:admin, :configuration, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>
  <div class="field">
    <%= f.label :name %>
    <% if resource.new_record? %>
    <%= f.text_field :name %>
      <% else %>
        <%= f.object.name %>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>
  <div>
    <%= f.submit class: "btn2 flBtn" %>
  </div>
<%end%>
