Setting
<br />
<table class="table">
  <thead>
    <tr>
    <%= sortable Setting, 'name' %>
    <%= sortable Setting, 'value' %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |obj| %>
      <tr class="<%= cycle('odd', 'even')%>">
    <td><%= obj.name %></td>
    <td><%= obj.value %></td>
        <td class="tableLinks">
          <%= link_to "Edit", edit_resource_url(obj), class: "btn  btn1 editLink" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate collection %>

<p><%= link_to "Add New Setting", new_resource_url, class: "btn2" %></p>
