<%= form_for [:admin, :configuration, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>

  <div class="field">
    <%= f.label :url %>
    <br />
    <%= f.object.url %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :keywords %>
    <%= f.text_area :keywords, rows: 4 %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 4 %>
  </div>

  <div>
    <%= f.submit class: "btn2 flBtn" %>
  </div>
<%end%>
