SEO
<table class="table">
  <thead>
    <tr>
    <%= sortable Seo, 'url' %>
    <%= sortable Seo, 'title' %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |obj| %>
      <tr class="<%= cycle('odd', 'even')%>">
    <td><%= obj.url %></td>
    <td><%= obj.title %></td>
        <td class="tableLinks">
          <%= link_to "Edit", edit_resource_url(obj), class: "btn  btn1 editLink" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate collection %>
