Call Frequency
<%= link_to '[active]', collection_url %>
<%= link_to '[deleted]', collection_url(q: {deleted_eq: true}) %>
<br />
<table class="table">
  <thead>
    <tr>
    <%= sortable CallFrequency, 'name'%>
    <%= sortable CallFrequency, 'priority'%>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @call_frequencies.each do |call_frequency| %>
      <tr class="<%= cycle('odd', 'even')%>">
    <td><%= call_frequency.name %></td>
    <td><%= call_frequency.priority %></td>
        <td class="tableLinks">
          <%= link_to "Edit", edit_resource_url(call_frequency), class: "btn  btn1 editLink" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate collection %>


<p><%= link_to "Add New Call Frequency", new_resource_url, class: "btn2" %></p>
