<%= form_for [:admin, @faq] do |f| %>
  <h1>Create/Edit FAQ</h1>
  <%= render_cell :app, :error_msg, resource: @faq, without_title: true %>
  <div class="field">
    <%= f.label :question %>
    <%= f.text_field :question %>
  </div>

  <div class="field">
    <%= f.label :answer %>
	  <%= f.text_area :answer %>
  </div>

  <div class="field unit">
    <%= f.label :type %>
    <%= f.select :faq_type_id, @faq_types.map{|c| [c.name, c.id]}, {}, :class => 'selectbox' %>
  </div>

  <div class="field">
    <%= f.label :index %>
    <%= f.text_field :index %>
  </div>

  <div>
    <%= f.submit class: "btn2 flBtn" %>
    <%= hidden_field_tag :preview_url, preview_url(resource)  %>
    <a href="#modal-show" class="btn2 flBtn">Preview</a>
  </div>

  <%= render "admin/share/modal" %>
<%end%>
