<table class="table table-striped">
  <thead>
    <tr>
      <%= sortable Faq, 'question'%>
      <%= sortable Faq, 'answer'%>
      <%= sortable Faq, 'faq_type_id', 'FAQ Type'%>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |faq| %>
      <tr class="<%= cycle('odd', 'even')%>">
        <td><%= faq.question %></td>
        <td><%= faq.answer.try(:html_safe) %></td>
        <td><%= faq.faq_type.try(:name) %></td>
        <td class="tableLinks"><%= link_to "Edit", edit_resource_url(faq), class: "btn1 editLink" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_support_user.can_create? resource_class %>
  <%= link_to "New", new_admin_faq_url, class: "btn2 addNew" %>
<% end %>

<%= paginate collection %>
