<div id="wrapper" class="static checkout">
<%= render 'layouts/nav'%>
	<div class="contactCont">
		<h3>Thank you</h3>
		<h4>Customer feedback was successfully sent. Thanks!</h4>
	</div>
	<%= render 'layouts/footer' %>
</div>
<%= content_for :title, "Hardy Nutritionals | Shopping - Feedback" %>
