<div id="wrapper" class="static checkout">
  <%= render 'layouts/nav' %>

  <div class="checkoutPage">
    <%= render_cell :shopping, :progress_bar, state: :feedback %>

    <div class="checkoutCont">
      <div class="cartDetail">
        <h1>Thank you for your order.</h1>
        <p>
        <%#Your order has been received and will be processed within 24 hours.%>
        An order confirmation email has been sent to you from orders@hardynutritionals.com. If it doesn't appear in your in Inbox within 15 minutes, please check your Spam/Junk folder and add orders@hardynutritionals.com to your list of safe senders.
        </p>
        <p><em><strong>Please note:</strong> Occasionally US credit card providers will charge a ‘foreign transaction fee’ because we are a Canadian company. This can usually be remedied by a phone call to your card provider. Our products are manufactured and shipped from the USA.</em></p>
        <div class="contactForm">
          <h4>Feedback? Let us know how we can serve you better!</h4>
          <%= form_for [:shopping, @feedback] do |f| %>
            <%= render_cell :app, :error_msg, resource: @feedback %>
          <div class="field">
            <%= f.text_field :name, placeholder: "Name" %>
          </div>
          <div class="field">
            <%= f.text_field :email, placeholder: "Email Address" %>
          </div>
          <div class="textarea">
            <%= f.text_area :message, placeholder: "Feedback Message" %>
          </div>
          <%= f.submit 'send', class: "btn2" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>

<%= content_for :title, "Hardy Nutritionals | Shopping - Feedback" %>

<script type="text/javascript" charset="utf-8">
<% if @last_completed_order %>
  <% @last_completed_order.order_items.each do |item| %>
    ga('set', '&cu', "<%= @last_completed_order.currency_name %>");
    ga('ec:addProduct', {
       'id': "<%= item.product.product_code %>",
       'name': "<%= item.product.name %>",
       'price': "<%= item.price %>",
       'quantity': "<%= item.quantity%>",
       'category': "<%= item.product.product_category.try(:name) %>"
     });
  <% end %>

  ga('ec:setAction','purchase', {
    'id': "<%= @last_completed_order.id %>",
    'revenue': "<%= @last_completed_order.total %>",
    'tax': "<%= @last_completed_order.db_tax_charge %>",
    'shipping': "<%= @last_completed_order.shipping_handling_charge %>"
  });
  ga('send', 'pageview');
<% end %>
</script>
