<%= form_for [:admin, :configuration, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>
	  <div class="field">
	  	<%= f.label :title %><br />
	    <%= f.text_field :title %>
	  </div>
	  
	  <div class="field">
	    <%= f.label :comment %>
	    <%= f.text_area :comment %>
	  </div>
	 <div>
	    <%= f.submit class: "btn2 flBtn" %>
	  </div>
<% end %>