
<p id="notice"><%= notice %></p>

<h2>Listing Questionnaires</h2>
<table class="table">

  <thead>
    <tr>
   	  <th>Title</th>
     	<th>Comment</th>
      <th></th>
   	</tr>
  </thead>
  <tbody>
    <% @questionnaires.each do |questionnaire| %>
      <tr>
        <td><%= questionnaire.title %></td>
        <td><%= questionnaire.comment %></td>
        <td><%= link_to "Edit", edit_admin_configuration_questionnaire_url(questionnaire), class: "btn btn1 editLink" %>
            <%= link_to "Delete", admin_configuration_questionnaire_url(questionnaire), method: :delete, class: "btn btn1 editLink", data: {confirm: "Are you sure?"}  %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New", new_admin_configuration_questionnaire_path %>