Introduction Type
<%= link_to '[active]', collection_url %>
<%= link_to '[deleted]', collection_url(q: {deleted_eq: true}) %>
<br />
<table class="table">
  <thead>
    <tr>
    <%= sortable IntroductionType, 'name'%>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @introduction_types.each do |introduction_type| %>
      <tr class="<%= cycle('odd', 'even')%>">
    <td><%= introduction_type.name %></td>
        <td class="tableLinks">
          <%= link_to "Edit", edit_resource_url(introduction_type), class: "btn btn1 editLink" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @introduction_types %>

<p><%= link_to "Add New Introduction Type", new_resource_url, class: "btn2" %></p>
