<div class="product">
  <div class="col1">
    <div class="hover">
      <div class="toolTip"><span class="arrow"></span>ARTICLE DETAILS</div>
      <%= link_to article_url(article.permalink) do %>
        <%= image_tag article.image_url(:hover) %>
      <% end -%>
      <div>
				<h2><%= link_to article.title, article_url(article.permalink) %></h2>
				<p><%= article.content.html_safe %></p>
      </div>
    </div>
    <%= image_tag article.image_url(:gallery) %>
  </div>
</div>

