<div id="wrapper" class="static">
<%= render 'layouts/nav'%>

	<div class="productGallery">
		<div class="topNavFilters">
			<div class="iconCon">
				<div class="iconBg active"><a href="#" class="grid"></a></div>
				<div class="iconBg"><a href="javascript:;" class="symptoms"></a></div>
			</div>
			<!--<p>I am looking for a supplement to help me with<span class="textHighlighting"> ex: Chronic Stress<span class="magnify"></span></span></p>-->
			<p>I am looking for a supplement to help me with<span class="textHighlighting"><input class="placeholder" placeholder=" ex: Chronic Stress"><span class="magnify"></span></span></p>
			<div class="symptomTags">
				<a href="#">ANTI-AGING</a>
				<a href="#">ANXIETY</a>
				<a href="#">ARTHRITIS</a>
				<a href="#">BIPOLAR</a>
				<a href="#">CHRONIC STRESS</a>
				<a href="#">DIABETES</a>
				<a href="#">DIGESTION</a>
				<a href="#">GENERAL HEALTH</a>
				<a href="#">HAIR GROWTH</a>
				<a href="#">HIGH CHOLESTEROL</a>
				<a href="#" class="active">INSOMNIA</a>
				<a href="#">LIVER DISEASE</a>
				<a href="#">MENTAL ALERTNESS</a>
				<a href="#">NERVE PAIN</a>
				<a href="#">OSTEOPOROSIS</a>
				<a href="#">PANIC ATTACKS</a>
				<a href="#">SCHIZOPHRENIA</a>
				<a href="#"> SKIN CARE</a>
				<a href="#">WEIGHT LOSS</a>
			</div>
		</div>
		<div class="products">
			<% @articles.each do |article| %>
        <% if article.column_number == 1 %>
        <%= render 'one_col_detail', article: article %>
      <% elsif article.column_number == 2 %>
        <%= render 'two_col_detail', article: article %>
        <% else %>
        <%= render 'three_col_detail', article: article %>
        <% end %>
       <% end %>
		</div>
	</div>
<%= render 'layouts/footer' %>
</div>

 <script type="text/javascript">
   $('.grid').click({})
 </script>
<%= content_for :title, "Hardy Nutritionals | Case Studies" %>
