<div id="wrapper" class="static">
<%= render 'layouts/nav'%>

	<div class="staticPage">
		<div class="topNavFilters">
			<div class="miniNav">
				<a href="#" class="left"><span></span>previous</a>
				<a href="#" class="right">next<span></span></a>
			</div>
			<div class="iconCon">
				<div class="iconBg"><a href="#" class="grid"></a></div>
				<div class="iconBg active"><a href="#" class="Vector"></a></div>
			</div>
			<p>Our Vision //<span class="textHighlighting"> Message From Our Founder</span></p>
		</div>
		<aside>
			<h2><%= @article.title %></h2>
			<div class="author">
				<span class="authorImg"><%= image_tag @article.author_image_url %></span>
				<p class="textHighlighting">By <%= @article.author %></p>
				<p>Published <%= @article.publish_date.strftime("%B %e, %Y") %></p>
			</div>
			<div class="relatedLinks">
				<p>RELATED LINKS</p>
        <% @related_articles.each do |r| %>
            <%= link_to r.title, r %>
        <% end %>
			</div>
			<div class="relatedTags">
				<p>RELATED TAGS</p>
        <% @article.disorders.each do |d| %>
          <%= link_to d.name, articles_url(q: {article_disorders_disorder_id_eq: d.id, article_category_id_eq: @article.article_category_id }) %>
      <% end %>
			</div>
		</aside>
		<div class="aboutCont">
      <%= image_tag @article.image_url %>
			<section>
				<article>
					<div class="textBlock">
            <%= @article.content.html_safe %>
					</div>
					<!--<aside>
						<div class="references">
							<p><span class="quotation">"</span>I want to help people recover.
								Many of the problems people face today can be combatted by Vitamins.</p>
						</div>
						<div class="references">
							<p><span class="quotation">"</span>We need to make changes to the way people perceive mental illness. These conditions are debilitating and they take over a person’s life completely.</p>
						</div>
					</aside>-->
				</article>
			</section>
		</div>
	</div>
	<%= render 'layouts/footer' %>
</div>

<!-- REMOVE THIS SCRIPT. SHOULD ONLY BE ON THE HOME PAGE. WILL NEED TO ADJUST NAV POSITION -->
<%= content_for :title, @article.seo_title %>
<%= content_for :keywords, @article.seo_keywords %>
