<%= form_for [:admin, :configuration, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>
	  <div class="field">
	  	<%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </div>
	  <div class="field">
	  	<%= f.label :description %><br />
	    <%= f.text_field :description %>
	  </div> 

	  <div class="field">
	  	<%= f.label "Symptom" %>
		  <% for symptom in Symptom.find(:all) %>
		    <div>
		      <%= check_box_tag :symptom_ids, symptom.id, @side_effect.symptoms.include?(symptom), :name => 
		      'side_effect[symptom_ids][]' %>
		      <%= symptom.name %>
		    </div>
			<% end %>
	  </div>

	   

	  <div>
	    <%= f.submit class: "btn2 flBtn" %>
	  </div>
<% end %>
