
<p id="notice"><%= notice %></p>

<h2>Listing Side Effects</h2>
<table class="table">

  <thead>
    <tr>
   	  <th>Name </th>
     	<th>Description</th>
      <th>Symptom</th>
      <th></th>
   	</tr>
  </thead>
  <tbody>
    <% @side_effects.each do |side_effect| %>
      <tr>
        <td><%= side_effect.name %></td>
        <td><%= side_effect.description %></td>
        <td><%= side_effect.symptoms.map(&:name).join(",") %></td>
       
        <td>
          <%= link_to "Edit", edit_admin_configuration_side_effect_url(side_effect), class: "btn btn1 editLink" %>
          <%= link_to "Delete", admin_configuration_side_effect_url(side_effect), method: :delete, class: "btn btn1 editLink", data: {confirm: "Are you sure?"}  %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to "New", new_admin_configuration_side_effect_path %>