<div class="nonprinting">
  <h2>Canadian Orders</h2>
  <br />
  <%= link_to '[Orders ready for shipping]', export_list_admin_orders_url(q: { shipment_address_country_abbr_in: ["CA", "AU", "NZ"] + Country::EUROPEAN_UNION }) %>
  <%= link_to '[Shipped orders]', export_list_admin_orders_url(q: { shipment_state_eq: "shipped", shipment_address_country_abbr_in: ["CA", "AU", "NZ"] + Country::EUROPEAN_UNION }) %>
  <br />
  <%= form_tag export_shipping_for_canada_admin_orders_url, data: { export_order: "" } do %>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Package Number</th>
        <%= sortable Order, 'id', "Order ID" %>
        <%= sortable Client, 'first_name', "Client Name" %>
        <th>Product Quantity</th>
        <% if params[:q].try(:[], :shipment_state_eq) == "shipped"  %>
        <%= sortable Shipment, 'shipped_at' %>
        <% end %>
        <%= sortable Order, 'completed_at' %>
      </tr>
    </thead>
    <tbody>
    <% orders.each do |order| %>
      <tr  class="<%= cycle('odd', 'even')%>">
        <td><%= check_box_tag "order[#{order.id}][id]", order.id, !order.shipment.shipped? %></td>
        <% if order.shipment.shipped? %>
        <td><%= order.package_number %></td>
        <% else %>
        <td><%= text_field_tag "order[#{order.id}][package_number]", order.package_number || 1 %></td>
        <% end %>
        <td><%= order.id %></td>
        <td><%= order.client.full_name %></td>
        <td><%= order.quantity %></td>
        <% if params[:q].try(:[], :shipment_state_eq) == "shipped"  %>
          <td><%= order.shipment.format_shipped_at %></td>
        <% end %>
        <td><%= order.format_completed_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="buttons">
    <% if orders.any? %>
      <%= submit_tag "Export Order", name: "export", class: "btn2 flBtn" %>
      <%= submit_tag "Export Order Like US/International", name: "export_like_us", class: "btn2 flBtn" %>
      <%= link_to 'print', invoices_admin_orders_url, data: { print_invoice: "" }, class: "button" %>
      <% if params[:q].try(:[], :shipment_state_eq) != "shipped" %>
        <%= submit_tag "Ship Order", class: "btn2", confirm: "Are you sure you want to ship the orders?" %>
      <% end %>
    <% end %>
  </div>

<% end %>
<br />

<%= paginate @orders %>
</div>
<div class="printInvoiceCont" data-invoices >
</div>
