<div class="subNav">
	<div class="status">
      	Order ID: <span>[ <%= order.id %> ]</span>
      	Order State: <span>[ <%= order.state %> ]</span>
      	Payment State: <span>[ <%= "#{order.payment_state_title} #{show_need_total(order)}" %> ]</span>

      	<% if order.shipment %>
			Shipment State: <span>[ <%= order.shipment.state %> ]</span>
      	<% end %>
      	Order Type: <span>[ <%= order.order_type.name %> ]</span>
        <%# unless order.canceled?  %>
        <% if current_support_user.can_cancel? order %>
          <%= link_to 'Cancel Order', cancel_admin_order_url(order), method: :put %>
        <% end %>
  	</div>
  	<ul>
		<li class=<%=active_nav("orders")%>><%= link_to 'Overview', [:admin, order] %></li>
		<li class=<%=active_nav("order_items")%>><span class="cutOffRule">|</span><%= link_to 'Products', admin_order_order_items_url(order) %></li>
		<li class=<%=active_nav("shipments")%>><span class="cutOffRule">|</span><%= link_to 'Shipments', admin_order_shipments_url(order) %></li>
		<% if current_support_user.can_read? OrderAdjustment %>
		  <li class=<%=active_nav("order_adjustments")%>><span class="cutOffRule">|</span><%= link_to 'Adjustments', admin_order_order_adjustments_url(order) %></li>
		<% end %>
		<% if current_support_user.can_read? Payment %>
		  <li class=<%=active_nav("payments")%>><span class="cutOffRule">|</span><%= link_to 'Payments', admin_order_payments_url(order) %></li>
		<% end %>
		<% if current_support_user.can_read? OrderNote %>
		  <li class=<%=active_nav("order_notes")%>><span class="cutOffRule">|</span><%= link_to 'Order Notes', admin_order_order_notes_url(order) %></li>
		<% end %>
		<li class=<%=active_nav("invoices")%>><span class="cutOffRule">|</span><%= link_to 'Invoice', admin_order_invoice_url(order) %></li>
  	</ul>
  	<% if order.payments.any? || order.canceled? %>
   		Currency [<%= order.currency.name %>]
		<% else %>
			<%= form_for [:admin, order] do |f| %>
			<label>Currency:</label> <%= f.select :currency_id, Currency.all.map{|c| [c.name, c.id]}, {selected: order.currency_id}, :class => "selectbox" %>
			<%= f.submit value: 'Update Currency', class:"btn2 updateOrder" %>
		<% end %>
	<% end %>
  
  	
  	<br />
  	
</div>
