<h2>US and International Orders</h2>
<br />
<%= link_to '[Orders ready for shipping]', export_list_admin_orders_url(q: { shipment_address_country_abbr_not_in: ["CA", "AU", "NZ"] + Country::EUROPEAN_UNION }) %>
<%= link_to '[Shipped orders]', export_list_admin_orders_url(q: { shipment_state_eq: "shipped", shipment_address_country_abbr_not_in: ["CA", "AU", "NZ"] + Country::EUROPEAN_UNION }) %>
<br />
<%= form_tag export_shipping_for_other_country_admin_orders_url do %>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <%= sortable Order, 'id', "Order ID" %>
      <%= sortable Client, 'first_name', "Client Name" %>
      <% if params[:q].try(:[], :shipment_state_eq) == "shipped"  %>
      <%= sortable Shipment, 'shipped_at' %>
      <% end %>
      <%= sortable Order, 'completed_at' %>
    </tr>
  </thead>
  <tbody>
  <% orders.each do |order| %>
    <tr class="<%= cycle('odd', 'even')%>">
      <td><%= check_box_tag "ids[]", order.id, !order.shipment.shipped? %></td>
      <td><%= order.id %></td>
      <td><%= order.client.full_name %></td>
      <% if params[:q].try(:[], :shipment_state_eq) == "shipped"  %>
        <td><%= order.shipment.format_shipped_at %></td>
      <% end %>
      <td><%= order.format_completed_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="buttons">
<% if orders.any? %>
  <%= submit_tag "Export Order", name: "export", class: "btn2" %>
  <% if params[:q].try(:[], :shipment_state_eq) != "shipped" %>
    <%= submit_tag "Ship Order", class: "btn2", confirm: "Are you sure you want to ship the orders?" %>
  <% end %>
<% end %>
</div>
<br />

<%= paginate @orders %>
<% end %>
