<%= stylesheet_link_tag "invoice_print.css", media: "print" %>

<div class="nonprinting">	
	<%= link_to '[Canadian Orders]', export_list_admin_orders_url(q: { shipment_address_country_abbr_in: ["CA", "AU", "NZ"] + Country::EUROPEAN_UNION }) %>
	<%= link_to '[US/International Orders]', export_list_admin_orders_url %>
</div>
<% if params[:q].try(:[], :shipment_address_country_abbr_in) %>
  <%= render 'canada_export_list', orders: @orders %>
<% else %>
  <%= render 'other_country_export_list', orders: @orders %>
<% end %>
