<div class="orderFilter">
  <%= form_for @search_order, as: "q", url: admin_orders_url, method: :get do |f| %>
  <div class="col firstcol">
    <div class="field">
      <%= f.label :id_eq, "Order ID" %>
      <%= f.text_field :id_eq %>
    </div>

    <div class="field">
      <%= f.label :client_email_or_client_first_name_or_client_last_name_or_client_user_name_cont, "Key Word" %>
      <%= f.text_field :client_email_or_client_first_name_or_client_last_name_or_client_user_name_cont %>
    </div>
  </div>
  <div class="col">
    <div class="field">
      <%= f.label :client_first_name_cont, "First Name" %>
      <%= f.text_field :client_first_name_cont %>
    </div>
    <div class="field">
      <%= f.label :client_last_name_cont, "Last Name" %>
      <%= f.text_field :client_last_name_cont %>
    </div>
  </div>
  <div class="col">
    <div class="field">
      <%= f.label :client_email_cont, "Email" %>
      <%= f.text_field :client_email_cont %>
    </div>
    <div class="field">
      <%= f.label :client_home_phone_or_client_work_phone_or_client_cell_phone_cont, "Phone Number" %>
      <%= f.text_field :client_home_phone_or_client_work_phone_or_client_cell_phone_cont %>
    </div>
  </div>
  <div class="radioField">
    <div class="field">
      <% Search::Order::COUNTRY_VALUE.each do |k, v| %>
        <%= f.label "shipment_address_country_abbr_eq_#{v.downcase}" do %>
          <%= k.to_s.titleize %>
          <%= f.radio_button :shipment_address_country_abbr_eq, v %>
        <% end %>
      <% end %>
    </div>

    <div class="field">
      <% Search::Order::STATE_VALUE.keys.each do |k| %>
        <%= f.label "state_value_#{k.to_s}" do %>
          <%= k.to_s.titleize %>
          <%= f.radio_button :state_value, k %>
        <% end %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :only_balance do %>
        <%= f.check_box :only_balance %>
      Only Balance
    <% end %>
      <%= f.label :only_pending do %>
        <%= f.check_box :only_pending %>
      Only Pending
    <% end %>
    </div>
  </div>
  <div class="filterDateWrap">
     <div class="filterDate">
        <label>From:</label> <%= f.date_select :completed_at_gteq, { start_year: 2013, end_year: Time.zone.now.year }, class: "selectbox" %>
      <label>To:</label> <%= f.date_select :completed_at_lteq, { start_year: 2013, end_year: Time.zone.now.year }, class: "selectbox" %>
      </div>
      <%= f.submit "Search", class: "btn2" %>
  </div>
  <% end %>
</div>

  <% if current_client && current_support_user.can_create?(Order) %>
   <p class="row"> <%= link_to "Create New Order", admin_orders_url, method: :post, class: "btn2" %><p>
  <% end %>
<%= form_tag ready_all_admin_orders_url do %>
  <% if current_support_user.can_ready? Order %>
  	<div id="select-all">
		<%= label_tag :select_all_orders do %>
		  Select All<%= check_box_tag :select_all_orders, "", false, id: "select_all_orders" %>
		<% end %>
		<%= submit_tag "SHIP ORDERS", class: "btn2", name: "ready" %>
		<%= submit_tag "CANCEL SHIP ORDERS", class: "btn2"%>
    </div>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <%= sortable Order, 'id', "ID" %>
        <%= sortable Order, 'client_id', "Client Name" %>
        <%= sortable Order, 'state' %>
        <%= sortable Order, 'payment_state' %>
        <%= sortable Order, 'balance' %>
        <%= sortable Shipment, 'state', "Shipment State" %>
        <%= sortable Order, 'completed_at' %>
        <% unless hide_total_column?(@search_order) %>
          <th>Total</th>
        <% end %>
        <th></th>
        <th>
        <% unless hide_total_column?(@search_order) %>
          <%= number_to_currency @orders.sum(&:total!), locale: I18n.default_locale %>
        <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
    <tr  class="<%= cycle('odd', 'even')%>">
      <td><%= order.id %></td>
      <td><%= order.client.full_name %></td>
      <td><%= order.state %></td>
      <td><%= order.payment_state_title %></td>
      <td><%= number_to_currency order.balance_amount, locale: I18n.default_locale %></td>
      <td><%= order.shipment.try(:state) %></td>
      <td><%= order.format_completed_at %></td>
      <% unless hide_total_column?(@search_order) %>
        <td><%= number_to_currency order.total!, locale: I18n.default_locale %></td>
      <% end %>
      <td>
        <% if current_support_user.can_ready?(order) || current_support_user.can_pending?(order) %>
          <%= check_box_tag "order_ids[]", order.id, false, class: "order_ids" %>
        <% end %>
      </td>
      <td class="tableLinks"><%= link_to "View", [:admin, order] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>


<%= paginate @orders %>
