<%= render "nav" %>
<div class="orderInfo">
	 <p><label>Order ID:</label> <%=order.id%></p>
	 <p><label>Order State:</label> <%=order.state %></p>
	 <p><label>Payment State:</label> <%="#{order.payment_state_title} #{show_need_total(order)}" %></p>
	<% if order.shipment.try(:address) %>
	  <h5>Address:</h5>
	<%= render "admin/addresses/detail", address: order.shipment.address %>
	<% end %>
	<% if order.shipment.try(:shipping_method) %>
	  <h5>ShippingMethod:</h5>
	  <p><%= order.shipment.shipping_method.name! %></p>
	  <% end %>
</div>

<div>
  <p>Order Created: <%= order.created_at.strftime("%b %-d, %Y") %></p>
  <% if order.completed_at %>
    <p>Order Completed: <%= order.completed_at.strftime("%b %e, %Y") %></p>
  <% end %>
  <% if order.shipment.try(:shipped_at)%>
    <p>Order Shipped: <%= order.shipment.shipped_at.strftime("%b %e, %Y") %></p>
  <% end %>
</div>

