
<p id="notice"><%= notice %></p>

<h2>Listing Symptoms</h2>
<table class="table">

  <thead>
    <tr>
   	  <th>Name </th>
     	<th>Description</th>
      <th>Question</th>
      <th></th>
   	</tr>
  </thead>
  <tbody>
    <% @symptoms.each do |symptom| %>
      <tr>
        <td><%= symptom.name %></td>
        <td><%= symptom.description %></td>
        <td><%= symptom.question %></td>
        
        <td><%= link_to "Edit", edit_admin_configuration_symptom_url(symptom), class: "btn btn1 editLink" %>
            <%= link_to "Delete", admin_configuration_symptom_url(symptom), method: :delete, class: "btn btn1 editLink", data: {confirm: "Are you sure?"}  %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to "New", new_admin_configuration_symptom_path %>