	<html>
	<head>

	<style type="text/css">
		body {font-family:Arial, Helvetica, sans-serif; font-size:10;}
		td {font-family:Arial, Helvetica, sans-serif; font-size:10pt}
		h1 {font-family:Arial, Helvetica, sans-serif; font-size:12pt;}
		p {margin: 0;}
		/*.emailImg {float: left; margin-right: 50px;}*/
		.emailHeader {margin-bottom: 10px;}
		.emailWrap {width: 800px;}
		.orderInfo {
			padding: 10px 0;
			margin: 10px 0 10px;
		}
		ol.list li {
			margin: 10px 0;
		}
		.totals {width: 700px;}
		.copyRight {
			border-top: 1px dotted #666;
			font-family: arial,helvetica,sans-serif;
			font-size: 10px;
			height: auto;
			margin: 20px 0 0;
			padding: 10px 0;
			color: #666;
		}
		a, .ii a, a:link, a:visited {
    		color: #53BD80 !important;
		}

	</style>
	
	</head>

	<body style="font-family: Arial,Helvetica, sans-serif; font-size:10pt" class="TEST">
		<div class="emailWrap">
		
	  

<div class="orderInfo">	  
	  <TABLE CELLSPACING="1" CELLPADDING="3" WIDTH="700px" BORDER="0" summary="Customer Information">
		<tr>
			<td>
				<img src="http://hardynutritionals.com/assets/Hardy-Nutritionals-Logo.png" class="emailImg" />
			</td>
			<td colspan="2" align="right">
        <!--
				<h1 style="color: #53BD80; font-size: 20pt; margin-bottom: 0; font-family: 'arial black', arial, sans-serif;">Order Confirmation</h1>
				<div style="margin: 0; padding: 5px; border: 1px solid #000; width: 267px; text-align: center;">
        <p><b>Order ID: <%#= @order.id %></b></p>
				
				</div>
				<p style="font-style: italic; font-size: 13pt; margin: 5px 0; text-align: center; width: 267px;">We appreciate your business!</p>
        -->
			</td>
		</tr>
		<tr>
			<td colspan="3" align="left" style="border-bottom: 3px solid #53BD80; padding-bottom: 20px;">
				<p style="margin-top: 20px;">
					Hello <%= @client.first_name %>,<br/><br/>
					Thank you for creating an account on <a href="www.HardyNutritionals.com" target="_blank">www.HardyNutritionals.com</a>.
					<br/><br/>
					We want you to have optimal results using our formulations. The following resources contain important information that will help:
					<br/><br/>
					<ol class="list">
						<li><b><a href="http://www.hardynutritionals.com/faqs?type_id=4" target="_blank">For BEST Results...</a></b></li>
						<li><b><a href="http://www.hardynutritionals.com/faqs?type_id=10" target="_blank">Gut Health &amp; Nutrient Absorption</a></b></li>
						<li><b><a href="http://www.hardynutritionals.com/faqs?type_id=11" target="_blank">If You're Taking Medications...</a></b></li>
					</ol>
					<a href="http://eepurl.com/YvLjT" target="_blank">Subscribe</a> to our monthly e-newsletter, <em>NutraTalk</em> to keep up to date on the latest published nutritional research on our products, company news, success stories, documentaries, and the newest educational videos we post to our <a href="http://www.hardynutritionals.com/videos" target="_blank">Media Center</a>.
					<br/><br/>
					Follow us on <a href="https://www.facebook.com/nutratekhealth" target="_blank">Facebook</a>, <a href="https://twitter.com/nutratekhealth" target="_blank">Twitter</a>, <a href="http://www.linkedin.com/company/nutratek-health-innovations" target="_blank">LinkedIn</a>.
					<br/><br/>
					If you have any questions, don't hesitate to <a href="http://www.hardynutritionals.com/contact_us" target="_blank">contact us</a>.
				</p>
			</td>
		</tr>
		<tr>
			<td colspan="3" align="left" width="100%" style="border-bottom: 1px solid #53BD80;">
				<h1 style="margin:10px 0;">Account Details</h1>
				<p>Email : <%= @client.email %></p>
				<p>First Name : <%= @client.first_name %></p>
				<p>Last Name : <%= @client.last_name %></p>
				<p>Country: <%= @client.country.name %></p>
				<p style="margin-bottom: 10px;">State: <%= @client.province %></p>
				<p style="margin-bottom: 10px;">Log into <a href="http://www.hardynutritionals.com/clients/sign_in" target="_blank">your account</a> at your convenience to check the status of your orders or update your account information.</p>
			</td>
		</tr>
		<tr>
			<td align="left" style="width: 200px;">
				
				<b style="font-size: 14pt;">Hardy Nutritionals<sup>&trade;</sup></b><br/>
				Toll Free: 1-855-955-1114<br/>
				International: 1-587-271-1114<br/>
				<a href="mailto:orders@hardynutritionals.com">orders@hardynutritionals.com</a><br/>
				<b><a href="http://www.gethardy.com">www.gethardy.com</a></b>

			</td>
			<td align="center"><img src="http://hardynutritionals.com/assets/badge.jpg"/></td>
			<td align="right"><img src="http://hardynutritionals.com/assets/experience.png"/></td>
		</tr>
	</TABLE>
</div>	

	</div> 
</body>	
	</html>








