<div id="autoship">
	<table class="table">
	  <thead>
		<tr>
		  <th>ID</th>
		  <th>Next Order Date</th>
		  <th>Active</th>
		  <th></th>
		</tr>
	  </thead>
	  <tbody>
	  <% @auto_shippings.each do |resource| %>
		<tr  class="<%= cycle('odd', 'even')%>">
		  <td><%= resource.id %></td>
		  <td><%= resource.next_order_date.try(:strftime, "%Y-%m-%d") %></td>
		  <td><%= resource.active %></td>
		  <td class="tableLinks">
			<%#TODO%>
			<% if Rails.env.development? && resource.can_generate_order? %>
			  <%= link_to "Generate Order", generate_order_myaccount_auto_ship_url(resource), method: :post %> |
			  <%= link_to "Test email", generate_order_myaccount_auto_ship_url(resource, test: "email"), method: :post %> |
			<% end %>
			<%= link_to "View", auto_shipping_detail_link(resource) %> | <%= link_to "Delete", auto_shipping_detail_link(resource), method: :delete, confirm: 'Are you sure?' %>
		  </td>
		</tr>
	  <% end %>
	  </tbody>
	</table>

	<%= link_to "New Flexible Autoship Order", new_link, method: :post, class: "btn2" %>
</div>
