<%= stylesheet_link_tag "invoice_print.css", media: "print" %>
<%= link_to "Back to Flexible Autoship Details", auto_shipping_detail_link, class: "backLink" %>

<%= link_to_function("Print this Page", "javascript:print()", title: "Print this Page", class: "printLink") %>
<% auto_shipping = current_auto_ship %>
  <div class="invoice_print_con">
    <div class="orderWapper">
      <div class="orderPrintInfo">
          <div class="lTop">
              HARDY NUTRITIONALS™ C/O NEXPEDITE
              <br />
              2122 S 950 E
              <br />
              <%= "#{ShippingMethod.origin.city}, #{ShippingMethod.origin.state}" %>
              <br />
              <%= ShippingMethod.origin.zip %>
          </div>


          <div class="rTop">
              <%= auto_shipping.shipment.try(:address).try(:name) %>
              <br />
              <%= auto_shipping.shipment.try(:address).try(:address_lines, ' ') %>
              <br />
              <%= "#{auto_shipping.shipment.try(:address).try(:city)}, #{auto_shipping.shipment.try(:address).try(:state)}"  %>
              <br />
              <%= auto_shipping.shipment.try(:address).try(:country).try(:name) %>
              <br />
              <%= auto_shipping.shipment.try(:address).try(:postal_code) %>
          </div>
      </div>
    </div>
    <div class="inforWapper">
      <div class="companyInfo">
        <div class="phoneInfo">
          <p class="phone">Toll-free: 1-855-955-1114 </p>
          <p>Direct: 1-587-271-1114</p>
        </div>
          <img src="/assets/Hardy-Nutritionals-Logo.png"/>
          <p>www.GetHardy.com</p>
          <p>info@GetHardy.com</p>
      </div>
    </div>

    <div class="main">
        <div class="shipmentPrintInfo">
            <div class="col1">
               <%= auto_shipping.shipment.try(:address).try(:name) %>
              <br />
              <%= auto_shipping.shipment.try(:address).try(:address_lines, ' ') %>
              <br />
              <%= "#{auto_shipping.shipment.try(:address).try(:city)}, #{auto_shipping.shipment.try(:address).try(:state)} #{auto_shipping.shipment.try(:address).try(:postal_code)}"  %>
            </div>
            <div class="col1">
              PH: <%= auto_shipping.shipment.try(:address).try(:phone) %>
            </div>
            <div class="col1">
              <%= auto_shipping.shipment.try(:shipping_method).try(:name) %>
              <br />
            </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>PROD</th>
              <th>PRODUCT DESCRIPTION</th>
              <th>QTY</th>
              <th>UNIT PRICE</th>
              <th>DISCOUNT</th>
              <th>PRICE</th>
            </tr>
          </thead>
          <tbody>
            <% auto_shipping.auto_shipping_items_with_promotion.each do |order_item| %>
              <tr>
                <td><%= order_item.product.product_code %></td>
                <td><%= order_item.product.name %></td>
                <td><%= order_item.quantity %></td>
                <td><%= number_to_currency order_item.retail_price, locale: I18n.default_locale %></td>
                <td><%= show_amount(order_item.price - order_item.retail_price) %></td>
                <td><%= number_to_currency order_item.price, locale: I18n.default_locale %></td>
                <td></td>
              </tr>
              
            <% end %>
            <tr>
              <td colspan="5" style="border-top:solid 2px #000">PRODUCT TOTAL  </td>
              <td style="border-top:solid 2px #000"><%= number_to_currency auto_shipping.subtotal, locale: I18n.default_locale %></td>
            </tr>
            <tr>
              <td colspan="5">SHIPPING AND HANDLING </td>
              <td><%= number_to_currency(auto_shipping.handling_charge + auto_shipping.shipping_charge + auto_shipping.shipping_adjustment_charge, locale: I18n.default_locale) %></td>
            </tr>
            <tr>
              <td colspan="5">SUBTOTAL </td>
              <td><%= number_to_currency(auto_shipping.subtotal + auto_shipping.handling_charge + auto_shipping.shipping_charge + auto_shipping.shipping_adjustment_charge, locale: I18n.default_locale)%></td>
            </tr>
            <% if tax = Tax.find_by_province_abbr(auto_shipping.shipment.try(:address).try(:state)) %>
            <tr>
              <td colspan="5"></td>
            </tr>
            <tr>
              <td colspan="5"><%= tax.name %><%= "-#{tax.rate}%" %>  </td>
              <td><%= number_to_currency auto_shipping.tax_charge, locale: I18n.default_locale %></td>
            </tr>
            <% end %>
            <% if auto_shipping.auto_ship_charge != 0 %>
            <tr>
              <td colspan="5">DISCOUNT - Flexible Autoship</td>
              <td><%= show_amount auto_shipping.auto_ship_charge %></td>
            </tr>
            <% end %>

            <% auto_shipping.auto_ship_adjustments.each do |a| %>
              <tr>
                <% if a.note.present? %>
                  <td colspan="5"><%= "#{a.adjustment_type.name.upcase} - #{a.note}" %></td>
                <% else %>
                  <td colspan="5"><%= "#{a.adjustment_type.name.upcase}" %></td>
                <% end %>
                <td><%= show_amount a.amount %></td>
              </tr>
            <% end %>
                        <tr>
              <td colspan="5"  style="border-top:solid 2px #000">TOTAL </td>
              <td style="border-top:solid 2px #000"><%= number_to_currency auto_shipping.total, locale: I18n.default_locale %></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
