
<h3>Flexible Autoship Order</h3>
<%= form_for current_auto_ship, url: auto_shipping_detail_link do |f| %>
  <%= render_cell :app, :error_msg, resource: current_auto_ship %>
  <div class="row">
	<h4>Products</h4>
 	<div class="autoTotal">	
 		<%= link_to 'View Invoice', invoice_link %>
  		<p>Discounts/Promotions: <span><%= number_to_currency(current_auto_ship.other_charge, locale: I18n.default_locale) %></span></p>
	  	<h3><label>Order Total:</label><span class="textHighlighting"><%= "#{current_auto_ship.client.currency!.name} #{number_to_currency current_auto_ship.total, locale: I18n.default_locale}" %></span></h3>
	</div>
	  <div class="autoShippingTable" id="autoProducts">
		<% if current_auto_ship.auto_shipping_items.any? %>
		<%= render 'shared/auto_ship/order_items/list_detail' %>
		<% end %>
	  </div>
	  <p><%= link_to "Add/Edit Products", order_items_link, class: 'btn2 flBtn' %></p>
  </div>
  <% if back_end %>
    <div class="row">
	<h4>Adjustments</h4>
      <div>
        <%= render "admin/auto_ship/auto_ship_adjustments/list", collection: current_auto_ship.auto_ship_adjustments %>
      </div>
      <p><%= link_to "Adjust Order", new_admin_client_auto_ship_auto_ship_adjustment_url(current_auto_ship.client, current_auto_ship), class: 'btn2 flBtn' %></p>
    </div>
  <% end %>
  <div class="row">
	<h4>Shipping Address</h4>
	<div id="autoAddress">
	  <%= f.hidden_field :address_id %>
	  <% if current_auto_ship.address_id %>
		<%= render 'shared/compact_address', shopping_address: current_auto_ship.address %>
	  <% end %>
	 <p> <%= link_to "Add/Edit Address", address_link, class: "btn2 flBtn" %></p>

	</div>
  </div>
  <div class="row">
	<h4>Shipping Details</h4>
	<%= f.hidden_field :shipping_method_id %>
	<div id="autoShipping">
	  <% if current_auto_ship.address_id %>
		<% if current_auto_ship.shipping_method_id %>
			<p><%= current_auto_ship.shipping_method.name %>
			<%#= " (#{number_to_currency ShippingMethod.rate(current_auto_ship) + current_auto_ship.shipping_adjustment_charge + current_auto_ship.handling_charge, locale: I18n.default_locale})" %>
			<%= " (#{number_to_currency current_auto_ship.shipping_handling_charge, locale: I18n.default_locale})" %></p>
      </p>
		  </p>
		<% end -%>
		<p><%= link_to "Select/Change Shipping Method", shipping_method_link, class: 'btn2 flBtn' %></p>
	  <% else %>
		<span>Please select a shipping address first</span>
	  <% end -%>
	</div>
  </div>
  <div class="row">
	<h4>Payment</h4>
	  <% if current_auto_ship.address_id %>
	  	<div id="autoPay">
			<% if current_auto_ship.payment_profile %>
				<p>Use Payment Profile(Credit card ending with <%= current_auto_ship.payment_profile.last_digits %>)<p>
			<% end %>
			<p><%= link_to 'Add/Edit Payment Profile', payment_profile_link, class: 'btn2 flBtn' %></p>
		</div>
	  <% else %>
		<span>Please select a shipping address first</span>
	<% end %>
  </div>
  <div class="row">
	<h4>Flexible Autoship Interval</h4>
	<div id="autoInterval">
	  <div class="field">
		<label for="auto_shipping_email">Send email reminder to:</label>
		<%= f.text_field :email, placeholder: "email@example.com" %>
		<p>(we'll send the email 48 hours before your order ships)</p>
	  </div>
	  <div class="field">
		<%= f.label :next_order_date %>
		<%= f.date_select :next_order_date, { start_year: Date.today.year }, class: "selectbox" %>
	  </div>
	  <div class="field">
		<%= f.label :interval, "Interval (Days)" %>
		<%= f.select :interval, (1..120).to_a, {}, class: "selectbox" %>
	  </div>
	  <div class="field">
		<%= f.label :active %>
		<%= f.check_box :active %>
	  </div>
	</div>
  </div>
  <%# if current_auto_ship.auto_shipping_items.any? && current_auto_ship.shipping_method %>
	<div class="orderTotal autoShippingTotal">
	  <p>Item Total:  <span><%= number_to_currency(current_auto_ship.subtotal, locale: I18n.default_locale) %></span></p>
	  <p>Shipping:  <span><%= number_to_currency(current_auto_ship.shipping_handling_charge, locale: I18n.default_locale) %></span></p>
	  <p>Tax: <span><%= number_to_currency(current_auto_ship.tax_charge, locale: I18n.default_locale) %></span></p>
	  <p>Discounts: <span><%= number_to_currency(current_auto_ship.other_charge, locale: I18n.default_locale) %></span></p>
	  <h3><label>Order Total:</label><span class="textHighlighting"><%= "#{current_auto_ship.client.currency!.name} #{number_to_currency current_auto_ship.total, locale: I18n.default_locale}" %></span></h3>
	</div>
  <%# end -%>

  <%= f.submit "Save", class:"btn2 flBtn" %>
<% end -%>
