<%= form_for [:admin, resource] do |f| %>
	<h1>Create/Edit Referral Code</h1>
  <%= render_cell :app, :error_msg, resource: resource %>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :discount %>
    <%= f.text_field :discount %>
  </div>

  <div class="field">
    <%= f.label :percentage %>
    <%= f.check_box :percentage %>
  </div>

  <div class="field">
    <%= f.label :need_licence %>
    <%= f.check_box :need_licence %>
  </div>

  <div class="field">
    <%= f.label :support_user_id %>
    <%= f.select :support_user_id, @support_users.map{|s| [s.first_last_name, s.id]}, { include_blank: 'select support user'}, class: "selectbox" %>
  </div>

  <div class="field">
    <%= f.label :pricing_type_id %>
    <%= f.select :pricing_type_id, @pricing_types.map{|p| [p.name, p.id]}, { include_blank: 'select pricing type'}, class: "selectbox" %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, { start_year: Time.zone.now.year, end_year: Time.zone.now.year + 5, prompt: { year: "select year", month: "select month", day: "select day" } }, class: "selectbox" %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date, { start_year: Time.zone.now.year, end_year: Time.zone.now.year + 5, prompt: { year: "select year", month: "select month", day: "select day" } }, class: "selectbox" %>
  </div>

  <div class="field">
    <%= f.label :number_of_times %>
    <%= f.text_field :number_of_times %>
  </div>
  Product Promotions
  <div>
    <%= hidden_field_tag "referral_code[product_promotion_ids][]", "" %>
    <% @product_promotions.each do |l| %>
      <%= check_box_tag "referral_code[product_promotion_ids][]", l.id, f.object.product_promotions.include?(l), id: "product_promotion_ids_#{l.id}" %>
      <%= label_tag "product_promotion_ids_#{l.id}", class: "symptomsLabels" do %>
        <%= l.name %>
      <% end %>
      <br />
    <% end %>
  </div>

  <div>
    <%= f.submit class: "btn2 flBtn" %>
  </div>
<%end%>
