<div id="wrapper" class="static checkout">
  <%= render 'layouts/nav'%>
  <div class="logUpPage">
    <div class="loginUpCont">
      <%= render_cell :app, :error_msg, msg: [flash[:notice], flash[:alert]] %>

      <% if @client.receive_update? %>
        <p>Thank you for signing up for our monthly e-newsletter, <i>NutraTalk!</i> As soon as you open the email we just sent you (entitled: 'Hardy Nutritionals NutraTalk Newsletter') and confirm your subscription, your name will automatically be entered into our monthly draw for a chance to win 1 FREE bottle of <i>Daily Essential Nutrients</i>, which we will include in your next order (retail value: $129.95). We think you’ll be glad you signed up! </p>
        <p>If you do not receive our confirmation email within a few minutes, please check your Junk or Spam folders. To prevent future emails from Hardy Nutritionals from going to your Junk or Spam folders, please add us to your Safe Senders List.  If you need additional support, please give us a call at: 1-855-955-1110.</p>

        <%= link_to 'Continue', root_url, class: "btn2" %>
        <%= link_to 'Shopping Cart', shopping_cart_url, class: "btn2" %>
      <% else %>
          <p>Individuals that subscribe to our monthly e-newsletter, <i>NutraTalk</i>, are automatically entered into our monthly draw for a chance to win 1 FREE bottle of <i>Daily Essential Nutrients</i>, which we will include in their next order (retail value: $129.95). You can unsubscribe from <i>NutraTalk</i> at any time. Are you sure you don’t want to subscribe?</p>
        <%= form_for @client, url: client_newletter_url do |f| %>
          <%= render_cell :app, :error_msg, resource: @client %>
        <% if @client.email.blank?  %>
          <div>
          <%= f.label :email %>
          <%= f.text_field :email, :autofocus => true %>
        </div>
        <% end %>
        <div class="field">
          <%= f.check_box :receive_update %>
          <%= f.label :receive_update, "I’d like to receive research updates and special offers. Sign me up for Hardy Nutritionals™ monthly e-newsletter, NutraTalk." %>
        </div>
        <div>
          <%= f.submit "Subscribe", class: "btn2 flBtn" %>
        </div>
      <% end %>
       <%= link_to 'Go to shopping cart without subscribing', shopping_cart_url, class: "noSignup" %>
       <%= link_to 'Continue without subscribing', root_url, class: "noSignup" %>
      <% end %>
      </div>
    </div>

  <%= render 'layouts/footer' %>
</div>
