<div class="progressNav">
  <ul class="checkoutNav">
    <li><span></span><%= link_to_unless @state_index < 1, "1. OVERVIEW", shopping_cart_url %></li>
    <li><span></span><%= link_to_unless @state_index < 2, "2. ADDRESS", shopping_addresses_url %></li>
    <li><span></span><%= link_to_unless @state_index < 3, "3. DELIVERY", shopping_shipping_methods_url %></li>
    <li><span></span><%= link_to_unless @state_index < 4, "4. PAYMENT", shopping_payment_url %></li>
    <li><span></span><%= link_to_unless @state_index < 5, "5. FEEDBACK", "javascript:void(0)" %></li>
  </ul>
  <div class="progressBar">
    <ul>
      <li class="<%= "active" if @state_index >= 0 %> progress1"></li>
      <li class="<%= "active" if @state_index >= 1 %> progress2"></li>
      <li class="<%= "active" if @state_index >= 2 %> progress3"></li>
      <li class="<%= "active" if @state_index >= 3 %> progress4"></li>
      <li class="<%= "active" if @state_index >= 4 %> progress5"></li>
    </ul>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $('.checkoutNav > li:eq(<%= @state_index %>)').addClass('active')
  $('.checkoutNav > li:eq(<%= @state_index %>) > span').addClass('status')
</script>
