<% order.package_number.times.each do |n| %>
  <div class="invoice_print_con">
    <div class="orderWapper">
      <div class="orderPrintInfo">
          <div class="lTop">
              HARDY NUTRITIONALS™ C/O NEXPEDITE
              <br />
              2122 S 950 E
              <br />
              <%= "#{ShippingMethod.origin.city}, #{ShippingMethod.origin.state}" %>
              <br />
              <%= ShippingMethod.origin.zip %>
          </div>


          <div class="rTop">
              <%= order.shipment.try(:address).try(:name) %>
              <br />
              <%= order.shipment.try(:address).try(:address_lines, ' ') %>
              <br />
              <%= "#{order.shipment.try(:address).try(:city)}, #{order.shipment.try(:address).try(:state)}"  %>
              <br />
              <%= order.shipment.try(:address).try(:country).try(:name) %>
              <br />
              <%= order.shipment.try(:address).try(:postal_code) %>
          </div>

          <div class="bottom">
            <% if order.shipment.try(:address).try(:country).try(:abbr) == "CA" && !order.shipment.try(:pickup?) %>
            <div id="barcode" class="barcode" data-id=<%= "#{order.id}-#{n+1}" %>></div>
            <% else %>
            <div id="barcode" class="barcode" data-id=<%= order.id %>></div>
            <% end %>
              <!--<div class="attn">ATTN: <%= order.shipment.try(:address).try(:name) %></div>-->
          </div>
      </div>
    </div>
    <div class="inforWapper">
      <div class="companyInfo">
        <div class="phoneInfo">
          <p class="phone">Toll-free: 1-855-955-1114 </p>
          <p>Direct: 1-587-271-1114</p>
        </div>
          <img src="/assets/Hardy-Nutritionals-Logo.png"/>
          <p>www.GetHardy.com</p>
          <p>info@GetHardy.com</p>
      </div>
    </div>

    <div class="main">
        <div class="shipmentPrintInfo">
            <div class="col1">
               <%= order.shipment.try(:address).try(:name) %>
              <br />
              <%= order.shipment.try(:address).try(:address_lines, ' ') %>
              <br />
              <%= "#{order.shipment.try(:address).try(:city)}, #{order.shipment.try(:address).try(:state)} #{order.shipment.try(:address).try(:postal_code)}"  %>
            </div>
            <div class="col1">
              PH: <%= order.shipment.try(:address).try(:phone) %>
              <br />
              <%= order.completed_at.try(:strftime, "%d %^B %Y") %>
            </div>
            <div class="col1">
              <%= order.shipment.try(:shipping_method).try(:name) %>
              <br />
              ORDER: <%= order.id %>
            </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>PROD</th>
              <th>PRODUCT DESCRIPTION</th>
              <th>QTY</th>
              <th>UNIT PRICE</th>
              <th>DISCOUNT</th>
              <th>PRICE</th>
            </tr>
          </thead>
          <tbody>
            <% order.order_items.each do |order_item| %>
              <tr>
                <td><%= order_item.product.product_code %></td>
                <td><%= order_item.product.name %></td>
                <td><%= order_item.quantity %></td>
                <td><%= number_to_currency order_item.retail_price, locale: I18n.default_locale %></td>
                <td><%= show_amount(order_item.price - order_item.retail_price) %></td>
                <td><%= number_to_currency order_item.price, locale: I18n.default_locale %></td>
                <td></td>
              </tr>
              
            <% end %>
            <tr>
              <td colspan="5" style="border-top:solid 2px #000">PRODUCT TOTAL  </td>
              <td style="border-top:solid 2px #000"><%= number_to_currency order.order_items.sum(&:total), locale: I18n.default_locale %></td>
            </tr>
            <tr>
              <td colspan="5">SHIPPING AND HANDLING </td>
              <td><%= number_to_currency(order.db_handling_charge + order.db_shipping_charge + order.db_shipping_adjustment_charge, locale: I18n.default_locale) %></td>
            </tr>
            <tr>
              <td colspan="5">SUBTOTAL </td>
              <td><%= number_to_currency(order.order_items.sum(&:total) + order.db_handling_charge + order.db_shipping_charge + order.db_shipping_adjustment_charge, locale: I18n.default_locale)%></td>
            </tr>
            <% if tax = Tax.find_by_province_abbr(order.shipment.try(:address).try(:state)) %>
            <tr>
              <td colspan="5"></td>
            </tr>
            <tr>
              <td colspan="5"><%= tax.name %><%= "-#{tax.rate}%" %>  </td>
              <td><%= number_to_currency order.db_tax_charge, locale: I18n.default_locale %></td>
            </tr>
            <% end %>
            <% order.order_adjustments.other_adjustments.each do |a| %>
              <tr>
                <% if a.note.present? %>
                  <td colspan="5"><%= "#{a.adjustment_type.name.upcase} - #{a.note}" %></td>
                <% else %>
                  <td colspan="5"><%= "#{a.adjustment_type.name.upcase}" %></td>
                <% end %>
                <td><%= show_amount a.amount %></td>
              </tr>
            <% end %>
            <tr>
              <td colspan="5"  style="border-top:solid 2px #000">TOTAL </td>
              <td style="border-top:solid 2px #000"><%= number_to_currency order.total, locale: I18n.default_locale %></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
<% end %>
