<%= stylesheet_link_tag "invoice_print.css", media: "print" %>

<%= render "admin/orders/nav", order: @order %>
<%= link_to_function("Print this Page", "javascript:print()", title: "Print this Page", class: "printLink") %>

<%= render 'detail', order: @order %>
