<div>
<% Currency.order("id").each do |c| %>
  <%= c.name %>
<br />
  <% end %>
</div>
<% f.object.product_pricing_types.sort_by(&:pricing_type_id).each do |product_pricing_type| %>
  <%= f.fields_for :product_pricing_types, product_pricing_type do |p| %>
    <%= p.hidden_field :pricing_type_id %>
  <div class="product_prices">
  <%= p.check_box :available, class: "price_available" %><%= p.object.pricing_type.name %>
  <br />
  <% p.object.product_prices.sort_by(&:currency_id).each do |product_price| %>
    <%= p.fields_for :product_prices, product_price do |s| %>
    <% if f.object.class == Product %>
    <%= s.text_field :price, id: "#{s.object.currency.name}_#{p.object.pricing_type.name.urlize}", class: "price_field", readonly: !p.object.available? %>
<% else %>
    <%= s.text_field :price, class: "price_field caselot_price", data: { target: "#{s.object.currency.name}_#{p.object.pricing_type.name.urlize}"}, readonly: !p.object.available?  %>
<% end %>
  <%= s.hidden_field :currency_id %>
<% end %>
  <br />
<% end %>
</div>
<% end %>
<% end %>
<% unless f.object.class == Product %>
<div class="countField">
Make <input type="text" class="count_number">% of product prices <span class="count_operate btn1">Apply</span>
  </div>
<% end %>

