<table class="table">
  <thead>
    <tr>
      <th></th>
      <% obj.product_pricing_types.sort_by(&:pricing_type_id).each do |product_pricing_type| %>
        <%= f.fields_for :product_pricing_types, product_pricing_type do |p| %>
          <th><%= p.object.pricing_type.name %></th>
        <% end %>
      <% end %>
    </tr>
    <tr>
      <th>Activate</th>
      <%# obj.product_pricing_types.sort_by(&:pricing_type_id).each do |product_pricing_type| %>
      <% obj.product_pricing_types.sort_by(&:pricing_type_id).each_with_index do |product_pricing_type, p_i| %>
        <%= f.fields_for :product_pricing_types, product_pricing_type, child_index: p_i do |p| %>
          <%= p.hidden_field :pricing_type_id %>
          <th><%= p.check_box :available, class: "price_available", id: p.object.pricing_type.id %></th>
        <% end %>
      <% end %>
    </tr>
    <tr>
      <th>Show</th>
      <%# obj.product_pricing_types.sort_by(&:pricing_type_id).each do |product_pricing_type| %>
      <% obj.product_pricing_types.sort_by(&:pricing_type_id).each_with_index do |product_pricing_type, p_i| %>
        <%= f.fields_for :product_pricing_types, product_pricing_type, child_index: p_i do |p| %>
          <th><%= p.check_box :show %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @currencies.each_with_index do |currency, c_i| %>
      <tr class="<%= cycle('odd', 'even')%>">
        <td><%= currency.name %></td>
        <% obj.product_pricing_types.sort_by(&:pricing_type_id).each_with_index do |product_pricing_type, p_i| %>
          <td>
            <%= f.fields_for :product_pricing_types, product_pricing_type, child_index: p_i do |p| %>
              <%= p.fields_for :product_prices, product_pricing_type.product_prices.detect{|p| p.currency == currency }, child_index: c_i do |s| %>
                <% if f.object.class == Product %>
                  <%= s.text_field :price, id: "#{currency.name}_#{p.object.pricing_type.name.urlize}", class: "price_field price_field_#{p.object.pricing_type.id}", readonly: !p.object.available? %>
                <% else %>
                  <%= s.text_field :price, class: "price_field price_field_#{p.object.pricing_type.id} caselot_price", data: { target: "#{currency.name}_#{p.object.pricing_type.name.urlize}"}, readonly: !p.object.available?  %>
                <% end %>
                  <%= s.hidden_field :currency_id %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% unless f.object.class == Product %>
	<div class="countField">
	  	Make <input type="text" class="count_number">% of product prices <span class="count_operate btn1">Apply</span>
	</div>
<% end %>
<br />
