<%= form_tag collection_url do %>
  <%= select_tag :abbr, options_for_select(@can_select_languages.map{|l| [l.name, l.abbr] }), class: "selectbox" %>
  <%= submit_tag "Add New Language", class: "btn1" %>
<% end %>
<br />
<table class="table">
  <thead>
    <tr>
    <%= sortable resource_class, 'name'%>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |resource| %>
      <tr class="<%= cycle('odd', 'even')%>">
    <td><%= resource.name %></td>
        <td class="tableLinks">
          <%= link_to "delete", resource_url(resource), class: "btn  btn1 editLink", method: :delete, confirm: 'Are you sure?' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate collection %>
