<div class="staticPage" id="videoPage">
	<div class="aboutCont">
		<h2><%= resource.title %></h2>
        <div class="productDetailVideo">
          	<% if resource.embed_link.blank? %>
            	No Video Avaliable
          	<% else %>
              <iframe id="video_video" width="420" height="315" src="//www.youtube.com/embed/<%= resource.embed_link %>?rel=0&vq=large&wmode=transparent&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
            	<!--<object width="420" height="315"><param name="movie" value="//www.youtube.com/v/<%= resource.embed_link %>?version=3&amp;hl=en_US&amp;rel=0&vq=large"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed wmode="opaque" src="//www.youtube.com/v/<%= resource.embed_link %>?version=3&amp;hl=en_US&amp;rel=0&vq=large" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object>-->
          	<% end %>
      	</div>
		<section>
			<article>
				<div class="textBlock">
					<p><%= raw resource.description %></p>				
				</div>
			</article>
		</section>
	</div>
	<aside>
		<div class="relatedLinks">
			<p>RELATED LINKS</p>
        	<% resource.related[0..9].each do |video| %>
          		<%= link_to video.title, video %>
          		<br />
        	<% end %>

          <% if resource.related[10..-1].present? %>
              <%= link_to 'Show More', 'javascript:void(0)', class: "btn1 show_more_link" %>

        	<% resource.related[10..-1].each do |video| %>
          		<%= link_to video.title, video, class: "show_more_content" %>
          		<br />
          <% end %>
          <% end %>
		</div>
		<div class="relatedTags">
        	<% if first_disorder =  resource.disorders.shift%>
          		<p>RELATED TAGS</p>
              <%= link_to first_disorder.name, videos_url(q: { video_disorders_disorder_id_eq: first_disorder.id }), data: { event_label: first_disorder.name } %>
          		<% resource.disorders.each do |disorder| %>
                <%= link_to ", #{disorder.name}", videos_url(q: { video_disorders_disorder_id_eq: disorder.id }), data: { event_label: disorder.name } %>
          		<% end -%>
        	<% end %>
		</div>
	</aside>
</div>

