<script src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript" charset="utf-8">
function onYouTubeIframeAPIReady() {
  new YT.Player('video_video', {
    events: {
      'onStateChange': onPlayerStateChange
    }
  });
}
function onPlayerStateChange(event) {
  if(event.data == YT.PlayerState.PLAYING){
    ga('send', 'event', "Video Detail Page", "click", "<%= @video.title %> - Video");
  }
}

$(function(){
  $("a.left").click(function(){
    ga('send', 'event', "Video Detail Page", "click", "<%= @video.title %> - previous");
  });

  $("a.right").click(function(){
    ga('send', 'event', "Video Detail Page", "click", "<%= @video.title%> - next");
  });

  $('.breadcrumb').click(function(){
    ga('send', 'event', "Video Detail Page", "click", "<%= @video.title%> - " + $(this).text());
  });

  $(".relatedLinks a").click(function(){
    ga('send', 'event', "Video Detail Page", "click", "<%= @video.title %> - RELATED LINKS - " + $(this).text());
  });

  $(".relatedTags a").click(function(){
    ga('send', 'event', "Video Detail Page", "click", "<%= @video.title %> - RELATED TAGS - " + $(this).data("event-label"));
  });

  $('.aboutCont .textBlock a').click(function(){
    ga('send', 'event', "Video Detail Page", "click", "<%= @video.title %> - DESCRIPTION - " + $(this).text());
  });

})
</script>
