	<div class="productGallery">
<div id="video-list" class="products">
  <% @videos.each do |video| %>
    <div class="product">
    <div class="col1 non-hoverBox" tips-data="WATCH VIDEO">
      	<!--<div class="hover">
        	<div class="toolTip"><span class="arrow"></span>WATCH VIDEO</div>
        	<%#= link_to(video) do %>
        	<%# end -%>
      	</div>-->
        <%= link_to(video, data: { event_label: video.title }) do %>
        	<%= image_tag video.image_url(:medium), alt: video.image_alt %>
    	<% end -%>
      <div>
        <h2><%= link_to video.title, video %></h2>
        <%= link_to "WATCH VIDEO", video, class: "btn2 fullTextBtn showMob" %>


      </div>
    </div>
  </div>
<% end %>
</div>
</div>
<%= paginate @videos %>
