<div id="wrapper" class="static">
  <%= render 'layouts/nav'%>
	<div class="topNavFilters">
		<div class="iconCon">
			<div class="iconBg active"><a href="javascript:;" class="grid"></a></div>
      <% if @disorders.any? %>
			  <div class="iconBg"><a href="javascript:;" class="symptoms"></a></div>
      <% end %>
		</div>

    <p><%= link_to "I'm looking for videos about ...", "javascript:void(0);", class: "symptoms" %></p>
		<div class="symptomTags">
    <% @disorders.each do |disorder| %>
      <%= link_to disorder.name, videos_url(q: params_q.merge!(video_disorders_disorder_id_eq: disorder.id)), class: video_disorder_class(disorder), data: { base_route: "/videos" } %>
    <% end -%>
		</div>
	</div>
   <%= render partial: "video_list" %>
  <%= render 'layouts/footer' %>
</div>

 <script type="text/javascript">
   $('.grid').click({})
   <% if session[:video_disorder_ids].present? %>
		$(".symptomTags").show();
   <% end -%>
 </script>

<%= content_for :title, @seo.title %>
<%= content_for :keywords, @seo.keywords %>
<%= content_for :description, @seo.description %>

<%= render "index_ga" %>
