<div id="wrapper" class="static">
  <%= render 'layouts/nav'%>
	<div class="topNavFilters">
		<div class="pageTurning">
      <a href="<%= video_url(@video.prev) %>" class="left"><span></span>previous</a>
      <a href="<%= video_url(@video.next) %>" class="right">next<span></span></a>
		</div>
		<div class="iconCon">
			<div class="iconBg"><a href="/videos" class="grid"></a></div>
			<div class="iconBg active"><a href="javascript:;" class="Vector"></a></div>
		</div>
		<p><%= link_to "Media Center", videos_url, class: "breadcrumb" %> // <span class="textHighlighting"><%= @video.title %></span></p>
	</div>
  <%= render 'videos/detail', resource: @video %>
	  <%= render 'layouts/footer' %>
</div>

<%= content_for :title, @video.seo_title %>
<%= content_for :keywords, ("#{@video.seo_keywords}, " || "") + @video.disorders.map(&:name).join(", ") %>
<%= content_for :description, @video.seo_description %>

<%= render 'show_ga' %>
