<p><%= shopping_address.name %></p>
<p><%= raw shopping_address.address_lines('<br/>') %></p>
<p><%= "#{shopping_address.city}, #{shopping_address.state}" %></p>
<p><%= "#{shopping_address.postal_code}, #{shopping_address.country.name}" %></p>
<p><%= "#{shopping_address.phone}" %></p>
