<%= form_for @payment_new_form, url: url do |f| %>
  <%= render_cell :app, :error_msg, resource: [@payment_new_form.payment, @payment_new_form.address, @payment_new_form.credit_card] %>
  <% if f.object.back_end %>
    <%= f.fields_for :payment, f.object.payment do |s| %>
      Amount: <%= s.text_field :amount %>
      <br />
      Payment Type: <%= s.select :payment_type_id, @payment_types.map{|t| [t.name, t.id ]} %>
      <br />
      <div class="received_field">
        <%= s.check_box :received %> Received?
      </div>

      Currency: <%= f.object.order.currency.name %>
      <div class="field">
        <%= s.label :note %>
        <%= s.text_area :note, rows: 4 %>
      </div>
    <% end %>
  <% end %>
  <br />

  <%# if f.object.order.has_payment_profile? %>
    <div class="payment_profile_form field">
      <% @payment_profiles.each do |p| %>
      	<div class="pay-profile">
			<%= f.radio_button :payment_profile_id, p.id %>
			<span>Use <%= "Credit Card ending with #{p.card_method}" %></span>
			<%= link_to "[x] Delete Credit Card", delete_payment_profile_url(p), confirm: 'Are you sure?', method: :delete %>
		</div>
      <% end %>
      	<div class="pay-profile">
			<%= f.radio_button :payment_profile_id, "" %>
			<span>New Credit Card</span>
		</div>
    </div>
  <%# end %>
  <div class="payment_form">
    <div class="field">
      <%= f.check_box :use_shipping_address %>
      <span>Use Shipping Address</span>
    </div>
    <div class="billing_address_form" style=<%= f.object.use_shipping_address ? "display:none" : "" %>>
      <%= f.fields_for :address, f.object.address do |s| %>
      <div class="field">
        <%= s.label :address1 %>
        <%= s.text_field :address1 %>
      </div>
      <div class="field">
        <%= s.label :address2 %>
        <%= s.text_field :address2 %>
      </div>
      <div class="field">
        <%= s.label :country, "Country", :class => "inlineLabel"  %>
        <%= s.select(:country_id, @countries, {}, id: "payment_address_country_id", class: "selectbox") %>
      </div>
      <div class="field">
        <%= s.label :city %>
        <%= s.text_field :city %>
      </div>
      <div class="field">
        <%= s.label :state, "State/Province", :class => "inlineLabel" %>
        <div id="state-field">
          <% if @provinces.present? %>
            <%= s.select :state, @provinces.map{|p| [p.name, p.abbr]}, { prompt: "select state/province" }, class: "selectbox" %>
          <% else %>
            <%= s.text_field :state %>
          <% end -%>
        </div>
      </div>
      <div class="field">
        <%= s.label :postal_code, "Postal Code / Zip" %>
        <%= s.text_field :postal_code %>
      </div>
      <div class="field">
        <%= s.label "Phone" %>
        <%= s.text_field :phone %>
      </div>
      <% end %>
    </div>

    <div class="shipping_address_detail" style=<%= f.object.use_shipping_address ? "" : "display:none" %>>
      <%= f.object.order.shipment.address.address1 %>
    <br />
      <%= f.object.order.shipment.address.address2 %>
    <br />
      <%= f.object.order.shipment.address.city %>
    <br />
      <%= f.object.order.shipment.address.state %>
    <br />
      <%= f.object.order.shipment.address.country.name %>
    <br />
      Postal Code / Zip<%= f.object.order.shipment.address.postal_code %>
    <br />
      Phone <%= f.object.order.shipment.address.phone %>
    <br />
    </div>

    <div class="credit_card_form">
      <img src="/assets/creditcards.png" width="300"/>
      <%= f.fields_for :credit_card, f.object.credit_card do |s| %>
        <div class="field">
          <%= s.label :first_name, 'First Name' %>
          <%= s.text_field :first_name %>
        </div>

        <div class="field">
          <%= s.label :last_name, 'Last Name' %>
          <%= s.text_field :last_name %>
        </div>

        <div class="field">
          <%= s.label :number, 'Card Number'%>
          <%= s.text_field :number %>
        </div>

        <div class="field">
          <%= s.label :verification_value, 'VCC'%>
          <%= s.text_field :verification_value %>
        </div>

        <div class="field" style="margin-bottom: 100px;">
          <%= s.label :expiration, 'Expiration', :class => "inlineLabel" %>
          <%= s.select :year, (Time.zone.now.year..(Time.zone.now.year + 10)).to_a, {}, class: "selectbox" %>
          <%= s.select :month, (1..12).to_a, {}, class: "selectbox" %>
        </div>
        <div class="field">
          &nbsp;
        </div>
      <% end %>
    </div>
  </div>
  <%= submit_tag 'Submit Payment', :class => 'button success btn2' %>
  <% if f.object.back_end %>
    <%= submit_tag 'Temporary Save', :class => 'button success btn2', name: "save_params" %>
  <% end %>
<% end %>
