<div class="shippingAddress">
  <div class="savedAddress">
    <div>
      <% addresses.each do |a| %>
        <%= render partial: '/shared/compact_address', locals: {shopping_address: a} %>
        <br />
        <% unless order.canceled?  %>
          <% if scene == 1  %>
          <%= link_to 'Use', select_shopping_address_path(a), :method => :put, class: "btn1 address_use_link" %>
        <%= link_to 'Delete', a, data: { confirm: 'Are you sure?' }, method: :delete, class: "btn1" %>
      <% elsif scene == 2 %>
          <%= link_to 'Use', select_admin_order_address_url(order, a), method: :put, class: "btn1" %>
        <%= link_to 'Delete', admin_order_address_path(order, a), data: { confirm: 'Are you sure?' }, method: :delete, class: "btn1" %>
        <% else %>
          <%= link_to 'Use', use_address_link(a), method: :put, class: "btn1" %>
        <%= link_to 'Delete', a, data: { confirm: 'Are you sure?' }, method: :delete, class: "btn1" %>
      <% end %>
      <% end %>
        <br />
        <br />
        <!-- <hr style='color:#aac'/>-->
      <% end %>
      </div>
    </div>
        <% unless order.canceled?  %>
    <%= render 'shared/shipping_address_form', client: order.client, address: address, url: url %>
    <% end %>
  </div>
