<%= form_for address, url: url do |f| %>
  <%= render_cell :app, :error_msg, resource: address %>
  <div class="field">
    <% if client.first_last_name.blank? %>
      <%= f.label :name %>
    <% else %>
      <%= f.label :name, "Name (If recipient is not #{client.first_last_name})" %>
    <% end -%>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :country_id, "Country", class: "inlineLabel" %>
    <%= f.select :country_id, options_from_collection_for_select(@countries, :id, :name, f.object.country_id),{}, :class => 'selectbox' %>
  </div>
  <div class="field">
    <%= f.label :address1 %>
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %>
    <%= f.text_field :address2 %>
  </div>
  <div class="field">	
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state, "State/Province", class: "inlineLabel" %>
    <div id="state-field">
      <% if @provinces.present? %>
        <%= select_tag "address[state]", options_from_collection_for_select(@provinces, :abbr, :name, f.object.state), prompt: "select state/province", class: "selectbox" %>
      <% else %>
        <%= f.text_field :state %>
      <% end -%>
    </div>
  </div>
  <div class="field">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div>
    <%= f.submit 'Submit', :class => 'button btn2' %>
  </div>
<% end %>
