<%= form_tag url, method: :put do -%>
  <% shipping_methods.each do |shipping_method| %>
    <div class="field">
      <%= radio_button_tag 'shipping_method_id', shipping_method.id, shipping_method.id == order.shipping_method.try(:id) %>
      <label class="inlineLabel">
        <%= "#{shipping_method.name!} #{shipping_method_amount_message(@shipment, shipping_method)} #{shipping_method.subtitle}" %>
      </label>
    </div>
  <% end %>
  <div class="field">
    <%= submit_tag 'CONTINUE', class: 'btn2' %>
  </div>
<% end -%>
