 <section class="modal--show" id="modal-show" tabindex="-1" role="dialog" aria-labelledby="label-show" aria-hidden="true">

      <div class="modal-inner">
        <header>
          <h2 id="label-show">Preview</h2>
        </header>

        <div class="modal-content">
          loading...
        </div>

        <footer>
          <a href="#!" data-dismiss="modal" data-close="Close" data-form-save>Save</a>
          <a href="#!" data-dismiss="modal" data-close="Close">Cancel</a>
        </footer>
      </div>

      <a href="#!" class="modal-close" title="Close this modal" data-dismiss="modal" data-close="Close">&times;</a>
    </section>
