<div id="images">
  <div>
    <span class="fileinput-button btn2 flBtn">
      <span><%= "Add #{column.titleize}" %></span>
      <%= f.file_field column.to_sym, class: "#{table}_#{column}_upload" %>
    </span>
  </div>
  <ul id=<%="#{table}_#{column}_list"%> class="sort prodImages">
    <% unless f.object.send("#{column}_url") == f.object.send(column).default_url %>
      <li class="file_container">
      <div class="file_name"><%= f.object.send("#{column}_name") %></div>
    <div><div class="progress"><div class="bar"></div></div></div>
    <div class="operate_buttons">
      <%= link_to 'Delete', "javascript:void(0)", class: "delete_file btn2 flBtn" %>
      <%= f.hidden_field "remove_#{column}".to_sym, class: "delete_value" %>
      <%= f.hidden_field "#{column}_cache".to_sym %>
    </div>
    </li>
    <% end %>
  </ul>
</div>
<script id=<%="#{table}_#{column}_upload_template"%> type="text/x-tmpl">
<li class="file_container">
<div class="file_name">{%=o.name%}</div>
<div><div class="progress"><div class="bar"></div></div></div>
<div class="operate_buttons"><a href="javascript:void(0)" class="cancel_file btn2 flBtn">Cancel</a></div>
  </li>
</script>
