<%= render 'form' %>
<p class="pLink">
<% if current_support_user.can_delete?(resource) %>
  <%= link_to "Delete", resource_url(resource), confirm: 'Are you sure?', method: :delete %> |
<% end %>

  <%= link_to "View All", collection_url %> |
  <%= link_to "Login as Client", impersonate_admin_client_path(resource), method: :post, target: "_blank" %>
  <% if params[:controller] == "admin/clients" && session[:location_report_url] %>
  | <%= link_to "Back to Report", back_to_admin_report_locations_url %>
  <% end %>
</p>
