<%= form_for [:admin, :configuration, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>
	  <div class="field">
	  	<%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </div>
	  	  
	  <div>
	    <%= f.submit class: "btn2 flBtn" %>
	  </div>
<% end %>
