
<p id="notice"><%= notice %></p>

<h2>Listing User Groups</h2>
<table class="table">

  <thead>
    <tr>
   	  <th>User Group</th>
     	
      <th></th>
   	</tr>
  </thead>
  <tbody>
    <% @user_groups.each do |user_group| %>
      <tr>
        <td><%= user_group.name %></td>
        
        <td><%= link_to "Edit", edit_admin_configuration_user_group_url(user_group), class: "btn btn1 editLink" %>
            <%= link_to "Delete", admin_configuration_user_group_url(user_group), method: :delete, class: "btn btn1 editLink", data: {confirm: "Are you sure?"}  %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to "New", new_admin_configuration_user_group_path %>