<%= form_for [:admin, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :x_product_id %>
    <%= f.select :x_product_id, @products.map{|p| [p.name, p.id]}, { include_blank: 'select x product'}, class: "selectbox" %>
  </div>

  <div class="field">
    <%= f.label :x_quantity %>
    <%= f.text_field :x_quantity %>
  </div>

  <div class="field">
    <%= f.label :y_product_id %>
    <%= f.select :y_product_id, @products.map{|p| [p.name, p.id]}, { include_blank: 'select y product' }, class: "selectbox" %>
  </div>

  <div class="field">
    <%= f.label :promotion_method_id %>
  <br />
    method 1: Buy ‘X number’ of ‘Y product’ and get ‘X number’ of another product FREE
    <br />
    method 2: Buy ‘X number’ of ‘Y product’ and get a ‘%age OFF’ another product
    <br />
    Method 3: Buy 'Product X' to cart and receive %age discount on 'Product X'
    <%= f.select :promotion_method_id, [ ["method 1", 1], ["method 2", 2], ["method 3", 3] ], { prompt: 'select promotion method' }, class: "selectbox" %>
  </div>

  <div class="field">
    <%= f.label :promotion_quantity_or_rate_off %>
    <%= f.text_field :promotion_quantity_or_rate_off %>
  </div>

  <div class="field">
    <%= f.label :repeated_time %>
    <%= f.text_field :repeated_time %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, { start_year: Time.zone.now.year }, class: "selectbox" %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date,{ start_year: Time.zone.now.year }, class: "selectbox" %>
  </div>

  <div class="field">
    <%= f.check_box :use_only_for_referral_code %>
    <%= f.label :use_only_for_referral_code %>
  </div>

  <% @promotion_pricing_types.each do |obj| %>
    <%= f.fields_for :promotion_pricing_types, obj do |f| %>
    <%= f.hidden_field :pricing_type_id %>
  <%= f.label :choose, class: "symptomsLabels" do %>
    <%= f.check_box :choose, checked: f.object.choose %>
  <%= f.object.pricing_type.name %>
<% end %>
<% end %>
<% end %>


  <div>
    <%= f.submit class: "btn2 flBtn" %>
  </div>
<%end%>
