<%= form_for resource, url: "/admin/configuration/auto_ship_settings" do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>
  <div class="field">
    <%= f.label :discount %>
    <%= f.text_field :discount %>
  </div>
  <%= hidden_field_tag "auto_ship_setting[pricing_type_ids][]", "" %>
  <% @pricing_types.each do |l| %>
    <%= check_box_tag "auto_ship_setting[pricing_type_ids][]", l.id, f.object.pricing_types.include?(l), id: "pricing_type_ids_#{l.id}" %>
     <%= label_tag "pricing_type_ids_#{l.id}", class: "symptomsLabels" do %>
      <%= l.name %>
     <% end %>
  <% end %>


  <div>
    <%= f.submit class: "btn2 flBtn" %>
  </div>
<%end%>
