<%= render "admin/orders/nav" %>
<br />
<%= form_for [:admin, order, resource] do |f| %>
  <h1>Edit Payment</h1>
<%= render_cell :app, :error_msg, resource: resource %>
Payment Type: <%= f.select :payment_type_id, @payment_types.map{|pt| [pt.name, pt.id]} %>
<br />
Amount:  <%= f.text_field :amount %>

<div class="field">
  <%= f.check_box :received %>
  <%= f.label :received %>
</div>
<div class="field">
  <%= f.label :note %>
  <%= f.text_area :note, rows: 3 %>
</div>
<%= f.submit 'Update', class: 'button success btn2' %>
<% end %>
