<style type="text/css" media="all">
  .picked_up{
    margin-left: 30px;
  }
</style>
<%= render "admin/orders/nav" %>
<% if !order.shipment.ready? && !order.shipment.shipped? && !order.shipment.pickup? && order.complete? %>
  <p><%= link_to 'Ship Order', ready_admin_order_shipments_url(order), method: :put, class: "btn2", style: "float:left", confirm: 'Are you sure ?' %></p>
<br />
<br />
  <p><%= link_to 'This order will be picked up', pickup_admin_order_shipments_url(order), method: :put, class: "picked_up", confirm: 'Are you sure ?' %></p>
<% end %>
<br />
<% if collection.any? %>

  <div class="row">
  <%= link_to "Refund All", refund_all_admin_order_url(order), confirm: "Are you sure?", class: "btn2", method: :post %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Action</th>
      <th>Support User</th>
      <th>Amount</th>
      <th>Received</th>
      <th>Message</th>
      <th>Completed At</th>
      <th>Method</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% collection.each do |payment| %>
    <tr class="<%= cycle('odd', 'even')%>">
    <td><%= payment.action %></td>
    <td><%= payment.try(:support_user).try(:first_last_name) %></td>
    <td><%= show_payment_amount payment %></td>
    <td><%= payment.received? ? "Yes" : "No" %></td>
    <td><%= truncate(payment.message, length: 17, separator: ' ') %></td>
    <td><%= payment.completed_at.try(:strftime, "%Y-%m-%d %H:%M:%S") %></td>
    <td><%= payment.card_method %></td>
    <td>
      <% if current_support_user.can_update? payment %>
        <%= link_to "Edit", edit_admin_order_payment_url(order, payment) %>
    <% end %>
    </td>
    <td class="tableLinks">
      <% if can_void?(payment) %>
        <%= link_to 'void', void_admin_order_payment_url(order, payment), confirm: 'Are you sure?', method: :post  %>
    <% end %>
    </td>
    <td class="tableLinks">
      <% if can_refund?(payment) %>
        <%= link_to 'refund', new_refund_admin_order_payment_url(order, payment) %>
    <% end %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
<% else %>
  No payment has been added
<% end %>

<% if order.can_purchase? && !order.canceled? %>
  <%= link_to 'Add New Payment', new_admin_order_payment_url(order), class: "btn2" %>
<% if order.client.has_credit? %>
  <%= link_to 'Pay by Credit', pay_by_credit_admin_order_payments_url(order), class: "btn2", method: :post %>
  <% end %>
<% end %>


<p style="margin-top: 100px">Subscribe to our monthly e-newsletter, NutraTalk, and your name will automatically be entered into our monthly draw for a chance to win 1 FREE bottle of Daily Essential Nutrients, which we will include in your next order (retail value: $129.95). You can unsubscribe from NutraTalk at any time. We think you’ll be glad you signed up! </p>
<%= form_for @client, url: receive_newletter_admin_client_url(@client) do |f| %>
  <%= render_cell :app, :error_msg, resource: @client %>
<% if @client.email.blank?  %>
  <div>
  <%= f.label :email %>
  <%= f.text_field :email, :autofocus => true %>
</div>
      <% end %>
<% if @client.last_name.blank?  %>
  <div>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>
      <% end %>

<div class="field">
  <%= f.check_box :receive_update %>
  <%= f.label :receive_update, "I’d like to receive research updates and special offers. Sign me up for Hardy Nutritionals™ monthly e-newsletter, NutraTalk." %>
</div>
<div>
  <%= f.submit "Update", class: "btn2 flBtn" %>
</div>
<% end %>

<br />

<%= paginate collection %>
