<%= render "admin/orders/nav" %>
<br />

<%#= render_cell :app, :error_msg, msg: flash[:notice] %>
<%= render 'shared/payment_form', order: order, url: admin_order_payments_url(order), admin: true %>
<p><%= link_to "Back to List", collection_url %></p>
