<%= render "admin/orders/nav" %>
<br>
<br>
<%= form_for @refund_form, url: refund_admin_order_payment_url(order, @refund_form.payment) do |f| %>
  <h1>Refund</h1>
  <%= "Can refund amount #{number_to_currency @refund_form.payment.can_refund_amount, locale: I18n.default_locale} for this transaction" %>
  <%= render_cell :app, :error_msg, resource: @refund_form, msg: flash[:alert] %>
  <div class="field">
	  <%= f.label :cc_amount do %>
	  Refund <%= f.text_field :cc_amount %> Amount to Credit Card
    <% end %>
	</div>

  <div class="field">
    <%= f.label :other_amount do%>
      Refund <%= f.text_field :other_amount %> Amount to
    <%= f.select :payment_type_id, @refund_form.payment_types.map{|p| [p.name, p.id]} %>
  <% end %>
  </div>

  <div class="field">
      <%= f.label "note" %>
    <%= f.text_area :note, rows: 3 %>
  </div>
  <%= f.submit "Refund", class: "btn2 flBtn" %>
<% end %>
