<div id="wrapper" class="static checkout ">
  <%= render 'layouts/nav'%>
  <div class="checkoutPage">
    <div class="checkoutCont">
      <div class="cartDetail">
		<h1>Sign in</h1>
        <div class="checkoutLogin">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= render_cell :app, :error_msg, resource: resource, msg: flash[:alert] %>
		  <div class="field"><%= f.label :user_name %>
		  <%= f.text_field :user_name, :autofocus => true %></div>

		  <div class="field"><%= f.label :password %>
		  <%= f.password_field :password %></div>

		  <% if devise_mapping.rememberable? -%>
		    <div  class="field"><%= f.check_box :remember_me %> <%= f.label :remember_me, class: "inlineLabel" %></div>
		  <% end -%>

		  <div  class="field"><%= f.submit "Sign in", class: "btn2" %></div>
		  <div class="field">
		    <%= render "devise/shared/links" %>
		  </div>
		<% end %>
		</div>
    </div>
  </div>
</div>
  <%= render 'layouts/footer' %>
</div>
