<div id="wrapper" class="static checkout">
<%= render 'layouts/nav'%>
	<div class="contactCont">
		<h3>Thank you</h3>
		<h4>Contact information was successfully sent. We will respond to your message shortly.</h4>
	</div>
	<%= render 'layouts/footer' %>
</div>

<%= content_for :title, "Hardy Nutritionals | Contact Us - Confirmation" %>
