<div id="wrapper" class="static checkout">
<%= render 'layouts/nav'%>
	<div class="contactCont">
		<h1>CONTACT US</h1>
		<div class="companyInfor serviceImg">
			<img src="/assets/CustomerServiceAgent.jpg"/>
		</div>
		<div class="companyInfor">
			
			<p>Feel free to contact us at any time. Our customer service representatives are dedicated to helping you with any questions you may have.</p>
			<div class="companyContact">
				<h3>Email Contact:</h3>
				Customer service: <a href="mailto:service@HardyNutritionals.com">service@HardyNutritionals.com</a><br/>
				Clinicians: <a href="mailto:health@HardyNutritionals.com">health@HardyNutritionals.com</a><br/>
				Researchers: <a href="mailto:research@HardyNutritionals.com">research@HardyNutritionals.com</a> <br/>
			</div>
			<div class="companyContact">
				<h3>Office Hours:</h3>
				9:00 am - 5:00 pm (Mountain Standard Time)<br/>
				Monday – Friday<br/>
			</div>
			<div class="companyContact">
				<h3>Telephone Contact:</h3>
				Toll Free: 1-855-955-1114<br/>
				Local: 1-587-271-1110<br/>
				Fax: 1-587-271-1117<br/>
				Toll Free (Spanish): 1-855-955-1114 ext. 225<br/>
				Direct (Spanish): 1-587-271-1110 ext. 225<br/>
			</div>
			<div class="companyContact">
				<h3>New Zealand Distributor:</h3>
				Toll Free: 0800 1 24680<br/>
				Toll Free (Australia): 1-800-186-601<br/>
			</div>
			<div class="companyContact">
				<h3>Mailing Address:</h3>
				Hardy Nutritionals&reg;<br/>
				69B Broadway Street North<br/>
				PO Box 919<br/>
				Raymond, Alberta<br/>
				Canada T0K 2S0<br/>
			</div>
		</div>
		<div class="companyInfor">
			<p>For general inquiries, submit the following form and one of our representatives will get back to you.</p>
			<%= form_for @contact, url: contact_url do |f| %>
			  <%= render_cell :app, :error_msg, resource: @contact, msg: flash[:notice] %>
			  <div class="field">
			  	<%= f.text_field :name, placeholder: "Name*" %>
			  </div>
			  <div class="field">
			  	<%= f.text_field :email, placeholder: "Email Address*" %>
			  </div>
			  <div class="field">
			  	<%= f.text_field :email_confirmation, placeholder: "Verify Email Address*", autocomplete: :off %>
			  </div>
			  <div class="field">
			  	<%= f.text_field :phone, placeholder: "Phone Number*" %>
			  </div>
			  <div class="field">
			  	<%= f.text_field :company, placeholder: "Company Name" %>
			  </div>
			  <div class="field">
			  	<%= f.text_area :message, placeholder: "Your Message" %>
			  </div>
        <%= recaptcha_tags(display: { theme: "white" }) %>
			  <%= f.submit "SUBMIT", class: "btn2" %>
			  <% end %>
		</div>
	</div>
	<%= render 'layouts/footer' %>
</div>

<%= content_for :title, @seo.title %>
<%= content_for :keywords, @seo.keywords %>
<%= content_for :description, @seo.description %>
