<div class="product col4">
  <div class="col3 productInfor">
    <div>
      <h3><%= study.title %></h3>
      <p class="brief_description"><%= raw study.brief_description %></p>
    </div>

  </div>
  <div class="col1">
    <% if study.video.blank? %>
      <div class="productDetailVideo" id="studyVid"></div>
  <% else %>
      <h3>Watch video summary</h3>
    <div class="productDetailVideo" id="studyVid">
      <iframe id='<%= "study_video_#{study.id}"%>' data-event-label='<%= "#{study.title} - Video" %>' width="420" height="315" src="//www.youtube.com/embed/<%= study.video.embed_link %>?rel=0&vq=large&wmode=transparent&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
  <% end %>
  </div>
  <div>
    <div class="col3 productInfor clear">
      <div class="referencesCont">
        <%= image_tag study.journal_cover_url(:gallery), alt: study.journal_cover_alt %>
        <div class="referencesText">
          <p><%= study.article_title %></p>
          <p><%= study.reference %></p>
        </div>
      </div>
    </div>

    <div class="col1 textBtn">
      <% if study.pdf.present? %>
        <a href="<%= study.pdf %>" class="btn2 fullTextBtn" target="_blank" data-event-label='<%="#{study.title} - FULL TEXT"%>'>Full Text</a>
    <% elsif study.link.present? %>
      <%= link_to "Full Text", "http://#{study.link}", class: "btn2 fullTextBtn", target: "_blank", rel: "nofollow", data: { event_label: "#{study.title} - FULL TEXT"} %>
    <% end -%>
    </div>

  </div>
</div>

