<script src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript" charset="utf-8">
function onYouTubeIframeAPIReady() {
  $.each($("[id^=study_video_]"), function(){
  new YT.Player($(this).attr("id"), {
    events: {
      'onStateChange': onPlayerStateChange
    }
  });
  })
}
function onPlayerStateChange(event) {
  if(event.data == YT.PlayerState.PLAYING){
    ga('send', 'event', "Study List Page", "click", $(event.target.c).data("event-label"));
  }
}
$(function(){
  $(".symptomTags a").click(function(){
    ga('send', 'event', "Study List Page", "click", $(this).text());
  });

  $('.productInfor .brief_description a').click(function(){
    ga('send', 'event', "Study List Page", "click", $(this).parents(".productInfor").find("h3").text() + " - Brief Description - " + $(this).text());
  });

  $('.textBtn a').click(function(){
    ga('send', 'event', "Study List Page", "click", $(this).data("event-label"));
  });
})
</script>
