<div class="productGallery studies">
  <div id="study-list" class="products">
    <% @studies.each do |study| %>
      <%= render 'studies/block', study: study %>
      <% end %>
  </div>
</div>
<%= paginate @studies %>
