<div id="wrapper">
  <%= render 'layouts/nav'%>
  <div class="topNavFilters">
    <div class="iconCon">
      <div class="iconBg active"><a href="javascript:;" class="symptoms"></a></div>
    </div>
    <p><%= link_to "I'm looking for product research on ...", "javascript:void(0);", class: "symptoms" %></p>
		<div class="symptomTags">
    <% @disorders.each do |disorder| %>
      <%= link_to disorder.name, studies_url(q: params_q.merge!(study_disorders_disorder_id_eq: disorder.id)), class: study_disorder_class(disorder) %>
    <% end -%>
    </div>
  </div>
      <%= render partial: "study_list" %>
  <%= render 'layouts/footer' %>
</div>

<%= content_for :title, @seo.title %>
<%= content_for :keywords, @seo.keywords %>
<%= content_for :description, @seo.description %>

<%= render 'index_ga' %>
