Hello <%= @client.first_name %>,
<br />
<p>Your user name is "<%= @client.user_name %>"
<br />
If you would like to reset your password please <%= link_to "click here", new_client_password_url %>
<p>Thank you.</p>
<p>Hardy Nutritionals Customer Service</p>

<img src="http://hardynutritionals.com/assets/Hardy-Nutritionals-Logo.png" class="emailImg" />
