<h2>New Customer Pre-Order</h2>

<% if @back_order_reports.any? %>
<%= link_to "Export CSV", export_admin_report_new_customer_pre_orders_path(q: params[:q]), class: "btn1" %>
<table class="table salesAndOrders">
  <thead>
    <tr>
      <th>Client ID #</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Home Phone</th>
      <th>Product Name</th>
      <th>Product QTY</th>
      <th>Date & Time stamp</th>
    </tr>
  </thead>
  <tbody>
    <% @back_order_reports.each do |r| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= link_to r.client_id, edit_admin_client_url(r.client_id) %></td>
  <td><%= r.client.first_name  %></td>
  <td><%= r.client.last_name %></td>
  <td><%= r.client.email %></td>
  <td><%= r.client.home_phone %></td>
  <td><%= r.product.name %></td>
  <td><%= r.quantity %></td>
  <td><%= l r.updated_at, format: :long %></td>
  </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= paginate @back_order_reports %>
