<div id="wrapper" class="static checkout">
<%= render 'layouts/nav'%>
  <div class="logUpPage">
    <div class="loginUpCont" id="backConfirm">
		<h2>Pre-Order Confirmed</h2>
		<p>We will contact you when product is available.</p>
		<p>We appreciate your patience and understanding.</p>
		<p id="sig">-The Hardy Nutritionals Team</p>
		<p><a class="btn2 flBtn" href="/products" style="float: left; padding: 0 10px;">Continue Shopping</a></p>
		<div class="clear"></div>
		<div class="productGallery">
			<h4>In the meantime, consider....</h4>
			<div id="product-list" class="products">
        <%= render partial: "products/product", collection: Product.where(id: [5, 6]).order(:id), as: :product %>
			</div><!-- /product-list -->
		</div><!-- /productGallery -->
	</div><!-- /loginUpCont -->
  </div>
    <%= render 'layouts/footer' %>
</div>

