<div id="wrapper" class="static checkout">
<%= render 'layouts/nav'%>
  <div class="logUpPage">
    <h1>Set up a Guest Account to Pre-Order</h1>
    <div class="loginUpCont">
    <%= form_for(@back_order_client, :url => client_back_ordered_url) do |f| %>
      <%= render_cell :app, :error_msg, resource: @back_order_client %>
      
      <div class="field"><%= f.label :first_name %>
      <%= f.text_field :first_name %></div>

      <div class="field"><%= f.label :last_name %>
      <%= f.text_field :last_name %></div>
	
      <div class="field"><%= f.label :country_id, "Country", class: "inlineLabel" %>
      <%= f.select :country_id, options_from_collection_for_select(@countries, :id, :name, f.object.country_id), { prompt: "select country" }, :class => 'selectbox' %></div>
     
      <div class="field">
        <%= f.label :province, "State/Province" %>
        <div id="state-field">
          <% if @provinces.present? %>
            <%= select_tag "back_order_client[province]", options_from_collection_for_select(@provinces, :abbr, :name, f.object.province), class: "selectbox", prompt: "select state/province" %>
          <% else %>
            <%= f.text_field :province %>
          <% end -%>
        </div>
      </div>
      <br><br>
      <p>*After we give you notice that product is available, simply log in and complete your order using the credentials below:</p>

  	  <div class="field"><%= f.label :email, data: { title: "Email"} %>
      <%= f.email_field :email, autofocus: true %></div>
      
      <div class="field"><%= f.label :home_phone %>
      <%= f.text_field :home_phone %></div>
      
 

      <div class="field"><%= f.label :user_name %>
      <%= f.text_field :user_name %></div>
      
      <div class="field"><%= f.label :password %>
      <%= f.password_field :password %></div>

      <div class="field"><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %></div>

      <div class="field"><%= f.label :introduction_type_id, "How did you find us?", class: "inlineLabel" %>
      <%= f.select :introduction_type_id, options_from_collection_for_select(@introduction_types, :id, :name, f.object.introduction_type_id), { prompt: "select introduction type" }, :class => 'selectbox' %></div>

    <br />
      <%= f.hidden_field :product_id %>
      <%= f.hidden_field :product_quantity %>

      <div class="field">
        <%= f.check_box :receive_update %>
        <%= f.label :receive_update, "I’d like to receive research updates and special offers. Sign me up for Hardy Nutritionals™ monthly e-newsletter, NutraTalk." %>
      </div>

      <div class="field"><%= f.submit "Sign up", class: "btn2" %></div>
    <% end %>
    </div>
  </div>

    <%= render 'layouts/footer' %>
    </div>

<%= content_for :title, "Hardy Nutritionals | Sign Up" %>
