<h1>Web Contact Information Received</h1>
  <p>Name : <%= @contact.name %></p>
  <p>Email Address : <%= @contact.email %></p>
  <p>Phone Number : <%= @contact.phone %></p>
  <p>Company Name : <%= @contact.company %></p>
  <p>Your Message : <%= @contact.message %></p>
