<%= form_for [:admin, :configuration, @registration_method] do |f| %>
  <%= render_cell :app, :error_msg, resource: @registration_method %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.check_box :deleted %>
    <%= f.label :deleted %>
  </div>
  <div>
    <%= f.submit class: "btn2 flBtn" %>
  </div>
<%end%>
