Registration Method
<%= link_to '[active]', collection_url %>
<%= link_to '[deleted]', collection_url(q: {deleted_eq: true}) %>
<br />
<table class="table">
  <thead>
    <tr>
    <%= sortable RegistrationMethod, 'name'%>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @registration_methods.each do |registration_method| %>
      <tr class="<%= cycle('odd', 'even')%>">
    <td><%= registration_method.name %></td>
        <td class="tableLinks">
          <%= link_to "Edit", edit_resource_url(registration_method), class: "btn btn1 editLink" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @registration_methods %>

<p><%= link_to "Add New Registration Method", new_resource_url, class: "btn2" %></p>
