<div id="wrapper" class="static checkout ">
  <%= render 'layouts/nav'%>
  <div class="checkoutPage">
    <div class="checkoutCont checkDiff">
      <div class="cartDetail">
        <h1>Sign in</h1>
        <div class="checkoutLogin">
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <%= render_cell :app, :error_msg, resource: resource, msg: flash[:alert] %>
            <div class="field"><%= f.label :user_name %>
            <%= f.text_field :user_name, :autofocus => true %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field remember"><%= f.check_box :remember_me %> <%= f.label :remember_me, class: "inlineLabel" %></div>
          <% end -%>
          <div class="field forgot">
            <%= render "clients/shared/links" %>
          </div>

          <div class="field"><%= f.submit "SIGN IN", class: "btn2" %></div>
        <% end %>
        <div class="checkoutNote">
          <h3>Why Create an Account?</h3>
          <ol>
            <li>Make checking out easier by saving your shipping and billing information.</li>
            <li>Review previous orders.</li>
            <li>Be the first to know about sales and promotions in the store via email.</li>
          </ol>
          <%= link_to "Create an Account", new_registration_path(resource_name), class: "btn2" %>
        </div>
      </div>

      <% if current_cart.cart_items.present? %>
        <div class="checkoutGuest">
          <h2>Or checkout as a Guest</h2>
          <%= form_for @guest_form, url: session_path(resource_name) do |f| %>
            <%= render_cell :app, :error_msg, resource: @guest_form %>
            <div class="field">
              <%= f.label :first_name %>
              <%= f.text_field :first_name %>
            </div>
            <div class="field">
              <%= f.label :last_name %>
              <%= f.text_field :last_name %>
            </div>
            <div class="field">
              <%= f.label :email, data: { title: "Email"} %>
              <%= f.text_field :email %>
            </div>
            <div class="field">
              <%= f.label :country_id, "Country", class: "inlineLabel" %>
              <%= f.select :country_id, @countries.map{|c| [c.name, c.id]}, { prompt: "select country" }, class: "selectbox" %>
            </div>

      <div class="field"><%= f.label :introduction_type_id, "How did you hear about us?", class: "inlineLabel" %>
      <%= f.select :introduction_type_id, options_from_collection_for_select(@introduction_types, :id, :name, f.object.introduction_type_id), { prompt: "select" }, :class => 'selectbox' %></div>
            <div class="field">
              <%= f.check_box :receive_update %>
              <%= f.label :receive_update, "I’d like to receive research updates and special offers. Sign me up for Hardy Nutritionals™ monthly e-newsletter, NutraTalk." %>
            </div>
            <div class="field"><%= f.submit "CONTINUE", name: "guest_login", class: "btn1" %></div>
          <% end -%>
          <div class="checkoutNote">
            <h3>Checking out as a guest:</h3>
            <ol>
              <li>Quickly and easily check out.</li>
              <li>In the event you change your mind before completing your order, it will be cached in your browser for 2 hours so you can come back and pick up where you left off.</li>
              <li>Your email will be added to our mailing list so you can receive news and updates about Hardy Nutritionals!</li>
            </ol>
            
          </div>
        </div>
      <% end -%>
    </div>
  </div>
</div>
  <%= render 'layouts/footer' %>
</div>

<%= content_for :title, "Hardy Nutritionals | Sign In" %>
