<%= form_for [:admin, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :brief_description %>
	  <%= f.text_area :brief_description %>
  </div>

  <div class="field">
    <%= f.label :index %>
    <%= f.text_field :index %>
  </div>

  <div class="field">
    <%= f.label :video %>
    <%= f.select :video_id, Video.all.collect{|v| [v.title, v.id]}, { include_blank: true } %>
  </div>

  <%= render "admin/share/upload_image", f: f, column: "journal_cover", table: "studies" %>
  <%= render "admin/share/upload_file", f: f, column: "pdf", table: "studies" %>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="field">
    <%= f.label :article_title %>
    <%= f.text_field :article_title %>
  </div>

  <div class="field">
    <%= f.label :reference %>
    <%= f.text_field :reference %>
  </div>

   <%= hidden_field_tag "study[disorder_ids][]", "" %>
  <% @disorders.each do |l| %>
      <%= check_box_tag "study[disorder_ids][]", l.id, f.object.disorders.include?(l), id: "disorder_ids_#{l.id}" %>
       <%= label_tag "disorder_ids_#{l.id}", class: "symptomsLabels" do %>
        <%= l.name %>
       <% end %>
    <% end %>



  <div>
    <%= f.submit class: "btn2 flBtn" %>
    <%= hidden_field_tag :preview_url, preview_url(resource) %>
    <a href="#modal-show" class="btn2 flBtn">Preview</a>
  </div>
  <%= render "admin/share/modal" %>
<%end%>
