<%= form_for [:admin, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>

  <div class="field">
    <%= f.label :min_amount %>
    <%= f.text_field :min_amount %>
  </div>

  <div class="field">
    <%= f.label :amount_off, "Amount off(%)" %>
    <%= f.text_field :amount_off %>
  </div>

  <div class="field">
    <%= f.label :area_id %>
    <%= f.select :area_id, [["US (not including Alaska and Hawaii)", 1], ["Outside the continental US", 2]], { prompt: 'select promotion area' }, class: "selectbox"%>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, { start_year: Time.zone.now.year }, class: "selectbox" %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date,{ start_year: Time.zone.now.year }, class: "selectbox" %>
  </div>
  <% @promotion_pricing_types.each do |obj| %>
    <%= f.fields_for :promotion_pricing_types, obj do |f| %>
    <%= f.hidden_field :pricing_type_id %>
  <%= f.label :choose, class: "symptomsLabels" do %>
    <%= f.check_box :choose, checked: f.object.choose %>
  <%= f.object.pricing_type.name %>
<% end %>
<% end %>
<% end %>

  <div>
    <%= f.submit class: "btn2 flBtn" %>
  </div>
<%end%>
