<%= render "admin/orders/nav" %>
<%= render 'shared/shipping_address', order: order, client: order.client, addresses: @addresses, address: @address, url: admin_order_shipments_url(order), scene: 2 %>
<p class="pLink shippmentView">
  <%= link_to "View", admin_order_shipments_url(order) %>
</p>
