<%= render "admin/orders/nav" %>
<% if !order.canceled? %>
<div class="shippingAddress">
    <%= render 'shared/shipping_method', url: select_admin_order_shipping_methods_path(order), shipping_rates: @shipping_rates, shipping_methods: @shipping_methods %>
	<p class="pLink"><%= link_to 'back', admin_order_shipments_url(order) %><p>
</div>
<% end %>
