<%= render "admin/orders/nav" %>
<br />

<br />
<div class="shipments">
	<% if order.shipment.address.try(:persisted?) %>
		<div class="addresses">
		<%= render 'admin/addresses/detail', address: order.shipment.address %>
	  <% if order.can_change_address? && current_support_user.can_update?(Shipment) && !order.canceled? %>
	    <%= link_to 'EDIT', edit_admin_order_shipments_url(order), class: "btn1 addressBtn" %>
	  <% end %>
	  </div>
	<% else %>
  <% if current_support_user.can_create?(Shipment) %>
    <%= render 'shared/shipping_address', order: order, client: order.client, addresses: @addresses, address: @address, url: admin_order_shipments_url(order), scene: 2 %>
    <% end %>
	<% end -%>
	<br />

	<% if order.shipment.shipping_method.try(:persisted?) %>
	<div class="addresses">
	  <%= order.shipment.shipping_method.name! %>
	  <br />
	  <% if order.can_change_address? && current_support_user.can_update?(Shipment) && !order.canceled?  %>
	  <%= link_to "EDIT", edit_shipping_method_admin_order_shipments_path(order), class: "btn1 addressBtn" %>
    <% end %>
	</div>
<% elsif !order.canceled? %>
	<div class="shippingAddress">
    <% if @shipping_methods.present? && current_support_user.can_create?(Shipment) %>
		<%= render 'shared/shipping_method', shipping_rates: @shipping_rates, url: select_admin_order_shipping_methods_path(order), shipping_methods: @shipping_methods %>
    <% end %>
	</div>
  <% end %>
</div>
