<table class="table">
  <thead>
    <tr>
      <th>Product Code</th>
      <th>Pricing Type</th>
      <th>Caselot</th>
      <th>Unit Price</th>
      <th>Currency</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
  <% order_item_reports_sort(order_item_reports).each_with_index do |report, index| %>
    <% if report.quantity != 0 %>
  <tr class="<%= index%2 == 0 ? 'odd' : 'even' %>">
    <td><%= report.order_item.product.product_code %></td>
    <td><%= report.order_item.pricing_type.name %></td>
    <td><%= report.order_item.caselot_count %></td>
    <td><%= number_to_currency report.order_item.price, locale: I18n.default_locale %></td>
    <td><%= report.order_item.order.currency.name %></td>
    <td><%= report.quantity %></td>
  </tr>
    <% end %>
<% end %>
  </tbody>
</table>
