<table class="table">
  <thead>
    <tr>
      <th>Product Code</th>
      <th>Product Name</th>
      <th>Amount sold</th>
      <th>Amount returned</th>
      <th>Net sold</th>
    </tr>
  </thead>
  <tbody>
    <% get_products(order_item_reports).each_with_index do |array, index| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= array[0].product_code %></td>
        <td><%= array[0].name %></td>
        <% sale_reports =  array[1].select{|r| r.quantity > 0} %>
        <% return_reports = array[1].select{|r| r.quantity < 0} %>
        <td><%= sale_reports.sum(&:quantity) %></td>
        <td><%= return_reports.sum(&:quantity) %></td>
        <td><%= array[1].sum(&:quantity) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
