<h2>Product Sales</h2>

<%= form_tag admin_report_product_sales_url, method: :get do %>
<div class="orderDate">
  <label>From:</label><%= date_select "from_date", "date", { start_year: 2013, end_year: Time.zone.now.year + 1, default: report_from_date }, class: "selectbox" %>
  <label>To:</label> <%= date_select "to_date", "date", { start_year: 2013, end_year: Time.zone.now.year + 1, default: report_to_date }, class: "selectbox" %>
  <%= submit_tag "filter", class: "btn2" %>
</div>
  
  <% end %>

<% if @order_item_reports.any? %>
  <h3>Global</h3>
  <br />
  <br />
  <h4>Sale Summary</h4>
  <%= render "products_quantity", order_item_reports: @order_item_reports %>
  <br />
  <br />
  <br />

  <% if @order_item_reports.sale_reports.any? %>
    <h4>Sale Detail</h4>
    <%= render "order_items_list", order_item_reports: merge_order_item_reports(@order_item_reports.sale_reports) %>
    <br />
    <br />
    <br />
  <% end %>

  <% if @order_item_reports.return_reports.any? %>
    <h4>Return Detail</h4>
    <%= render "order_items_list", order_item_reports: merge_order_item_reports(@order_item_reports.return_reports) %>
    <br />
    <br />
    <br />
  <% end %>

  <% @order_item_reports.group_by{|r| r.order.shipment.address.country}.sort.each do |country, order_item_reports| %>
    <h3><%= country.name %></h3>
    <br />
    <br />
    <% sale_reports =  order_item_reports.select{|r| r.quantity > 0} %>
    <% return_reports = order_item_reports.select{|r| r.quantity < 0} %>

    <h4>Sale Summary</h4>
    <%= render "products_quantity", order_item_reports: order_item_reports %>
    <br />
    <br />
    <br />


    <% if sale_reports.any? %>
      <h4>Sale Detail</h4>
      <%= render "order_items_list", order_item_reports: merge_order_item_reports(sale_reports) %>
      <br />
      <br />
      <br />
    <% end %>

    <% if return_reports.any? %>
      <h4>Return Detail</h4>
      <%= render "order_items_list", order_item_reports: merge_order_item_reports(return_reports) %>
      <br />
      <br />
      <br />
    <% end %>
  <% end %>
<% end %>
