<div id="wrapper" class="static checkout ">
  <%= render 'layouts/nav'%>
    <div class="checkoutPage passwordPage">
	    <div class="checkoutCont">
<h2>Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field"><%= f.label :password, "New password" %><br />
  <%= f.password_field :password, :autofocus => true %></div>

  <div class="field"><%= f.label :password_confirmation, "Confirm new password" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="field"><%= f.submit "Change my password", class: "btn2" %></div>
<% end %>

<%= render "devise/shared/links" %>
	</div>
	</div>
  <%= render 'layouts/footer' %>
</div>

