<div id="wrapper" class="static checkout ">
  <%= render 'layouts/nav'%>
    <div class="checkoutPage passwordPage">
	    <div class="checkoutCont">
<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= render_cell :app, :error_msg, msg: flash[:alert] %>
  <%= devise_error_messages! %>

  <div class="field"><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div class="field"><%= f.submit "Send me reset password instructions", class: "btn2" %></div>
<% end %>

<%= render "devise/shared/links" %>
	</div>
	</div>
  <%= render 'layouts/footer' %>
</div>
		<%= render "devise/shared/links" %>
		</div>
	</div>
  <%= render 'layouts/footer' %>
</div>
		<%= render "devise/shared/links" %>
		</div>
	</div>
  <%= render 'layouts/footer' %>
</div>
