<h2>Sales and Orders </h2>
<label><input type="checkbox" id="checkbox1" /> Summary</label>

<%= form_tag admin_report_sales_and_orders_url, method: :get do %>
<div class="orderDate">
  <label>From:</label> <%= date_select "from_date", "date", { start_year: 2013, end_year: Time.zone.now.year + 1, default: report_from_date }, class: "selectbox" %>
  <label>To:</label> <%= date_select "to_date", "date", { start_year: 2013, end_year: Time.zone.now.year + 1, default: report_to_date }, class: "selectbox" %>
  <label>Currency</label> <%= select_tag "q[order_currency_name_eq]", options_for_select([["select currency", ""],"USD", "CAD", "USA"], params[:q].try(:[], :order_currency_name_eq)), class: "selectbox"  %>
  <%= submit_tag "filter", class: "btn2" %>
</div>
  <% end %>
<% if @order_reports.any? %>
<table class="table salesAndOrders">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Order Type</th>
      <th>Client Name</th>
      <th>Currency</th>
      <th>Products</th>
      <th>Tax</th>
      <th>Shipping</th>
      <th>Handling</th>
      <th>Others</th>
      <th>Total</th>
      <th>Payment Received</th>
    </tr>
  </thead>
  <tbody>
    <% @order_reports.each do |r| %>
  <tr class="<%= cycle('odd', 'even') %> <%= order_report_class(r) %>">
  <td><%= link_to r.order_id, admin_order_url(r.order_id)  %></td>
  <td><%= r.order.order_type.name %></td>
  <td><%= r.order.client.full_name %></td>
  <td><%= r.order.currency.name %></td>
  <td><%= number_to_currency r.subtotal, locale: I18n.default_locale %></td>
  <td><%= number_to_currency r.tax, locale: I18n.default_locale %></td>
  <td><%= number_to_currency r.shipping, locale: I18n.default_locale %></td>
  <td><%= number_to_currency r.handling, locale: I18n.default_locale %></td>
  <td><%= number_to_currency r.other, locale: I18n.default_locale %></td>
  <td><%= number_to_currency r.total, locale: I18n.default_locale %></td>
  <td><%= number_to_currency r.payment_received, locale: I18n.default_locale %></td>
  </tr>
    <% end %>
  <tr class="total">
  <td>Total</td>
  <td></td>
  <td></td>
  <td></td>
  <td><%= number_to_currency @order_reports.sum(&:subtotal), locale: I18n.default_locale %></td>
  <td><%= number_to_currency @order_reports.sum(&:tax), locale: I18n.default_locale %></td>
  <td><%= number_to_currency @order_reports.sum(&:shipping), locale: I18n.default_locale %></td>
  <td><%= number_to_currency @order_reports.sum(&:handling), locale: I18n.default_locale %></td>
  <td><%= number_to_currency @order_reports.sum(&:other), locale: I18n.default_locale %></td>
  <td><%= number_to_currency @order_reports.inject(0){|sum, o| sum += (o.total || 0)}, locale: I18n.default_locale %></td>
  <td><%= number_to_currency @order_reports.sum(&:payment_received), locale: I18n.default_locale %></td>
  </tr>

  </tbody>

</table>
<% end %>

<% if @payment_reports.any? %>
  <% @payment_reports.group_by(&:payment_type).sort_by{|k, v| k.index }.each do |payment_type, payment_reports| %>
  <h3><%= payment_type.name %></h3>
    <% if payment_type.name == "Money Order/Cheque" %>
<table class="table">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Order Type</th>
      <th>Support User Name</th>
      <th>Note</th>
      <th>Date</th>
      <th>Amount Owing</th>
      <th>Amount Received</th>
    </tr>
  </thead>
  <tbody>
    <% payment_reports.each_with_index do |p, index| %>
  <tr class=<%= index%2 == 0 ? 'odd' : 'even' %>>
  <td><%= link_to p.order_id, admin_order_url(p.order_id)  %></td>
  <td><%= p.order.order_type.name %></td>
  <td><%= p.support_user.try(:first_last_name) %></td>
  <td><%= p.note %></td>
  <td><%= l p.created_at, format: :long %></td>
  <td><%= show_amount p.amount_owing %></td>
  <td><%= show_amount p.amount %></td>
  </tr>
    <% end %>
  <tr class="total">
   <td>Total</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td><%= show_amount payment_reports.sum(&:amount) %></td>
  </tr>
  </tbody>
</table>
      <% else %>
  <table class="table">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Order Type</th>
      <th>Support User Name</th>
      <th>Note</th>
      <th>Date</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% payment_reports.each_with_index do |p, index| %>
  <tr class=<%= index%2 == 0 ? 'odd' : 'even' %>>
  <td><%= link_to p.order_id, admin_order_url(p.order_id)  %></td>
  <td><%= p.order.order_type.name %></td>
  <td><%= p.support_user.try(:first_last_name) %></td>
  <td><%= p.note %></td>
  <td><%= l p.created_at, format: :long %></td>
  <td><%= show_amount p.amount %></td>
  </tr>
    <% end %>
  <tr class="total">
   <td>Total</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td><%= show_amount payment_reports.sum(&:amount) %></td>
  </tr>
  </tbody>
</table>
    <% end %>
<% end %>
<% end %>

<% if @order_reports.empty? && @payment_reports.empty? %>
  No Transactions Found
<% end %>

<script type="text/javascript">
	$('#checkbox1').change(function(){
	  if (this.checked) {
		$('tr.odd, tr.even').hide();
	  } else {
		$('tr.odd, tr.even').show();
	  }                   
	});
</script>
