
<p id="notice"><%= notice %></p>

<h2>Listing Withdrawal Effects</h2>
<table class="table">

  <thead>
    <tr>
   	  <th>Name </th>
     	<th>Description</th>
      <th></th>
   	</tr>
  </thead>
  <tbody>
    <% @withdrawal_effects.each do |withdrawal_effect| %>
      <tr>
        <td><%= withdrawal_effect.name %></td>
        <td><%= withdrawal_effect.description %></td>
        
        
        <td><%= link_to "Edit", edit_admin_configuration_withdrawal_effect_url(withdrawal_effect), class: "btn btn1 editLink" %>
            <%= link_to "Delete", admin_configuration_withdrawal_effect_url(withdrawal_effect), method: :delete, class: "btn btn1 editLink", data: {confirm: "Are you sure?"}  %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to "New", new_admin_configuration_withdrawal_effect_path %>