<%= form_for [:admin, @product] do |f| %>
	<h1>Create/Edit Product</h1>
  <%= render_cell :app, :error_msg, resource: @product, without_title: true %>
  	<div class="leftCol">
		<div class="field">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>

      <% if current_support_user.is_admin? %>
		<div class="field">
			<%= f.label :product_category_id %>
      <%= f.select :product_category_id, @product_categories.map{|pc| [pc.name, pc.id] }, {}, class: "selectbox" %>
		</div>

		<div class="field">
			<%= f.label :quantity %>
			<%= f.text_field :quantity %>
		</div>


		<div class="field unit">
			<%= f.label :unit %>
      <%= f.select :unit, Product::UNIT_VALUES,{ include_blank: "select unit"}, :class => 'selectbox' %>
		</div>

		<div class="field">
			<%= f.label :shipping_description %>
			<%= f.text_field :shipping_description %>
		</div>

		<div class="field">
			<%= f.label :weight_lbs %>
			<%= f.text_field :weight_lbs %>
		</div>
    <% end %>
  	</div>

   <% if current_support_user.is_admin? %>
  	<div class="rightCol">

		<div class="field">
			<%= f.label :product_code %>
			<%= f.text_field :product_code %>
		</div>

		<div class="field">
			<%= f.label :tariff_code %>
			<%= f.text_field :tariff_code %>
		</div>

		<div class="field">
			<%= f.label :customs_value %>
			<%= f.text_field :customs_value %>
		</div>

		<div class="field">
			<%= f.label :type_id %>
      <%= f.select :type_id, @product_types.map{|pt| [pt.name, pt.id] }, {}, class: "selectbox" %>
		</div>

		<div class="field">
			<%= f.label :index %>
			<%= f.text_field :index %>
		</div>

		<div class="field">
			<%= f.check_box :active %>
			<%= f.label :active %>
		</div>

		<div class="field">
			<%= f.check_box :allow_order_online %>
			<%= f.label :allow_order_online %>
    </div>

		<div class="field">
			<%= f.check_box :back_ordered %>
			<%= f.label :back_ordered, "New Customer Pre-Order" %>
		</div>
		<div class="field">
			<%= f.check_box :pre_order %>
			<%= f.label :pre_order, "Pre-Order" %>
		</div>
    <div class="field">
      <%= f.check_box :featured %>
      <%= f.label :featured %>
    </div>
    <div class="field textarea">
      <%= f.label :featured_text %>
      <%= f.text_area :featured_text, rows: 3, readonly: (!@product.featured) %>
    </div>
  	</div>
      <% end %>
  	<div class="area">
		<div class="field">
			<%= f.label :seo_title %>
			<%= f.text_field :seo_title %>
		</div>
		<div class="field textarea">
			<%= f.label :seo_keywords %>
			<%= f.text_area :seo_keywords, rows: 4 %>
		</div>

		<div class="field textarea">
			<%= f.label :seo_description %>
			<%= f.text_area :seo_description, rows: 4 %>
		</div>
  	</div>

		<div class="field textarea">
			<%= f.label :highlights %>
			<%= f.text_area :highlights %>
		</div>

		<div class="field textarea">
			<%= f.label :description %>
			<%= f.text_area :description %>
    	</div>

		<div class="field textarea">
			<%= f.label :suggested_use %>
			<%= f.text_area :suggested_use %>
   		</div>

		<div class="field textarea">
			<%= f.label :supplement_facts %>
			<%= f.text_area :supplement_facts %>
    </div>

		<div class="field textarea">
			<%= f.label :quality %>
      <%= f.text_area :quality %>
		</div>

		<div class="field textarea">
			<%= f.label :verbiage, "Pre-Order Verbiage" %>
			<%= f.text_area :verbiage %>
		</div>

  Label File
  <%= render "admin/share/upload_file", f: f, column: "label_file", table: "products" %>
    <div class="symptoms">
		<h3>Symptom Tags</h3>
		<p><em>Used as search filters on the Product and Research grid view pages</em></p>
    <%= hidden_field_tag "product[disorder_ids][]", "" %>
    <% @disorders.each do |l| %>
      <%= check_box_tag "product[disorder_ids][]", l.id, f.object.disorders.include?(l), id: "disorder_ids_#{l.id}" %>
       <%= label_tag "disorder_ids_#{l.id}", class: "symptomsLabels" do %>
        <%= l.name %>
       <% end %>
    <% end %>
	</div>

  <%= render 'admin/product_images/index', f: f %>

      <% if current_support_user.is_admin? %>
  <div class="priceGroup">
  <h2>Prices</h2>
    <%= render 'admin/product_pricing_types/list', f: f, obj: resource %>
  </div>
<br />
  <h2>Caselot prices</h2>
  <% @product.product_caselots.sort_for_count.each do |product_caselot| %>
<%= f.fields_for :product_caselots, product_caselot do |s|%>
  <%= render 'admin/products/product_caselot_fields', s: s %>
<% end %>
  <% end %>
<%= link_to_add_product_caselot_fields 'Add Product Caselot', f, :product_caselots %>
<% end %>

<div>
  <%= f.submit class: "btn2 flBtn" %>
  <%= hidden_field_tag :preview_url, preview_url(resource)  %>
  <a href="#modal-show" class="btn2 flBtn">Preview</a>
</div>
  <%= render "admin/share/modal" %>
<%end%>
