<%= render 'products/detail', resource: resource, cart_item: CartItem.new %>
<script type="text/javascript" charset="utf-8">
  $(function(){
    galleryInit();
    $('#tab-container').easytabs();
  })
</script>
