<div class='nested priceGroup'>
	<div class="field">
	    <%= s.label :count %>
	    <%= s.text_field :count %>
	</div>
	<div class="field">
	    <%= s.label :description %>
	    <%= s.text_field :description %>
	</div>
  <%= render 'admin/product_pricing_types/list', f: s, obj: s.object %>
<% if s.object.new_record? %>
  <%= link_to_remove_fields 'Remove', s %>
<% else %>
  <%= s.check_box :_destroy %> Delete this caselot
<% end %>
</div>
