<div class='nested'>
  <div>
    <%= s.label :discount_percentage %>
    <%= s.text_field :discount_percentage %>%
  </div>
  <div>
    <%= s.label :start_date %>
    <%= s.date_select :start_date, start_year: Time.now.year %>
  </div>
  <div>
    <%= s.label :end_date %>
    <%= s.date_select :end_date, start_year: Time.now.year %>
  </div>
  <% if s.object.new_record? %>
    <%= link_to_remove_fields 'Remove', s %>
<% else %>
    delete: <%= s.check_box :_destroy %>
<% end %>
</div>
