<div class='nested'>
<div>
<%= s.label :unit %>
<%= s.text_field :unit %>
</div>
<div>
<%= s.label :price %>
<%= s.text_field :price %>
</div>
<% if s.object.new_record? %>
  <%= link_to_remove_fields 'Remove', s %>
<% else %>
  delete: <%= s.check_box :_destroy %>
<% end %>
</div>