<%= link_to '[active]', collection_url %>
<%= link_to '[non-active]', collection_url(q: {active_eq: false}) %>
<table class="table table-striped">
  <thead>
    <tr>
      <%= sortable Product, 'name'%>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |product| %>
      <tr class="<%= cycle('odd', 'even')%>">
        <td><%= product.name %></td>
        <td class="tableLinks"><%= link_to "Edit", edit_resource_url(product), class: "btn1 editLink" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_support_user.can_create? resource_class %>
  <%= link_to "New", new_admin_product_url, class: "btn2 addNew" %>
<% end %>

<%= paginate collection %>
