<script type="text/javascript" charset="utf-8">
function ga_checkout_action(step) {
 <% items.each do |item| %>
   ga('ec:addProduct', {
      'id': "<%= item.product.product_code %>",
      'name': "<%= item.product.name %>",
      'price': "<%= item.price %>",
      'quantity': "<%= item.quantity%>"
    });
 <% end %>
 ga('ec:setAction','checkout', { 'step': step });
}
</script>
