<%= form_for [:admin, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :article_category_id %>
    <%= f.select :article_category_id, @article_categories.map{|r| [r.name, r.id]}, { prompt: "select article category" }, class: "selectbox" %>
  </div>

  <%= render "admin/share/upload_file", f: f, column: "file", table: "documents" %>

  <div>
    <%= f.submit class: "btn2 flBtn" %>
  </div>
<%end%>
