<table class="table table-striped">
  <thead>
    <tr>
      <%= sortable Document, 'name' %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |resource| %>
      <tr class="<%= cycle('odd', 'even')%>">
        <td><%= resource.name %></td>
        <td class="tableLinks"><%= link_to "Edit", edit_resource_url(resource), class: "btn1 editLink" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New", new_resource_url, class: "btn2 addNew" %>

<%= paginate collection %>
