
<p id="notice"><%= notice %></p>

<h2>Listing Gender</h2>
<table class="table">

  <thead>
    <tr>
   	  <th>Gender</th>
     	<th></th>
   	</tr>
  </thead>
  <tbody>
    <% @genders.each do |gender| %>
      <tr>
        <td><%= gender.gender_type %></td>
        
        <td><%= link_to "Edit", edit_admin_configuration_gender_url(gender), class: "btn btn1 editLink" %>
            <%= link_to "Delete", admin_configuration_gender_url(gender), method: :delete, class: "btn btn1 editLink", data: {confirm: "Are you sure?"}  %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to "New", new_admin_configuration_gender_path %>