<h2>Call List</h2>

<%= form_tag admin_report_call_lists_url, method: :get do %>
<div class="orderDate">
  <label>To:</label> <%= date_select "to_date", "date", { start_year: 2013, end_year: Time.zone.now.year + 1, default: report_to_date }, class: "selectbox" %>
  <label>Support Center</label> <%= select_tag "q[support_center_id_eq]", options_from_collection_for_select(@support_users, "id", "name", params[:q].try(:[], :support_center_id_eq)), class: "selectbox", prompt: "select support center"  %>
  <label>TA Level</label> <%= select_tag "q[ta_level_id_eq]", options_from_collection_for_select(@ta_levels, "id", "name", params[:q].try(:[], :ta_level_id_eq)), class: "selectbox", prompt: "select ta level"  %>
  <%= submit_tag "filter", class: "btn2" %>
</div>
  <% end %>
<% if @clients.any? %>
<table class="table salesAndOrders">
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Next Contact Date</th>
      <th>Contact Time</th>
      <th>Phone Number</th>
      <th>TA Level</th>
      <th>TA Comments</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |c| %>
  <tr class="<%= cycle('odd', 'even') %>">
  <td><%= link_to c.full_name, select_admin_client_url(c, redirect_to_url: edit_admin_client_path(c)), method: :post  %></td>
  <td><%= c.next_contact_date %></td>
  <td><%= c.contact_time.try(:description) %></td>
  <td><%= c.home_phone %></td>
  <td><%= c.ta_level.try(:name) %></td>
  <td><%= c.ta_comments %></td>
  </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= paginate @clients %>
