<div id="wrapper">
<h2>Edit Profile</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>

   <div class="field"><%= f.label :email %>
    <%= f.email_field :email, disabled: 'disabled' %></div>

    <div class="field"><%= f.label :user_name %>
    <%= f.text_field :user_name, autofocus: true %></div>

    <div class="field"><%= f.label :first_name %>
    <%= f.text_field :first_name %></div>

    <div class="field"><%= f.label :last_name %>
    <%= f.text_field :last_name %></div>

    <div class="field"><%= f.label :country_id, "Country", class: "inlineLabel" %>
    <%= f.select :country_id, options_from_collection_for_select(Country.all, :id, :name, f.object.country_id),{}, :class => 'selectbox' %></div>

    <% @provinces = f.object.country.try(:provinces) %>
    <div class="field">
      <%= f.label :province, "State/Province" %>
      <div id="state-field">
        <% if @provinces.present? %>
          <%= select_tag "client[province]", options_from_collection_for_select(@provinces, :abbr, :name, f.object.province), class: "selectbox", prompt: "select state/province" %>
        <% else %>
          <%= f.text_field :province %>
        <% end -%>
      </div>
    </div>

    <div class="field"><%= f.label :password %>
    <%= f.password_field :password %></div>

    <div class="field"><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %></div>

    <div class="field"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password %></div>

    <div class="field"><%= f.label :home_phone %>
    <%= f.text_field :home_phone %></div>

    <div>
      <%= f.submit "Update", class:"btn2 flBtn" %>
    </div>
<% end %>

      <div class="pLink">
        <%= link_to "Unsubscribe from newsletter", unsubscription_email_url %>
      </div>
</div>

<%= content_for :title, "Hardy Nutritionals | Profile" %>
