<h2>Order History</h2>
<% if @orders.length > 0 %>
  <table class="table">
    <thead>
      <tr>
        <td>ID</td>
        <td>Amount</td>
        <td>Status</td>
        <td>Created at</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr  class="<%= cycle('odd', 'even')%>">
          <td><%= order.id %></td>
          <td><%= number_to_currency order.total, locale: I18n.default_locale %></td>
          <td><%= order.state %></td>
          <td><%= order.created_at %></td>
          <td class="tableLinks"><%= link_to "More", myaccount_order_url(order) %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>

  <%= paginate @orders %>
<% else %>
  You currently do not have any orders.
<% end %>

<%= content_for :title, "Hardy Nutritionals | My Account - Orders" %>
