<html>
	<head>

	<style type="text/css">
		body {font-family:Arial, Helvetica, sans-serif; font-size:10;}
		td {font-family:Arial, Helvetica, sans-serif; font-size:10pt}
		h1 {font-family:Arial, Helvetica, sans-serif; font-size:12pt;}
		p {margin: 0;}
		/*.emailImg {float: left; margin-right: 50px;}*/
		.emailHeader {margin-bottom: 10px;}
		.emailWrap {width: 800px;}
		.orderInfo {
			padding: 10px 0;
			margin: 10px 0 10px;
		}
		.totals {width: 700px;}
		.copyRight {
			border-top: 1px dotted #666;
			font-family: arial,helvetica,sans-serif;
			font-size: 10px;
			height: auto;
			margin: 20px 0 0;
			padding: 10px 0;
			color: #666;
		}
		a, .ii a, a:link, a:visited {
    		color: #53BD80 !important;
		}

	</style>
	
	</head>

<body style="font-family: Arial,Helvetica, sans-serif; font-size:10pt" class="TEST">
	<div class="emailWrap">
		
	  

		<div class="orderInfo">	  
			<TABLE CELLSPACING="1" CELLPADDING="3" WIDTH="700px" BORDER="0" summary="Customer Information">
				<tr>
					<td>
						<img src="http://hardynutritionals.com/assets/Hardy-Nutritionals-Logo.png" class="emailImg" />
					</td>
					<td colspan="2" align="right">

					</td>
				</tr>
				<tr>
					<td colspan="3" align="left" style="border-bottom: 3px solid #53BD80; padding-bottom: 20px;">
						<br/>
						Hello <%= @email.first_name %>,
						<br />
						<p>Thank you for registering to receive our NutraTalk monthly newsletter.</p>
						<p>To confirm your subscription, please <%= link_to "click here", subscription_email_url(token: @email.token, protocol: "http") %>.</p>
						<p>We hope you enjoy it!</p>
						<p>Hardy Nutritionals Customer Service</p>
					</td>
				</tr>
				<tr>
					<td colspan="3">
				
					</td>
				</tr>
				<tr>
					<td align="left" style="width: 200px;">
					
						<b style="font-size: 14pt;">Hardy Nutritionals<sup>&trade;</sup></b><br/>
						Toll Free: 1-855-955-1114<br/>
						International: 1-587-271-1114<br/>
						<a href="mailto:orders@hardynutritionals.com">orders@hardynutritionals.com</a><br/>
						<b><a href="http://www.gethardy.com">www.gethardy.com</a></b>

					</td>
					<td align="left"><img src="http://hardynutritionals.com/assets/badge.jpg"/></td>
					<td align="right"><img src="http://hardynutritionals.com/assets/experience.png"/></td>
				</tr>
			</TABLE>
		</div>	

	</div> 
</body>	
	</html>

