<%= form_for [:admin, @note] do |f| %>
  <%= render_cell :app, :error_msg, resource: @note %>
  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note, rows: 4 %>
  </div>
  <div class="field">
    <%= f.check_box :deleted %>
    <%= f.label :deleted, "Delete" %>
  </div>
  <div>
    <%= f.submit class: "btn2 flBtn" %>
  </div>
<%end%>
