<!-- Start next contact day -->
<% if current_client.next_contact_date %>
  Next contact day: <%= l(current_client.next_contact_date, format: :long) %>
<% end %>
<%= render 'form' %>
<!-- End next contact day -->

Note
<%= link_to '[active]', collection_url %>
<%= link_to '[deleted]', collection_url(q: {deleted_eq: true}) %>
<table class="table notes table-striped">
  <thead>
    <tr>
    <%= sortable Note, 'note' %>
    <%= sortable Note, 'support_user_id' %>
    <%= sortable Note, 'created_at' %>
    <th></th>
    </tr>
  </thead>
  <tbody>
  <% collection.each do |obj| %>
    <tr id="note_<%= obj.id  %>" class="<%= cycle('odd', 'even')%>">
      <td><div class="noteScroll"><%= obj.note %></div></td>
      <td><%= obj.support_user.try(:first_last_name) %></td>
      <td><%= obj.created_at.try(:strftime, "%Y-%m-%d %H:%M:%S") %></td>
      <td class="tableLinks">
        <%= link_to "Show", [:admin, obj], class: "btn fr" %>
        <%= link_to "Edit", edit_resource_url(obj), class: "btn btn1 editLink" %>
      </td>
    </tr>
  <% end %>
    </tbody>
  </table>

  <%#= paginate collection %>
