<div class="noteInfo">
	<p><label>Client:</label><%= resource.client.first_last_name %></p>
	<p><label>Create Support User:</label><%= resource.support_user.try(:first_last_name) %></p>
</div>
<div class="note">
	<p><label>Note:</label></p>
	<%= resource.note %>
</div>