Diagnosis
<table class="table">
  <thead>
    <tr>
      <%= sortable Diagnosis, 'name' %>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% collection.each do |obj| %>
    <tr class="<%= cycle('odd', 'even')%>">
    <td><%= obj.name %></td>
    <td class="tableLinks">
      <%= link_to "Edit", edit_resource_url(obj), class: "btn  btn1 editLink" %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

<%= paginate collection %>

<p><%= link_to "Add New Diagnosis", new_resource_url, class: "btn2" %></p>
