<table class="table">
<thead>
  <th>Adjustment Type</th>
  <th>Amount</th>
  <th>Note</th>
  <th></th>
</thead>
<tbody>
<% collection.each do |adjustment| %>
<tr class="<%= cycle('odd', 'even')%>">
  <td><%= adjustment.adjustment_type.name %></td>
  <td><%= show_amount adjustment.amount %></td>
  <td><%= adjustment.note %></td>
  <td class="tableLinks">
      <%= link_to 'EDIT', edit_admin_client_auto_ship_auto_ship_adjustment_url(current_auto_ship.client, current_auto_ship, adjustment), class: "btn btn1 editLink" %>
      <%= link_to 'DELETE', admin_client_auto_ship_auto_ship_adjustment_url(current_auto_ship.client, current_auto_ship, adjustment), method: :delete, confirm: 'Are you sure?', class: "btn" %>
  </td>
</tr>
<% end %>
</tbody>
</table>

