<%= link_to "Back to Flexible Autoship Details", auto_shipping_detail_link, class: "backLink" %>
<%= form_for resource, url: admin_client_auto_ship_auto_ship_adjustment_url(current_auto_ship.client, current_auto_ship, resource) do |f| %>
  <%= render 'form', f: f %>
 <div>
   <%= f.submit "Update adjustment", class: "btn2 flBtn"%>
 </div>
<% end %>
