<%= link_to "Back to Auto Ship Details", auto_shipping_detail_link, class: "backLink" %>
<%= render "list", collection: collection %>
<%= link_to "New", new_admin_client_auto_ship_auto_ship_adjustment_url(current_auto_ship.client, current_auto_ship), class: "btn2 addNew" %>
