<%= link_to "Back to Flexible Autoship Details", auto_shipping_detail_link, class: "backLink" %>
<%= form_for resource, url: admin_client_auto_ship_auto_ship_adjustments_url(current_auto_ship.client, current_auto_ship) do |f| %>
  <%= render 'form', f: f %>
 <div>
   <%= f.submit "Create adjustment", class: "btn2 flBtn"%>
 </div>
<%end%>
