<div id="wrapper" class="static checkout">
  <%= render 'layouts/nav' %>

  <div class="checkoutPage">
    <%= render_cell :shopping, :progress_bar, state: :delivery %>

    <div class="checkoutCont">
      <div class="cartDetail checkout_shipping_method">
        <h1>Pick a Shipping Method</h1>
        <div class="shippingAddress">
          <%= render 'shared/shipping_method', order: session_order, url: select_shopping_shipping_methods_path, shipping_methods: @shipping_methods, shipping_rates: @shipping_rates %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>
<%= render 'shopping/shared/ga_checkout_action', items: session_order.order_items %>

<%= content_for :title, "Hardy Nutritionals | Shopping - Delivery" %>
<script type="text/javascript" charset="utf-8">
 $(function(){
    ga('ec:setAction','checkout', { 'step': 3 });
    ga('send', 'pageview');
 })
</script>
