<%= form_for [:admin, @search], url: admin_emails_url, method: :get do |f| %>

  <div class="col">
    <div class="field">
      <%= f.label :first_name_cont, "First Name" %>
      <%= f.text_field :first_name_cont %>
    </div>
    </div>

  <div class="col">
    <div class="field">
      <%= f.label :email_cont, "Email" %>
      <%= f.text_field :email_cont %>
    </div>
    </div>
  <div class="filterDateWrap">
  <div class="filterDate">
    <label>From:</label> <%= f.date_select :created_at_gteq, { end_year: Time.zone.now.year, include_blank: true }, class: "selectbox" %>
  <label>To:</label> <%= f.date_select :created_at_lteq, { end_year: Time.zone.now.year, include_blank: true }, class: "selectbox" %>
</div>
  <%= f.submit "Search", class: "btn2" %>
</div>

  <% end %>


<div class="row">
  <%= link_to "Export CSV", export_admin_emails_url(q: params[:q]), class: "btn2", method: :post %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <%= sortable Email, "first_name" %>
      <%= sortable Email, "email" %>
      <%= sortable Email, "created_at" %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |email| %>
      <tr class="<%= cycle('odd', 'even')%>">
        <td><%= email.first_name %></td>
        <td><%= email.email %></td>
        <td><%= email.created_at.try(:strftime, "%Y-%m-%d %H:%M:%S") %></td>
        <td><%= link_to "delete", admin_email_url(email), method: :delete, confirm: "Are you sure?"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate collection %>
