<div id="wrapper" class="static checkout">
	<%= render 'layouts/nav' %>
	<div class="checkoutPage">
		<%= render_cell :shopping, :progress_bar, state: :feedback %>
		<div class="checkoutCont">
			<div class="cartDetail">
				<h3>Order completed</h3>
			</div>
		</div>
	</div>
	  <%= render 'layouts/footer' %>
</div>
<%= content_for :title, "Hardy Nutritionals | Shopping - Payment" %>
