<div id="wrapper" class="static checkout">
  <%= render 'layouts/nav' %>

  <div class="checkoutPage paymentPage">
    <%= render_cell :shopping, :progress_bar, state: :payment %>

    <div class="checkoutCont">
      <div class="cartDetail confirmation checkout_payment">
      <% if current_cart.order_items.any?{|i| i.product.pre_order? } %>
        <h1>Pre Order Summary</h1>
        <% else %>
        <h1>Order Summary</h1>
          <% end %>
        <p class="line"></p>
        <br />
        <%# if current_cart.order_items.any?{|i| i.product.back_ordered? } %>
        <%# end %>
        <ul class="cartItems">
          <li>
          <ul class="cartHd">
            <li class="article">Product</li>
            <li>Price</li>
            <li>Quantity</li>
            <li>Total</li>
          </ul>
          </li>
          <% session_order.order_items.each do |item| %>
            <li>
              <ul class="cartTr">
                <li class="article">
                <%= item.name %>
                </li>
                <li class="price">
                <%= "#{number_to_currency item.price, locale: I18n.default_locale}#{item.description_after_price}" %>
                </li>
                <li><%= item.quantity %></li>
                <li class="price"><%= number_to_currency item.total, locale: I18n.default_locale %></li>
              </ul>
              <p class="line"></p>
              </li>
            <% end -%>
              <!-- <tbody>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Total</th>
            </tr>

            <% session_order.order_items.each do |item| %>
 <tr>
                <td><%= item.name %></td>
                <td><%= item.price %></td>
                <td><%= item.quantity %></td>
                <td><%= number_to_currency item.total, locale: I18n.default_locale %></td>
              </tr>
            <% end -%>
          </tbody>-->
        </ul>
      <div class="orderTotal summaryTotal">
        <p>Item Total:  <span><%= number_to_currency(session_order.subtotal, locale: I18n.default_locale) %></span></p>
        <p>Shipping:  <span><%= number_to_currency(session_order.shipping_handling_charge, locale: I18n.default_locale) %></span></p>
        <p>Tax: <span><%= number_to_currency(session_order.tax_charge, locale: I18n.default_locale) %></span></p>
        <p>Other: <span><%= number_to_currency(session_order.db_other_charge - session_order.db_shipping_adjustment_charge, locale: I18n.default_locale) %></span></p>
        <h3><label>Order Total:</label><span class="textHighlighting"><%= "#{session_order.currency.name == "USA" ? "USD" : session_order.currency.name} #{number_to_currency(session_order.total, locale: I18n.default_locale)}" %></span></h3>
      </div>
      <div id="secureLogo">
			<a href="http://www.securitymetrics.com/site_certificate?id=1277325&tk=44bc40b9db28c1a50e84da0d2178ad5e" target="_blank"><img src="http://securitymetrics.com/static/img/site_certified_logos/Credit_Card_Safe_light.png" alt="SecurityMetrics Credit Card Safe"></a>
	  </div>
        <!--<ul>
          <li>Item Total:	<%= number_to_currency(session_order.subtotal, locale: I18n.default_locale) %></li>
          <li>Shipping:	<%= number_to_currency(session_order.shipping_charge, locale: I18n.default_locale) %></li>
          <li>Tax:	<%= number_to_currency(session_order.tax_charge, locale: I18n.default_locale) %></li>
          <li>Order Total:	<%= "#{session_order.currency.name} #{number_to_currency(session_order.total, locale: I18n.default_locale)}" %></li>
        </ul>-->

        <h3>Payment Information</h3>
        <%= render_cell :app, :error_msg, msg: flash[:notice] %>
        <%= render 'shared/payment_form', order: session_order, url: shopping_payment_path %>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>
<%= render 'shopping/shared/ga_checkout_action', items: session_order.order_items %>

<%= content_for :title, "Hardy Nutritionals | Shopping - Payment" %>

<script type="text/javascript" charset="utf-8">
 $(function(){
    ga('ec:setAction','checkout', { 'step': 4 });
 })
</script>
