@import "base.css.scss";

.container {
	position:relative;
	float:left;
	width:95%;
	margin:20px 2.5%;
}
.admin {
	position:relative;
	width:100%;
	h2{ margin: 20px 0; clear: both;}
	h3{ margin: 40px 0 0 0; }
	.leftCol, .rightCol {
		float: left;
	}
	.leftCol {
		width: 45%;
	}
	.rightCol { width: 55%; }
	.btn1 {
		background: #fff;
		-moz-box-shadow: 2px 2px 0 0 #ccc;
		-webkit-box-shadow: 2px 2px 0 0 #ccc;
		box-shadow: 2px 2px 0 0 #ccc;
		&:hover {
		border: 1px solid #DDDDDD;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		}
	}

}
.area{
	clear: both;
	padding: 20px 0;
}
#adminNav {
	height:70px;
	line-height:70px;
	margin-bottom:20px;
	background:#fff;
	font-size:14px;
	font-size:1.4rem;
	position:relative;
	z-index:99;
	#msg {/*/mirrur*/
		position:absolute;
		right:20px; top:20px;
		height:35px;
		line-height:35px;
	}
}
.nav>li, .subNav>ul>li{
	float: left;
}
.nav>li a, .subNav li a{
	color: #3f3e3b;
}

.admin .nav li {margin:0 20px;}
#logo{
	width: 150px;
}
.logout { margin-left: 15px; }
.adminSubMenu{
	position: relative;
	ul{
		position: absolute;
		left:-20px;
		background: #fff;
		display: none;
		li{
			//margin:0 20px 0 0;
			height: 30px;
			line-height: 30px;
			width: 200px;
		}
		a{
			color:#afadaa;
			&:hover{
				color: #3f3e3b;
			}
		}
	}
}
.textarea {
	@extend .clear;
}
.nav li.active a,
.subNav li.active a {
	color: #989898;
	cursor: default;
}
.subNav {
	margin: 0 0 40px 0;
	@extend .clear;
	ul {
		float: left;
		margin: 0 0 15px;
		width: 100%;
		background: #fff;
		padding: 10px;  
	}
	.edit_order {
		max-width: 635px;
		margin: 0;
		@extend .clear; 
		.btn2 { right: 300px;}
	}
	.status {
		@include fontStyle(#000,$smallFont,normal,($cabinBold));
		
		span {
			@include fontStyle($darkGrey,$font14,normal($museoItalic));
			margin-right: 10px;
			padding-right: 10px;
			border-right: 2px solid $lightGrey;
			&:last-child {border: none;}
		}
	}
}
.status {
	margin:0 0 15px 0;
}

.admin {
	input.updateOrder{
		margin-top: 0;
		right: 500px;
	}
	.table {
		border-collapse:collapse;
		clear: both;
		width:100%;
		td, th {
			padding:20px;
			color: #3f3e3b;
		}
	}
	.notes td, .notes th {
		min-width: 180px;
	}
	table tbody tr.odd,
	.odd {
		background:#fff;
	}
	th {
		font-size:16px;
		text-align: left;
	}
	.sortable a {
		background-position:0 6px;
		color: #3f3e3b;
		white-space: nowrap;
	}
	.noteScroll {
		height: 100px;
		max-width: 570px;
    	overflow-y: scroll;
	}
}
.sortable a{
 	background: url("/assets/orderable.png") no-repeat 0 4px;
  	padding-left: 10px;
}
.sortable-asc a{
  	background-position: 0 -56px;
}
.sortable-desc a{
  	background-position: 0 -27px;
}
.admin {
	td .btn {
		cursor: pointer;
		margin: 0 10px 0 10px;	/* Mirrur - (add left margin) */ 
	}
	td.tableLinks {
		//padding-right: 10px;
		text-align: right;
		line-height: 35px;
		padding: 10px 20px;
		a{
			color: #3f3e3b;
		}
	}
	.editLink{
		//width: 55px;
		display: inline-block;
	}
	a.addNew {
		position: relative;
		text-align: center;
	}
	.btn2{
		width: auto;
		margin: 20px 0 0 0;
		padding: 0 15px;
		float: right;
	}
}
.boxShadow {
	@include vendorFix(box-shadow,0px 0px 15px rgba(0,0,0,0.1));/*/mirrur*/
}

.admin form, .pLink {
	//margin: 0 auto;
	//max-width: 845px;
	//max-width: 990px;
	//max-width: 1045px;
	width: 100%;
	@extend .clearfix;
}
.admin .field{
	margin: 0 0 10px;
	@extend .clearfix;
	label {
		margin: 0 10px 0 0;
	}
	.sbHolder {
		height: 25px;
		line-height: 25px;
		display: block;
		//width: 150px;
		width: 280px;
		margin: 10px 0;
	}
	.sbOptions {
		width: 280px;
	}
	.sbToggle {
		margin: 11px 0 0;
	}
	input, textarea {
		background: #fff;
		border: 1px solid #ccc;
		margin: 3px 0;
		padding: 10px 20px;
	}
	textarea {
		width: 100%
	}
	input {
		width: 300px;
		display: block;
	}
	input[checked]{
		width: auto;
		padding: 0;
	}
}
.admin	input[type="checkbox"] {
	width: auto;
	display: inline;
}
.field input[type = "radio"] {
	display: inline;
	width: auto;
	border: 0;
	padding: 0 15px;
}
.count_number {
	width: 50px;
}
.countField {
	height: 35px;
	line-height: 35px;
	margin: 5px 0;
	.count_operate {/*/mirrur nest */
		width: auto;
		margin: 0 5px;
		padding: 0 10px;
		display: inline-block;
	}
}
.pLink{
	clear: both;
}
.admin{
	.flBtn{
		float: left;
		margin: 15px 0;
	}
	.fr{
		float: right;
	}
	.pagination {
		height: auto;
		line-height: 42px;
		float: left;
		clear: both;
		border: 1px solid #e6e6e6;
	}
	.pagination a{
		color: #3f3e3b;
	}
	.page, .next, .last, .first, .prev {
		background: #fff;
		cursor: pointer;
		float: left;
		height: 40px;
		line-height: 40px;
		position: relative;
		text-align: center;
		width: 40px;
	}
	.shipments{
		@extend .clearfix;
	}
}

.page:hover, .pagination .current {
	background: #f0f0f0;
}
.addresses, .shippingAddress{
	float: left;
	//width: 300px;
	margin-right: 80px;
	.pLink {
		position: relative;
		//left: 250px;
		//top: -25px;
	}
}
.shippingAddress form{
	float:left;
	width: auto;
	.field input[type = "submit"] {
		display: inline;
		width: auto;
		border: 0;
		padding: 0 15px;
	}
	.field input[type = "submit"] { background: #53bd80; }
}
.addressBtn{
	clear: both;
	margin: 10px 0 0 0;
}
.nested {
	margin: 0 0 70px 0;
}
.admin .priceGroup {
	@extend .clear;
	td, th {
		width: 150px;
	}
	th {
		padding: 15px 20px 10px 0;
	}
	td {
		padding: 20px 20px 20px 0;
		input.price_field{
			width: 80px;
		}
	}
}
.admin .even .price_field,
.admin .count_number {
	background: #fff;
}
.nested a,
a.button{
	color: #53bd80;
}
.nested .field {
	display: inline-block;
	width: 49%;
	input {/*/mirrur nest */
		width: 75%;
	}
}

.count_operate{
	cursor: pointer;
}
.unit {
	.sbHolder, .sbOptions {
		width: 150px;
	}
	.sbOptions a {
		padding-left: 20px;
	}
}
.symptoms {
	clear: both;
}
.symptomsLabels{
	background: #fff;
	border: 1px solid #ccc;
	cursor: pointer;
	display: inline-block;
	margin: 5px;
	padding: 5px 10px 5px 5px;
}
.admin .savedAddress {
	float: left;
	margin: 0 20px 0 0;
	width: 300px;
	div {
		@extend .clearfix;
		margin-bottom: 10px;
	}
}
.shippmentView {
	width: 620px;
	margin: 10px 0 0;
	float: left;
	text-align: right;
}
.searchProduct {
	input[type="text"] { background: #fff; }
	.btn2 {
		float: right;
		margin: 0 20px;
		//right: 150px;
	}
	#search_quantity { width: 80px; }
	label { margin: 0 10px 0 20px;}
	form { max-width: 625px; }
}
.orderDate {
	position: relative;
	margin-bottom: 15px;
	//width: 975px; //Mirrur - change width form 940px to 975px
	.btn2 {
		margin:0 0 0 20px;
	}
	.sbOptions { 
		width: 153px; 
		.last { text-align: left; }
	}
}
div.orderDate {
	float: none;
}
.subNav, .orderDate {
	label {margin: 0 0 0 10px;}
}
/*Images*/
#images {
	clear: both;
	margin: 20px 0 0;
	.prodImages {
		clear: both;
		li {
			background: #fff;
			margin: 10px;
			padding: 5px;
			text-align: center;
			width: 125px;
			display: inline-block;
		}
		li:first-child { margin-left: 0; }
	}
}
.bar { 
	height: 20px;
	background: green;
	margin-top: 10px;
}
#images .file_name input { margin-top:10px; }
/* Rich text editor*/
#editor_body_wrap {
	background-color: #eee!important;
	td { padding: 2px; }
}
/*myaccount*/
.orderTable { clear: both; }

.filter {
	width: 300px;
	margin: 0 auto;
	//.field { float: left; }
	.btn2 {
		float: left;
		margin: 25px 0px 0 30px;
	}
}
/************clients**************/
.currentClient {
	a.btn { 
		margin-left: 20px; 
		padding-left: 20px;
		border-left: 1px solid #8d8b88;
	}
}
.filterClient {
	width: 555px;
	//margin: 0 auto;
	.col .btn2 { margin: 9px 0 0 0; }
}
.col {
	float: left;
	margin-left: 45px;//Mirrur change it from 25px to 45px
	&:last-child { padding-top: 15px; }
}
.checkboxwrap { width: 280px;}
.btnwrap {
	margin-bottom: 15px;
	@extend .clearfix;
}
.selectbox2 {
	border: 1px solid #DDDDDD;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    overflow-y: hidden;
    width: 280px;
}
.selectbox2 option { padding: 2px 10px; }
/*notes*/
.noteInfo, .note {
	float: left;
	padding: 30px 0;
}
.noteInfo { width: 30%; }
.note { width: 70%; }
/*sales and orders*/
thead tr, .total{ background: darken($pagebg,10%); }
.searchProduct { margin: 0 0 15px; }
#checkbox1 {
	margin: 0 0 30px;
}

/*invoice*/
.printLink { 
	display: block;
	margin-bottom: 15px;
}
.orderPrintInfo {
	border: solid 1px #000;
	//margin: 20px 50px;
	//min-height: 280px;
	min-height: 200px;
	position: relative;
	width: 550px;
	text-transform:uppercase;
	@extend .clearfix;
}
.lTop, .rTop {
	//position: absolute;
	float: left;
	max-width: 50%;
}
.rTop { 
	position: relative;
	top: -20px;
	clear: both;
    float: none;
    font-weight: bold;
    margin: 0 auto 20px;
    text-align: center;
    width: 300px;
    font-family: "cabinbold",helvetica,verdana,sans-serif;
    //Mirrur comment
    /*font-weight: bold;
    left: 50%;
    margin-left: -150px;
    max-width: 300px;
    position: absolute;
    text-align: center;
    top: 35px;
    width: 300px;*/
}

.bottom { 
	width: 100%;
	bottom: 10px;
	position: absolute;
	clear: both;
	@extend .clearfix; 
}
.attn {
	//position: absolute;
	//right: 0;
	//bottom: 0;
	font-weight: bold;
	float: right;
	margin-top: 60px;
	max-width: 50%;
}
.barcode { float: left; margin: 8px; position: absolute; bottom: 0px; }
.shipmentPrintInfo { 
	border: solid 1px #000; 
	text-transform:uppercase;
	@extend .clearfix;
}
.col1{
	float: left;
	width: 200px;
	&:first-child {
		font-weight: bold;
	}
}
.main { 
	clear: both;
	width: 700px; 
	padding-top: 60px;
	table { 
		width: 100%; 
		border-collapse: collapse;
		border-spacing: 0px;
		margin-top: 20px; 
		th { 
			border-bottom: solid 2px #000; 
		}

	}
	thead tr {background: none;}

}
.companyInfo { 
	display: none; 

}

//.inforWapper, .orderWapper { float: left; @extend .clearfix;}
.inforWapper {
	width: 20%;
	float: right;
	position: relative;
}
.orderWapper {
	width: 80%;
	float: left;
}
.rightBtn { float: right; @extend .clearfix;}

.commission {
	max-width: 1045px;
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
	span {
		margin-right: 100px;
	}
	label {
		margin-right: 20px;
	}

}

/*orders*/
.orderFilter { margin: 30px 0 20px; }
.filterDateWrap { 
	@extend .clearfix;
	position: relative;
	clear: both;
	height: 35px;
	margin-left: 30px;
	width: 80%;
	.btn2 { 
		position: absolute;
		top: 10px;
		right: 170px;
		margin: 0;
	}
	.filterDate { margin-right: 68px; }
}
.filterDate {
	clear: both;
	margin: 10px 0 30px;
	//text-align: center;
	.btn2 {
		margin: 0 30px;
		float: none;
	}
	.field {
		float: none;
	}
	label { margin-left: 15px; }
}
.fourClos {
	.col { margin-left: 33px; }
	.firstcol { margin-left: 0; }
}
.radioField {
	clear: both;
	margin: 10px 45px;
}

.buttons {
	@extend .clearfix;
	position: relative;
	a.button {
		height: 35px;
		line-height: 35px;
		display: block;
		float: left;
		margin: 20px 10px;
	}
	.flBtn {
		margin-top: 20px;
	}
}
.row { 
	@extend .clearfix;
}
#locationRep  {
	.block { padding: 10px; }
	.reportField { margin: 0 10px 0 0; }	
}
.location {
	margin: 20px 0;
	padding: 20px;
	width: 50%;
}
#locationTab {
	border-collapse: collapse;
	padding: 10px;
	width: 100%;
	tr {
		border-bottom: 1px solid #ccc;
	}
	tr:last-child{ 
		 border-bottom: none;
	}
	.clientHead { color: #53bd80; }
}
#select-all {
	margin: 0 10px 20px;
	text-align: right;
	.btn2 { 
		float: none;
		margin-left: 10px;
		vertical-align: baseline;
	}
	label {}
}
/*********My Account*********/
.accountNav {
	//background: none repeat scroll 0 0 #fff;
    //margin-bottom: 40px;
    //padding: 10px;
    position: relative;
    width: 100%;
    z-index: 2;
}
li.accountBtn {
	float: left;
    //margin: 0 10px 0px;
    
    a {
    	background: #fff;
    	border: 1px solid #ccc;
    	border-bottom: none;
    	display: block;
    	opacity: 0.75;
    	padding: 10px;
    }
    &.active a {
    	border-bottom: 1px solid #fff;
		opacity: 1;
    }
}
.myaccount {
	background: #fff;
	border: 1px solid #ccc;
	clear: both;
	top: -1px;
	padding: 0 20px 30px;
	z-index: 1;
	h3 { margin: 0; }
	.field input, .field textarea {
		
	}
	table {
		margin-bottom: 10px;
		tr {
			border-bottom: 1px solid #ccc;
		}
	}
	.backLink {
		background: #ddd;
		border: 1px solid lighten($green, 5%);
		color: $darkGrey;
		float: right;
		margin: 10px 0;
		padding: 5px 10px;
		@include vendorFix(border-radius, 3px);
		&:hover {
			background: #ccc;
		}
	}
	.error_messages {
		margin-top: 10px;
	}
}
#autoAddress, #autoShipping, #autoPay, #autoInterval {
	background: lighten($pagebg, 2%);
	padding: 10px;
}