/* Reset =================================================== */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, 
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, 
aside, figure, footer, header, hgroup, menu, nav, section, time, mark, 
audio, video {
  	margin:0;
  	padding:0;
  	border:0;
  	outline:0;
  	font-size:100%;
  	font-weight: normal;
  	vertical-align:middle;
  	background:transparent;
}
article, aside, figure, footer, header, hgroup, nav, section {
  	display:block;
}
ol, ul {list-style:none;}
span, em, b, i {
	vertical-align: baseline;
}
sup{
	vertical-align: super;
	font-size: smaller;
}
/* Sass Extensions & Mixins =================================================== */
.clearfix {
    zoom:1;
    &:before, &:after {
        content:"\0020";
        display:block;
        height:0;
        overflow:hidden;
    }
    &:after {
        clear:both;
    }
}
.clear{
	clear: both;
}
@mixin fontStyle($color,$size,$weight,$family:("cabinbold", helvetica, verdana, sans-serif)) {
	color:$color;
	font:{
		size:$size;
		weight:$weight;
		family:$family;
	}
}
@mixin vendorFix($name, $argument) {
	#{$name}: $argument;
	-webkit-#{$name}: $argument;
	-ms-#{$name}: $argument;
	-moz-#{$name}: $argument;
	-o-#{$name}: $argument;
}
@mixin line($position, $FColor, $LColor) {
    background-image: -webkit-linear-gradient($position, $FColor, $LColor);
    background-image: -moz-linear-gradient($position, $FColor, $LColor);
    background-image: -ms-linear-gradient($position, $FColor, $LColor);
    background-image: -o-linear-gradient($position, $FColor, $LColor);
	background-image: linear-gradient($position, $FColor, $LColor);
}
@mixin bgGradient{
	background: -moz-linear-gradient(top, #ebeae8, #fafafa 100%);
	background: -o-linear-gradient(top, #ebeae8, #fafafa 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ebeae8), to(#fafafa));
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ebeae8,endcolorstr=#fafafa,gradientType=0);
}
/* Mixin Animations =================================================== */
@mixin btnEase {
	-webkit-transition-property:color, background;  
	-webkit-transition-duration:.5s, .5s;  
	-webkit-transition-timing-function:linear, ease-in;
	/* Cross Browser */
	-moz-transition-property:color, background;
	-moz-transition-duration:.5s, .5s;
	-moz-transition-timing-function:linear, ease-in;
}
@mixin accelerate { 
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
/* Sass Variables =================================================== */
/* Sizes */
$margin:16px;
$width:800px;

/* Colors */
$lightGrey:#8d8b88;
$midGrey:#555452;
$darkGrey:#3f3e3b;
$green:#53bd80;
$redAlert:#df7a7e;
$yellowNotification:#f4bf71;
$pagebg:#f1f0ee;
$white:#fff;

$largeFont:42px;
$mediumFont:30px;
$smallFont:18px;
$font14:14px;
$font12:12px;
$font11:12px;
$font10:10px;

/*Font Families*/
$museoSlab: "museo_slab",  helvetica, verdana, sans-serif;
$museoItalic:"museo_slab_italic",helvetica,verdana,sans-serif;
$cabinBold: "cabinbold", helvetica, verdana, sans-serif;
$cabin: "cabinregular", helvetica, verdana, sans-serif;

/* Global Elements =================================================== */
* {
	@include vendorFix(box-sizing, border-box);
}
*:focus {outline:none;}
html {
	@include vendorFix(text-size-adjust, 100%);
	text-rendering:optimizeLegibility;
	font-size:62.5%;
	overflow-y: scroll;
}
body {
	@extend .clearfix;
	background-color:$pagebg;
	font-family: $cabin;
	font-size: 14px;
}
body p {
	@include fontStyle($midGrey,$font12,normal,($museoSlab));
	line-height:18px;
	& a {
		color:$green;
	}
	& a:hover {
		color:$darkGrey;
	}
}
a {
	text-decoration:none;
	color: $lightGrey;
	&:hover {
		color: $darkGrey;
	}
}
b {font-weight: bold;}
input {
	/*-webkit-appearance: none;*/
}
/* Mobile Device Specifics =================================================== */
* {
	@include vendorFix(touch-callout, none);
}
*:active {
	@include vendorFix(tap-highlight-color, rgba(0,0,0,0));
}
/* Vendor Specifics =================================================== */
/* Placeholder Colors */
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
	color:#999;
}
/* Highlight Colors */
::selection {background:$lightGrey; color:$white;}
::-moz-selection {background:$lightGrey; color:$white;}
/* Element Classes =================================================== */
h1 {
	@include fontStyle($darkGrey,$largeFont,bold);
}
h2 {
	@include fontStyle($darkGrey,$mediumFont,bold);
}
h3 {
	@include fontStyle($darkGrey,$smallFont,bold);
}
h4 {
	@include fontStyle($darkGrey,$smallFont,normal,($museoItalic));
}
/*.navLinks{
	@include fontStyle($darkGrey,$font14,bold);
}*/
blockquote{
	@include fontStyle($midGrey,$font12,normal,($museoSlab));
	//position:absolute;
	padding:5px 0 0 25px;
	//width: 216px;
	background: url("/assets/quoteIcon.png") no-repeat 0 0;
}
/* Responsive Images & Video =================================================== */
img {
	max-width:100%;
	height:auto;
	width:auto;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 - video aspect ration*/
	padding-top: 25px;
	height: 0;
}
.videoWrapper object,
.videoWrapper embed,  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* HTML Form Elements =================================================== */
input[type=search] {-webkit-appearance:none;}
input[type="password"] {-webkit-text-security: square;} /* Change the default password hide icon */
/* remove webkit search input decoration and cancel button */
input[type=search]::-webkit-search-decoration, 
input[type=search]::-webkit-search-cancel-button {display:none;}

/* Global Structure Layout =================================================== */
#wrapper {
	position:relative;
	max-width:1280px;
	margin:0 auto;
	padding-bottom: 1px;
}
header {
	width:100%; //Clayton - changed from [85%] to [100%]
	margin: 0 auto;
	z-index:9;
	.actions { padding: 0 10px; }
	nav{
		background:$white;
		@include vendorFix(box-shadow, 8px 8px 0 rgba(0,0,0,0.3));
	}
	.home & {
		position: fixed; //Clayton - fixed position on the homepage so it does not move while content scrolls up
		left: 0;
		top: 10px;
		section {
			max-width: 1280px;
			margin: 0 auto;
		}
	}
	section {
		@extend .clearfix;
	}
	p{
		float: left;
		height:40px; 
		line-height:40px;
		color:$lightGrey;
	}
}
.content {
	padding: 20px 0;
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
	height:1450px;
}
#overlay {
	background: $pagebg;
}
.icon {
	background: url('/assets/hardySmallSprites.png') no-repeat 0 0;
}
.block {
	background: white;
	@include vendorFix(box-shadow, 8px 8px 0 rgba(0,0,0,0.2));
}
/* Language Drop Down */
.miniNav{
	font-size: 12px;
	float:right;
	&>li{
		float: left;
		height: 40px;
		line-height: 40px;
		margin:0 6px;
		a{
			display: inline-block;
			color: $lightGrey;
    		&:hover {
				background-position: 68px -107px;
				color: $midGrey;
			}
		}
	}
	@extend .clearfix;
}
#support {
	text-align: right;
	width: 60%;
}
li.language{/*Mirrur - Brought up a level*/
	margin-top:7px;
	height: 30px;
	line-height: 30px;
	position:relative;
	&>a{
		height:30px;
    /*change by liang*/
		/*width:80px;*/
		//width:130px;
		width: auto;
		line-height: 30px;
		padding: 0 20px 0 25px;
		position:relative;
		z-index: 10;
		&:hover {
			background-position: 65px -107px;
		}
		&:hover .langIcon {
			background-position: 0 -24px;
		}
		&:hover .accIcon {
			background-position: 0 -700px;
		}
	}
	span.arrowIcon {
		background-position: 0 -93px;
		float: right;
		height: 10px;
		margin-top: 5px;
		position: absolute;
		right: 5px;
		top: 5px;
		width: 10px;
	}
	.langIcon, .accIcon {
		height: 13px;
		left: 5px;
		margin-top: -7px;
		position: absolute;
		top: 50%;
		width: 13px;
	}
	.accIcon {
		background-position: 0 -680px;
	}
	ul{
		position: absolute;
		top:30px;
		left:0;
		z-index: 99999;
		border:solid 1px #dddddd;
		margin:-1px 0 0 0px;
		padding: 8px;
		background-color:$white;
		display: none;
		a{
			width:140px;
			height:20px;
			line-height: 20px;
		}
		@include vendorFix("border-radius", 0 5px 5px 5px);
	}
	.chooseLanguage{
		border:solid 1px #dddddd;
		border-bottom:0;
		background-color:$white;
		@include vendorFix("border-radius",5px 5px 0 0);
	}
}
/* Main Drop Nav */
nav{
    max-width: 1280px;
    height:70px;
    margin: 0 auto;
    position:relative;
    .logo{
    	width:9.375%;
    	min-width: 100px;
    	line-height: 70px;
    	margin-left: 1.875%;
    	float: left;
    }
}
.flexnav {
	overflow: hidden;
	float:right;
	width: 100%;
	max-height: 0;
	background:$white;
	&>li>a{
        @include fontStyle($darkGrey,$font14,bold);
        span{
            @include fontStyle($darkGrey,$font10,normal,($museoItalic));
            display:block;
        }
	}
	&.show {
		max-height: 1000px;
		background:$white;
	}
	/*&.one-page {
		position: fixed;
		top: 50px;
		right: 5%;
		max-width: 200px;
	}*/
	li {
		font-size: 100%;
		position: relative;			
	
		a {
			position: relative;
			display: block;
			padding: .96em;
			z-index: 500;
			overflow: hidden;
			color: $darkGrey;
		}
	}
	.touch-button {
		width: 65px;
		height: 39px;
		&:hover {
			cursor: pointer;
		}
		.navicon {
			position: relative;
			font-size: $font12;
			padding:0 6px;
			background: url("/assets/hardySmallSprites.png") no-repeat 0 -210px;
		}
	}
    .seekInfo{
        div{
            float: left;
            margin-bottom:25px;
        }
        .lastItem{
            clear: both;
        }
        .dailyNutrients {
        	//margin-right: 15px; Mirrur - comment it out
        	width: 65%;
        }
        .otherProducts {
        	width: 30%;
        }
    }
    .cart{
        width: 118px;
		float: right;
        a{
            background-color:$green;
            color: $white;
            padding: 22px 20px 20px 40px;
            font-size: 12px;
            height: 70px;
            span {
                color: $white;
                display: block;
            }
            &:hover {
                background-color:$green;
            }
        }
    }
    .cartIcon{
        padding:12px;
        position:absolute;
        top: 20px;
        left:12px;
        background:url("/assets/hardySmallSprites.png") no-repeat 0 -185px;
    }
    .activeUlItem {
    	border-top: solid 1px #cdcdcd;
    	border-bottom: solid 1px #cdcdcd;
    }
	.activeItem {
	    @include vendorFix(transform, rotate(180deg));
	    .navicon {
	    	top: 0;
	    }
	}
	li.search { 
		margin: 22px 0 0 10px; 
		position: relative;
	}
	.search a {
		padding: 0;
	}
}
.subnav {
	//width: 100%;
	display: none;
	background: $white;
	li {
		float: none;
		width: 100%;			
		a {
			display: block;
			padding:2px 10px;
			@include fontStyle($lightGrey,$font14,normal);
			&:hover{
				color: $darkGrey;
			}
		}
	}
	.firstItem{
		padding:20px 0 20px 0px;
		a{
			@include fontStyle($green,$font14,normal,($museoItalic));//Mirrur - change $lightGrey,$font10 to $green,$font14 
		}
	}
	.lastItem{
		margin-top:25px;
		a{
			color:$white;
			line-height:35px;
			background:$green;
			&:hover {
				.goArrow{
					background-position: 5px -402px;
				}
			}
		}
		span{
			display: inline;
		}
        .goArrow{
            display: inline-block;
            padding:4px 8px;
            background:url("/assets/hardySmallSprites.png") no-repeat 5px -383px;
        }
	}
}
#searchBox {
	display: none;
	margin: 30px 0 0 -150px;
	position: absolute;
	left: 50%;
	width: 300px;
	z-index: 600;
	.gsc-control-cse.gsc-control-cse-en {
		background: none;
		border: none;
		padding: 0;
	}
	.gsc-search-box-tools .gsc-search-box .gsc-input { padding: 0; }
	.gsc-control-cse .gsc-control-wrapper-cse, .gsc-input-box { 
		background: none;
		border: none; 
	}
	td.gsc-search-button { display: none; }
	.gsib_a { padding: 0; }
	input.gsc-input {
		border: 1px solid $lightGrey !important;
		font-size: 14px !important;
		padding: 5px !important;
	}
	.gsc-search-box .gsc-input > input:focus, .gsc-input-box-focus, 
	.gsc-search-box .gsc-input > input:hover, .gsc-input-box-hover { box-shadow: none; }
	.gsst_a .gscb_a {
		color: $green;
	}
	.gsst_a:hover .gscb_a, .gsst_a:focus .gscb_a {
		color: lighten($green, 10%);
	}
	.gsc-selected-option-container { width: auto !important; }
}
.menu-button {
	display: block;
	color: $darkGrey;
	cursor: pointer;
	position:absolute;
	height:70px;
	line-height:70px;
	text-align:center;
	width:65px;
	right:0px;
	background:$darkGrey url("/assets/menuBtn.gif") no-repeat -17px -13px;
	text-indent:-9999px;
	z-index:3;
	/*&.one-page {
		position: fixed;
		top: 0;
		right: 5%;
		padding-right: 45px;
	}*/
	.touch-button {
		width: 50px;
		height: 50px;
		.navicon {
			font-size: 16px;
		}
	}
}
.touch-button {
	background: transparent;
	display: block;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 9999;
	.navicon {
		position: relative;
		top: 1em;
		color: #666;
	}
}
.footer{
	position:absolute;
	bottom:50px;
	margin:0 0 5px 0;
	height:30px;
	line-height:30px;
	width:100%;
	span{
		float: left;
		@include fontStyle($lightGrey,$font10,normal,($museoSlab));
	}
	ul{
		float: right;
		li{
			float: left;
			margin:0 10px;
		}
	}
	a{
		@include fontStyle($midGrey,$font12,normal,($museoSlab));
	}
}
#fda {
	position: absolute;
	bottom: 0;
	border: 1px solid $lightGrey;
	float: left;
	margin: 0 0 5px;
	padding: 5px;
	
	p {@include fontStyle($lightGrey,$font10,normal,($museoSlab));}
}
#security {
	position: absolute;
	bottom: 5px;
	left:420px;
	img { width: 100px; }
}
#awLink {
	bottom: 5px;
	font-family: times new roman;
	font-size: 10px;
	line-height: 12px;
	position: absolute;
	right: 10px;
	width: 215px;
}
#awLink p {
	line-height: 12px;
	font-size: 10px;
}
#awLink > a {
	float: left;
	margin-right: 10px;
}
#awLink a {
	color: #9F8B52;
	text-decoration: underline;
}
/*Input Fields*/
input[type="text"], 
input[type="password"],
input[type="email"],
.textarea textarea {
	background: $pagebg;
	border: 1px solid $pagebg;
	@include fontStyle($lightGrey,$font12,normal,($museoItalic));
	margin: 2px 0 5px;
	padding: 5px 10px;
	@include vendorFix(box-shadow, 4px 4px 0 rgba(221,221,226,0.9));
	
	&:focus {
		border: 1px solid #DDDDDD;
		@include fontStyle(#333,inherit,normal,($museoSlab));
	}
}
input[type="text"], 
input[type="password"],
input[type="email"] {
	max-width: 280px;/*Mirrur -  change the width: 280px to max-width: 280px and add the rule "width: 100%" */
	width: 100%;
}
.imgWrap {
	display: block;
}
/* Homepage Layout =================================================== */
.homepage{
	position: fixed;
	margin: auto 2.5%; //Joey add this to make the homepage center
	width: 95%; //Clayton - Added
	top:120px;
	.slidewrap {
		//margin: 0 2.5%;
		margin: 0 auto;
		max-width: 1280px;
		width: 95%;
	}
}
.wrap {
	background: $pagebg;
	position: relative;
  	width: 100%;
}

/*main slider*/
.carousel {
 	margin: 10px auto;
 	max-width: 1580px;
 	font-family: sans-serif;
 	position: relative;
}
.slider .slide { left: 0 !important; text-align: center; }
/*
 *
 *Responsive Slider
 *
*/
.slidewrap { position: relative; }
.slidecontrols {
	display: none;
}
.carousel-tabs { 
	clear: both;
	background: url('/assets/slideNav.png') no-repeat 0 0;
	bottom: -1px;
	height: 33px;
	padding: 0px 0 0px 10px;
	position: absolute;
	right: -1px;
	width: 439px;
	li {
		background: $white;
		float: left;
		height: 33px;
		margin: 0 5px;
		line-height: 33px;
		text-align: center;
		width: 80px;
		@include vendorFix(transform, skew(-45deg));
		a {
			color: $lightGrey;
			display: block;
			font-size: $font14;
			@include vendorFix(transform, skew(45deg));
		}
	}
	.carousel-active-tab {
		background: $green!important;
		a {
			color: $white;
			text-shadow: 2px 1px 2px rgba(0,0,0,0.5);
		}
	}
}
.carousel-disabled,
.mr-rotato-disabled { color: #aaa; }

.slide {
	position: relative;
	//margin-right: 1px;
}

.slideContent {
	height: 180px;
	position: relative;
	width: 465px;
	.tag {
		background: $green;
		position: absolute;
		top: 80px;
		right: 130px;
		padding: 10px 25px;
		p {
			@include fontStyle($white,$font14,normal,($cabin));
			text-align: right;
		}
	}
}
.slideHead {
	@include fontStyle($white,$largeFont,normal,($cabin));
	position: absolute;
	bottom: 75px;
	left: 25px;
	width: 545px;
	
	em { font-family: $museoItalic; }
}
.events {
	font: normal 11px/1.4 arial, helvetica, sans-serif;
}

.textHighlighting{
	color:$green;
}
.lineThrough{
	text-decoration:line-through;
}			
.smallTag{
	display:block;
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:$green;
	position:absolute;
	top:20px;
	left:-3px;
	z-index:5;
	@include fontStyle($white,$font10,bold,($cabinBold));
	@include vendorFix(box-shadow, 3px 3px 0 rgba(0,0,0,0.2));
}
.arrow{
	position: absolute;
	top:-14px;
	left: 30px;
	display: block;
	border-style:solid;
	border-width:7px;
	border-color:rgba(0,0,0,0) $green $green rgba(0,0,0,0);
	width:0;
	height:0;
	line-height:0;
}

.content .viewMore{
	@include fontStyle(darken($green, 10%),1em,normal,($cabinBold));
	display: block;
	padding: 15px 0 20px;
}

/*miniSlider*/
.productShow{
	@extend .block;
	max-width:400px;
	width:31.4049%; // 380px/1210px
	position:absolute;
	padding-bottom: 30px;
	p{//Mirrur- change the font-size form 1em(12px) to 13px
		@include fontStyle($midGrey,13px,normal,($cabinBold));
		margin: 10px 0 0;
	}
	.miniSlidewrap{
		margin: 0 auto;
		text-align: center;
		position:relative;
		padding:15px 0 0 0;
		.productTitle{//this font-size depend on .productShow p 
			@include fontStyle($darkGrey,1em,normal,($cabinBold));
		}
	}
	.carousel-tabs{
		clear: both;
		width:70px;
		padding: 15px 0 0;
		margin:0 auto;
		position:static;
		text-align: center;
		background:none;
		li{
			width:10px;
			height:10px;
			line-height: 10px;
			@include vendorFix(border-radius, 5px);
			background:#ddd;
			@include vendorFix(transform, skew(0deg));
		}
		a{
			text-indent:-9999px;
			@include vendorFix(transform, skew(0deg));
		}
	}
	&>p{
		padding:0 60px;
	}
	.viewMore{
		//padding: 15px 60px 20px;
	}
	.arrow{
		top: -15px;
		margin:43px 0 0 -15px;
		border-width: 15px 15px 0 0px;
		border-color: $green transparent transparent transparent;
		@include vendorFix(transform, skew(-22deg));
	}
	.hover, .hover:hover {
		background: none;
	}
	.slide img { max-width: 130px; }
}
.hover{
	position:absolute;
	top:0px;
	z-index: 3;
	width:100%;
	height:300px;
	background:rgba(0,0,0,0);
	cursor: pointer;
	overflow: hidden;
	&:hover{
		background:rgba(0,0,0,0.7);
	}
	.toolTip{
		position:absolute;
		white-space:nowrap;
		top:110px;
		left: 110px;
		height:29px;
		line-height: 29px;
		padding: 0 12px;
		text-align: center;
		background:$green;
		display: none;
		@include fontStyle($white,11px,bold,($cabinBold));
	}
}
.studiesCont{
	@extend .block;
	position:absolute;
	max-width:510px;
	width:41.14876%; 
	padding:15px 9px 7px;
	left:33.5%;
	cursor: pointer;
	top: 760px;
	h3{
		//margin:40px 9px 5px;
	}
	p{
		margin: 15px 9px 1 0px;
		font-size: 13px;
		font-family: $museoSlab;
		//@include fontStyle($lightGrey,13px,normal,($museoSlab));//Mirrur- change the font-size form $font11 to 13px
	}
	img { padding-top: 0px; }
}

.MentalHealthCont{
	@extend .block;
	position:absolute;
	right:1.2396%;
	max-width:290px;
	width:23.9669%;
	padding:15px 0 0 10px;
	.rightCont {
		width: 75px;
		float: left;
		margin: 0;
	}
	p { 
		float: left;
		padding: 0 0 0 30px;
		line-height: 69px;
	}
	li{ 
		margin-bottom: 5px;
		@extend .clearfix;
	} 
	a {
		float: left;
		width: 100%;
		&:hover {
			background: #eee;
		}
	}
	h3 {
		margin: 0 10px 15px 0;
	}
}
.signUp{
	position:absolute;
	//top:630px;
	top: 670px;
	right:1.2396%;
	max-width:840px;
	width:65.2892%;
	height:68px;
	line-height:68px;
	background:$darkGrey;
	text-transform:uppercase;
	text-align:center;
	@include fontStyle($white,14px,normal,($cabin));
	@include vendorFix(box-shadow, 8px 8px 0 rgba(0,0,0,0.2));
	.signBtn {
		display:inline-block;
		max-width:145px;
		width:18.3544%;
		//background:#32312c;
		background: $green;
		float:right;
		@include fontStyle($white,12px,bold,($cabinBold));
	}
	.text {
		input[type="text"] {
		      width: 60%;
		      margin: 0 2px;
		}
		input[type="submit"] {
		      float: none;
		      display: inline-block;
		      margin: 0 15px;
		}
	}
	.whiteText{
		color:$white;
	}
	form {
		width: 82%;
		float: left;
	}
	@extend clearfix;
}
.socialMedia{
	@extend .block;
	cursor: pointer;
	position:absolute;
	top:460px;
	left:0px;
	max-width:400px;
	width:31.4049%; 
	z-index:9;
	div{
		padding:20px 24px 10px;
	}
	h5{
		margin:8px 0;
		@include fontStyle($lightGrey,14px,normal,($cabin));
	}
	.date{
		float:right;
	}
	p{
		//color:$lightGrey;
		font-size: 13px;//Mirrur- add
	}
	.rightCont {
		width: 157px;
		float: left;
	}
	.conversation{
		position:relative;
		background:$green;
		margin:20px 0 0 0;
		padding:10px 30px;
		clear: both;
		@include fontStyle($white,13px,normal,($cabin));//Mirrur- change $font11 to 13px;
		.f, .t {
			float: right;
			padding:12px;
			background:url("/assets/hardySmallSprites.png") no-repeat -1px -360px;
		}
		.f {margin:0 -3px 0 0px;}
		.t{
			margin:0 -8px 0 5px;
			background-position:-1px -336px;
		}
		a { color: $white; }
	}
	@extend .clearfix;
}
.productReview{
	@extend .block;
	position:absolute;
	top:710px;
	left:14.8512%;
	max-width:400px;
	width:61.5702%;
	.imgCont{
		position:relative;
		float: left;
		margin: 0 auto;
	}
	.right{
		width:280px;
		padding:15px 0 0;
		float:right;
		a {
			display: block;
			margin: 20px 0 0;
			color: $green;
			font-family: $cabinBold
		}
	}
	p{
		//@include fontStyle($lightGrey,13px,normal,($museoSlab));
		font-size: 13px;
		font-family: $museoSlab;
	}
	.reviewSlidewrap{
		position:relative;
		h3{
			margin:25px 0 0 0;
		}
		.autho{
			@include fontStyle($lightGrey,$font11,normal,($museoItalic));
		}
	}
	.carousel-tabs{
		clear: both;
		width:70px;
		padding:15px 0;
		margin:0 auto;
		position:absolute;
		right:95px;
		bottom:10px;
		text-align: center;
		background:none;
		li{
			width:10px;
			height:10px;
			line-height: 10px;
			@include vendorFix(border-radius, 5px);
			background:#ddd;
			@include vendorFix(transform, skew(0deg));
		}
		a{
			text-indent:-9999px;
			@include vendorFix(transform, skew(0deg));
		}
	}
	.smallTag{
		top:80.3571%;
		left:0;
	}
	.slide { cursor: pointer; margin-right: 0; }
}
.productReview{
	left: 0;
	.reviewSlidewrap{
		margin: 0 auto;
	}
	.right{
		float: none;
		margin: 0 auto;
		clear: both;
		width: 320px;
	}
	.carousel-tabs{
		position:static;
	}
	.imgCont{
		float: none;
		max-width: 392px;
	}
}
.nutratalk {
	@extend .block;
	height: 635px;
    left: 33.5%;
    position: absolute;
    //top: 720px;
    //width: 507px;
    width: 41.1488%;
    & > p { padding: 10px 15px; }
    li img { 
    	float: left;
    	margin: 5px 10px 0px 0;
    	width: 65px; 
    }
    h2 {
    	margin: 20px 15px 0;
    }
    .readMore { 
    	clear: both; 
		padding: 0 15px;
    	text-align: right;
    	a {
    		background: none repeat scroll 0 0 #53BD80;
			border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; 
			box-shadow: 2px 2px 0 0 #449C69;
			color: #FFFFFF;
			padding: 5px 10px;
			text-align: center;
			width: auto;
			&:hover {
				color: #fff;
			}
			&:active {
				background-color: #53BD80;
				border: medium none;
				box-shadow: 0 0 5px 2px #449C69 inset;
				color: #FFFFFF;
				text-decoration: none;
			}
    	}
    }
    ul {
    	padding: 0 15px;
    }
    li {
    	clear: both;
    	margin: 10px 0;
    	padding: 10px 15px;
    	&:nth-child(odd) {
    		background: #f6f6f6;
    	}
    }
}
.compare{
	@extend .block;
	cursor: pointer;
	position:absolute;
	//top:720px;
	top: 760px;
	right:1.6528%;
	max-width:290px;
	width:23.9669%;
	h3{
		margin:20px 0 10px 0;
		padding: 0 8px;
	}
	p{
		padding:10px 15px 0 15px;
		font-family: $cabin;
		//@include fontStyle($lightGrey,$font12,normal,($cabin));
		strong {
			font-family: $cabinBold;
			font-size: 15px;
			color: $green;
		}
	}
	ul {margin: 0 0 0 35px;}
	li {
		@include fontStyle($midGrey,13px,normal,($cabinBold));
		list-style: disc;
	}
	.viewMore {
		color: $green;	
		padding-left: 15px;
	}
}
.video_pop {
	display: none;
}
/*Tool Tips*/
.tooltip{
	position: absolute;
	top: 0;
	left: 0;
	@include fontStyle($white,11px,bold,($cabinBold));
	background:$green;
	text-align: center;
	height:29px;
	line-height: 29px;
	white-space:nowrap;
	padding: 0 12px;
}
.arrow{
	left: 30px;
	top: -15px;
	margin:43px 0 0 -15px;
	border-width: 15px 15px 0 0px;
	border-color: $green transparent transparent transparent;
	@include vendorFix(transform, skew(-22deg));
}
.non-hoverBox>a {display: block;}
/* staticPage Layout =================================================== */
.topNavFilters{
	width:100%;
	margin: 20px auto;
	position: relative;
	div.iconCon{
		height:60px;
		line-height:60px;
		background:$white;
		float: left;
   		margin: 20px 0 15px;
		@include vendorFix(box-shadow, 5px 5px 0 rgba(0,0,0,0.2));
		.iconBg{
			width:60px;
			height:60px;
			float: left;
			text-align: center;
		}
		a{
			padding:3px 10px;
			margin:0;
		}
		.grid{
			background: url("/assets/hardySmallSprites.png") no-repeat -1px -431px;
		}
		.Vector{
			background: url("/assets/hardySmallSprites.png") no-repeat -1px -647px;
		}
		.symptoms{
			background: url("/assets/hardySmallSprites.png") no-repeat -1px -527px;
		}
		.active{ /*Please create a browser compatibility mixin for this*/
			@include bgGradient;
      		display: block;
		}
	}
	&>p{
		//float: left;
		margin:25px 0 0 30px;
		position: absolute;
		@include fontStyle($lightGrey,12px,normal,($museoSlab));
		.textHighlighting{
			padding-bottom:1px;
		}
		.breadcrumb { color: $lightGrey; }
		input{
			border:none;
			background:$pagebg;
			margin-bottom: 5px;
			width: 111px;
			@include fontStyle($green,$font12,normal,($museoSlab));
		}
		::-webkit-input-placeholder, input:-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder { /*/For some reason these were all written as individual rules before so I combined them*/
			@include fontStyle($green,$font12,normal,($museoSlab));
			padding-top:1px;
		}
	}
	.magnify{ /*Magnifying glass icon on product gallery page*/
		padding:1px 10px;
		background: url("/assets/hardySmallSprites.png") no-repeat 4px -574px;
		cursor: pointer;
	}
	.pageTurning {
		width:100%;
		span{
			background: url("/assets/hardySmallSprites.png") no-repeat 4px -400px;
			display: inline-block;
			padding: 8px;
			//height:15px;
			//width:15px; /*/Height and width were set to 0 with 12px padding and vertical align set to middle but this displays properly and is less code*/
		}
		a {@include fontStyle($lightGrey,12px,italic,($museoSlab));}
		.left{
			float: left;
			span{
				@include vendorFix(transform, scaleX(-1));
			}

		}
		.right{
			float: right;
		}
		@extend .clearfix;
	}
	@extend .clearfix;
}

.pageCoStyle{ /*I don't know where this element is...*/ /*It is the common style of staticPage & productGallery & checkoutPage*/
	max-width:1280px;
	margin:0 auto 30px; //110px
	position:relative;
}
.staticPage{
	@extend .pageCoStyle;
	@extend .block;
	margin-bottom: 170px;
	padding:30px;
	
	&>aside{
		width:301px;
		padding:0 22px;
		float: left;
		h1{
			@include fontStyle($darkGrey,$font12,bold,($cabinBold));
		} 
		/*/I removed the h2 style because it seemed redundant to include it when it was only making the font-size 2px larger h2{ @include fontStyle($darkGrey,$mediumFont,bold,($cabinBold));}*/
		.author{
			margin:30px 0 0 0;
			p{
				@include fontStyle($lightGrey,$font12,bold,($cabinBold));
			}
		}
		.relatedInfor{ /*I think this class only exists for the @extend below and I'm not sure if simply writing one rule for both classes would be better or not so I left it as the CSS renders the same either way*/
			margin:50px 0 0 0;
			p{
				@include fontStyle($darkGrey,$font14,bold,($cabinBold));
				@extend .clear;
			}
			a{
				@include fontStyle($midGrey,$font12,normal,($museoSlab));
				&:hover { color: $darkGrey; }
			}
			.active { color: $green; }
		}
		.relatedLinks{
			@extend .relatedInfor;
			a{
				display: block;
			}
		}
		.relatedTags{
			@extend .relatedInfor;
		}
	}
	@extend .clearfix;
}
#videos_show, #faqs_index {
	.relatedLinks a { color: $green; }
}

.aboutCont{/*Brought to top level because there were too many levels of nesting, originally nested under .staticPage*/
	width:62.5%;//800px/1280px
	float:right;
	article{
		position: relative;
		width:100%;
		margin: 20px 0 0 0;
		float:left;
	}
	ol {
		list-style: decimal;
		margin-left: 20px;
		li { margin: 10px 0; }
	}
	@extend .clearfix;
}
.pdfDoc {
	float: left;
	margin: 10px 0 0px;
	img { 
		margin-right: 10px;
		float: left; 
	}
}
#pdfDoc {
	margin: 10px 0 20px;
}
.pdfText {
	@include fontStyle($midGrey,$font14,($cabin));
	float: left;
	padding: 10px 0;
	width: 175px;
}

/* product/article Gallery Layout =================================================== */
.productGallery{
	@extend .pageCoStyle; 
	margin-bottom: 170px;
	.topNavFilters{
		position:relative;
		top:0px;
	}
	.col1{ /*This is the width of one block ie on the product gallery page*/
		width:295px;
		height: 100%;
		text-align:center;
		float: left;
		position: relative;
		/*&>a{
			display: block;
			margin:10px 0 20px 0;
		}*/
		&>img{
			margin:20px 0 0 0;
		}
		&>p{
			padding: 50px 30px;
			text-align: left;
		}
	}
	div.col2{ /*width of two blocks*/
		width:613px;
		text-align: left;
		float: left;
		&>p{
			padding: 50px 30px;
			text-align: left;
		}
	}
	.col3{ /*Width of three blocks*/
		width:931px;
		.col1,.col2{
			float: left !important;
		}
		@extend .clearfix;
	}
	.product{
		@extend .col1;
		@extend .block;
		margin:0 23px 20px 0;
		padding:0px;
		float: left;
		height: 367px;
		overflow: hidden;
		text-align:center;
		position:relative;
		&.col3 {
			height: 367px;
		}
		h2, h2 a{
			@include fontStyle($lightGrey,12px,bold,($cabinBold));
			text-transform: uppercase;
			padding: 0 5px;
		}
		p{
			text-align: center;
			@include fontStyle($midGrey,14px,normal,($cabinBold));
		}
		.col1>p{
			//padding: 10px 30px 20px;
			padding: 0;
		}
		p a{
			color:$lightGrey;
		}
	}//.product END
	.products{
		@extend .clearfix;
	}
	.prodqty {
		text-transform: none;
	}
}
.product .hover{/*Mirrur - Moved out from .product nesting to reduce levels*/
	height: 100%;
	background:$darkGrey;
	display: none;
	h2, h2 a{ 
		@include fontStyle($lightGrey,$font14,bold,($cabinBold));
		text-transform: uppercase; 
		text-align: center;
	}
	p{
		margin-top: 5px;
		text-align: left;
        @include fontStyle($lightGrey,$font11,normal,($museoItalic));
	}
	/*div:last-child{
		text-align: left;
		padding:19px 16px;
		height: 172px;
	}*/
	.btn4{
		margin-top: 5px;
	}
	.toolTip{
		z-index: 15;
		.arrow{
			top: -15px;
			margin:43px 0 0 -15px;
			border-width: 15px 15px 0 0px;
			border-color: $green transparent transparent transparent;
			@include vendorFix(transform, skew(-22deg));
		}
	}
	.prodqty {
		display: block;
	}
}//.hover END

#video-list {
	.product { height: 335px; }
	a.fullTextBtn {
		margin: 10px 0;
		position: static;
	}
}
#article-list {
	.product { height: 280px; }
}
.non-hoverBox .hover {
	background: none;
	a {
		display: block;
		height: 100%;
		width: 100%;
	}
}
.productDescription {
	text-align: left;
	padding:10px 16px;
	height: 172px;
}
.symptomTags{/*Moved out from .topNavFilters nesting to reduce levels*/
	@extend .clear;
	display: block;
	width: 100%;
	a{
		@extend .btn5;
		margin:8px 16px 8px 0;
		float: left;
		min-width:auto;
		padding:0 10px;
		text-transform: uppercase; /*So even symptoms entered into database in lowercase will display properly*/
	}
	.active{
		background-color:$white;
	}
}

.topNavFilters .textHighlighting{
	margin-left: 5px;
	border-bottom:solid 1px $green;
}
#truehope {
	background: $white;
	margin: 0 0 40px;
	width: 98%;
	padding: 5px 10px;
	@include vendorFix(box-shadow, 8px 8px 0 rgba(0,0,0,0.2));
	p { 
		font-size: 11px;
		margin: 5px 0; 
	}
	a { 
		@include fontStyle($green,11px,normal,($museoSlab)); 
		&:hover { color: $darkGrey; }
	}
	li {
		color: $midGrey;
		list-style: disc inside none;
		padding: 0 0 0 20px;
		
	}
}
#optimusdsd {
	max-width: 70%;
	padding: 10px;
	p { margin: 10px 0; }
	h2 {
		font-size: 22px;
		margin-bottom: 10px;
	}
}

/* studies Layout =================================================== */
.productGallery .product .productInfor {
	text-align: left;
	padding: 15px 0 0 25px;
	height: 100%;
	p {
		text-align: left;
		padding: 0 0 20px;
	}
}
.studies {
	.productInfor {
		div {
			height: auto;
			overflow: hidden;
			padding-bottom: 15px;
		}
		.btn4 {
			position: absolute;
			bottom: 0;
		}
		h3 { margin-bottom: 15px; }
	}
	/*.product .col1 > a {
		margin: 10px auto 20px;
	}*/
	.product p a {
		color: $green;
		&:hover {
			color: $darkGrey;
		}
	}
	.product.col4 {
		min-height: 405px;
		height: auto;
		width: 100%;
	}
	.col1 { margin-top: 15px;}
	.product .productInfor {
		float: left;
		padding: 15px 40px 0 25px;
	}
}
#studyVid {
	margin: 10px auto 0;
}
.referencesCont { 
	position: relative; 
	img {
		float: left;
		margin-right: 10px;
	}
	div.referencesText {
		float: left;
		width: 375px;
		p { color: $darkGrey; }
	}
}

.textBlock, .textBlock * {
	@include fontStyle($midGrey,$font14 !important,normal,($museoSlab)); 
	p {
		margin:0 0 10px 0;
		&:first-child {
			@include fontStyle($midGrey,16px,normal,($museoSlab));
		}	
		a { color: $green; }
	}
	a {
		color: $green;
		&:hover { color: $darkGrey; }
	}
	b, strong {
		@include fontStyle($midGrey,$font14 !important,normal,($cabinBold));
	}
	i, em {
		font-style: italic;
	}
	ol, ul {
		margin: 0 0 0 40px;
	}
	ul li {
		margin: 10px 0;
		list-style: disc inside none;
	}
	h2 {
		@extend h2;
		sup {
			@include fontStyle(inherit, 11px !important, normal,(inherit));
		}
	}
	h3 {
		@extend h3;
		sup {
			@include fontStyle(inherit,11px !important, normal,(inherit));
		}
	}
	h4, .ansBold span{
		@include fontStyle($midGrey,16px !important,normal,($cabinBold));
	}
}
.textBlock {
	width:80%; //515px
	margin: 0 auto;
}

/* FAQs Layout =================================================== */
.faqSection {
	margin: 20px  0 0;
	dt {
		@extend h3;
		cursor: pointer;
		margin: 0 0 20px;
		position: relative;
		width: auto;
		span {
			background: url("/assets/hardySmallSprites.png") no-repeat scroll 0 -209px transparent;
			height: 15px;
			margin: -10px 0 0 5px;
			padding: 6px;
			position: absolute;
			//top: 50%;
			width: 10px;
			bottom: 5px;
		}
		&.open span {
			@include vendorFix(transform,rotate(180deg));
			margin: -5px 0 0 5px;
			//top: 50%;
			bottom: 0px;
		}
	}
	.question, .question * {
		@include fontStyle($midGrey,$font14 !important,normal,($museoSlab)); 
		a {
			color: $green;
			&:hover { color: $darkGrey; }
		}
		b, strong {
			@include fontStyle($midGrey,$font14 !important,normal,($cabinBold));
		}
		ol, ul {
			margin: 0 0 0 40px;
		}
		ul li {
			margin: 10px 0;
			list-style: disc inside none;
		}
		.ansBold span{
			@include fontStyle($midGrey,16px !important,normal,($cabinBold));
		}
		h4 {
			@include fontStyle($midGrey,18px !important,normal,($cabinBold));
		}
	}
	.question {
		margin: 0 auto;
		width: 80%;
	}
	.ansBold {
		margin-top: 10px;
	}
}
 #articleHeading {
 	@include vendorFix(box-shadow, 8px 8px 0 rgba(0, 0, 0, 0.2));
 	background: $white;
 	float: left;
 	margin: 20px 0;
 	padding: 10px;
 	width: 97.6%;
	h1 {
		font-size: $mediumFont;
		float: left;
		max-width: 350px;
		margin: 0 20px 0 0;
		width: 100%;
	}
	p {
		@include fontStyle($midGrey,$font14,normal,($cabin));
		float: left;
		width: 65%;
		margin: 10px 0;
	}
	#pdfDoc {
		float: right;
		margin-right: 10px;
	}
}
/* Product Details Layout =================================================== */
.productWrap {
	padding: 45px 0 0;
	margin-bottom: 250px;
	@extend .clearfix;
}
/*
.pagination {
  height: 88px;
  line-height: 88px;
  position: relative;
  li {
    position: absolute;
    width: 150px;
  }
}*/
.pagination {
	margin: 0 0 20px;
	padding-right: 10px;
	text-align: right; 
	span {
		background: #fff;
		border: 1px solid #ccc;
		margin: 2px;
		padding: 5px;
		a { text-align: center; }
	}
}
.icon {
  background: url("/assets/hardySmallSprites.png") no-repeat scroll 0 0 transparent;
}
.productDetail .grid {
  left: 50%;
  padding:12px;
  margin-left: -12px;
  position: absolute;
  background: url("/assets/hardySmallSprites.png") no-repeat scroll 0 -431px transparent;
	&:hover {
	  background-position: 0 -455px;
	}
}
.detail {
  @extend .clearfix;
  margin: 0 auto;
  max-width: 800px;
  width: 62.5%;
}
.slideshow{
	overflow: hidden;
	margin-bottom: 20px;
	height: 411px;
	.image-wrapper img {
		position: absolute;
		top: 0;
		left: 0;
	}
}
#thumbs { 
	text-align: center; 
	.thumbs {
		display: inline-block;
		//width: 240px;
		height: 80px;
		overflow: hidden;
	}
}
.hardyPill {
  	float: left;
	position: relative;
	max-width: 285px;
	width: 35.625%;
	/*Not sure what this code was doing exaclty, probably left over from before the image gallery*/
	.pagination { 
		float: right; 
		position: absolute;
		right: -43px;
		top: 105px;
		span, a { 
			display: block; 
			width: 30px;
			text-align: center;
		}
		a {
			height: 30px;
			line-height: 30px;
		}

	}
}
.thumbs {
	li { 
		float: left; 
		position: relative;
	}
	@extend .clearfix;
}

a.thumb .icon {
  	@include vendorFix(transform,rotate(180deg));
  	background-position: 0 -120px;
  	display: none;
  	left: 44%;
  	height: 5px;
  	position: absolute;
  	top: -5px;
  	width: 10px;
}
ul.thumbs li.selected a.thumb .icon {
  	display: block;
}
.description {
	position: relative;
  	float: left;
  	margin: 50px 6.25%;
  	max-width: 410px;
  	width: 51.25%;
  	h2, .subhead {
    	@include fontStyle($darkGrey,30px,normal,($cabinBold));
  	}
  	.subhead { 
  		font-size: 22px; 
  		margin: 0 0 15px;
  	}
  	h3 {
    	@include fontStyle($green,24px,normal,($cabinBold));
    	float: left;
  	}
  	#stock {
		@include fontStyle($white,$font10,normal,("nevis", helvetica, verdana, sans-serif));
		@include vendorFix(box-shadow, 2px 2px 0 rgba(0,0,0,0.2));
		background: $green;
		display: block;
		float: left;
		height: 24px;
		line-height: 24px;
		margin: 2px 0 20px 20px;
		position: static;
		text-align: center;
		width: 85px;
		a {
			color: $white;
			&:hover {
				color: #f5f5f5;
			}
		}
  	}
  	p {
  		@extend .clear;
    	//margin: 40px 0;
    	font-size: $font14
  	}
  	input {
    	cursor: pointer;
    	margin: 25px 0 0 5px;
  	}
  	.qtytxt {
  		background: $white;
  		margin: 0 10px;
  		width: 125px;
  	}
  	.caseNum {
  		color: $green;
  		font-family: $cabinBold;
  	}
  	h3 {
  		margin: 0 0 10px;
  	}
  	b, strong {
		@include fontStyle($midGrey,$font14 !important,normal,($cabinBold));
		vertical-align: baseline;
	}
}

.backorder {
	float: left;
	width: 85px;
	.backorderStock {
		@extend #stock;
		padding: 0 10px;
		width: 200px !important;
	}
}
#preorderStock {
	@extend #stock;
	width: 115px !important;
}
#backorderMsg {
	clear: both;
    display: block;
    li {
    	list-style: disc;
    	margin: 20px 40px;
    }
}
#backorder {
	clear: both;
	margin: 10px 0 20px;
	
	.btn2 {
		margin: 0 0 0 5px;
	}
}
#backConfirm {
	h2 {
		margin: 0 0 20px;
	}
	#sig {
		margin: 20px 0;
	}
}
#new_cart_item { margin-top: 10px; }
#caselot {
	margin: 15px 0 0;
	padding: 0 0 0 45px;
	p {
		margin: 5px 0;
	}
}
.sbHolder {
	@include vendorFix(box-shadow, 3px 3px 0 rgba(0,0,0,0.2));
  	background: $white;
  	display: inline-block;
  	height: 35px;
  	line-height: 35px;
  	margin-left: 5px;
  	padding: 0 10px;
  	position: relative;
  	a {
    	@include fontStyle($lightGrey,$font12,normal,($cabin));
    	display: block;
  	}
}
.sbSelector{
	margin: 0 25px 0 10px;
}
.sbToggle {
  	@extend .icon;
  	background-position: 0 -48px;
  	float: right;
  	height: 6px;
  	margin: 15px 0 0;
  	width: 10px;
}
.sbToggleOpen {
  	@include vendorFix(transform,rotate(180deg));
}
.sbOptions {
	@include vendorFix(box-shadow, 3px 3px 0 rgba(0,0,0,0.2));
  	background: $white;
  	margin-left: -10px;
  	position: absolute;
  	width: 150px;
  	z-index: 1;
  	overflow-y: auto!important;
  	a {
    	padding-left: 10px;
    	&:hover {
      	background: $lightGrey;
      	color: $white;
    	}
  	}
}
.tab-container { 
	margin: 40px auto 0; 
	max-width: 980px;
	width: 76.5625%;
	//float: left;
}
.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; }
.tab {
  	display: inline-block;
  	height: 40px;
  	line-height: 40px;
  	zoom: 1;
  	*display: inline;
  	& a {
	  	@include fontStyle($lightGrey,12px,normal);
    	padding: 0 10px;
  	}
  	& .active {
    	@include fontStyle($green,12px,normal);
    	position: relative;
  	}
  	&.active {
    	background: $white;
  	}
}
.tab-container .panel-container { 
	background: $white;
	padding: 10px; 
}
.panel-container {
	@extend .block;
  	margin-bottom: 10px;
}
.innerContainer {
  	@extend .clearfix;
  	padding: 40px 30px;
  	position: relative;
  	section {
    	float: left;
        width: 64%;
    	h2 {
      		@include fontStyle($darkGrey,24px,normal,($cabinBold));
      		margin-bottom: 20px;
    	}
    	h3 {
      		@include fontStyle($darkGrey,$smallFont,normal,($cabinBold));
    	}
    	p {
      		font-size: 11px;
      		margin-bottom: 18px;
    	}
    	ul {
      		list-style: disc;
      		padding: 20px;
    	}
    	li {
      		@include fontStyle($midGrey,$font12,normal,($museoSlab));
      		padding: 0 0 10px 10px;
    	}
  	}
  	.relativeContent {
    	float: right;
    	h3 {
      		@include fontStyle($lightGrey,$font14,normal);
    	}
    	li {
      		border: 1px solid #ddd;
      		height: 85px;
      		width: 278px;
      		a {
        		display: block;
        		height: 100%;
        		padding: 10px;
      		}
    	}
    	img {
      		float: left;
      		margin-right: 10px;
      		overflow: auto;
    	}
    	p {
      		padding: 6px 0;
    	}
  	}
  	.first {
    	background: #f9f9f9;
  	}
}
/*.tabMainCont div, .tabMainCont {
	@include fontStyle($midGrey,$font11,normal,($museoSlab));
	line-height:18px;
	margin-bottom: 18px;
}*/
.tabMainCont, .tabMainCont * {
	@include fontStyle($midGrey,$font14 !important,normal,($museoSlab));
	line-height: 18px;
	a {
		color: $green;
		&:hover { color: $darkGrey; }
	}
	b, strong {
		@include fontStyle($midGrey,$font14 !important,normal,($cabinBold));
	}
	ol, ul {
		margin: 0 0 0 40px;
	}
	ul li {
		margin: 10px 0;
		list-style: disc inside none;
	}
	h4, .ansBold span{
		@include fontStyle($midGrey,16px !important,normal,($cabinBold));
	}
	div {
		margin-bottom: 18px;
	}
}
.tabMainCont {
	margin: 0 auto;
	width: 80%;
}
#labelFile {
	margin: 0 auto;
	width: 80%;
}
#labelBtn {
		margin-left: 10px;
		width: 150px;
	}
.rightBlock {
	@extend .block;
	float: right;
	margin-top: 110px;
	margin-left: 20px;
	width: 21%;
	height: 785px;
}
#videoPage {
	h2 {
		margin: 0 0 15px 5%;	
	}
}
.productDetailVideo {
	width: 90%;
	//margin: 0 auto;
	margin: 0 auto -40px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
	//background: url("/assets/videoShadow.png") no-repeat left bottom;
	//background-size:contain;
	z-index: 0;
	object {
		z-index: 0;
	}
}
.productDetailVideo iframe,  
.productDetailVideo object,  
.productDetailVideo embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 94%;
}
a.fullTextBtn {
	position: absolute;
	left: 50%;
	margin-left: -58px;
	margin-top: -17px;
	top: 50%;
	//left: 5%;
}
#study-list .textBtn {
	min-height: 175px;
}
/* checkout Layout =================================================== */
.checkoutPage{
	@extend .pageCoStyle;
	margin:60px auto 310px;
	z-index: 1;	
	/*/Removed nested items to resolve an issue where .contactCont was using @Extent .checkoutPage and grabbing all the nested information as well creating a lot of uneccessary css*/
}
.cartDetail{
	padding:40px 0;
	@extend .clearfix;
	.error_messages { color: $green; padding: 0 50px; }
	> p {
		margin-bottom: 20px !important;
		width: 80%;
	}
}
.cartItems{
	margin:66px 0 10px;
	clear: both;
	.cartHd{
		height: 45px;
		line-height: 45px;
		li{
			float: left;
			width:15.9372056%; //254px;
			height:28px;
			text-align: center;
		}
		@extend .clearfix;
	}
	&>li:nth-child(odd){
		background:#f9f9f9;
	}
	&>li{
		position:relative;
		.line:after, .line:before{
			top: auto;
			bottom: 0;
		}
		.line:after
		{ /*/Please write a mixin for this if possible*/
			background-image: -webkit-gradient(linear, left top, right top, from(#e1e1e1), to($white));
			@include line(left, #e1e1e1, $white);
			right: 0;
		}
		.line:before
		{
			background-image: -webkit-gradient(linear, right top, left top, from(#e1e1e1), to($white));
			@include line(right, #e1e1e1, $white);
			left: 0;
		}
	}
	.article{
		//text-align: left;
	}
	@extend .clearfix;
}
.cartTr{
	position: relative;
	display: table;
	vertical-align: middle;
	width: 100%;
	height: 105px;
	li{
		display: table-cell;
		//float: left;
		width:15.9372056%; //254px;
		text-align: center;
		//margin:72px 0;
		//line-height: 105px;
	}
	li.quantity input{
		width: 60%;
	}
	/*li:first-child{
		margin:0;
		line-height: 177px;
	}*/
	.article{
		//text-align: left;
		line-height: normal;
		height: 105px;
		padding: 30px 0;
		h3{
			color: $lightGrey;
			margin: 0;
		}
		p{
			@include fontStyle($lightGrey,$font12,normal,($cabin));
			margin-top: 0;
		}
	}
	@extend .clearfix;
}
.referral {
	float: right;
    margin: 20px 30px 0;
    width: 270px;
}
div.orderTotal{
	width: 442px;
	position: absolute;
	z-index: -1;
	padding:45px 45px 25px;
	right: 24px;
	bottom: -145px;
	background: $white;
	h3{
		margin:0 0 14px 0;
		color: $midGrey;
		clear: both;
		label { 
			display: inline-block; 
			min-width: 160px; 
			text-align: right; 
		}
		span{
			//margin:0 42px 0 0;
			padding-left: 50px;
		}
		label, span { float: left; }
	}
	p{
		float:left;
		line-height: 35px;
		padding:0 0 0 43px;
		//margin-left: 20px;
		margin: 0; padding: 0;
		width: 160px;
		text-align: right;
		@include fontStyle($lightGrey,$font11,normal,($museoItalic));
	}
	input{
		float: right;
	}
	@include vendorFix(box-shadow, 4px 4px 0 rgba(221,221,226,0.9));
}
#secureLogo {
	bottom: -110px;
    position: absolute;
    right: 500px;
}
.checkoutCont div.orderTotal p { float: left; }
div.sbHolder,ul.sbOptions{
	border:solid 1px #ddd;
}
.sbHolder .sbOptions{
	top:33px!important;
	left:9px!important;
	border-top: 0;
	li,li:first-child{
		margin:0 auto;
		width: 100%;
		float: none;
		a{
			margin:0;
			padding: 0 10px 0 20px;
		}
	}
}
.sbOptions{
	display: none;
	@extend .clearfix;
}
.price{
	@include fontStyle($lightGrey,16px,bold,($cabinBold));
	background: none;
}
.checkoutNav{
	li{
		float:left;
		width: 20%; //245px;
		height:47px;
		line-height:47px;
		text-align: center;
		@include fontStyle($lightGrey,$font12,bold,($cabinBold));
		span{
			width: 0;
			height: 0;
			padding:6px 13px;
			display: none;
		}
		a{
			color: $lightGrey;
		}
	}
	li:first-child {
		width: 22%;
	}
	li:last-child {
		width: 18%;
	}
	.active{
			background:$white;
			color: $green;
		span{
			display: inline;
			background: url("/assets/hardySmallSprites.png") no-repeat 0px -595px;; 
		}
	}
	@extend .clearfix;
}
.progressNav{
	position: relative;
	z-index: 5;
}
.progressBar{
	position: relative;
	top: 10px;
	ul{
		width:95%;
		margin:0 auto;
		li{
			float: left;
			width:21%;
			border:solid 5px $lightGrey;
		}
		.active { border-color:$green;}
		.progress1{
			@include vendorFix("border-radius",4px 0 0 4px);
			width: 18.5%;
		}
		.progress5{
			@include vendorFix("border-radius",0 4px 4px 0);
			width: 18%
		}
		@extend clearfix;
	}
}

.checkoutCont, .logUpPage{
	position: relative;
	background:$white;
	padding:10px 0;
	@include fontStyle($lightGrey,$font11,normal,($museoItalic));
	@include vendorFix(box-shadow, 4px 4px 0 rgba(221,221,226,0.9));
	a {
		color: $lightGrey;
	}
	h1, h3, p{
		margin:0 0 0 60px;
	}
	p {
		margin-top: 10px;
	}
	div.right{
		float: right;
		line-height: 35px;
		margin:0 60px 0 0;
		a{
			float: left;
			margin:0 10px;
			color: $lightGrey;
		}
	}
	.field {
		margin: 10px 0;
		max-width: 280px;
		width: 100%;
		select {
			float: right;
		}
	}
	.btn2, .btn1 {
		float: right;
		margin: 10px 5px;
		color: $white;
	}
	.checkoutLogin, .checkoutGuest,
	.shippingAddress, .loginUpCont {
		@extend .clearfix;
		clear: both;
		padding: 20px 60px 0;
		width: 100%;
		form {
			margin: 0 0 10px;
			float: left;
			width: 300px;
		}
	}
	.payment_profile_form{
		float: left;
		width: 300px;
		padding: 0 0 0 60px;
	}
	.payment_form{
		float: left;
		width: 300px;
	}
	.savedAddress{
		float: left;
		margin: 0 50px 0 0;
		div{
			font-size: 14px;
		}
		form{
			float: none;
		}
		.btn1{
			color: $darkGrey;
			float: none;
		}
	}
	.confirmation{
		.cartHd,.cartTr{
			width:90%;
			margin:0 auto;
			&>li{
				width:25%;
			}
		}
		.cartItems>li{
			.line:after, .line:before{
				top: auto;
				bottom: 0;
			}
		}
		.cartItems .cartTr .article{
			//margin:5px 0;
		}
		.cartItems .cartTr li{
				margin:43px 0;
		}
	}
	.feedback{
		min-height:400px;
		p{
			text-align: center;
			@include fontStyle($lightGrey,24px,normal,($museoSlab));
		}
	}
	@extend .clearfix;
}
.loginUpCont .productGallery {
	float: right;
	h4 {
		margin-bottom: 30px;
	}
	.product { height: 325px; }
	.col1, .product { width: 250px; }
	.col1 img { max-width: 70%; }
}
.checkoutLogin .btn2 {
	float: left;
	color: $white;
}
.contactForm {
	margin-left: 60px;
	form { float: left; }
	@extend .clearfix;
}
.links { clear: both; }
.checkoutCont .summaryTotal{
	bottom: -160px;
	padding-bottom: 60px;
	p{
		float: none;
		padding: 0;
		span{
			float: right;
			//margin: 0 42px 0 0;
		}
	}
	h3{
		clear: both;
	}
}
.checkoutCont form {
	margin: 0 auto;
}
.checkoutNote {/*Mirrur - Moved out from .checkoutLogin, .checkoutGuest, .shippingAddress nesting to reduce levels*/
	font-size: 12px;
	float: left;
	margin: 20px 0 0 40px;
	max-width: 300px;
	width: 100%;
	ol li, p {
		list-style: decimal;
		margin: 10px 0 5px 40px;
	}
	.btn2 {
		display: block;
		float: none;
		margin: 25px 25px 0;
		width: 200px;
	}
}

.paymentPage{
	margin-bottom: 380px;
	form, .payment_form{
		width: auto;
		@extend .clearfix;
	}
	.payment_form, .error_messages{
		margin: 0 0 0 60px;
	}
	.btn2{
		position: absolute;
		bottom: -152px;
		right: 100px;
		width: 135px;
	}
}
.pay-profile {
	border-bottom: 1px solid #eeeeee;
    margin: 0 0 10px;
    padding: 0 0 10px;
	a {
		color: $green;
		display: block;
		margin: 10px 5px;
		&:hover { text-decoration: underline; }
	}
}
.billing_address_form,
.credit_card_form,
.shipping_address_detail,
.credit_card_form{
	float: left;
}
.shipping_address_detail{
	width:280px;
}
.billing_address_form, .credit_card_form {
	margin-right: 80px;
	width: 300px;
}
.credit_card_form img {
	width: 280px;
}
.error_messages,
#error_explanation {
	li{
		color: red;
	}
}
.green .error_messages {
	li { color: $green; font-size: 18px; }
}
.alert-error {
	color: red;
	margin: 0 auto 10px;
	position: relative;
	width: 90%;
}
#error_explanation h2{
	font-size: 18px;
	margin: 20px 0 5px;
}
.checkoutCont h2{
	margin: 0 0 0 60px;
}
.passwordPage {
	.checkoutCont {
		padding-left: 60px;
	}
	a {
		margin: 0 10px 0 0;
	}
}
.checkDiff{
  h2, h3 {
    margin: 0;
  }
  .btn1 {
    float: left;
  }
}
.passwordPage{
	h2, h3, form {
		margin: 0;
	}
}
.editingAddress .checkoutCont>form{
	//width: auto; delete it to adjust Editing Address form
	@extend .clearfix;
	clear: both;
}
.cutOffRule{
	margin: 0 5px;
}
.line:after, .line:before
{
    content: "";
    height: 1px;
    position: absolute;
    top: 115px;
    width:50%;
}
.line:after
{
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to($white));
    @include line(left, #777, $white);
    right: 0;
}
.line:before
{
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to($white));
    @include line(right, #777, $white);
    left: 0;
}
.logUpPage {
	@extend .checkoutPage;
	padding:50px 0;
}
.loginUpCont {
	clear:both;
}
.checkoutPage form {
	.field {
		@extend .clearfix;
	}
	.sbHolder {
		float: right;
	}
}
/* contact Layout =================================================== */
.contactCont {
	@extend .checkoutPage;
	@extend .checkoutCont;
	min-height: 400px;
	padding: 50px 0;
	h3, h4 {
		margin:10px 50px;
	}
}
.companyInfor {
	float:left;
	padding: 0 0 0 60px;
	width: 390px;
	img { margin-top: 20px; }
	h1 {
		margin: 0;
		float: none;
	}
	p {
		margin: 0; 
	}
	textarea {
		@extend input[type="text"];
		height: 250px;
	}
	.btn2 {
		float: left;
	}
	.field, input, textarea { max-width: 340px; }
	@extend .clearfix;
}
.serviceImg { width: 350px; }
.companyContact {
	margin: 20px 0;
	h3 {
		margin:0 0 5px 0;
	}
}
/* myaccount Layout =================================================== */
.admin p label {
	color: #3f3e3b;
}
.cancleClient {
	max-width: 845px;
	margin: 0 auto;
}
.orderInfo {
	float: left;
	margin: 0 120px 0 0;
	h5 {
		margin: 10px 0 0 0;
	}
	h5:first-child{
		margin: 0;
	}
}
.admin .orderTotal {
	position: static;
	float: right;
	padding-bottom: 25px;
}
.admin .autoShippingTotal {
	margin: 20px 0;
	float: none;
}
.row { 
	margin: 20px 0; 
	h4{ 
		margin-bottom: 10px; 
	}
}
.printInvoiceCont {
	display: none;
}

.new_email {
		margin: 0 0 10px;
		float: left;
		width: 300px;
} 
.logUpPage p {
	margin: 0 0;
}
.logUpPage .loginUpCont .edit_client {
	float: right;
}
.noSignup {
	clear: both;
	display: block;
	font-family: $cabinBold;
	margin: 20px 0;
	text-align: right;
}
.autoTotal {
	float: right;
	margin-bottom: 15px;
	span { vertical-align: inherit; }
}

#habla_window_div #habla_topbar_div { background: $green !important; }
