@mixin btnStyle($bgColor:#fff,$color:#fff,$radius:3px,$shadow:0px 0px 0px 0px,$border:1px solid #fff){
	background-color:$bgColor;
	color:$color;
	@include vendorFix(border-radius, $radius);
	@include vendorFix(box-shadow, $shadow);
	border:$border;
    text-decoration:none;
}
.co-Btn{
	position:relative;
	text-align:center;
	display:inline-block;
}
/* Button Size */
.btnBox{
	@extend .co-Btn;
	min-width:115px;
	height:35px;
	line-height:35px;
	@include fontStyle($darkGrey,$font12,normal,("nevis", helvetica, verdana, sans-serif));
}
/* Notification Size */
.notifyBox{
	@extend .co-Btn;
	width:215px;
	height:31px;
	line-height:31px;
	@include fontStyle(#fff,$font11,normal,("museo_slab_italic",serif));
}
/* Button 1 =================================================== */
.btn1 {
	@extend .btnBox;
	@include btnStyle(#f1f0ee,$midGrey,3px,0px 0px 0px 0px rgba(229, 229, 227, 1),1px solid #ddd);
	&:hover{
		@include btnStyle(#fff,$midGrey,3px,2px 2px 0px 0px rgba(224, 224, 224, 1), 1px solid #ddd);
	}
	&:active{
		@include btnStyle($green,#fff,3px,inset 0px 0px 5px 2px rgba(68, 156, 105, 1),none);
	}
	cursor: pointer;
	text-transform: uppercase;
	padding: 0 10px;
}
/* Button 2 =================================================== */
.btn2 {
	@extend .btnBox;
	@include btnStyle($green,#fff,3px,2px 2px 0px 0px rgba(68, 156, 105, 1),none);
	&:hover, &:focus{
		/*@include btnStyle($green,#fff,3px,0px 0px 0px 0px rgba(0, 0, 0, 0),1px solid $green);*/
		color: #fff;
	}
	&:active{
		@include btnStyle($green,#fff,3px,inset 0px 0px 5px 2px rgba(68, 156, 105, 1),none);
	}
	cursor: pointer;
	text-transform: uppercase;
}
/* Button 3 =================================================== */
.btn3 {
	@extend .btnBox;
	@include btnStyle(#fff,$lightGrey,0px,3px 3px 0px 0px rgba(224, 224, 224, 1));
	&:hover{
		@include btnStyle(#fff,$midGrey,0px, 0px 0px 0px 0px rgba(0, 0, 0, 0),none);
	}
	&:active{
		@include btnStyle(#fff,$midGrey,0px);
		border-bottom:solid 3px $green;
	}
	cursor: pointer;
}
/* Button 4 =================================================== */
.btn4 {
	@extend .btnBox;
	@include btnStyle(#31302d,$midGrey,3px,0px 0px 0px 0px rgba(229, 229, 227, 1),1px solid #31302d);
	&:hover{
		@include btnStyle(#31302d,#fff,3px,0px 0px 0px 0px,none);
	}
	&:active{
		@include btnStyle($green,#fff,3px,inset 0px 0px 5px 2px rgba(68, 156, 105, 1),none);
	}
}
/* Button 5 =================================================== */
.btn5 {
	@extend .btnBox;
	@include btnStyle(#f1f0ee,$midGrey,3px,0px 0px 0px 0px rgba(229, 229, 227, 1),1px solid #ddd);
	font-size:10px;
	color:$lightGrey;
}
/* Error Notifications =================================================== */
.error {
	@extend .notifyBox;
	@include btnStyle($redAlert,#fff);
	border:none;
}
.notification {
	@extend .notifyBox;
	@include btnStyle($yellowNotification,#fff);
	border:none;
}