@each $font-face in cabinbold, cabinregular, museo_slab_italic, museo_slab, nevis, Georgia_Bold{
    @font-face {
        font-family: $font-face; font-style: normal; font-weight: normal;
			src: url('/assets/#{$font-face}-webfont.eot');
			src: url('/assets/#{$font-face}-webfont.eot?#iefix') format('embedded-opentype'),
				 url('/assets/#{$font-face}-webfont.woff') format('woff'),
				 url('/assets/#{$font-face}-webfont.ttf')  format('truetype'),
				 url('/assets/#{$font-face}-webfont.svg##{$font-face}') format('svg');
    }
}