div.galleryContent {
	display: none;
}
div.galleryContent a, div.navigation a {
	text-decoration: none;
	color: #777;
}
div.galleryContent a:focus, div.galleryContent a:active {
	text-decoration: underline;
}
div.controls a {
	padding: 5px;
}
div.ss-controls {
	float: left;
}
div.nav-controls {
	float: right;
}
div.slideshow-container {
	position: relative;
	clear: both;
}
div.loader {
	position:absolute;
	top:0; left: 0;
	background: url('/assets/loader.gif')no-repeat center center;
	width:300px;
	z-index:2000;
}
div.slideshow {
	height: 425px;
	position:relative;
}
div.slideshow span.image-wrapper {
	display:block;
	position:absolute;
	top:0;
	width: 100%;
}
div.slideshow a.advance-link {
	display: block;
	text-align: center;
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow img {
	vertical-align: middle;
}
div.download {
	float: right;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
div.navigation {
	/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
	width: 100%;
	text-align: center;
}
ul.thumbs {
	clear: both;
	padding: 0;
  margin: 20px 0 0;
}
ul.thumbs li {
	/*float: left;*/
	display:inline-block;
	height:60px;
	padding:0;
	margin:5px;
	list-style:none;
}
a.thumb {
	cursor: pointer;
	padding: 2px;
  position: relative;
	display: block;
	/*border: 1px solid #ccc;*/
}
ul.thumbs li.selected a.thumb {
	/*background: #000;*/
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	cursor: pointer;
	display: block;
}
/* Sidebar Pagination */
div.pagination {
	position:absolute;
  height: auto;
  line-height: 14px;
	top:100px; right:-46px;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	display: block;
	padding:8px 14px;
	margin:4px 0;
	background-color:#fff;
	border:1px solid #E6E6E6;
}
div.pagination a:link {
	color:#AFADAA;
}
div.pagination a:hover {
	background-color:#eee;
	text-decoration:none;
}
div.pagination span.current {
	background-color:#f0f0f0;
	color:#807F7C;
}
