@page { 
	margin-top: 0; 
	margin-right: 0;
} 
img, table, .orderPrintInfo,
.companyInfo, .shipmentPrintInfo {
   page-break-inside: avoid;
}
.container {
	width:100%;
	margin: 0;
}
.printInvoiceCont { display: block;}
.invoice_print_con {
	margin-bottom: 25px;
	&:last-child { margin-bottom: 0; }
	//page-break-after: always;
	page-break-inside: avoid;
}
.error_messages { display: none; }
.inforWapper {
	width: 28%;
} 
.phoneInfo {
	margin-bottom: 25px;
	//padding-left: 15px;
}
.orderWapper {
	width: 70%;
	position: relative;
	margin-top: 20px;
}
#adminNav, .subNav, .printLink,
.currentClient, .nonprinting {
	display: none;
}
.orderPrintInfo { 
	//width: 450px; 
	width: 100%; 
	margin: 0 auto;
}
.companyInfo {
	width: 100%;
	display: block;
	//position: absolute;
	right: 0;
	text-align: center;
	p { color: #000; }
	.uppercase { text-transform: uppercase; }
	img { margin-top: 30px;}
	.phone { font-weight: bold;}
}
.main { 
	width: 85%;
}
.col1 { width: 33.3%; }
.lTop { font-size: 10px;}
.rTop { 
	font-weight: bold; 
	font-family: "cabinbold",helvetica,verdana,sans-serif;
}
.currentClient {display: none;}
.accountNav, .backLink, header {
	display: none; 
}
.myaccount { border: none; }
