@media only screen and (min-width:320px) {
	/* (page name) Layout (page size) =================================================== */
	/* better to use percentage widths at smaller sizes - 100% */
	.hardyPill .pagination { display: none; }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) {
	/* Use this only if you need to target something specific on cell phones, sites on a desktop browser should be have a min-width of 320px */
	#product-list .hover { display: none !important; } 
	.toolTip { display: none !important; }
	.col1 img { max-width: 175px; margin-top: 10px; }
	.symptomTags { display: none; }
	
	h2, .textBlock h2 {
		@include fontStyle($darkGrey,22px,bold);
	}
	.tab {
		float: left;
		width: 50%;
		a { padding: 0; z-index: 100;}
	}
	.etabs {
		display: block;
		clear: both;
	}
	.panel-container { clear: both; }
	.edit_client {
		max-width: 768px;
		padding: 0 10px;
		width: 100%;
	}
}
@media only screen 
and (min-width : 768px) 
and (max-width : 1200px) {
    /* (home page) Layout (size form 768px to 1200px) =================================================== */
}
@media all and (min-width: 954px) {
    /*body.one-page {
        padding-top: 70px;
    }*/
    .flexnav {
        overflow: visible;
        max-height: 1000px;
        //width: 900px;
        width: 810px;
        height: 70px;
        &>li{
            //margin-left: 2.7%;
            //margin-left: 0.8%;
        }
        &>li>a {
            padding-top: 22px;
        }
        &>li.blog {
        	margin: 22px 0 0 0;
        	&>a { padding: 0; }
        }
        /*&.one-page {
            top: 0;
            right: auto;
            max-width: 1080px;
        }*/
        li:hover > ul { 
            visibility: visible;
            opacity: 1;
            width: 275px;
            height: auto;
            display: block;
            top: 3.1em; 
            position: absolute; 
            background:#fff;

        }
        &.lg-screen li:hover > ul,
        &.sm-screen li:hover > ul {
            display: none;
        }
        li a {
            background:#fff;    
        }
        li > ul {
            position: absolute; 
            top: auto;
            left: 0;
            opacity: 0;
            visibility: hidden;
            height: 1px;
            /*z-index: 999;*/
            z-index: 100;
        }
        li ul li ul { 
            top: 0;     
        }
        li ul li a {
            padding:2px 0px 2px 20px;
            border-bottom: none;
        }
        li ul.open {
            display: block;
            opacity: 1;
            visibility: visible;
            height: auto;
    
            ul.open {
                margin-left: 100%;
                top: 0;
            }
        }
        ul li:hover ul {
            margin-left: 100%;
            top: 0;
        }
        .touch-button {
            display: none;
        }
        .arrowIcon{
            padding:6px;
            background:url("/assets/hardySmallSprites.png") no-repeat 0 -209px;
            display: inline;
            margin-left: 5px;
        }
        .cart{
            width:110px;
            margin-left: 0;
            a{
                background-color:$green;
                color: $white;
                padding: 23px 15.9491525% 17px 33.898305%;
                span {
                    color: $white;
                }
                &:hover {
                    background-color:$green;
                }
            }
        }
        .cartIcon{
            padding:12px;
            position:absolute;
            top: 20px;
            left:12px;
            background:url("/assets/hardySmallSprites.png") no-repeat 0 -185px;
        }
        .seekInfo{
            width:530px !important;
            div{
                float: left;
                margin-bottom:25px;
            }
            .lastItem{
                clear: both;
            }
        }
    }
    .flexnav li {/*Brought up a level*/
            position: relative;
            list-style: none;
            float: left;
            display: block; 
            li a{
                display: block;
                line-height:1.2em;
                position: relative;
                z-index:100;
                padding:5px 0 0 25px;
                @include fontStyle($lightGrey,$font14,normal);
            }
            li a:hover {/*Brought up a level*/
                color: $darkGrey;
                .goArrow{
                    background:url("/assets/hardySmallSprites.png") no-repeat 5px -403px;
                }
            }
        }
    .subnav {
        li:first-child { margin-top: 2.5em; }
    	.firstItem{
            //margin-top: 2.5em;
            padding:10px 0;
            //a{ @include fontStyle($lightGrey,10px,normal,("museo_slab_italic",serif)); }
        }
        .lastItem{
            margin-top:25px;
            a{
                color:#fff;
                height:35px;
                line-height:35px;
                background:$green;
                span{
                    display: inline;
                }
            }
            .goArrow{
                display: inline-block;
                padding:4px 8px;
                background:url("/assets/hardySmallSprites.png") no-repeat 5px -383px;
            }
        }    	
    }
    #companyInfo li:first-child {
    	padding:20px 0 20px 0px;
    	a {
			@include fontStyle($green,$font14,normal,($museoItalic));//Mirrur - change $lightGrey,$font10 to $green,$font14 
		}

    }
    .menu-button {
        display: none;
    }   
    #video-list .showMob, .showMob { display: none; }
}
@media only screen and (max-width:1259px) {
    .home {
        #wrapper {
            margin-top: 0;
        }
    }
    
}
@media all and (max-width: 800px) {
    #wrapper{
        margin:0 auto;
    }
    .home header{
        position:relative;
    }
    .homepage{
        position:static;
    }
    #slideTag1 {
        top: 50%;
        right: 50%;
        margin: -90px -232px 0 0;
    }
    
}
/* Mirrur and the style to make the navigation show normal between 800px and 1024px */
@media only screen 
and (min-width : 800px) 
and (max-width : 1024px){
    /* (productGallery page) Layout  ========================================== */
    /*.productGallery{
        div.col3{
            width:613px;
            div.col2{
                width:295px;
            }
        }
    }*/
}
@media only screen and (min-width:800px) {
	/* (page name) Layout (page size) =================================================== */
	/* better to use fixed widths at larger sizes */
}
@media only screen and (max-width:1271px) {
    .wrap{
        width:954px;
        margin:0 auto;
    }
    .content{
        height:1500px;
    }

    /* (home page) Layout  =================================================== */
    .leftCont{
        width:35%;
        float: left;
        margin:0 1% 0 2%;
    }
    .rightCont{
        width: 60%;
        float: left;
    }
    .wrap .content{
        //height:2200px;
        height:2220px;;
    }
    .productShow{
        position:relative;
        top:0px;
        width: 100%;
        margin:0 auto 20px;
        .smallTag{
            position:relative;
        }
        .hover{
            max-width: 408px;
            height: 330px;
        }
    }
    /*.studiesCont{
        position:static;
        width: 100%;
        margin:0 auto 20px;
    }*/
    .nutratalk{
    	max-width: 510px;
        position:static;
        width: 100%;
        margin:0 auto 20px;
    }
    .MentalHealthCont{
        position:static;
        width: 100%;
        margin:0 auto 20px;
        max-width: 510px;
        p {
        	padding: 0 0 0 10px;
        	line-height: 51px;
        }
        li {
        	float: left;
        	width: 50%;
        	&:last-child {
        		clear: both;
        		float: none;
        	}
        }
        img {
        	width: 55px;
        }
    }
    .signUp{
        position:static;
        float: left;
        width: 95%;
        height: auto;
        margin:0 0 20px 2%;
    }
    .socialMedia{
        position:static;
        width: 100%;
        margin:0 auto 20px;
        .leftCont {
            width: auto;
            float: none;
        }
    }
    .productReview{
        position:static;
        /*width: 400px;*/
        margin-left: 3%;
        margin-bottom: 20px;
        float: left;
        /*Test Styles*/
        width: 95%;
        max-width: 762px;
        ul, .reviewSlidewrap { width: 100%; }
        /*************/
        img{
            display: block;
            margin:0 auto;
        }
        .reviewSlidewrap{
            margin: 0 auto;
        }
        .right{
            /*float: none;*/
            float: right;
            margin: 0 auto;
            /*clear: both;*/
            clear: none;
            max-width: 40%;
        }
        .carousel-tabs{
            position:static;
        }
        .imgCont{
            /*float: none;*/
            float: left;
            /*max-width: 392px;*/
            max-width: 50%;
        }
    }
    .compare{
        position:static;
        float: left;
        width: 100%;
        /*margin: 0 90px;*/
        margin: 0 20px;
    }
    /*.nutratalk {
    	float: left;
    	height: auto;
    	position: static;
    	width: 50%;
    }*/
    .studiesCont {
    	float: left;
    	height: auto;
    	position: static;
    	width: 50%;
    }
    #wrapper, .home header{ width:954px; }
    #wrapper{ margin:0 auto; }
    .home header {
        left: 50%;
        margin-left: -477px;
    }
    .flexnav {
        //width: 819px;
        width: 810px
    }
    #thumbs  .thumbs {
        //width: 150px;
        height: 50px;
        li {
            //width: 26%;
            width:50px;
        }
    }

    div.slideshow {
        //height: 321px;
        height: 300px;
    }
    .innerContainer section {
        width: 55%;
    }

    /* (about page) Layout  =================================================== */
    blockquote{
        //width: 170px;
    }

    /* (productDetial page) Layout  =================================================== */
    .productDetail header {
        margin-top:0;
    }
    .productGallery{
        div.col3{
            width:613px;
        }
        div.col2{
            width:295px;
        }
    }
    #thumbs { height: 55px; }
    /* (contact page) Layout  ============================================= */
    .contactCont h1 { margin-left: 25px; }
    .companyInfor {
        padding-left: 25px;
    }
    .serviceImg { width: 174px; }
}
@media only screen and (max-width:1100px) {
    .flexnav .seekInfo {
        width: 465px !important;
    }
    .flexnav .seekInfo .dailyNutrients {
        width: 68%;
    }
    .flexnav .seekInfo .otherProducts {
        width: 32%;
    }
    .flexnav #companyInfo {
        width: 240px;
    }
}
@media only screen and (max-width:953px) {
   
    /* (home page page) Layout  =================================================== */
    .wrap{
        width: 100%;
        margin:0 auto;
    }
    .socialMedia .conversation {
        padding: 10px 13px;
    }
    .rightCont{
        width: 55%;
        float: left;
        margin: 0 10px;
    }
    /*.productReview{
        width: 50%;
    }*/
    .compare {
        width: 38%;
        margin: 0 5%;
    }
    #wrapper, .home header{ width:636px; }
    #wrapper{ margin:0 auto; }
    .home header { margin-left: -318px; }
    .flexnav {
        width: 100%;
        .seekInfo {
        	.dailyNutrients, .otherProducts {
        		float: none;
        		margin-right: 0;
        		min-width: 250px;
                //width: 50%;
        		width: 100%;
        	}
        }
        li.search {
        	margin-top: 0;
        	a { 
				float: left;	
				margin-right: 20px;
			}
        }
    }
    .flexnav.show {
        z-index: 999;
        position: absolute;
        top: 70px;
    }
    .flexnav .subnav { width: 100%!important; }
     #support { width: 70%; }
     #searchBox {
     	display: block;
     	margin: 0 0 20px;
     	position: static;
     }
    .detail{
        width: 85%;
    }
    .hardyPill {
        float: none;
        margin: 0 auto;
        width: 193px;
    }
    .description {
        float: none;
        margin: 15px auto;
        width: 100%;
    }
    .innerContainer section {
        float: none;
        width: 100%;
    }
    .innerContainer .relativeContent {
        float: none;
        width: 255px;
        margin: 0 auto;
        li {
        	width: 100%;
        }
    }
    .tab-container, .rightBlock{
        width: 100%;
    }
    .video_pop {
        max-width: 746px;
        width:90%;
        video{
            max-width: 746px;
            width:100%;
        }
    }
    .flexnav .cart {
        width: 100%;
    }
    .signUp {
        width: 100%;
        .signBtn {
            width: 13.3544%;
        }
    }
    .description .btn2 {
        position: absolute;
        //bottom: 0;
        //left: 144px;
        margin-top: 0;
    }
    #thumbs { height: 50px; }
    .MentalHealthCont {
    	p {
    		padding: 0;
    	}
    }

    /* (about page) Layout  ========================================== */
    .staticPage {
        aside{
            float:none;
            width:100%;
            padding:0 20px;
        }
        &>aside{
            .relatedLinks a{
                display:inline;
            }
        }
    }
    .aboutCont{/*Brought up a level*/
        float:none;
        width:100%;
        img{
            padding:10px;
        }
        article{
            float: none;
            margin:20px auto;
            width:85%;
            .textBlock{
                float: none;
                width: 100%;
                padding: 15px 0;
            }
        }
        aside{
            float: none;
            width:100%;
        }
        .references{
            margin:20px 0 40px;
        }
    }
    blockquote {
        position: static;
        width: 80%;
        margin: 30px auto;
    }
    /* (productGallery page) Layout  ========================================== */
    .productGallery div.col2, 
    .productGallery div.col3 {
        width: auto;
    }
    .productInfor{
        display: none;
    }
    /* (studies page) Layout  ========================================== */
    .studies .productInfor{
        display: block;
    }
    #study-list .textBtn {
    	text-align: left;
    }
    a.fullTextBtn {
    	position: static;
    	margin: 0 0 0 25px;    	 
    }
    
    .productWrap {
		margin-bottom: 50px;
		padding: 25px 0 0;
	}
	.staticPage {
		margin-bottom: 40px;
		padding: 15px;
	}
	.productGallery { margin-bottom: 40px; }
	.staticPage > aside .relatedInfor, .staticPage > aside .relatedLinks, .staticPage > aside .relatedTags {
		margin: 20px 0;
	}
	.tabMainCont {
		width: 100%;
	}
	.productGallery .product p.showMob { margin: 5px 0 0; } 
	#product-list .product img {
		width: 180px;
		margin: 5px 0;
	}
	#video-list img { width: 295px; }
    /* (checkout page) Layout  ============================================= */
    .checkoutPage .checkoutCont{
        .review{
            .cartHd>li:first-child,
            .cartTr>li:first-child,
            .cartHd>li:nth-child(3),
            .cartTr>li:nth-child(3){
                display: none;
            }
        }
        .cartItems{/*Brought up a level*/
            .cartHd>li,
            .cartTr>li{
                width:25%;
            }
            .article h3 {
                margin: 0;
                text-align: center;
            }
        }
        .confirmation{
            .cartHd>li:nth-child(2),
            .cartTr>li:nth-child(2){
                display: none;
            }
            .cartHd>li,
            .cartTr>li{
                width:33%;
            }
        }
       // .checkoutPage .checkoutCont .cartItems .cartTr li 
    }
    .checkoutNote {
        margin-left: 0;
    }
    /* (contact page) Layout  ============================================= */
    .companyInfor{
        float: none;
        margin: 0 auto;
    }
}
@media only screen and (max-width:635px) {
    #wrapper, .home header{ width:95%; margin: 0 auto;}
    .home header{ left: 0; }
    #support { 
    	clear: both;
    	float: none;
    	line-height: 14px;
    	text-align: left;
    	width: auto; 
    }
    footer {
        width: 294px;// Mirrur - change width form 300px to 294px to avoid truncated the footer
        margin: 0 auto;
    }
    .footer { position: static; }
    .footer ul {
        width: 100%;
    }
    #fda, #security, #awLink { 
		clear: both;
    	float: none;
    	position: static; 
    }
    #security {
    	margin: 10px 0;
    	text-align: center;
    }
    #secureLogo {
    	padding: 0 20px;
    	position: static;
    	text-align: right;
    }
    .tagImg { display: none; }
    #slideTag1 {
        right: 90px;
        height: 165px;
        top: auto;
        bottom: 26px;
    }
    .slideContent { height: 165px; }
    .carousel-tabs {
        width:300px;;
        height: 25px;
            li {
            width: 60px;
            height: 25px;
            line-height: 25px;
        }
    }
    .leftCont, .rightCont,
    .productReview, .compare, .signUp, .studiesCont {
        width: 95%;
        max-width: 300px;
        margin: 20px auto;
        float: none;
    }
    .productReview { 
    	clear: both;
    	.imgCont, .right {
    		float: none;
    		max-width: 90%;
    	}
    }
    .signUp {
        form { width: 100%; }
        .signBtn {
            max-width: 100%;
            width: 100%;
            float: none;
        }
    }
    .wrap .content{ height:3400px; }
    .productGallery {
        .product, .col1,
        div.col2, div.col3 {
            //width: 95%; Mirrur - adjust to make the hover display normal
            width: 100%;
        }
        .product .hover {
            width: 100%;
            height: 100%;
        }
    }
    .savedAddress{
        width: 100%;
        margin: 0;
        form{
            width: auto;
        }
    }
    .MentalHealthCont {
    	li {
    		width: 100%;
    	}
    }
    
    #articleHeading {
		h1 { float: none; }
		p {
            //width: 300px;
			width: 100%;
			margin: 10px 0;
		}
	}
	.nutratalk { height: auto; }

    /* contact Layout =================================================== */
    .companyInfor, 
    .static .contactCont h1 {
        margin: 0 auto;
        width: 80%;
    }
    .companyInfor {
        float: none;
        padding: 0;
    }
    .serviceImg { width: 174px; }
    .contactForm {
        @extend .companyInfor;
        form {
            width: 100%;
            textarea {
                width: 100%;
                //min-width: 280px;
            }
        }
    }

    /* productDetail Layout =================================================== */
    .tab-container .panel-container {
        padding: 10px 0;
    }
    .innerContainer {
        padding: 40px 0;
        article {
            margin: 0 40px;
        }
    }
}
@media only screen and (max-width:600px) {
  .grid{left:38%}
}
@media only screen and (max-width:500px) {
    .checkoutNav {
        display: none;
    }
    .cartDetail{
        .line{ margin: 0; }
    }
    div.orderTotal {
        width: 100%;
        right: 0;
        h3 span {
            margin: 0 15px 0 0;
        }
        p {
            padding: 0;
        }
    }
    .paymentPage .btn2 { right: 60px; }
    #articleHeading {
    	h1 { max-width: 300px; }
    }
}
@media only screen and (max-width:425px) {
    .miniNav {
      float: left;
    }
    header section p, header section ul li a {
      height: 25px;
    }
    header p {
    	margin: 0 6px;
    }
    .pagination {
      margin-top: 10px;
    }
  .grid{left:33%}

    /* (checkout page) Layout  ============================================= */
    .checkoutCont{
        .checkoutLogin, .checkoutGuest,
        .shippingAddress,  {
            padding-left: 5px;
            padding-right: 5px;
            form {
                max-width: 300px;
                width: 100%;
            }
        } 
    }
    .logUpPage .loginUpCont {
        padding-left: 5px;
        padding-right: 5px;
    }
    .paymentPage .payment_form,
    .checkoutCont h3 {
        margin: 0;
    }
    .checkoutCont h1, .logUpPage h1 {
        margin: 0;
    }
    .passwordPage .checkoutCont {
        padding-left: 5px; 
    }
    .cartItems{/*Brought up a level*/
		.cartHd>li,
		.cartTr>li{
			width:33% !important;
		}
		.cartTr .quantity input {
			padding: 5px 2px;
			width: 80%;
		}
		.remove { display: none; }
	}
    .checkoutCont p { margin-left: 0; }
    /* (myaccount pages) Layout (page size) =================================================== */
    #logo {
        width: 100px;
    }
    .admin .nav li {
        margin: 0 8px;
    }
    #adminNav #msg {
        position: static;
        height: auto;
        line-height: 70px;
    }
    .admin table td, .admin table th {
        padding: 5px;
    }
    div.orderTotal {
        width:100%;
    }

}
@media only screen and (max-width:400px) {
    .home .content { padding-top: 0; }
    .homepage { margin-top: 10px; }
    div.orderTotal {
        padding: 45px 11px 25px;
        bottom: -200px;
    }
    .checkoutCont .summaryTotal { bottom: -222px; }
    .paymentPage .btn2 { right: 26px; bottom:-220px; }
    .description .qtytxt {
        margin: 0 5px;
        width: 105px;
    }
}
@media only screen and (max-width:320px) {
  .grid{left:29%}
}
@media only screen and (min-width:0px) {
	/* (page name) Layout (page size) =================================================== */
	/* better to use fixed widths at larger sizes */
}
/* Global Elements ====================================================================== */
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5) {
	/* Styles */
	/* Any background images used in the site need to be replaced with images that are twice the size for resolution purposes, example
	.icon {
		background-image: url(example@2x.png);
	}
	*/
}
