<h2>Location Report</h2>

<div id="locationRep">
  <%= form_for [:admin, @search], url: admin_report_locations_path, method: :get do |f| %>
  	<div class="block">
		<span class="reportField"><label>Start Date</label><%= f.date_select :created_at_gteq, {start_year: 2013, end_year: Time.zone.now.year + 1}, class: "selectbox" %></span>
		<span class="reportField"><label>End Date</label><%= f.date_select :created_at_lteq, {start_year: 2013, end_year: Time.zone.now.year + 1}, class: "selectbox" %></span>
	</div>
	<div class="block">
		<span class="reportField"><label>Active</label> <%= f.select :active_eq, [["Yes", true], ["No", false]], { include_blank: "All" }, class: "selectbox" %></span>
		<span class="reportField"><label>Support Center</label> <%= f.select :support_center_id_eq, @support_centers.map{|c| [c.name, c.id]}, { include_blank: "All" }, class: "selectbox" %></span>
		<span class="reportField"><label>TA Level</label> <%= f.select :ta_level_id_eq, @ta_levels.map{|t| [t.name, t.id]}, { include_blank: "All" }, class: "selectbox" %></span>
		<span class="reportField"><label>Support User</label> <%= f.select :support_user_id_eq, @support_users.map{|t| [t.first_last_name, t.id]}, { include_blank: "All" }, class: "selectbox" %></span>
		<span class="reportField"><label>Pricing Type</label> <%= f.select :pricing_type_id_eq, @pricing_types.map{|t| [t.name, t.id]}, { include_blank: "All" }, class: "selectbox" %></span>
	</div>
	<div class="block">
		<span class="reportField"><label>Country</label><%= f.select :country_id_eq, @countries.map{|c| [c.name, c.id]}, { include_blank: "All" }, class: "selectbox", data: { province_list: @countries.inject({}){|hash, c| hash["#{c.id}"] = c.provinces.map{|p| [p.name, p.abbr]}; hash}}  %></span>
		<span class="reportField"><label>State/Province</label>
			<%= f.text_field :province_cont %>
			<%= f.select :province_eq, @provinces.map{|p| [p.name, p.abbr]}, { include_blank: "All" }, class: "selectbox" %>
		</span>
		<span class="reportField"><label>City</label> <%= f.text_field :city_cont %></span>
	</div>
	<%= f.submit "filter", class: "btn2" %>
	
	<% end %>
</div>
<br />

<%= search_message(@clients, @search) %>

<% if @clients.any? %>
	<%= link_to "Export CSV", export_admin_report_locations_path(q: params[:q]), class: "btn1" %>
		<% @clients.each do |c| %>	
			<div class="location block">
				<table id="locationTab">
					<tr>
						<th><%= link_to c.full_name, to_client_admin_report_locations_path(client_id: c.id) %></th>
						<th class="clientHead">CLIENT ID: <%= c.id %></th>
					</tr>
					<tr>
						<td><%= "#{c.address_1} #{c.address_2}" %></td>
						<td><%= "Active:#{c.active? ? " Y" : " N"}, TA:#{c.ta_level.try(:name)}" %></td>
					</tr>
					<tr>
						<td><%= "#{c.city} #{c.province}" %></td>
						<td><%= "PH:#{c.home_phone}" %></td>
					</tr>
					<tr>
						<td><%= "#{c.country.name} #{c.postal_code}" %></td>
						<td><%= c.support_center.name %></td>
					</tr>
					<tr>
						<td><%= "Support User: #{c.support_user.try(:first_last_name)}" %></td>
						<td><%= "Pricing Type: #{c.pricing_type.name}" %></td>
					</tr>
				</table>
			</div>

  	<% end %>
<% end %>

<%= paginate @clients %>
