<div id="state-field">
  <% if provinces.any? %>
    <%= select_tag field_name, options_from_collection_for_select(provinces, :abbr, :name), prompt: "select state/province", class: "selectbox" %>
  <% else %>
    <%= text_field_tag field_name %>
  <% end -%>
</div>

<script type="text/javascript" charset="utf-8">
  $(".selectbox").selectbox();
</script>
