<% if @email.valid? %>
    location.href = "/clients/newsletter/confirmation"
  <%#$('.signup-info').html('THANK YOU FOR SIGNING UP!')%>
  <%#$('.signup-form').hide();%>
  <%#$('.signup-info').show();%>
<% else %>
  alert("<%= @email.errors.full_messages.join(',').html_safe %>");
  $('#email').val('')
<% end -%>
