<div id="wrapper" class="static">
  <%= render 'layouts/nav'%>

<div class="logUpPage">
	<div class="loginUpCont green">
		<%= render_cell :app, :error_msg, msg: [flash[:notice], flash[:alert]] %>
	</div>
</div>

  <%= render 'layouts/footer' %>
</div>
