<div id="wrapper" class="static">
  <%= render 'layouts/nav'%>

<div class="logUpPage">
	<div class="loginUpCont">
		  <%= form_for @email, url: email_url, method: :delete do |f| %>
		  <%= render_cell :app, :error_msg, resource: @email, msg: [flash[:notice], flash[:alert]] %>
		    
		      <div class="field"><%= f.label :email %>
		      <%= f.text_field :email %></div>
		      <div class="field">
		      	<%= f.submit "Unsubscribe", class: "btn2" %>
		      </div>
		  <% end %>
	</div>
</div>

  <%= render 'layouts/footer' %>

</div>
