<table class="table">
  <thead>
    <tr>
      <th>Item Description</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
  <% current_auto_ship.auto_shipping_items_with_promotion.each do |item| %>
    <tr class="<%= cycle('odd', 'even')%>">
    <td><%= item.product.name %></td>
      <td><%= "#{number_to_currency item.price, locale: I18n.default_locale}#{item.description_after_price}" %></td>
    <td><%= item.quantity %></td>
      <td><%= number_to_currency item.total, locale: I18n.default_locale %></td>
      </tr>
<% end %>
  </tbody>
</table>
