<%= form_for current_auto_ship, url: update_items_link do |f| %>
<table class="table">
  <thead>
    <tr>
      <th>Item Description</th>
      <th>Price</th>
      <th>Qty</th>
      <% if back_end %>
        <th>Caselot Count</th>
      <% end %>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% current_auto_ship.auto_shipping_items_with_promotion.each do |item| %>
    <%= f.fields_for :auto_shipping_items, item do |s| %>
    <tr class="<%= cycle('odd', 'even')%>">
    <td><%= item.product.name %></td>
      <td><%= "#{number_to_currency item.price, locale: I18n.default_locale}#{item.description_after_price}" %></td>
    <td><%= item.quantity %></td>
    <% if back_end %>
    <td>
      <% unless item.new_record? %>
      <%= s.select :caselot_count, s.object.product.product_caselots.for_client(f.object.client).order("count").map{|pc| ["#{pc.description}(#{number_to_currency pc.price_for(user: f.object.client, currency: f.object.currency), locale: I18n.default_locale})", pc.count]},
        include_blank: "none(#{number_to_currency s.object.product.price_for(user: f.object.client, currency: f.object.currency), locale: I18n.default_locale})" %>
      <% end %>
    </td>
    <% end %>
      <td><%= number_to_currency item.total, locale: I18n.default_locale %></td>
    <td class="tableLinks">
      <% unless item.new_record? %>
        <%= link_to 'DELETE', detail_link(item), remote: true, method: :delete, class: "btn delete_item" %>
      <% end %>
    </td>
  </tr>
    <% end %>
<% end %>
  </tbody>
</table>
  <%= f.submit 'Submit', class: "btn2" %>
  <% if back_end %>
     <%= f.submit 'Update', name: "update", class: "btn2" %>
  <% end %>
<% end %>
