<%= link_to "Back to Flexible Autoship Details", auto_shipping_detail_link, class: "backLink" %>
<br /></br />
<div class="searchProduct">
  <%= form_for @order_item, url: list_link, remote: true, html: { id: "dropdown_item_form", class: "orderDate" } do |f| %>
    <%= f.label :name %>
    <%= f.select :product_id, @products.map{|p| [p.name, p.id] }, { prompt: "select product" }, id: "search_id", class: "selectbox" %>
    <%= f.label :quantity %>
    <%= f.text_field :quantity, id: "search_quantity" %>
    <%= hidden_field_tag :client_id, current_auto_ship.client_id, id: "client_id" %>
    <%= f.submit "ADD", class: "search_submit btn2" %>
  <% end %>
</div>

<div class="order_items_list">
  <%= render 'shared/auto_ship/order_items/list' %>
</div>

