<%= form_for [:admin, @support_user] do |f| %>
  <%= render_cell :app, :error_msg, resource: @support_user %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.check_box :active %>
    <%= f.label :active %>
  </div>

  <div class="field">
    <%= f.check_box :receive_commission%>
    <%= f.label :receive_commission %>
  </div>

  <div class="field">
    <%= f.check_box :commission_by_amount%>
    <%= f.label :commission_by_amount%>
  </div>

  <div>
  Roles <br />

  </div>
<% @support_user_roles.each do |support_user_role| %>
    <%= f.fields_for :support_user_roles, support_user_role do |f| %>
      <%= f.hidden_field :role_id %>
      <%= f.check_box :choose, checked: f.object.choose, data: { role_code: f.object.role.code } %>
      <%= f.label :choose, class: "symptomsLabels" do %>
        <%= f.object.role.name %>
      <% end %>
    <% end %>
  <% end %>
  <br />

  <div class="language_collection_check_boxes">
    Languages <br />
    <% @global_languages.each do |l| %>
      <%= check_box_tag "support_user[global_language_ids][]", l.id, f.object.global_languages.include?(l), id: "global_language_ids_#{l.id}" %>
        <%= label_tag "global_language_ids_#{l.id}", class: "symptomsLabels" do %>
          <%= l.name %>
        <% end %>
    <% end %>
  </div>

  <div>
  Support Centers<br />
  <% @support_center_permissions.each do |support_center_permission| %>
    <%= f.fields_for :support_center_permissions, support_center_permission do |f| %>
      <%= f.hidden_field :support_center_id %>
        <%= f.check_box :choose, checked: f.object.choose %>
      <%= f.label :choose, class: "symptomsLabels" do %>
        <%= f.object.support_center.name %>
      <% end %>
    <% end %>
  <% end %>
  <br />
  </div>

  <div>
    <%= f.submit class: "btn2 flBtn" %>
  </div>
<%end%>
