<%= link_to '[active]', collection_url %>
<%= link_to '[non-active]', collection_url(q: {active_eq: false}) %>
<table class="table">
  <thead>
    <tr>
      <%= sortable SupportUser, 'email' %>
      <%= sortable SupportUser, 'first_name', 'Name' %>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @support_users.each do |user| %>
    <tr class="<%= cycle('odd', 'even') %>">
    <td><%= user.email %></td>
    <td><%= user.first_last_name %></td>
    <td class="tableLinks">
      <% if user.receive_commission? %>
        <%= link_to "commission rate", admin_support_user_commission_rates_url(user), class: "btn1 editLink" %>
      <% end %>
      <%= link_to "edit", edit_resource_url(user), class: "btn1 editLink" %>
    </td>
  </tr>
<% end -%>
  </tbody>
</table>

<%= paginate @support_users %>

<p><%= link_to "Add New Support User", new_resource_url, class: "btn2 addNew " %></p>
