<ul>
  <li>Email         : <%= @support_user.email %></li>
  <li>First Name         : <%= @support_user.first_name               %></li>
  <li>Last Name          : <%= @support_user.last_name                     %></li>
  <li>User Name          : <%= @support_user.user_name                  %></li>
  <li>Support Desk       : <%= @support_user.support_desk                     %></li>
  <li>Data Enter         : <%= @support_user.data_enter    %></li>
  <li>Admin Orders       : <%= @support_user.admin_orders            %></li>
  <li>Order Desk         : <%= @support_user.order_desk %></li>
  <li>Time Zone               : <%= @support_user.time_zone %></li>
</ul>

<% if @support_user.clients.present? %>
  <br />
  Clients:
  <% @support_user.clients.each do |client| %>
    <br />
   Name :<%= client.first_last_name %>
 <br />
   Email : <%= client.email %>
  <% end -%>
  <br />
<% end -%>

<p><%= link_to "Back", :back %></p>
