<div class="productWrap">
  <div class="detail">
    <div class="hardyPill">
      <%= render 'products/gallery', product: resource %>
    </div>
    <div class="description">
      <h2><%= resource.name %></h2> 
      <div class="subhead"> <%= resource.quantity_unit %></div>
      <h3>
        <% if discount_price(resource) %>
          <span style="text-decoration:line-through"><%= number_to_currency resource.price_for(user: current_client), locale: I18n.default_locale %></span>
          <%= number_to_currency discount_price(resource), locale: I18n.default_locale %>
        <% else %>
          <%= number_to_currency resource.price_for(user: current_client), locale: I18n.default_locale %>
        <% end %>
      </h3>
        <% if resource.back_ordered? %>
        	<div class="backorder">
            <span class="backorderStock">In Stock (for current customers)</span>
            <span class="backorderStock">Pre-Order (for new customers)</span>
			    </div>
          <div id="backorderMsg">
            <%= raw resource.verbiage %>
          </div>
        <% elsif resource.pre_order? %>
          <div class="backorder">
            <span id="preorderStock">PRE-ORDER ONLY</span>
          </div>
          <div id="backorderMsg">
            <%= raw resource.verbiage %>
          </div>
        <% else %>
          <span id="stock"><%= I18n.t 'product.in_stock' %></span>
        <% end %>

      <p><%= simple_format resource.description %></p>

       <% if (current_client || Client.new).can_create?(CartItem.new(cartable_id: resource.id, cartable_type: "Product")) %>
        <%= form_for cart_item, url: shopping_cart_cart_items_url(protocol: use_https?) do |f| %>
          <%= render_cell :app, :error_msg, msg: flash[:alert] %>
          <%= hidden_field_tag :product_id, resource.id %>
          QTY: <%= f.text_field :quantity, value: 1, :class => 'qtytxt' %>
        <% submit_text = if resource.pre_order?  %>
         <% "PRE-ORDER NOW" %>
        <% else %>
          <% "ADD TO CART" %>
        <% end %>
          <%= f.submit submit_text, :class => 'btn2' %>
        <% end %>
      <% else %>
        <%= form_tag new_client_back_ordered_url(protocol: use_https?), method: :get do |f| %>
          <%= render_cell :app, :error_msg, msg: flash[:alert] %>
          <%= hidden_field_tag "back_order_client[product_id]", resource.id %>
          <div id="backorder">
			  QTY: <%= text_field_tag "back_order_client[product_quantity]", 1, class: 'qtytxt' %>
			  <%= submit_tag "Pre-Order Now", :class => 'btn2' %>
          </div>
        <% end %>

      <% end %>
        

      <div id="caselot">
        <p><b>Caselot Pricing:</b></p>
        <% caselots_show_for_client(resource, current_client).each do |caselot| %>
          <p><span class="caseNum"><%= "#{number_to_currency caselot.price_for(user: current_client), locale: I18n.default_locale}" %></span> <%= "(#{caselot.description})" %></p>
        <% end %>
        <% if caselots_hide_for_client(resource, current_client).any? %>
          <%= link_to 'Show More', 'javascript:void(0)', id: "show_more_caselots" %>
          <% caselots_hide_for_client(resource, current_client).each do |caselot| %>
            <p style="display:none" class="hide_caselot"><span class="caseNum"><%= "#{number_to_currency caselot.price_for(user: current_client), locale: I18n.default_locale}" %></span> <%= "(#{caselot.description})" %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="tab-container" class='tab-container'>
    <ul class='etabs'>
      <li class='tab'><a href="#product-highlights"><%= I18n.t 'product.product_description' %></a></li>
      <li class='tab'><a href="#product-suggested-use"><%= I18n.t 'product.suggested_use' %></a></li>
      <li class='tab'><a href="#product-supplement-facts"><%= I18n.t 'product.supplement_facts' %></a></li>
      <li class='tab'><a href="#product-quality"><%= I18n.t 'product.product_quality' %></a></li>
    </ul>
    <div class='panel-container'>
      <div id="product-highlights">
        <div class="innerContainer">
          <section>
            <article>
              <h2><%= "#{I18n.t('product.more_infomation_about')}#{resource.name}:" %></h2>
              <div class="tabMainCont"><%= raw resource.highlights %></div>
            </article>
          </section>
          <%= render 'products/related_content', product: resource %>
        </div>
      </div>
      <div id="product-quality">
        <div class="innerContainer">
          <section>
            <article>
              <h2><%= "#{resource.name}#{I18n.t('product.product_quality_title')}:" %></h2>
              <div class="tabMainCont"><%= raw resource.quality %></div>

              <h2><%= I18n.t('product.tour_the_manufacuturing_facility') %></h2>
              <!--<object width="560" height="315"><param name="movie" value="//www.youtube.com/v/4P6JhaarhY0?hl=en_US&amp;version=3&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed wmode="opaque" src="//www.youtube.com/v/4P6JhaarhY0?hl=en_US&amp;version=3&amp;rel=0" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object>-->
			  <iframe data-title="qwe" id="tour_video" width="560" height="315" src="https://www.youtube.com/embed/1tuuKCnQqho?rel=0&amp;showinfo=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
            </article>
          </section>
          <%= render 'products/related_content', product: resource %>
        </div>
      </div>

      <div id="product-supplement-facts">
        <div class="innerContainer">
          <section>
            <article>
              <h2><%= "#{resource.name}#{I18n.t('product.supplement_facts_title')}:" %></h2>
              <div class="tabMainCont"><%= raw resource.supplement_facts %></div>
              <% if resource.label_file.present? %>
                <div id="labelFile">
                <img src="/assets/pdfIcon.jpg"/>
                <a href="<%= resource.label_file %>" class="btn2" id="labelBtn" target="_blank">Download Label</a>
              </div>
            <% end %>
            </article>
          </section>
          <%= render 'products/related_content', product: resource %>
        </div>
      </div>

      <div id="product-suggested-use">
        <div class="innerContainer">
          <section>
            <article>
              <h2><%= "#{resource.name}#{I18n.t('product.suggested_use_title')}" %> :</h2>
              <div class="tabMainCont"><%= raw resource.suggested_use %></div>
            </article>
          </section>
          <%= render 'products/related_content', product: resource %>
        </div>
      </div>
    </div>
  </div>
</div>
