<div id="gallery" class="galleryContent">
	<div id="controls" class="controls"></div>
	<div class="slideshow-container">
		<div id="loading" class="loader"></div>
		<div id="slideshow" class="slideshow"></div>
	</div>
	<div id="caption" class="caption-container"></div>
	<div id="thumbs" class="navigation">
		<ul class="thumbs noscript">
      <% product.product_images_or_default.each do |pi| %>
      <li>
        <%= link_to "<span class='icon'></span>#{image_tag(pi.image_url(:thumb), alt: pi.alt)}".html_safe, pi.image_url(:large), name: "leaf", class: "thumb", title: pi.alt %>
			</li>
      <% end %>
		</ul>
	</div>
</div>
