<div class="product">
  <div class="col1">
    <div class="hover">
      <div class="toolTip"><span class="arrow"></span>PRODUCT DETAILS</div>
      <%= link_to(product, class: "ga_product_detail", data: { id: product.product_code, name: product.name, list: "Product List Results", event_category: "Product List Page", event_label: product.name }) do %>
        <%= image_tag product.default_secondary_image.image_url(:hover), alt: product.default_secondary_image.alt %>
      <% end -%>
      <div class="productDescription">
      <%= link_to(product, class: "ga_product_detail", data: { id: product.product_code, name: product.name, list: "Product List Results", event_category: "Product List Page", event_label: product.name }) do %>
       <h2>
          <%= product.name%>
          <span class="prodqty"><%= product.quantity_unit%></span>
        
       </h2>  
        <p><%= truncate_html(product.description, length: I18n.t('product.gallery_part_description_length'), separator: ' ') %></p>
        <% end %>

        <% if (current_client || Client.new).can_create?(CartItem.new(cartable_id: product.id, cartable_type: "Product")) %>
        <% add_to_cart_text = if product.pre_order?  %>
         <% "PRE-ORDER NOW" %>
        <% else %>
          <% "ADD TO CART" %>
        <% end %>
          <%= link_to add_to_cart_text, shopping_cart_cart_items_url(product_id: product.id, protocol: use_https?), method: :post, class: "btn4" %>
          <% end %>
      </div>
    </div>
    <% if product.featured %>
      <span class="smallTag">FEATURED</span>
    <% end -%>
      <%= link_to(product, class: "ga_product_detail", data: { id: product.product_code, name: product.name, list: "Product List Results", event_category: "Product List Page", event_label: product.name }) do %>
    	<p class="showMob">Tap to view product details</p>
		<%= image_tag product.default_image.image_url(:medium), alt: product.default_image.alt %>
    <% end %>
    <h2>
      <%= link_to(product, class: "ga_product_detail", data: { id: product.product_code, name: product.name, list: "Product List Results", event_category: "Product List Page", event_label: product.name }) do %>
        <%= product.name%>
        <% end %>
    </h2>
    <p><span class="prodqty"><%= product.quantity_unit%></span></p>
    <p>
      <%= link_to(product, class: "ga_product_detail", data: { id: product.product_code, name: product.name, list: "Product List Results", event_category: "Product List Page", event_label: product.name }) do %>
      <span class="textHighlighting"><%= "#{number_to_currency product.price_for(user: current_client), locale: I18n.default_locale}" %></span>
      <% end %>
    </p>
  </div>
</div>
