<div class="productGallery">
  <div id="product-list" class="products">
    <%= render partial: "product", collection: @products, as: :product %>
    <%#= render partial: "product", collection: @products.clinical_use, as: :product %>
    <%#= render partial: "product", collection: @products.general_health_use, as: :product %>
    <%#= render partial: "product", collection: @products.other_products, as: :product %>
    <br />
  </div>
  <%# if show_message? %>
    <%#<div id="truehope">%>
    <%#<p>Hardy Nutritionals&trade; is currently in the process of re-branding the entire line of Truehope&reg; products. As a convenience to our customers who use Truehope&reg; products, Hardy Nutritionals&trade; will offer some Truehope&reg; products on this site until our re-branding is complete.</p>%>
    <%#<p>Our principal formulator, David Hardy, was a co-founder of Truehope. He formulated all of Truehope’s products until he <a href="http://www.hardynutritionals.com/documents/Important_Truehope_Announcement.pdf" target="_blank">retired as President of Truehope</a> and founded Hardy Nutritionals&trade; in 2012. Under his direction, we have re-formulated Truehope EMPowerplus&reg; as <a href="/products/1-daily-essential-nutrients" rel="nofollow">Hardy Nutritionals&trade; Daily Essential Nutrients</a>. Customers and clinicians have consistently reported that Daily Essential Nutrients outperforms EMPowerplus&reg; in <a href="http://www.hardynutritionals.com/documents/Daily_Essential_Nutrients_a_comparison_to_EMPowerplus.pdf" target="_blank">important ways</a>.</p>%>
    <%#<p>The following Truehope products have also been re-branded as Hardy Nutritionals&trade; products:</p>%>
    <%#<ul>%>
      <%#<li><a href="/products/2-free-form-aminos" rel="nofollow">AMINOpowerplus</a></li>%>
      <%#<li><a href="/products/4-inositol-powder" rel="nofollow">Inositol</a></li>%>
      <%#<li><a href="/products/16-greens-&-probiotics" rel="nofollow">GreenBac</a></li>%>
      <%#<li><a href="/products/3-olive-leaf-extract" rel="nofollow">Olive Leaf Extract</a></li>%>
    <%#</ul>%>
    <%#<p>We’re excited to offer our valued customers our entire new and improved line of Hardy Nutritionals&trade; products soon!</p>%>
  <%#</div>%>
<%# end %>
</div>
<%= paginate @products %>

<script type="text/javascript" charset="utf-8">
  <% @products.each do |product| %>
    ga('ec:addImpression', {
      'id': "<%= product.product_code %>",
      'name': "<%= product.name %>",
      'list': 'Product List Results',
      'category': "<%= product.product_category.try(:name) %>"
    });
  <% end %>
</script>
