<ul class="relativeContent">
  <h3>RELATED CONTENT</h3>
  <% product.related_videos.each do |video| %>
    <li class="first">
    <%= link_to video, data: { event_label: video.title } do %>
    <%= image_tag video.image_url(:thumb), alt: video.title %>
  <p><%= truncate(video.title, length: 60, separator: ' ', omission: '...') %></p>
<% end %>
  </li>
<% end %>
</ul>
