<script src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript" charset="utf-8">

function onYouTubeIframeAPIReady() {
  new YT.Player('tour_video', {
    events: {
      'onStateChange': onPlayerStateChange
    }
  });
}
function onPlayerStateChange(event) {
  if(event.data == YT.PlayerState.PLAYING){
    ga('send', 'event', "Product Detail Page", "click", "<%= @product.name %> - Tour the Manufacuturing Facility");
  }
}

$(function(){
  $('#backorderMsg a').click(function(){
    ga('send', 'event', "Product Detail Page", "click", "<%= @product.name %> - Pre-Order Verbiage - " + $(this).text());
  });

  $(".description > p a").click(function(){
    ga('send', 'event', "Product Detail Page", "click", "<%= @product.name %> - Description - " + $(this).text());
  });

  $("a.left").click(function(){
    ga('send', 'event', "Product Detail Page", "click", "<%= @product.name %> - previous product");
  });

  $("a.right").click(function(){
    ga('send', 'event', "Product Detail Page", "click", "<%= @product.name %> - next product");
  });

  $("ul.etabs a").click(function(){
    ga('send', 'event', "Product Detail Page", "click", "<%= @product.name %> - " + $(this).text());
  });

  $('#product-highlights .tabMainCont a').click(function(){
    ga('send', 'event', "Product Detail Page", "click", "<%= @product.name %> - PRODUCT DESCRIPTION - " + $(this).text());
  });

  $('#product-suggested-use .tabMainCont a').click(function(){
    ga('send', 'event', "Product Detail Page", "click", "<%= @product.name %> - SUGGESTED USE - " + $(this).text());
  });

  $('#product-supplement-facts .tabMainCont a').click(function(){
    ga('send', 'event', "Product Detail Page", "click", "<%= @product.name %> - SUPPLEMENT FACTS - " + $(this).text());
  });

  $('#product-quality .tabMainCont a').click(function(){
    ga('send', 'event', "Product Detail Page", "click", "<%= @product.name %> - PRODUCT QUALITY - " + $(this).text());
  });

  $('.relativeContent a').click(function(){
    ga('send', 'event', "Product Detail Page", "click", "<%= @product.name %> - RELATED CONTENT - " + $(this).data("event-label"));
  });
})
</script>
