<div id="wrapper" class="static">
  <%= render 'layouts/nav'%>
	<div class="topNavFilters">
		<div class="iconCon">
			<div class="iconBg active"><a href="#" class="grid"></a></div>
      <% if @disorders.any? %>
			  <div class="iconBg"><a href="#" class="symptoms"></a></div>
      <% end %>
		</div>

    <!--
		<p>I am looking for a supplement to help me with<span class="textHighlighting"><input class="placeholder" placeholder=" ex: Chronic Stress"><span class="magnify"></span></span></p>
    -->
    <p><%= link_to "I am looking for a supplement to help me with ...", "javascript:void(0);", class: "symptoms" %></p>
		<div class="symptomTags">
      <% @disorders.each do |disorder| %>
        <%= link_to disorder.name, products_url(q: params_q.merge!(product_disorders_disorder_id_eq: disorder.id)) %>
      <% end %>
		</div>
	</div>
  <%= render "product_list" %>
  <%= render 'layouts/footer' %>
</div>

<%= content_for :title, @seo.title %>
<%= content_for :keywords, @seo.keywords %>
<%= content_for :description, @seo.description %>

<%= render 'index_ga' %>
