<%= form_for [:admin, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :embed_link %>
    <%= f.text_field :embed_link %>
  </div>

  <div class="field">
    <%= f.label :index %>
    <%= f.text_field :index %>
  </div>

  <div class="field">
    <%= f.label :seo_title %>
    <%= f.text_field :seo_title %>
  </div>

  <div class="field textarea">
    <%= f.label :seo_keywords %>
    <%= f.text_area :seo_keywords, rows: 4 %>
  </div>

  <div class="field textarea">
    <%= f.label :seo_description %>
    <%= f.text_area :seo_description, rows: 4 %>
  </div>

  <div class="field">
    <%= f.label :description %>
	  <%= f.text_area :description %>
  </div>

  <%= render "admin/share/upload_image", f: f, column: "image", table: "videos" %>
  <br />
  <br />
  <br />
  <br />
  <br />
    <%= hidden_field_tag "video[disorder_ids][]", "" %>
  <% @disorders.each do |l| %>
      <%= check_box_tag "video[disorder_ids][]", l.id, f.object.disorders.include?(l), id: "disorder_ids_#{l.id}" %>
       <%= label_tag "disorder_ids_#{l.id}", class: "symptomsLabels" do %>
        <%= l.name %>
       <% end %>
    <% end %>


   <br />

  <div>
    <%= f.submit class: "btn2 flBtn" %>
    <%= hidden_field_tag :preview_url, preview_url(resource) %>
    <a href="#modal-show" class="btn2 flBtn">Preview</a>
  </div>
  <%= render "admin/share/modal" %>
<%end%>
