<table class="table">
  <thead>
    <tr>
    <%= sortable Video, 'title' %>
    <th></th>
    </tr>
  </thead>
  <tbody>
  <% collection.each do |video| %>
    <tr class="<%= cycle('odd', 'even')%>">
      <td><%= video.title %></td>
      <td class="tableLinks"><%= link_to "Edit", edit_resource_url(video), class: " btn1 editLink" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if current_support_user.can_create? resource_class %>
  <%= link_to "New", new_admin_video_url, class: "btn2 addNew" %>
<% end %>

<%= paginate collection %>
