<div id="wrapper" class="static checkout ">
<%= render 'layouts/nav'%>

	<div class="checkoutPage">
		<ul class="checkoutNav">
			<li class="active"><span class="status"></span>1. CART OVERVIEW</li>
			<li><span></span>2. MY ACCOUNT	</li>
			<li><span></span>3. BILLING & SHIPPING</li>
			<li><span></span>4. CONFIRMATION</li>
			<li><span></span>5. FEEDBACK</li>
		</ul>
		<div class="checkoutCont">
			<div class="progressBar">
				<ul>
					<li class="one"></li>
					<li class="two"></li>
					<li class="three"></li>
					<li class="four"></li>
					<li class="five"></li>
				</ul>
			</div>
			<!-- Shopping Cart
			<div class="cartDetail review">
				<h1>CART REVIEW</h1>
				<div class="right">
					<a href="#">Continue Shopping</a>
					<a href="#" class="btn1">NEXT STEP</a>
				</div>
				<p class="line"></p>
				<ul class="cartItems">
					<li>
						<ul class="cartHd">
							<li></li>
							<li class="article">Article</li>
							<li>Unit Price</li>
							<li>Quantity</li>
							<li>Extended Price</li>
						</ul>
					</li>
					<li>
						<ul class="cartTr">
							<li>
								<img src="/assets/hardyBottle1.png">
							</li>
							<li class="article">
								<h3>PRODUCT</h3>
								<p>Daily Essential Nutrients</p>
								<p>Format: Capsules</p>
								<p>Size: 450 Cap Bottle</p>
							</li>
							<li class="price">$63</li>
							<li>
								<select name="cart_item1_quantity" id="cart_item1_quantity" tabindex="1">
									<option value="1">QTY	1</option>
									<option value="2">QTY	2</option>
									<option value="3">QTY	3</option>
								</select>
							</li>
							<li class="price">$63</li>

						</ul>
						<p class="line"></p>
					</li>
					<li>
						<ul class="cartTr">
							<li>
								<img src="/assets/hardyBottle2.png">
							</li>
							<li class="article">
								<h3>PRODUCT</h3>
								<p>Daily Essential Nutrients</p>
								<p>Format: Capsules</p>
								<p>Size: 450 Cap Bottle</p>
							</li>
							<li class="price">$63</li>
							<li>
								<select name="cart_item2_quantity" id="cart_item2_quantity" tabindex="1">
									<option value="1">QTY	1</option>
									<option value="2">QTY	2</option>
									<option value="3">QTY	3</option>
								</select>
							</li>
							<li class="price">$63</li>
						</ul>
						<p class="line"></p>
					</li>
					<li>
						<ul class="cartTr">
							<li>
								<img src="/assets/hardyBottle3.png">
							</li>
							<li class="article">
								<h3>PRODUCT</h3>
								<p>Daily Essential Nutrients</p>
								<p>Format: Capsules</p>
								<p>Size: 450 Cap Bottle</p>
							</li>
							<li class="price">$63</li>
							<li>
								<select name="cart_item3_quantity" id="cart_item3_quantity" tabindex="1">
									<option value="1">QTY	1</option>
									<option value="2">QTY	2</option>
									<option value="3">QTY	3</option>
								</select>
							</li>
							<li class="price">$63</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="orderTotal">
				<h3>YOUR ORDER TOTAL<span class="textHighlighting">$189</span></h3>
				<p>Continue Shopping</p>
				<a href="#"  class="btn2">CHECKOUT</a>
			</div>
			-->
			<!--My Account
			<div class="cartDetail">
				<form>
					<label>email</label>
					<input type="text"/><br/>
					<label>payment info</label>
					<input type="text"/>
				</form>
			</div>-->
			
			<!--Billing & Shipping Address
			<div class="cartDetail">
				<div class="billingAddress">
					<h3>Billing Address</h3>
					<form>
						<label>First Name</label>
						<input type="text"/><br/>
						<label>Last Name</label>
						<input type="text"/><br/>
						<label>Street Address</label>
						<input type="text"/><br/>
						<label>Street Address(cont'd)</label>
						<input type="text"/><br/>
						<label>City</label>
						<input type="text"/><br/>
						<label>Country</label>
						<input type="text"/><br/>
						<label>Prov/State</label>
						<input type="text"/><br/>
						<label>Postal Code/Zip</label>
						<input type="text"/><br/>
						<label>Phone</label>
						<input type="text"/><br/>
						<input type="checkbox" name="" value ="" >Ship to Billing Address<br/>
					</form>
				</div>
				<div class="shippingAddress">
					<h3>Shipping Address</h3>
					<form>
						<label>First Name</label>
						<input type="text"/><br/>
						<label>Last Name</label>
						<input type="text"/><br/>
						<label>Street Address</label>
						<input type="text"/><br/>
						<label>Street Address(cont'd)</label>
						<input type="text"/><br/>
						<label>City</label>
						<input type="text"/><br/>
						<label>Country</label>
						<input type="text"/><br/>
						<label>Prov/State</label>
						<input type="text"/><br/>
						<label>Postal Code/Zip</label>
						<input type="text"/><br/>
						<label>Phone</label>
						<input type="text"/><br/>
					</form>
				</div>
			</div>-->

			<!-- Confirmation -->		 
			<div class="cartDetail confirmation">
				<h1>CART REVIEW</h1>
				<div class="right">
					<a href="#">Continue Shopping</a>
					<a href="#" class="btn1">NEXT STEP</a>
				</div>
				<p class="line"></p>
				<ul class="cartItems">
					<li>
						<ul class="cartHd">
							<li class="article">Article</li>
							<li>Unit Price</li>
							<li>Quantity</li>
							<li>Extended Price</li>
						</ul>
					</li>
					<li>
						<ul class="cartTr">
							<li class="article">
								<h3>PRODUCT</h3>
								<p>Daily Essential Nutrients</p>
								<p>Format: Capsules</p>
								<p>Size: 450 Cap Bottle</p>
							</li>
							<li class="price">$63</li>
							<li>1</li>
							<li class="price">$63</li>

						</ul>
						<p class="line"></p>
					</li>
					<li>
						<ul class="cartTr">
							<li class="article">
								<h3>PRODUCT</h3>
								<p>Daily Essential Nutrients</p>
								<p>Format: Capsules</p>
								<p>Size: 450 Cap Bottle</p>
							</li>
							<li class="price">$63</li>
							<li>1</li>
							<li class="price">$63</li>
						</ul>
						<p class="line"></p>
					</li>
					<li>
						<ul class="cartTr">
							<li class="article">
								<h3>PRODUCT</h3>
								<p>Daily Essential Nutrients</p>
								<p>Format: Capsules</p>
								<p>Size: 450 Cap Bottle</p>
							</li>
							<li class="price">$63</li>
							<li>1</li>
							<li class="price">$63</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="orderTotal">
				<h3>YOUR ORDER TOTAL<span class="textHighlighting">$189</span></h3>
				<p>Continue Shopping</p>
				<a href="#"  class="btn2">CHECKOUT</a>
			</div>
			<!-- Feedback
			<div class="cartDetail feedback">
				<p>Thank you for shopping</p>
			</div>-->
		</div>
	</div>
	<%= render 'layouts/footer' %>
</div>

<script type="text/javascript">
	$(document).ready( function() {
		$("#cart_item1_quantity,#cart_item2_quantity,#cart_item3_quantity").selectbox(); 
	});
</script>
	
