<div id="wrapper" class="static">
<%= render 'layouts/nav'%>
	<div class="topNavFilters">
		<div class="pageTurning">
			<a href="#" class="left"><span></span>previous</a>
			<a href="#" class="right">next<span></span></a>
		</div>
		<div class="iconCon">
			<div class="iconBg"><a href="#" class="grid"></a></div>
			<div class="iconBg active"><a href="#" class="Vector"></a></div>
		</div>
		<p>Our Vision //<span class="textHighlighting"> Message From Our Founder</span></p>
	</div>
	<div class="staticPage">
		<aside>
			<h2>Research</h2>
			<div class="author">
			</div>
		</aside>
		<div class="aboutCont">
			<section>
				<article>
					<div class="textBlock">
						<p>The Hardy Nutritionals&trade; Daily Essential Nutrients formulation is the culmination of <a href="/researches?q[research_category_name_eq]=Daily+Essential+Nutrients">nearly 20 years of research and development</a>.</p>
						<p>Predecessor formulations of Daily Essential Nutrients (including several formulations of Truehope EMPowerplus&reg;) have been studied extensively by independent researchers at a dozen universities for various aspects of health—particularly mood and anxiety-related disorders such as bipolar disorder, ADHD, autism spectrum disorders, OCD, and anxiety disorders.</p>
						<p>A recent article in <em>BMC Psychiatry</em> noted that there is "more published and ongoing research on the EMPowerplus&reg; formula for mental health than on any other complex formula anywhere in the world."</p>
						<p><em>Daily Essential Nutrients</em> was formulated by our Hardy Nutritionals&trade; team of scientists—the same team that formulated EMPowerplus&reg;. <a href="http://www.hardynutritionals.com/documents/DEN_vs_EMP.pdf" target="_blank">Formulation changes</a> were based on valuable feedback from health professionals and from scientific research findings.</p>
						<p><em>Daily Essential Nutrients</em> is powered by our proprietary NutraTek&trade; mineral delivery technology, which combines each mineral with specialized organic molecules—just like nature—to optimize absorption and distribution to body cells.</p>
						<p>Clinicians and their patients have reported that <em>Daily Essential Nutrients</em> is more effective and better tolerated than preceding formulations.</p>
						<p>Hardy Nutritionals&trade; is passionate about building upon the impressive independent research that has been published using predecessor formulations of <em>Daily Essential Nutrients</em>. Exciting new research is already underway with <em>Daily Essential Nutrients</em>.</p>
					</div>
					
				</article>
			</section>
		</div>
	</div>
	<%= render 'layouts/footer' %>
</div>
<%= content_for :title, "Hardy Nutritionals | About Us" %>
