<%= render 'layouts/nav'%>

<div class="homepage">
	<div class="slidewrap" data-autorotate="8000">
		<ul class="slidecontrols">
			<li><a href="#sliderName1" class="next">Next</a></li>
			<li><a href="#sliderName1" class="prev">Prev</a></li>
		</ul>
		<ul class="slider" id="sliderName1">
			<li class="slide">
				<a href="http://www.hardynutritionals.com/videos/30-q-a-with-harvard-psychiatrist-and-psychopharmacologist-dr-charles-popper">
					<img src="/assets/02_Popper.jpg" alt="0 Q and A with Harvard psychiatrist and psychopharmacologist Dr. Charles Popper"/>
				</a>
			</li>
			<li class="slide">
				<a href="http://www.hardynutritionals.com/products/28-daily-essential-nutrients-(new)">
					<img src="/assets/DEN360.jpg" alt=""/>
				</a>
			</li>
			<li class="slide">
				<a href="http://www.hardynutritionals.com/videos/31-5-minute-introduction-to-nutratek-health-innovations-inc">
					<img src="/assets/04_Julia.jpg" alt="5 Minute Introduction to Nutratek&trade; Health Innovations Inc."/>
				</a>
			</li>
			<li class="slide">
				<a href="http://www.hardynutritionals.com/products/27-balanced-free-form-aminos">
					<img src="/assets/BFFA_2.jpg" alt=""/>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="wrap">
<div class="content" id="overlay">
	<div class="leftCont">
		<div class="productShow">
			<span class="smallTag"><%= I18n.t("product_slider.feature") %></span>

			<div class="miniSlidewrap" data-autorotate="8000">
				<ul class="slider">
          <% unless @featured_products.empty? -%>
            <% @featured_products.each do |product| -%>
              <li class="slide" onclick="window.location.href='<%= product_path(product) %>';">
                <%= image_tag product.product_images.first.image_url class: "ev_above" unless product.product_images.empty? %>
                <p><%= raw product.featured_text %></p>
                <div class="hover">
                  <div class="toolTip">VIEW DETAILS<span class="arrow"></span></div>
                </div>
              </li>
            <% end %>
          <% else -%>
            <li class="slide" onclick="window.location.href='/products/1-daily-essential-nutrients';">
              <img src="/assets/DEN_bottle.jpg" class="ev_above">
              <p><%= raw I18n.t('product_slider.daily_essential_nutrients_feature') %></p>
              <div class="hover">
                <div class="toolTip">VIEW DETAILS<span class="arrow"></span></div>
              </div>
            </li>
            <li class="slide" onclick="window.location.href='/products/6-daily-self-defense---for-women';">
              <img src="/assets/DSD_women_bottle.jpg">
              <p><%= raw I18n.t('product_slider.daily_self_defense_for_women_feature') %></p>
              <div class="hover">
                <div class="toolTip">VIEW DETAILS<span class="arrow"></span></div>
              </div>
            </li>
            <li class="slide" onclick="window.location.href='/products/5-daily-self-defense---for-men';">
              <img src="/assets/DSD_men_bottle.jpg">
              <p><%= raw I18n.t('product_slider.daily_self_defense_for_men_feature') %></p>
              <div class="hover">
                <div class="toolTip">VIEW DETAILS<span class="arrow"></span></div>
              </div>
            </li>
          <% end -%>
				</ul>
			</div>
			<!--<p>BHE is on sale for the Month of April mauris vel dolor nisi, non viverra nisl. Fusce porta massa non quam mollis vehicula.
				<%= link_to "VIEW ALL PRODUCTS", products_url, class: "viewMore" %>
			</p>-->
		</div>
		<!--<div class="socialMedia">
           <ul id="twitter_update_list">
            </ul>
			<p class="conversation"><span class="arrow"></span>JOIN THE CONVERSATION <a href="#" class="t"></a><a class="f" target="_blank" href="https://www.facebook.com/suncoastscreenenclosures"></a></p>
		</div>-->
		<div class="socialMedia" onclick="window.location.href='/article/our-vision/10-message-from-our-founder';">
			<div class="rightCont">
				<img src="/assets/david-hardy.jpg"/>
			</div>
			<div class="leftCont">
				<p><%= I18n.t 'hardy_founded.description' %></p>
				<p><em>-<%= I18n.t 'hardy_founded.name' %><br/>
				<%= I18n.t 'hardy_founded.nice_name' %></em></p>
			</div>
			<p class="conversation">
				<a href="/article/our-vision/10-message-from-our-founder">Read more...</a>
			</p>
		</div>
	</div>
	<div class="rightCont">
		<!-- NUTRATALK -->
		<div class="nutratalk">
			<h2><a href="/blog" target="_blank"><img src="/assets/NutraTalkBlog.png" alt="NutraTalk" title="NutraTalk Blog"/></a></h2>
			<p>Follow our blog to keep up to date with all the latest product news and events.</p>
			<ul>
        		<% wp_posts.each do |p| %>
          		<li>
                <%= link_to "/blog/#{p.post_name}", target: "_blank" do %>
                  <h3><%= p.post_title %></h3>
                  <% if p.image.try("guid") %>
                    <%= image_tag p.image.try("guid") %>
                  <% end %>
            		  <p><%= truncate(strip_tags(p.post_content.gsub(/\[caption.*caption\]/, "")), separator: ' ', length: 180) %></p>
                <% end %>
            		<p class="readMore"><%= link_to 'Read more >', "/blog/#{p.post_name}", target: "_blank" %></p>
         		 	</li>
        		<% end %>
			</ul>
		</div>
		<!-- NUTRATALK -->
		<div class="MentalHealthCont">
			<h3><%= raw I18n.t 'learn_what_daily_essential_nutrients_can_do_for' %></h3>
			<ul>
        <% @side_disorders.each do |d| %>
          <li>
            <%= link_to studies_path(q: { study_disorders_disorder_id_eq: d.id }) do %>
              <span class="rightCont"><%= image_tag d.image_url %></span>
              <p><%= d.name %></p>
            <% end %>
          </li>
        <% end %>
			</ul>
		</div>
	</div>
		<div class="signUp">
			<span class="text field signup-info">Sign up for our monthly newsletter, research updates and special offers.</span>
		  <span class="text field signup-form">
			<%= form_tag email_url,  remote: true do %>
			  <%= text_field_tag :first_name, nil, placeholder: "first name", style: "width:25%" %>
			  <%= text_field_tag :last_name, nil, placeholder: "last name", style: "width:25%" %>
			  <%= text_field_tag :email, nil, placeholder: "your email address", style: "width:25%" %>
			  <%= submit_tag "Sign Up", class: "btn2" %>
			<% end -%>
		  </span>
			<a href="javascript:;" class="signBtn">SIGN ME UP</a>
		</div>
		<div class="productReview">
			<div class="reviewSlidewrap" data-autorotate="8000">
				<ul class="slidecontrols">
					<li><a href="#sliderName3" class="next">Next</a></li>
					<li><a href="#sliderName3" class="prev">Prev</a></li>
				</ul>
				<ul class="slider" id="sliderName3">
					<li class="slide" onclick="window.location.href='/videos?disorder_id=21&empty_disorder_ids=true';">
						<div class="imgCont">
							<!--<span class="smallTag">CASE STUDY</span>-->
							<img src="/assets/superior.jpg">
						</div>
						<div class="right">
						<h3><%= raw I18n.t('what_make_den_superior_to_other_supplements') %></h3>
						<p class="autho"></p><br/>
						<p><%= raw I18n.t 'what_make_den_superior_to_other_supplements_description' %></p>
            			<%= link_to I18n.t('watch_videos'), videos_url(q: { video_disorders_disorder_id_eq: 21 }) %>
						</div>
					</li>
					<li class="slide" onclick="window.location.href='/videos?disorder_id=19&empty_disorder_ids=true';">
						<div class="imgCont">
							<!--<span class="smallTag">CASE STUDY</span>-->
							<img src="/assets/multi-nutrient.jpg">
						</div>
						<div class="right">
						<h3><%= raw I18n.t('why_is_the_multi_nutrient_approach_of_den_essential_for_my_health') %></h3>
						<p class="autho"></p><br/>
						<p><%= raw I18n.t('why_is_the_multi_nutrient_approach_of_den_essential_for_my_health_description') %></p>
            			<%= link_to I18n.t('watch_videos'), videos_url(q: { video_disorders_disorder_id_eq: 19 }) %>
						</div>
					</li>
					<li class="slide" onclick="window.location.href='/videos?disorder_id=20&empty_disorder_ids=true';">
						<div class="imgCont">
							<img src="/assets/healthy-diet.jpg">
						</div>
						<div class="right">
						<h3><%= raw I18n.t('do_i_need_den_if_i_have_a_healthy_diet') %></h3>
						<p class="autho"></p><br/>
						<p><%= raw I18n.t('do_i_need_den_if_i_have_a_healthy_diet_description') %></p>
            <%= link_to I18n.t('watch_videos'), videos_url(q: { video_disorders_disorder_id_eq: 20 }) %>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="compare" onclick="window.open('/documents/Daily_Essential_Nutrients_a_comparison_to_EMPowerplus.pdf','_blank');">
			<img src="/assets/compare.png">
      		<h3><%= raw I18n.t('compare_den_to_its_predecessor_formulation') %></h3>
			<p><strong><em><%= raw I18n.t('den') %>:</em></strong></p>
			<ul>
				<li><%= I18n.t 'is_much_more_affordable' %></li>
				<li><%= I18n.t 'does_not_cause_nausea' %></li>
				<li><%= I18n.t 'interacts_much_less_with_medications' %></li>
				<li><%= I18n.t 'contains_improved_levels_and_forms_of_vitamins' %></li>
				<li><%= I18n.t 'contains_additional_key_ingredients' %></li>
			</ul>
			<a href="http://www.hardynutritionals.com/documents/Daily_Essential_Nutrients_a_comparison_to_EMPowerplus.pdf" target="_blank" class="viewMore"><%= I18n.t('learn_more') %></a>
		</div>
		<!-- PRODUCT RESEARCH -->
		<div class="studiesCont">
			<div onclick="window.location.href='/studies';">
				<h3><%= I18n.t 'product_research' %></h3>
				<p> <%= raw I18n.t 'product_research_description' %>
			  		<a href="/studies" class="viewMore"><%= I18n.t 'product_research_studies' %></a>
				</p>
			</div>
			<a href="http://www.hardynutritionals.com/videos/32-dr-julia-rucklidge-the-surprisingly-dramatic-role-of-nutrition-in-mental-health">
				<img src="/assets/Julia-TEDx.png">
			</a>
		</div>
		<!-- PRODUCT RESEARCH -->
	<%= render 'layouts/footer' %>
</div>
</div>
 <script type="text/javascript">
   $('body').addClass('home');

  window.onload = function() {
    var slide = $('.homepage');
    if(slide.length > 0) {
      var x = slide.height() + slide.offset().top - $(window).scrollTop(),
      //x = slide.height() - 10,
      overlay = $('#overlay'),
      width = $(window).width();
      if(width > 800){
        overlay.css({'margin-top': x});
        $('header').css({'margin-top': 0});
      }else{
        overlay.css({'margin-top': 0});
      }
    }
  };
  window.onresize = function() {
    var
      slide = $('.homepage'),
      x = slide.height() + slide.offset().top - $(window).scrollTop(),
      //x = slide.height() - 10,
      overlay = $('#overlay'),
      width = $(window).width();
    if(width > 800){
      overlay.css({'margin-top': x});
    }else{
      overlay.css({'margin-top': 0});
    }
  }

 </script>

<!-- TW Script
<script>
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
 </script>-->
<%= content_for :title, @seo.title %>
<%= content_for :keywords, @seo.keywords %>
<%= content_for :description, @seo.description %>
