  <html>
  <head>

  <style type="text/css">
    body {font-family:Arial, Helvetica, sans-serif; font-size:10;}
    td {font-family:Arial, Helvetica, sans-serif; font-size:10pt}
    h1 {font-family:Arial, Helvetica, sans-serif; font-size:12pt;}
    p {margin: 0;}
    /*.emailImg {float: left; margin-right: 50px;}*/
    .emailHeader {margin-bottom: 10px;}
    .emailWrap {width: 800px;}
    .orderInfo {
      padding: 10px 0;
      margin: 10px 0 10px;
    }
    .totals {width: 700px;}
    .copyRight {
      border-top: 1px dotted #666;
      font-family: arial,helvetica,sans-serif;
      font-size: 10px;
      height: auto;
      margin: 20px 0 0;
      padding: 10px 0;
      color: #666;
    }
    a, .ii a, a:link, a:visited {
        color: #53BD80 !important;
    }

  </style>
  
  </head>

  <body style="font-family: Arial,Helvetica, sans-serif; font-size:10pt" class="TEST">
    <div class="emailWrap">
    
    

<div class="orderInfo">   
    <TABLE CELLSPACING="1" CELLPADDING="3" WIDTH="700px" BORDER="0" summary="Customer Information">
    <tr>
      <td>
        <img src="http://hardynutritionals.com/assets/Hardy-Nutritionals-Logo.png" class="emailImg" />
      </td>
      <td colspan="2" align="right">
        <h1 style="color: #53BD80; font-size: 20pt; margin-bottom: 0; font-family: 'arial black', arial, sans-serif;">Order Confirmation</h1>
        <div style="margin: 0; padding: 5px; border: 1px solid #000; width: 267px; text-align: center;">
        <p><b>Order ID: <%#= @order.id %></b></p>
        
        </div>
        <p style="font-style: italic; font-size: 13pt; margin: 5px 0; text-align: center; width: 267px;">We appreciate your business!</p>
      </td>
    </tr>
    <tr>
      <td colspan="3" align="left" style="border-bottom: 3px solid #53BD80; padding-bottom: 20px;">
        <p style="margin-top: 20px;">
        Hello Peter Piper,<br/>
        Thank you for shopping at Hardy Nutritionals<b><sup>&trade;</sup></b>.<br/><br/>
        Once your package ships, we will send an email with a link to track your order. You can check the status 
        of your order at any time by <a href="http://www.onutra.com">logging into your account.</a><br/><br/>
        If you have any questions about your order, please contact us at <a href="mailto:service@hardynutritionals.com">service@hardynutritionals.com</a>.<br/>
        Call us Toll Free at 1-855-955-1114 Monday - Friday, 9am - 5pm Mountain Standard Time.<br/>
        International Customers please call: 1-587-271-1114</p>
      </td>
    </tr>
    <tr><td width="100%"><h1 style="margin:10px 0;">Thank you for your order!</h1></td></tr>
    <tr>
      <td align="left" valign="top" width="50%" style="padding-top: 10px;">
        <p>
          Order ID: 1565851
          <br />
          Order Status: Shipped
          <br />
          Payment Status: Paid
          <br />
        </p>
      </td>
      <td align="left" valign="top" width="50%" style="padding-top: 10px;">
        <p>
          <b>Shipping Address:</b><br/>
          Peter Piper<br/>
          2306 - 20 AVE N<br/>
          Sweetgrass, MT, 59484<br/>
          Tel: 589-456-7890<br/>
          E-mail: peter@piper.com
          <br/>
          Billing Address:
          <br/>
          Peter Piper<br/>
          2306 - 20 AVE N<br/>
          Sweetgrass, MT, 59484<br/>
          Tel: 589-456-7890<br/>
        </p>
      </td>
    </tr>
    <tr><td>        <p>
        Shipping Method: UPS Standard Ground Shipping
        </p></td></tr>
    <TR>
      <td colspan="3" align="left" style="background: #53BD80; color: #fff; padding: 5px; font-weight: bold; font-size: 12pt; margin-top: 20px;">
        Order Details
      </td>
    </TR>
    <tr>
      <td colspan="3" align="left" width="100%">
        <table class="totals" width="100%" style="border-collapse: collapse;">
          <thead>
            <tr style="font-weight: bold;">
              <th align="left" style="border-bottom: 3px solid #53BD80;">Product Description</th>
              <th align="right" style="border-bottom: 3px solid #53BD80;">Price</th>
              <th align="right" style="border-bottom: 3px solid #53BD80;">Qty</th>
              <th align="right" style="border-bottom: 3px solid #53BD80;">Total</th>
            </tr>
          </thead>
          <tbody>
            <!--<%# @order.order_items.each do |order_item| %>-->
              <tr class="<%= cycle('odd', 'even')%>-->">
                <td align="left" style="border-bottom: 1px solid #53BD80;"><!--<#%= order_item.product.name %>--> Daily Essential Nutrients</td>
                <td align="right" style="border-bottom: 1px solid #53BD80;"><!--<#%= render "shared/order_item_price", client: @order.client, item: order_item, order: @order %>-->$118.50 (for 6 or more)</td>
                <td align="right" style="border-bottom: 1px solid #53BD80;"><!--<#%= order_item.quantity %>-->13</td>
                <td align="right" style="border-bottom: 1px solid #53BD80;"><!--<#%= number_to_currency order_item.total %>-->$1,540.50</td>
              </tr>
            <!--<%# end %>-->
            <tr>
              <td colspan="4" align="right">
                <p>Product Total</p>
              </td>
              <td align="right"><span><!--<#%= number_to_currency(@order.subtotal) %>-->$1,540.50</span></td>
            </tr>
            <tr>
              <td colspan="4" align="right">
                <p>Shipping and Handling</p>
              </td>
              <td align="right">  <span><!--<#%= number_to_currency(@order.shipping_handling_charge) %>-->$13.50</span></td>
            </tr>
            <tr>
              <td colspan="4" align="right">
                <p>Tax</p>
              </td>
              <td  align="right"> <span><!--<%#= number_to_currency(@order.tax_charge) %>-->$77.00</span></td>
            </tr>
            <tr style="font-weight: bold;">
              <td align="right" style="border-bottom: 1px solid #53BD80;">
                <h3>Order Total</h3>
              </td>
              <td align="right"><span> <!--<#%= "#{@order.currency.name} #{number_to_currency(@order.total)}" %>-->$1361.00</span></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="left" style="width: 200px;">
        
        <b style="font-size: 14pt;">Hardy Nutritionals<sup>&trade;</sup></b><br/>
        Toll Free: 1-855-955-1114<br/>
        International: 1-587-271-1114<br/>
        <a href="mailto:orders@hardynutritionals.com">orders@hardynutritionals.com</a><br/>
        <b><a href="http://www.gethardy.com">www.gethardy.com</a></b>

      </td>
      <td align="center"><img src="http://hardynutritionals.com/images/badge.jpg"/></td>
      <td align="right"><img src="http://hardynutritionals.com/assets/experience.png"/></td>
    </tr>
  </TABLE>
</div>  

  </div> 
</body> 
  </html>


