<div id="wrapper" class="static">
  	<%= render 'layouts/nav'%>
  	<div class="topNavFilters">
  		<div id="optimusdsd">
			<h2>Optimus Nutraceuticals™ - Daily Self Defense™ products available exclusively here.</h2>
			<p>In an effort to serve you better, we are offering all our NutraTek-enhanced products (Optimus Nutraceuticals™ general health formulations & Hardy Nutritionals™ clinical strength formulations) conveniently on one site: <a href="/">www.HardyNutritionals.com</a>.</p>
			<p>If you have a referral code from your employer or health professional, please call toll free: 1-855-955-1113 to receive your discount.</p>
		</div>
  	</div>
  	<div class="productGallery">
  		<div class="products" id="product-list">
        <%= render partial: "products/product", collection: Product.where(id: [5, 6]).order(:id), as: :product %>
        <%#<div class="product">%>
          <%#<div class="col1">%>
					<%#<div class="hover" style="">%>
							<%#<div class="toolTip" style="display: none; left: 280px; top: 88px;"><span class="arrow"></span>PRODUCT DETAILS</div>%>
                <%#<a href="/products/5-daily-self-defense---for-men">%>
                  <%#<img src="http://gethardy.com/uploads/product_image/image/33/hover_Capsules__White_2_.png" alt="Hover_capsules__white_2_">%>
						<%#</a>      %>
						<%#<div class="productDescription">%>
							<%#<a href="http://www.hardynutritionals.com/products/5-daily-self-defense---for-men">%>
                     <%#<h2>%>
										<%#Daily Self Defense - For Men%>
									<%#<span class="prodqty">180 Capsules</span>%>
									 <%#</h2>  %>
                    <%#<p></p><p> <b><i>Daily Self Defense - For Men</i></b>&nbsp;is a comprehensive combination of vitamins,...</p><p></p>%>
                  <%#</a>%>
                  <%#<a rel="nofollow" data-method="post" class="btn4" href="http://www.hardynutritionals.com/products/5-daily-self-defense---for-men">MORE INFO</a>%>
                <%#</div>%>
            <%#</div>%>
              <%#<span class="smallTag">FEATURED</span>%>
            <%#<a href="http://www.hardynutritionals.com/products/5-daily-self-defense---for-men">%>
              <%#<p class="showMob">Tap to view product details</p>%>
						<%#<img src="/uploads/product_image/image/93/medium_Daily_Self_Defense_for_Men.png" alt="Medium_daily_self_defense_for_men">%>
					<%#</a>%>
            <%#<h2>%>
                <%#<a href="http://www.hardynutritionals.com/products/5-daily-self-defense---for-men">Daily Self Defense - For Men</a>%>
            <%#</h2> %>
            <%#<p><span class="prodqty">180 Capsules</span></p>%>
            <%#<p><a href="http://www.hardynutritionals.com/products/5-daily-self-defense---for-men"><span class="textHighlighting">$39.95</span></a></p>%>
          <%#</div>%>
			<%#</div>%>
			<%#<div class="product">%>
          <%#<div class="col1">%>
            <%#<div class="hover" style="display: none;">%>
                <%#<div class="toolTip" style="display: none; left: 280px; top: 88px;"><span class="arrow"></span>PRODUCT DETAILS</div>%>
                <%#<a href="/products/6-daily-self-defense---for-women">%>
                  <%#<img src="http://gethardy.com/uploads/product_image/image/34/hover_Capsules__White_2_.png" alt="Hover_capsules__white_2_">%>
						<%#</a>%>
						<%#<div class="productDescription">%>
                  <%#<a href="http://www.hardynutritionals.com/products/6-daily-self-defense---for-women">%>
                     <%#<h2>%>
                        <%#Daily Self Defense - For Women%>
                        <%#<span class="prodqty">180 Capsules</span>%>
                     <%#</h2>  %>
                    <%#<p><b><i>Daily Self Defense - For Women</i></b>&nbsp;is a comprehensive combination of vitamins,...</p>%>
                  <%#</a>%>
                  <%#<a rel="nofollow" data-method="post" class="btn4" href="http://www.hardynutritionals.com/products/6-daily-self-defense---for-women">MORE INFO</a>%>
                <%#</div>%>
            <%#</div>%>
              <%#<span class="smallTag">FEATURED</span>%>
            <%#<a href="http://www.hardynutritionals.com/products/6-daily-self-defense---for-women">%>
              <%#<p class="showMob">Tap to view product details</p>%>
						<%#<img src="/uploads/product_image/image/94/medium_Daily_Self_Defense_for_Women.png" alt="Medium_daily_self_defense_for_women">%>
					<%#</a>%>
            <%#<h2>%>
                <%#<a href="http://www.hardynutritionals.com/products/6-daily-self-defense---for-women">Daily Self Defense - For Women</a>%>
            <%#</h2> %>
            <%#<p><span class="prodqty">180 Capsules</span></p>%>
            <%#<p><a href="http://www.hardynutritionals.com/products/6-daily-self-defense---for-women"><span class="textHighlighting">$39.95</span></a></p>%>
          <%#</div>%>
			<%#</div>%>
    		<br>
  		</div>
	</div>
  	<%= render 'layouts/footer' %>
</div>
