<div id="wrapper" class="static">
<%= render 'layouts/nav'%>
	<div class="topNavFilters">
	</div>
	<div class="staticPage">
		<aside>
			<h2>Privacy, Security, Returns &amp; Shipping Policies</h2>
			<div class="author">
			</div>
		</aside>
		<div class="aboutCont">
			<img src="/assets/Policies_Picture.jpg" alt="Hardy Nutritionals Policies"/>
			<section>
				<article>
					<div class="textBlock">
						<p></p>
						<p><h3>Privacy Policy</h3></p>
						<p>Hardy Nutritionals™ respects and is committed to protecting your privacy. Under no circumstances will we sell your personally identifiable information to anyone.</p>
						<p><h3>Security Policy</h3></p>
						<p>Your payment and personal information is always safe. Our Secure Sockets Layer (SSL) software is the industry standard and among the best software available today for secure e-commerce transactions. It encrypts all of your personal information, including credit card number, name, and address, so that it cannot be read over the internet.</p>
						<p><h3>Return Policy</h3></p>
						<p>Hardy Nutritionals™ provides a 100% 30-day money back guarantee. If within 30 days of receipt of product you are dissatisfied with your purchase, call our Hardy Nutritionals™ Customer Service Department at 1-855-955-1114 to receive a full refund of the purchase price of the product when you return unopened product to us.</p>
						<p><h3>Shipping Policy</h3></p>
						<p>We will strive to do our best, to ship your items within 1 business day of purchase using your preferred carrier. We ship out of the USA and honor both United States and Canadian holidays. Your order can be tracked via the links on your e-mail receipt confirmation. Please call us if there are any questions relating to national or international shipping.</p>
					</div>
				</article>
			</section>
		</div>
	</div>
	<%= render 'layouts/footer' %>
</div>
<%= content_for :title, "Hardy Nutritionals | Policies" %>
