<div id="wrapper" class="static checkout">
<%= render 'layouts/nav'%>
	<div class="contactCont">
		<h1>Search Results</h1>
		<div class="companyInfor serviceImg">
		
		</div>
		<div class="companyInfor">
			<script>
			  (function() {
				var cx = '016802076689604071849:oxfaxgb_zak';
				var gcse = document.createElement('script');
				gcse.type = 'text/javascript';
				gcse.async = true;
				gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
					'//cse.google.com/cse.js?cx=' + cx;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(gcse, s);
			  })();
			</script>
<gcse:search></gcse:search>
		</div>
		<div class="companyInfor">
			
		</div>
	</div>
	<%= render 'layouts/footer' %>
</div>
