<!--
	<h1>LARGE HEADLINES 42pt bold cabin</h1>
	<h2>MEDIUM HEADLINE 30pt bold cabin</h2>
	<h3>SMALL HEADLINE 18pt bold cabin</h3>
	<h4>Medium Serif Headline 18pt museo</h4>
	<h3>Blockquote 11pt Museo italic<h3>
	<blockquote>“There I was, taking to the plate with my nail bat by my side, gazing out toward the mound 	where the zombie pitcher lurched about. It reached down to pick up a severed head and	clumsily hoisted it to it’s waist area before it reeled backwards and sent the head flying	towards me.”</blockquote>

	<div class="button">
		<a href="#" class="btn1">NORMAL</a>
	</div>
	<div class="button">
		<a href="#" class="error">An error has occured, look.</a><br/>
		<a href="#" class="notification">I'm notifying you of a change</a>
	</div>
-->
<div id="wrapper">
	   <header id="site-header">
	   	<section>
			<p>Welcome we ship to Canada!</p>
			<ul class="miniNav">
				<li class="language">
					<a href="javascript:;" class="icon"><span class="icon langIcon"></span>English <!--text should change depending on language, leave icon--></a>
					<ul>
						<li><a href="#">Chinese (Simplified)</a></li>
						<li><a href="#">Chinese (Traditional)</a></li>
						<li><a href="#">Spanish</a></li>
					</ul>
				</li>
				<li><a href="#">help</a></li>
				<li><a href="#">login</a></li>
				<li><a href="#">sign-up</a></li>
			</ul>
		</section>
        <div class="menu-button">Menu</div>
        <nav>
			<a href="#" class="logo"><img src="/assets/logo.png" alt="" /></a>
          <ul data-breakpoint="800" class="flexnav">
            <li><a href=""><span>Explore our:</span>PRODUCTS<span class="arrowIcon"></span></a>
              <ul>
				<li class="firstItem"><a href="#">Our Products</a></li>
				<li><a href="#">Daily Essential Nutrients Powders</a></li>
				<li><a href="#">Daily Essential Nutrients Tabs</a></li>
				<li><a href="#">Daily Essential Nutrients Caps</a></li>
				<li><a href="#">Bone Health Essentials</a></li>
				<li><a href="#">Free Form Aminos</a></li>
				<li><a href="#">Olive Leaf Extract</a></li>
				<li><a href="#">Greens With Probiotics</a></li>
				<li><a href="#">Inositol</a></li>
				<li><a href="#">Phosphatidylcholine</a></li>
				<li><a href="#">Essential Omegas</a></li>
				<li class="lastItem"><a href="#">View all our products<span class="goArrow"></span></a></li>
              </ul>
            </li>
            <li><a href=""><span>Seek information as a:</span>IDIVIDUAL<span class="arrowIcon"></span></a>
				<ul class="seekInfo">
						<!--<li>-->
							<div class="dailyNutrients">
								<li class="firstItem"><a href="#">Daily Essential Nutrients</a></li>
								<li><a href="#">Your Mental Health</a></li>
								<li><a href="#">How Daily Essential Nutrients May Help</a></li>
								<li><a href="#">Taking Daily Essential Nutrients</a></li>
								<li><a href="#">Things to Discuss With Your Doctor</a></li>
								<li><a href="#">Doctor & Patient Testimonials</a></li>
								<li><a href="#">Daily Essential Nutrients FAQs</a></li>
								<li><a href="#">Our Research</a></li>
							<!----></div>
							
							<!----><div class="otherProducts">
								<li class="firstItem"><a href="#">Other Products</a></li>
								<li><a href="#">Benefits of Bone Health Essentials</a></li>
								<li><a href="#">Benefits of Omega 3 Fatty Acids</a></li>
								<li><a href="#">Fat & Cholesterol Burning Choline & Inositol</a></li>
								<li><a href="#">Probiotic Health Benefits</a></li>
								<li><a href="#">Benefits of Olive Leaf Extract</a></li>
							</div>
						<!--</li>-->
						<li class="lastItem"><a href="#">We are dedicated to your health. Have questions? Contact us.<span class="goArrow"></span></a></li>
					</ul>
             <!-- <ul>
                <li><a href="">Sub 1 Item 1</a></li>
                <li><a href="">Sub 1 Item 2</a>
                  <ul>
                    <li><a href="">Sub 2 Item 1</a></li>
                    <li><a href="">Sub 2 Item 2</a></li>
                    <li><a href="">Sub 2 Item 3</a></li>
                  </ul>
                </li>
                <li><a href="">Sub 1 Item 3</a>
                  <ul>
                    <li><a href="">Sub 2 Item 1</a></li>
                    <li><a href="">Sub 2 Item 2</a>
                      <ul>
                        <li><a href="">Sub 3 Item 1</a></li>
                        <li><a href="">Sub 3 Item 2</a></li>
                        <li><a href="">Sub 3 Item 3</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>-->
            </li>
            <li><a href=""><span>Seek information as a:</span>HEALTH PROFFESSIONAL<span class="arrowIcon"></span></a>
              <ul>
						<li class="firstItem"><a href="#">Research and Information</a></li>
						<li><a href="#">Monograph for Daily Essential Nutrients (DEN)</a></li>
						<li><a href="#">Daily Essential Nutrients Studies & Research</a></li>
						<li><a href="#">Ongoing Research</a></li>
						<li><a href="#">Doctor & Patient Feeback</a></li>
						<li><a href="#">Technical FAQs</a></li>
						<li><a href="#">Doctors Message Board</a></li>
						<li><a href="#">HARDY Events</a></li>
						<li class="lastItem"><a href="#">Have questions? Contact Us.<span class="goArrow"></span></a></li>
              </ul>
            </li>
            <li><a href=""><span>Learn about:</span>OUR VISION<span class="arrowIcon"></span></a>
              <ul>
						<li class="firstItem"><a href="#">Company Information</a></li>
						<li><a href="#">A Message From Our Founder</a></li>
						<li><a href="#">Philosophy, Mission, Values, and Vision</a></li>
						<li><a href="#">Our Advisory Board</a></li>
						<li><a href="#">Our Online Communities</a></li>
						<li><a href="#">Privacy Policies</a></li>
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Returns Information</a></li>
						<li class="lastItem"><a href="#">Have questions? Contact Us.<span class="goArrow"></span></a></li>
              </ul>
            </li>
            <li class="cart"><a href=""><span class="cartIcon"></span><span>My cart:</span>12 ITEMS</a></li>
          </ul>
        </nav>
      </header>

</div>

<div class="homepage">
	<div class="slidewrap" data-autorotate="5000">
		<ul class="slidecontrols">
			<li><a href="#sliderName" class="next">Next</a></li>
			<li><a href="#sliderName" class="prev">Prev</a></li>
		</ul>
		<ul class="slider" id="sliderName">
			<li class="slide">	
				<img src="/assets/mainSlider01.png">
				<div id="slideTag1">
					<div class="slideContent">
						<div class="tag">
							<p>Do you feel like depression is running your life?</p>
							<p>Daily Essential Nutrients can help.</p>
						</div>
						<img src="/assets/den_bottle.png" class="tagImg" alt=""/>
						<div class="play">
							<a href="#"><span class="icon playBtn"></span> Watch the introduction</a>
						</div>
					</div>
				</div>
			</li>
			<li class="slide">	
				<img src="/assets/mainSlider01.png" alt=""/>
			</li>
			<li class="slide">	
				<img src="/assets/mainSlider01.png" alt="">
			</li>
		</ul>
	</div>
</div>
<div class="content" id="overlay">
	<div class="productShow">
		<span class="smallTag">SALE 40% OFF</span>
		<div class="hover">
			<div class="toolTips">VIEW DETAILS<span class="arrow"></span></div>
		</div>
		<div class="miniSlidewrap">
			<ul class="slidecontrols">
				<li><a href="#sliderName" class="next">Next</a></li>
				<li><a href="#sliderName" class="prev">Prev</a></li>
			</ul>
			<ul class="slider" id="sliderName">
				<li class="slide">	
					<img src="/assets/boneSupportImg.png">
					<p><span class="productTitle">BONE HEALTH ESSENTIALS</span><br/>was <span class="lineThrough">$63</span> now <span class="textHighlighting">$37</span> </p>
				</li>
				<li class="slide">	
					<img src="/assets/boneSupportImg.png">
				</li>
				<li class="slide">	
					<img src="/assets/boneSupportImg.png">
				</li>
			</ul>
		</div>
		<p>BHE is on sale for the Month of April mauris vel dolor nisi, non viverra nisl. Fusce porta massa non quam mollis vehicula.</p>
		<p>VIEW ALL PRODUCTS</p>
	</div>
	<div class="studiesCont">
		<h3>MEDICAL RESEARCH</h3>
		<p>Phasellus dictum dictum hendrerit. Aenean vitae dapibus nisl. Nam varius elit vel magna cursus condimentum. Donec venenatis faucibus tincidunt. Aliquam volutpat, tortor eget facilisis aliquet, odio massa fermentum massa.</p>
		<p class="viewMore">VIEW THE STUDIES</p>
		<img src="/assets/studies.png">

	</div>
	<div class="MentalHealthCont">
		<img src="/assets/mentalHealthImg.png">
		<div>
			<span class="arrow"></span>
			<h3>TRACK YOUR MOODS</h3>
			<p>Etiam at mollis lacus. Duis accumsan urna id velit sodales tempor. Aliquam euismod purus sed mi cursus a hendrerit sem viverra. Curabitur egestas varius.</p>
			<p class="viewMore">DOCTOR DISCUSSION GUIDE</p>
		</div>
	</div>
	<div class="signUp">
		Sign up for our newsletter and receive<span class="whiteText"> UP TO 10% off </span>your next purchase.
		<a href="#" class="signBtn">SIGN ME UP</a>
	</div>
	<div class="socialMedia">
		<div>
			<h5>Get Hardy Supplements<span class="date">14 Mar</span></h5>
			<p>If you're a<span class="textHighlighting"> #adolescent </span>suffering from <span class="textHighlighting">#mental</span> illness, get the help you need. Don't wait & don't give up! <a href="#">http://1.usa.gov/bIa2O  #HardyChats</a></p>
		</div>
		<div>
			<h5>Get Hardy Supplements<span class="date">14 Mar</span></h5>
			<p>It's Brain Awareness Week! Start the week off right with Brain Basics:<a href="#">http://1.usa.gov/mTccql  #brainweek</a></p>
		</div>
		<p class="conversation"><span class="arrow"></span>JOIN THE CONVERSATION <a href="#" class="t"></a><a href="#" class="f"></a></p>
	</div>
	<div class="productReview">
		<div class="reviewSlidewrap">
			<ul class="slidecontrols">
				<li><a href="#sliderName" class="next">Next</a></li>
				<li><a href="#sliderName" class="prev">Prev</a></li>
			</ul>
			<ul class="slider" id="sliderName">
				<li class="slide">
					<span class="smallTag">CASE STUDY</span>
					<img src="/assets/woman1.png">
					<div class="right">
					<h3>DEN PRODUCT REVIEW</h3>
					<p class="autho">Author: Nancy Edwards (CMO)</p><br/>
					<p>Etiam at mollis lacus. Duis accumsan urna id velit sodales tempor. Aliquam euismod purus sed mi cursus a hendrerit sem viverra. Curabitur egestas varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><br/>
					<p>Sed porttitor imperdiet turpis quis dapibus. Nam at massa a lorem blandit convallis in vitae metus. </p><br/>
					<a href="#" class="viewMore">READ MORE</a>
					</div>
				</li>
				<li class="slide">
					<span class="smallTag">CASE STUDY</span>	
					<img src="/assets/man3.png">
					<div class="right">
					<h3>HOW DEN CAN HELP YOU</h3>
					<p class="autho">Author: Dr. James Harden phd</p><br/>
					<p>Etiam at mollis lacus. Duis accumsan urna id velit sodales tempor. Aliquam euismod purus sed mi cursus a hendrerit sem viverra. Curabitur egestas varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><br/>
					<p>Sed porttitor imperdiet turpis quis dapibus. Nam at massa a lorem blandit convallis in vitae metus. </p><br/>
					<a href="#" class="viewMore">READ MORE</a>
					</div>
				</li>
				<li class="slide">	
					<img src="/assets/man2.png">
					<div class="right">
					<h3>A MESSAGE FROM OUR FOUNDER</h3><br/>
					<p>Etiam at mollis lacus. Duis accumsan urna id velit sodales tempor. Aliquam euismod purus sed mi cursus a hendrerit sem viverra. Curabitur egestas varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><br/>
					<p>Sed porttitor imperdiet turpis quis dapibus. Nam at massa a lorem blandit convallis in vitae metus. Duis volutpat adipiscing velit.</p><br/>
					<a href="#" class="viewMore">READ MORE</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="compare">
		<img src="/assets/compare.png">
		<h3>DEN vs EMPOWER PLUS</h3>
		<p>DEN has fewer reactions with other medications</p>
		<p>Daily Essential Nutrients (DEN) is a cheaper solution</p>
		<p>The formulation is based on the latest research</p><br/>
		<a href="#" class="viewMore">LEARN MORE</a>
	</div>
	<footer class="footer">
		<span>Copyright 2013 Hardy Nutrionals - All Rights Reserved</span>
		<ul>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Terms & Conditions</a></li>
			<li><a href="#">Returns Information</a></li>
		</ul>
	</footer>
</div>
 <script type="text/javascript">
   $('body').addClass('home');
   $(".flexnav").flexNav({'animationSpeed': 150});
 </script>