<%= form_for [:admin, :configuration, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>
  <div class="col firstcol">
	  
	  <div class="field">
	  	<%= f.label :label %><br />
	    <%= f.text_field :label %>
	  </div>
	  <div class="field">
	  	<%= f.label :amount %><br />
	    <%= f.text_field :amount %>
	  </div> 
	  <div class="field">
	  	<%= f.label :unit %><br />
	    <%= f.text_field :unit %>
	  </div>
	  <div class="field">
	  	<%= f.label :comments %><br />
	    <%= f.text_field :comments %>
	  </div>

	  
	  <div class="field">
	  	<%= f.label :previous %><br />
	    <%= f.text_field :previous %>
	  </div>
	  <div class="field">
	  	<%= f.label :date_stopped %><br />
	    <%= f.text_field :date_stopped %>
	  </div>
	</div>
  <div class="col">

	  <div class="field">
	  	<%= f.label :delete_date %><br />
	    <%= f.text_field :delete_date %>
	  </div>
	  <div class="field">
	  	<%= f.label :brand_name %><br />
	    <%= f.text_field :brand_name %>
	  </div>
	  <div class="field">
	  	<%= f.label :drug_name %><br />
	    <%= f.text_field :drug_name %>
	  </div>
	  <div class="field">
	  	<%= f.label :current_dosage %><br />
	    <%= f.text_field :current_dosage %>
	  </div>
	 </div>
  <div class="col">

	   <div class="field">
	  	<%= f.label :api_link %><br />
	    <%= f.text_field :api_link %>
	  </div>
	   <div class="field">
	  	<%= f.label :menufacture %><br />
	    <%= f.text_field :menufacture %>
	  </div>
	   <div class="field">
	  	<%= f.label :herbal %><br />
	    <%= f.text_field :herbal %>
	  </div>
	   <div class="field">
	  	<%= f.label :sleep %><br />
	    <%= f.text_field :sleep %>
	  </div>
	  <div class="field">
	    <%= f.check_box :deleted %>
	    <%= f.label :deleted %>
	  </div>
	 </div>
  <div class="col">

	   <div class="field">
	  	<%= f.label :exercise %><br />
	    <%= f.text_field :exercise %>
	  </div>
	  <div class="field">
	  	<%= f.label :water %><br />
	    <%= f.text_field :water %>
	  </div>
	  <div>
	    <%= f.submit class: "btn2 flBtn" %>
	  </div>
	 </div>
<% end %>




		