
<p id="notice"><%= notice %></p>

<h2>Listing Drugs</h2>
<table class="table">

  <thead>
    <tr>
   	  <th>Dl_Id </th>
     	<th>label</th>
      <th>amount</th>
      <th>unit</th>
      <th>comments</th>
      <th>deleted</th>
      <th>previous</th>
      <th>date_stopped</th>
      <th>ssid</th>
      <th>deleted</th>
      <th>ssid_deleted</th>
      <th>delete_date</th>
      <th>brand_name</th>
      <th>drug_name</th>
      <th>current_dosage</th>
      <th>api_link</th>
      <th>menufacture</th>
      <th>herbal</th>
      <th>sleep</th>
      <th>exercise</th>
      <th>water</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      
      
   	</tr>
  </thead>
  <tbody>
    <% @drugs.each do |drug| %>
      <tr>
        <td><%= drug.dlid %></td>
        <td><%= drug.label %></td>
        <td><%= drug.amount %></td>
        <td><%= drug.unit %></td>
        <td><%= drug.comments %></td>
        <td><%= drug.deleted %></td>
        <td><%= drug.previous %></td>
        <td><%= drug.date_stopped %></td>
        <td><%= drug.ssid %></td>
        <td><%= drug.deleted %></td>
        <td><%= drug.ssid_deleted %></td>
        <td><%= drug.delete_date %></td>
        <td><%= drug.brand_name %></td>
        <td><%= drug.drug_name %></td>
        <td><%= drug.current_dosage %></td>
        <td><%= drug.api_link %></td>
        <td><%= drug.menufacture %></td>
        <td><%= drug.herbal %></td>
        <td><%= drug.sleep %></td>
        <td><%= drug.exercise %></td>
        <td><%= drug.water %></td>
              
        <td><%= link_to "Edit", edit_admin_configuration_drug_url(drug), class: "btn btn1 editLink" %>
        
            <%= link_to "Delete", admin_configuration_drug_url(drug), method: :delete, class: "btn btn1 editLink", data: {confirm: "Are you sure?"}  %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to "New", new_admin_configuration_drug_path %>
   