<div id="wrapper" class="static checkout ">
  <%= render 'layouts/nav'%>
    <div class="checkoutPage editingAddress">
	    <div class="checkoutCont">
			<h1>Editing Address</h1>
			<div class="contactForm">
			<%= form_for(@form_address, :url => shopping_address_path(@form_address)) do |f| %>
        <%= render 'shared/shipping_address_form', address: @shopping_address, url: shopping_addresses_path, client: current_or_guest_client %>
			<% end %>
			<div class="links"><%= link_to 'Back', shopping_addresses_path %></a></div>
		</div>
		</div>
	</div>
  <%= render 'layouts/footer' %>
</div>

<%= content_for :title, "Hardy Nutritionals | Shopping - Edit Address" %>
