<div id="wrapper" class="static checkout">
  <%= render 'layouts/nav'%>

  <div class="checkoutPage">
    <%= render_cell :shopping, :progress_bar, state: :address %>
    <div class="checkoutCont">
      <div class="cartDetail checkout_address">
        <%= render 'shared/notice_flash' %>
        <% if @addresses.empty? %>
          <h1>New Address</h1>
        <% else %>
          <h1>Pick a Shipping Address</h1>
        <% end %>
        <br />
        <%= render 'shared/shipping_address', client: session_order.client, address: @address, addresses: @addresses,
          url: @address.new_record? ? shopping_addresses_path : shopping_address_path(@address), order: session_order, scene: 1 %>
      </div>
    </div>
  </div>
    <%= render 'layouts/footer' %>
</div>
<%= render 'shopping/shared/ga_checkout_action', items: session_order.order_items %>

<%= content_for :title, "Hardy Nutritionals | Shopping - Address" %>

<script type="text/javascript" charset="utf-8">
 $(function(){
    ga('ec:setAction','checkout', { 'step': 2 });
   ga('send', 'pageview');
 })
</script>
