<%= form_for [:admin, parent, resource] do |f| %>
  <h1>Create/Edit Commission Rate</h1>
  <%= render_cell :app, :error_msg, resource: resource %>

  <div class="field">
    <%= f.label :min %>
    <%= f.text_field :min %>
  </div>

  <div class="field">
    <%= f.label :max %>
    <%= f.text_field :max %>
  </div>

  <div class="field">
    <%= f.label :rate %>
    <%= f.text_field :rate %>
  </div>

  <div>
    <%= f.submit class: "btn2 flBtn" %>
  </div>
<% end %>
