<h3><%= parent.commission_type.name %></h3>
<table class="table">
  <thead>
    <tr>
    <%= sortable resource_class, 'min' %>
    <%= sortable resource_class, 'max' %>
    <%= sortable resource_class, 'rate' %>
    <th></th>
    </tr>
  </thead>
  <tbody>
  <% collection.each do |resource| %>
    <tr class="<%= cycle('odd', 'even')%>">
      <td><%= resource.min %></td>
      <td><%= resource.max %></td>
      <td><%= resource.rate %></td>
      <td class="tableLinks"><%= link_to "Edit", edit_resource_url(resource), class: " btn1 editLink" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
  <%= link_to "New", new_resource_url, class: "btn2 addNew" %>

<%= paginate collection %>
