<%= form_for [:admin, :configuration, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>
	  <div class="field">
	  	<%= f.label :name_of_group %><br />
	    <%= f.text_field :name_of_group %>
	  </div>
	  
	  <div class="field">
	    <%= f.label :range_of_group %>
	    <%= f.text_field :range_of_group %>
	  </div>
	  
	  <div>
	    <%= f.submit class: "btn2 flBtn" %>
	  </div>
<% end %>
