
<p id="notice"><%= notice %></p>

<h2>Listing Age Groups</h2>
<table class="table">

  <thead>
    <tr>
   	  <th>Age Group</th>
     	<th>Range of group</th>
      <th></th>
   	</tr>
  </thead>
  <tbody>
    <% @age_group.each do |age_group| %>
      <tr>
        <td><%= age_group.name_of_group %></td>
        <td><%= age_group.range_of_group %></td>
        <td><%= link_to "Edit", edit_admin_configuration_age_group_url(age_group), class: "btn btn1 editLink" %>
        <%= link_to "Delete", admin_configuration_age_group_url(age_group), method: :delete, class: "btn btn1 editLink", data: {confirm: "Are you sure?"}  %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to "New", new_admin_configuration_age_group_path %>


