country currency
<%= form_for @country_currency, url: admin_configuration_country_currency_url do |f| %>

  <%= select_tag :change_all, options_for_select(@currencies.map{|c| [c.name, c.id]}), data: { change_currency: "" } %>
  <%= link_to "Change All", "javascript:void(0)", data: { change_currency_link: "" }  %>
<br />
<br />

  <% @country_currency.countries.each do |country| %>
    <%= f.fields_for "countries[#{country.id}]", country do |s| %>
      <div class="fields">
        <%= s.select :currency_id, @currencies.map{|c| [c.name, c.id]}, {}, data: { currency: "" } %>
        <%= s.object.name %>
      </div>
    <% end %>
  <% end %>

  <div>
    <%= f.submit "update", class: "btn2 flBtn" %>
  </div>
<%end%>
