<%= form_for [:admin, :configuration, resource] do |f| %>
  <%= render_cell :app, :error_msg, resource: resource %>
  <div class="field">
    <%= f.label :country_id%>
    <%= f.select :country_id, @countries.map{|c| [c.name, c.id]}, {}, class: "selectbox" %>
  </div>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.check_box :percentage %>
    <%= f.label :percentage %>
  </div>
  <div class="field">
    <%= f.check_box :deleted %>
    <%= f.label :deleted %>
  </div>
  <div>
    <%= f.submit class: "btn2 flBtn" %>
  </div>
<%end%>
