Shipping Adjustment
<%= link_to '[active]', collection_url %>
<%= link_to '[deleted]', collection_url(q: {deleted_eq: true}) %>
<br />
<table class="table">
  <thead>
    <tr>
    <%= sortable CountryShippingAdjustment, 'country_id' %>
    <%= sortable CountryShippingAdjustment, 'amount' %>
    <%= sortable CountryShippingAdjustment, 'percentage' %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |obj| %>
      <tr class="<%= cycle('odd', 'even')%>">
    <td><%= obj.country.name %></td>
    <td><%= obj.amount %></td>
    <td><%= obj.is_percentage? %></td>
        <td class="tableLinks">
          <%= link_to "Edit", edit_resource_url(obj), class: "btn  btn1 editLink" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate collection %>

<p><%= link_to "Add New Shipping Adjustment", new_resource_url, class: "btn2" %></p>
