<h2>Pre-Order</h2>

<table class="table salesAndOrders">
  <thead>
    <tr>
      <th>Order ID #</th>
      <th>Client ID #</th>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @pre_orders.each do |r| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= link_to r.order_id, admin_order_url(r.order_id) %></td>
    <td><%= link_to r.order.client_id, edit_admin_client_url(r.order.client_id) %></td>
    <td><%= r.order.order_items.select{|i| i.product.pre_order? }.map{|i| i.product.name }.join(", ") %></td>
    <td><%= r.order.order_items.select{|i| i.product.pre_order? }.sum(&:quantity) %></td>
  <td><%= l r.order.created_at, format: :long %></td>
  </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @pre_orders %>
