<div id="adminNav" class="boxShadow">
  <div class="admin">
    <ul class="nav">
      <li id="logo"><a href="/"><img src="/assets/Hardy-Nutritionals-Logo.png"></a></li>
      <li class=<%= active_nav('profiles') %>><%= link_to 'Profile', edit_user_registration_path %></li>
      <% if current_support_user.can_read? Client %>
        <li class=<%= active_nav('clients') %>><%= link_to 'Clients', admin_clients_path %></li>
      <% end %>
      <% if current_client && current_support_user.can_read?(Note) %>
        <li class=<%= active_nav('notes') %>><%= link_to 'Notes', admin_notes_path %></li>
      <% end %>
      <% if current_support_user.can_read? Order %>
        <li class=<%= active_nav(['orders', 'order_items', 'shipments', 'order_adjustments', 'payments', 'order_notes']) %>><%= link_to 'Orders', admin_orders_path %></li>
      <% end %>
      <% if current_support_user.can_export? Order %>
        <li class=<%= active_nav('orders') %>><%= link_to 'Export orders', export_list_admin_orders_path %></li>
      <% end %>
      <% if can_visit_report_nav? %>
        <li class="adminSubMenu">
          <%= link_to 'Reports', 'javascript:void(0)' %>
          <ul>
            <% if current_support_user.is_admin? %>
              <li><%= link_to 'Sales and orders', admin_report_sales_and_orders_path %></li>
            <% end %>
            <% if current_support_user.can_read? ProductSaleAuthorizer %>
              <li><%= link_to 'Product Sales', admin_report_product_sales_path %></li>
            <% end %>
            <% if current_support_user.can_read? CommissionAuthorizer %>
              <li><%= link_to 'Commissions', admin_report_commissions_path %></li>
            <% end %>
            <% if current_support_user.can_read? LocationAuthorizer %>
              <li><%= link_to 'Locations', admin_report_locations_path %></li>
            <% end %>
            <% if current_support_user.can_read? CallListAuthorizer %>
              <li><%= link_to 'Call List', admin_report_call_lists_path %></li>
            <% end %>
            <% if current_support_user.can_read? PreOrderAuthorizer %>
              <li><%= link_to 'Pre-Order', admin_report_pre_orders_path %></li>
            <% end %>
            <% if current_support_user.can_read? ApplicationAuthorizer %>
              <li><%= link_to 'New Customer Pre-Order', admin_report_new_customer_pre_orders_path %></li>
            <% end %>
            <% if current_support_user.can_read? AutoShipReportAuthorizer %>
              <li><%= link_to 'Auto Ship Orders', admin_report_auto_ship_reports_path %></li>
            <% end %>
          </ul>
        </li>
     <% end %>

      <% if can_visit_management_nav? %>
        <li class="adminSubMenu">
          <%= link_to 'Management', 'javascript:void(0)' %>
          <ul>
            <% if current_support_user.can_read? Product %>
              <li class=<%= active_nav('products') %>><%= link_to 'Products', admin_products_path %></li>
            <% end %>
            <% if current_support_user.can_read? SupportCenter %>
              <li class=<%= active_nav('support_centers') %>><%= link_to 'Support Centers', admin_support_centers_path %></li>
            <% end %>
            <% if current_support_user.can_read? SupportUser %>
              <li class=<%= active_nav('support_users') %>><%= link_to 'Users', admin_support_users_path %></li>
            <% end %>
            <% if current_support_user.can_read? Article %>
              <li class=<%= active_nav('articles') %>><%= link_to 'Articles', admin_articles_path %></li>
            <% end %>
            <% if current_support_user.can_read? Video %>
              <li class=<%= active_nav('videos') %>><%= link_to 'Videos', admin_videos_path %></li>
            <% end %>
            <% if current_support_user.can_read? Study %>
              <li class=<%= active_nav('studies') %>><%= link_to 'Studies', admin_studies_path %></li>
            <% end %>
            <% if current_support_user.can_read? Faq %>
              <li class=<%= active_nav('faqs') %>><%= link_to 'FAQ', admin_faqs_path %></li>
            <% end %>
            <% if current_support_user.can_read? Document %>
              <li class=<%= active_nav('documents') %>><%= link_to 'Documents', admin_documents_path %></li>
            <% end %>

            <% if current_support_user.can_read? ShippingPromotion %>
              <li class=<%= active_nav('shipping_promotions') %>><%= link_to 'Shipping & Handling Promotions', admin_shipping_promotions_path %></li>
            <% end %>

            <% if current_support_user.can_read? ProductPromotion %>
              <li class=<%= active_nav('product_promotions') %>><%= link_to 'Product Promotions', admin_product_promotions_path %></li>
            <% end %>

	<%# if Rails.env.development? %>
            <% if current_support_user.can_read? ReferralCode %>
              <li class=<%= active_nav('referral_codes') %>><%= link_to 'Referral Code', admin_referral_codes_path %></li>
            <% end %>
            <%# end %>
          </ul>
        </li>
       <% end %>

      <% if can_visit_configurations_nav? %>
       <li class="adminSubMenu">
        <%= link_to 'Configurations', 'javascript:void(0)' %>
        <ul>
        <% if current_support_user.is_admin? %>
          <li><%= link_to 'Ta Levels', admin_configuration_ta_levels_path %></li>
          <li><%= link_to 'Introduction Types', admin_configuration_introduction_types_path %></li>
          <li><%= link_to 'Call Frequencies', admin_configuration_call_frequencies_path %></li>
          <li><%= link_to 'Shipping Adjustments', admin_configuration_country_shipping_adjustments_path %></li>
          <li><%= link_to 'Registration Methods', admin_configuration_registration_methods_path %></li>
          <li><%= link_to 'Contact Times', admin_configuration_contact_times_path %></li>
          <% end %>
         <% if current_support_user.can_read? Disorder %>
          <li><%= link_to 'Disorders', admin_configuration_disorders_path %></li>
         <% end %>
        <% if current_support_user.is_admin? %>
          <li><%= link_to 'Handling Charges', admin_configuration_handling_charges_path %></li>
          <li><%= link_to 'Auto Ship Setting', admin_configuration_auto_ship_settings_path %></li>
          <li><%= link_to 'Country Currency', admin_configuration_country_currency_path %></li>
          <li><%= link_to 'Redirect Pages', admin_configuration_transfer_pages_path %></li>
          <li><%= link_to 'Languages', admin_configuration_global_languages_path %></li>
          <li><%= link_to 'Limiting Factors', admin_configuration_limiting_factors_path %></li>
          <li><%= link_to 'Diagnosis', admin_configuration_diagnoses_path %></li>
          <% end %>
         <% if current_support_user.can_read? Seo %>
          <li><%= link_to 'SEO', admin_configuration_seos_path %></li>
         <% end %>
         <li><%= link_to 'Questions', admin_configuration_questions_path %></li>
         <li><%= link_to 'Age Groups', admin_configuration_age_groups_path %></li>
         <li><%= link_to 'Drugs', admin_configuration_drugs_path %></li>
         <li><%= link_to 'Gender', admin_configuration_genders_path %></li>
         <li><%= link_to 'Symptoms', admin_configuration_symptoms_path %></li>
         <li><%= link_to 'Side Effects', admin_configuration_side_effects_path %></li>
         <li><%= link_to 'Withdrawal Effects', admin_configuration_withdrawal_effects_path %></li>
         <li><%= link_to 'Questionnires', admin_configuration_questionnaires_path %></li>
         <li><%= link_to 'User Groups', admin_configuration_user_groups_path %></li>
         <li><%= link_to 'Doctors', admin_configuration_doctors_path %></li>

        </ul>
        </li>
      <% end %>
      <li id="msg">
      <%= current_support_user.first_last_name %>
      <span class="logout"><%= link_to "[Logout]", destroy_support_user_session_url(protocol: use_https?), method: :delete %></span>
      </li>
    </ul>
  </div>
</div>
<% if showLanguageSelect? %>
<%= form_tag select_language_url do %>
  Language
  <%= select_tag :language, options_for_select(GlobalLanguage.active.order(:name).map{|l| [l.name, l.abbr] }, I18n.locale), data: { select_language: "" } %>
<% end %>
<% end %>

<% if current_client %>
<div class="currentClient">
  Selected client: <%= show_selected_client_info %>
  <%= link_to "[Deselect]", cancel_select_admin_client_url(current_client), method: :delete, class: "btn fr" %>
<%= link_to "[Edit]", edit_admin_client_url(current_client) %>
<%= link_to "[Flexible Autoship]", admin_client_auto_ships_url(current_client) %>
</div>
<% end %>

<script type="text/javascript">
$(function(){
  $(".adminSubMenu").hover(function(){
    $(this).children("ul").css("display","block");

  },function(){
    $(this).children("ul").css("display","none");

    });
  })
</script>
