<footer>
	<div class="footer">
	<span>Copyright &copy; 2015 NutraTek Health Innovations Inc.</span>
	<ul>
		<li><%= link_to "Contact Us", contact_url, class: "ga_footer_link" %></li>
		<li><a href="/policies" class="ga_footer_link">Policies </a></li>
	</ul>
	</div>
	<div id="fda">
		<p>*These statements have not been evaluated by the Food and Drug Administration</p>
		<p>This product is not intended to diagnose, treat, cure, or prevent any disease.</p>
	</div>
	<div id="security">
		<a href="http://www.securitymetrics.com/site_certificate?id=1277325&tk=44bc40b9db28c1a50e84da0d2178ad5e" target="_blank"><img src="http://securitymetrics.com/static/img/site_certified_logos/Credit_Card_Safe_light.png" alt="SecurityMetrics Credit Card Safe"></a>
	</div>
	<div id="awLink">
		<a href="http://anderweb.ca" rel="nofollow" target="_blank"><img width="35px" src="/assets/awLogo_small.png" alt="Website Design and Development in Calgary by Anderweb"/></a>
		<p><a href="http://anderweb.ca" target="_blank">Web design, web development, Calgary</a> by Anderweb</p>
	</div>
</footer>
