<!--
<div id="adminNav" class="boxShadow">
  <div class="admin">
    <ul class="nav">
      <li id="logo"><a href="/"><img src="/assets/Hardy-Nutritionals-Logo.png"></a></li>
      <li><%= link_to 'Home', root_url %></li>
      <li class=<%= active_nav('profiles') %>><%= link_to 'Edit Profile', myaccount_url %></li>
      <li class=<%= active_nav(['orders']) %>><%= link_to 'Orders', myaccount_orders_url %></li>
      <li><%= link_to 'Products', products_url %></li>
      <li id="msg">
        <%= "Hi #{current_client.first_name} #{current_client.last_name}" %>
        <span class="logout"><%= link_to "Logout", destroy_client_session_url, method: :delete %></span>
      </li>
    </ul>
  </div>
</div>
-->
