<header>
	<section class="actions">
		<p>Welcome! We ship worldwide.</p>
		<p id="support">Service and Support: 1-855-955-1114 / 1-587-271-1114</p>
		<ul class="miniNav">
			<li class="language">
        <a href="javascript:;"><span class="icon langIcon"></span><%= current_language.try(:name) %><span class="icon arrowIcon"></span></a>
        <ul>
          <% GlobalLanguage.active.where("abbr != ?", current_language.try(:abbr)).order(:name).each do |l| %>
            <li><%= link_to l.name, select_language_url(language: l.abbr), method: :post %></li>
          <% end %>
        </ul>
			</li>
			<!--<li><a href="#">help</a></li>-->
			<% if client_signed_in? %>
        <li><%= "Hi #{current_client.first_name} #{current_client.last_name}" %></li>
        <li class="language">
          <%= link_to "javascript:void(0)" do %>
          	<span class="icon accIcon"></span>
            My Account <span class="icon arrowIcon"></span>
          <% end %>
          <ul>
            <li><%= link_to 'Edit Profile', myaccount_url %></li>
            <li><%= link_to 'Order History', myaccount_orders_url %></li>
            <li><a href="/myaccount/flexible_autoship">Flexible Autoship</a></li>
            <li><a href="/myaccount/pre_orders">Pre Order</a></li>
          </ul>
        </li>
				<li><%= link_to 'Logout', destroy_client_session_url(protocol: use_https?), :method => :delete %></li>
			<% else %>
			<li><%= link_to "Login", new_client_session_path, class: "ga_navigation_link" %></li>
			<li><%= link_to "Register", new_client_registration_url, class: "ga_navigation_link" %></li>
			<% end -%>
		</ul>
	</section>

  	<div class="menu-button">Menu</div>

  	<nav class="ie-box-shadow-8">
		<a href="/" class="logo"><img src="/assets/Hardy-Nutritionals-Logo.png" alt="" /></a>
		<ul data-breakpoint="954" class="flexnav">
			<li><a href="/products" id="nav_product_link" class="ga_navigation_link"><span><%= I18n.t 'nav.explore_our' %>:</span><%= I18n.t 'nav.products' %><span class="arrowIcon"></span></a>
      <ul class="subnav">
          <% product_categories.each do |product_category| %>
            <li class="firstItem"><%= link_to product_category.name, products_url(q: { product_category_id_eq: product_category.id }), class: "ga_navigation_link" %></li>
            <% product_category.products.for_client(current_client).default_sort.each do |product| %>
              <li><%= link_to product.name, product, class: "ga_product_detail", data: { id: product.product_code, name: product.name, list: "Navigation Bar", event_category: "Navigation", event_label: product.name } %></li>
            <% end -%>
          <% end %>
          <li class="lastItem"><a href="/products" class="ga_navigation_link">View all our products<span class="goArrow"></span></a></li>
			</ul>
			</li>
			<li><a href="/videos" class="ga_navigation_link" ><span><%= I18n.t 'nav.seek_information_as_an' %>:</span><%= I18n.t 'nav.individual' %><span class="arrowIcon"></span></a>
				<ul class="seekInfo subnav">
					<div class="dailyNutrients">
						<li class="firstItem"><%= link_to I18n.t('nav.media_center'), videos_url, class: "ga_navigation_link" %></li>
            			<li><%= link_to I18n.t('nav.why_is_the_multi_nutrient_approach_essential'), videos_url(q: { video_disorders_disorder_id_eq: 19 }), class: "ga_navigation_link" %></li>
            			<li><%= link_to I18n.t('nav.why_add_daily_essential_nutrients_to_my_diet'), videos_url(q: { video_disorders_disorder_id_eq: 20 }), class: "ga_navigation_link" %></li>
            			<li><%= link_to I18n.t('nav.what_makes_daily_essential_nutrients_superior'), videos_url(q: { video_disorders_disorder_id_eq: 21 }), class: "ga_navigation_link" %></li>
						<li class="firstItem"><%= link_to I18n.t('nav.daily_essential_nutrients_faqs'), faqs_url, class: "ga_navigation_link" %></li>
						<% faq_types.select {|t| t.faqs.present? }.each do |faq_type| %>
						  <li><%= link_to faq_type.name, faqs_url(type_id: faq_type.id), class: "ga_navigation_link" %></li>
						<% end -%>
						<li class="firstItem"><a href="/blog" target="_blank" rel="nofollow">NutraTalk Blog</a></li>
						<% wp_posts.each do |p| %>
							<li>
								<%= link_to p.post_title, "/blog/#{p.post_name}", class: "ga_navigation_link", rel: "nofollow", target: "_blank"%>
							</li>
						<% end %>
					</div>
					<div class="otherProducts">
						<li class="firstItem"><%= link_to I18n.t('nav.product_research'), studies_url, class: "ga_navigation_link" %></li>
						<% study_disorders.each do |disorder| %>
              			<li><%= link_to disorder.name, studies_url(q: { study_disorders_disorder_id_eq: disorder.id }), class: "ga_navigation_link" %></li>
						<% end -%>
					</div>
					<li class="lastItem"><%= link_to 'Have questions? Contact us.<span class="goArrow"></span>'.html_safe, contact_url, class: "ga_navigation_link" %></li>
				</ul>
        </li>
        <li>
        <%= link_to articles_url(q: { article_category_name_eq: "Clinical Reference" }), class: "ga_navigation_link" do %>
          <span><%= I18n.t 'nav.seek_information_as_a' %>:</span><%= I18n.t 'nav.health_professional' %><span class="arrowIcon"></span>
      <% end %>
        <ul class="seekInfo subnav">
          <div class="dailyNutrients">
            <li class="firstItem">
            <%= link_to I18n.t('nav.daily_essential_nutrients_clinical_reference_for_healthcare_professionals'), articles_url(q: { article_category_name_eq: "Clinical Reference" }), class: "ga_navigation_link" %>
            <% clinical_reference.articles.default_sort.each do |a| %>
              <li><%= link_to a.title, article_url(clinical_reference.name.parameterize, "#{a.id}-#{a.title_parameterize}"), class: "ga_navigation_link" %></li>
          <% end %>
            <li class="firstItem"><%= link_to I18n.t('nav.media_center'), videos_url, class: "ga_navigation_link" %></li>
            <li><%= link_to I18n.t('nav.why_is_the_multi_nutrient_approach_essential'), videos_url(q: { video_disorders_disorder_id_eq: 19 }), class: "ga_navigation_link" %></li>
            <li><%= link_to I18n.t('nav.why_add_daily_essential_nutrients_to_my_diet'), videos_url(q: { video_disorders_disorder_id_eq: 20 }), class: "ga_navigation_link" %></li>
            <li><%= link_to I18n.t('nav.what_makes_daily_essential_nutrients_superior'), videos_url(q: { video_disorders_disorder_id_eq: 21 }), class: "ga_navigation_link" %></li>
          </div>
          <div class="otherProducts">
            <li class="firstItem"><%= link_to I18n.t('nav.product_research'), studies_url, class: "ga_navigation_link" %></li>
            <% study_disorders.each do |disorder| %>
              <li><%= link_to disorder.name, studies_url(q: { study_disorders_disorder_id_eq: disorder.id }), class: "ga_navigation_link" %></li>
          <% end -%>
					</div>
					<li class="lastItem"><%= link_to 'Have questions? Contact Us.<span class="goArrow"></span>'.html_safe, contact_url, class: "ga_navigation_link" %></li>
				</ul>
			</li>
			<li>
				<a href="/articles?q%5Barticle_category_id_eq%5D=2", class="ga_navigation_link"><span><%= I18n.t 'nav.learn_about' %>:</span><%= I18n.t 'nav.our_vision' %><span class="arrowIcon"></span></a>
				<ul class="subnav" id="companyInfo">
					<% our_vision.articles.default_sort.each do |a| %>
						<li><%= link_to a.title, article_path(our_vision.name.parameterize, "#{a.id}-#{a.title_parameterize}"), class: "ga_navigation_link" %></li>
					<% end %>
					<li class="lastItem"><%= link_to 'Have questions? Contact Us.<span class="goArrow"></span>'.html_safe, contact_url, class: "ga_navigation_link" %></li>
				</ul>			
			</li>
			
			<li class="blog"><a href="/blog" class="ga_navigation_link" rel="nofollow" target="_blank" data-event-label="Blog"><img src="/assets/blog.png" alt="NutraTalk Blog"/></a></li>
			<li class="search">
				<a href="#" class="ga_navigation_link"><img src="/assets/search.gif" alt="Search" title="Search"/></a>
				<div id="searchBox">
					<script>
					  (function() {
						var cx = '013890234883174150375:yx53s6c9du0';
						var gcse = document.createElement('script');
						gcse.type = 'text/javascript';
						gcse.async = true;
						gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
							'//cse.google.com/cse.js?cx=' + cx;
						var s = document.getElementsByTagName('script')[0];
						s.parentNode.insertBefore(gcse, s);
					  })();
					</script>
					<gcse:search></gcse:search>
				</div>
			</li>
			<li class="cart"><a href="/shopping/cart" class="ga_navigation_link" data-event-label="My cart" ><span class="cartIcon"></span><span>My cart:</span><b id='cart-quantity'><%= current_cart.quantity %></b> ITEMS</a></li>
		</ul>
  	</nav>
</header>

<script type="text/javascript">
   $(".flexnav").flexNav({'animationSpeed': 150});
</script>
