<!DOCTYPE html>
<html>
	<head>
  <title><%= yield(:title).present? ? yield(:title) : "Hardy" %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag "admin/application" %>
  <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/admin_nav' %>
      <div class="admin">
        <%= render_cell :app, :error_msg, msg: [flash[:notice], flash[:alert]] %>
          <%= yield %>
      </div>
    </div>
     </body>
  </html>
