<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title).present? ? yield(:title) : "Hardy" %></title>
		<meta name="keywords" content="<%= yield(:keywords) %>"/>
		<meta name="description" content="<%= yield(:description) %>"/>
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- If you want to run in full screen mobile -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<!-- Change colour of loading bar mobile -->
		<%= stylesheet_link_tag "application", :media => "all" %>
    	<%= favicon_link_tag 'favicon.ico' %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<!--[if (lt IE 9) & (!IEMobile)]>
			<%= javascript_include_tag "selectivizr-min" %>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      <% if Rails.env.production? %>
        _gaq.push(['_setAccount', 'UA-39098331-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

        })();
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-39098331-1', {
          'cookieDomain': 'none'
        });
      <% else %>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-35146482-3', {
          'cookieDomain': 'none'
        });  // Creates a tracker.
        ga('send', 'pageview');
      <% end %>
       ga('require', 'ec');
    </script>
    <!-- Facebook Conversion Code for hardy add to cart -->
    <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6032275358592', {'value':'0.01','currency':'USD'}]);
    </script>

<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6032275358592&amp;cd[value]=0.01&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

    <!-- Shortcut Icons - Standard iPhone -->
    <link href="/assets/touchIcons/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed" />
    <link href="/assets/touchIcons/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72" />
    <link href="/assets/touchIcons/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114" />
    <link href="/assets/touchIcons/apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144" />
    <!-- For everything else -->
    <link rel="shortcut icon" href="/assets/touchIcons/favicon.ico">

    <!-- Microsoft Mobile Text Smoothing-->
    <meta http-equiv="cleartype" content="on">

		<!--  Disable Default Telephone Link Styles -->
		<meta name="format-detection" content="telephone=no" />
		<!--[if IE 8 ]>
			<style type="text/css">
				.ie-box-shadow-8 {
					filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=8, OffY=8, Color=#a8a7a6),progid:DXImageTransform.Microsoft.Chroma(Color='#a8a7a6');
				}
				.ie-box-shadow-5 {
					filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=5, OffY=5, Color=#a8a7a6),progid:DXImageTransform.Microsoft.Chroma(Color='#a8a7a6');
				}
			</style>
		<![endif]-->
	</head>
  <body id=<%="#{params[:controller]}_#{params[:action]}" %>>
		<%= yield %>
		<!-- begin olark code -->
		<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
		f[z]=function(){
		(a.s=a.s||[]).push(arguments)};var a=f[z]._={
		},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
		f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
		0:+new Date};a.P=function(u){
		a.p[u]=new Date-a.p[0]};function s(){
		a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
		hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
		return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
		b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
		b.contentWindow[g].open()}catch(w){
		c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
		var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
		b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
		loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
		/* custom configuration goes here (www.olark.com/documentation) */
		olark.identify('9222-389-10-9980');/*]]>*/</script><noscript><a href="https://www.olark.com/site/9222-389-10-9980/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
		<!-- end olark code -->

    <script type="text/javascript" charset="utf-8">

    $(function(){
      var first_time_move = true
      $('#nav_product_link').mouseover(function(){
        if(first_time_move){
          first_time_move = false
         <% product_categories.each do |product_category| %>
           <% product_category.products.for_client(current_client).each do |product| %>
             ga('ec:addImpression', {
              'id': "<%= product.product_code %>",
              'name': "<%= product.name %>",
              'list': 'Navigation Bar',
              'category': "<%= product.product_category.try(:name) %>"
             });
           <% end -%>
         <% end %>
        }
	})
	})
          ga('send', 'pageview');
    </script>
    <script>
    	$('.search a').click(function() {
    		$('#searchBox').toggle()
    	});
    </script>
	</body>
</html>
