<!DOCTYPE html>
<html>
	<head>
  <title><%= yield(:title).present? ? yield(:title) : "Hardy" %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  </head>
  <body>
  	<div id="wrapper">
  	<%= render 'layouts/nav' %>
    <div class="container">
      <br />
      <ul class="accountNav">
        <li class="<%= active_nav('profiles') %> accountBtn"><%= link_to 'Edit Profile', myaccount_url %></li>
        <li class="<%= active_nav(['orders']) %> accountBtn"><%= link_to 'Order History', myaccount_orders_url %></li>
        <li class="accountBtn"><a href="/products">Products</a></li>
        <li class="<%= active_nav('auto_ships') %> accountBtn"><%= link_to 'Flexible Autoship', myaccount_auto_ships_url %></li>
        <li class="<%= active_nav('pre_orders') %> accountBtn"><%= link_to 'Pre Order', myaccount_pre_orders_url %></li>
      </ul>

      <div class="admin myaccount">
        <%= render_cell :app, :error_msg, msg: [flash[:notice], flash[:alert]] %>
        <br />
        <%= yield %>
      <div class="clear"></div>
      </div>
    </div>
    </div>
  </body>
  </html>
