<div id="wrapper" class="static checkout ">
  <%= render 'layouts/nav'%>
    <div class="checkoutPage passwordPage">
	    <div class="checkoutCont">
		<h2>Forgot your password?</h2>
		<h3>Send me reset password instructions</h3>

		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
 		 <%= render_cell :app, :error_msg, msg: flash[:alert] %>
		  <%= devise_error_messages! %>
		  <div class="field"><%= f.label :user_name %>
		  <%= f.text_field :user_name, autofocus: true %></div>

		  <div class="field"><%= f.label :email, data: { title: "Email" } %>
		  <%= f.email_field :email %></div>
			<div class="field">
				<%= render "clients/shared/links" %>
			</div>
		  <div class="field"><%= f.submit "Send", class: "btn2" %></div>
		<% end %>

		
		</div>
	</div>
  <%= render 'layouts/footer' %>
</div>
